unpackaged/main/default/flows/Account_Move_to_Pool.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Post_to_chatter</name>
        <label>Post to chatter</label>
        <locationX>3008</locationX>
        <locationY>913</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Update_user_ROE_tracking</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>chatter_post</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Build_drop_request</name>
        <label>Build drop request</label>
        <locationX>1497</locationX>
        <locationY>1138</locationY>
        <assignmentItems>
            <assignToReference>drop_request.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>drop_request.Requestor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>drop_request.Requestor_Team__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Team__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>drop_request.Requestor_Subteam__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Subteam__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>drop_request.Request_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>drop_context</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>drop_request.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Drop</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>drop_request.Requestor_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$UserRole.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_drop_request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_hold_and_decrement_ROE_counter</name>
        <label>Remove hold and decrement ROE counter</label>
        <locationX>2545</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>recordId.Is_ROE_Hold__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_user_acct_hold</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_contacts_owned_by_prior_owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_owner_to_account_pool</name>
        <label>Set owner to account pool</label>
        <locationX>3347</locationX>
        <locationY>953</locationY>
        <assignmentItems>
            <assignToReference>recordId.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0055A00000BExg9QAD</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>User_is</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_total_accts_owned</name>
        <label>Set total accts owned</label>
        <locationX>2228</locationX>
        <locationY>963</locationY>
        <assignmentItems>
            <assignToReference>Total_acct_owned</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_owned_accounts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_account_hold</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_account_with_release_reasons</name>
        <label>Update account with release reasons</label>
        <locationX>3888</locationX>
        <locationY>1134</locationY>
        <assignmentItems>
            <assignToReference>recordId.Most_Recent_Release_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>screen_release_reason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Most_Recent_Release_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>release_reason_formatted</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_account_record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_claim_method</name>
        <label>Account claim method</label>
        <locationX>1487</locationX>
        <locationY>396</locationY>
        <defaultConnector>
            <targetReference>Cannot_transfer_to_Account_Pool_2_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Disabled</defaultConnectorLabel>
        <rules>
            <name>Any_Unowned_or_From_Others</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Account_Claim_Method__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Any - Unowned or From Others</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_target_account</targetReference>
            </connector>
            <label>Any - Unowned or From Others</label>
        </rules>
        <rules>
            <name>Any_UnownedOnly</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Account_Claim_Method__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Any - Unowned Only</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_target_account</targetReference>
            </connector>
            <label>Any - Unowned Only</label>
        </rules>
        <rules>
            <name>Requestfff</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Account_Claim_Method__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Request - Unowned Only</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_drop_requests</targetReference>
            </connector>
            <label>Request - Unowned Only</label>
        </rules>
    </decisions>
    <decisions>
        <name>Account_moves_frozen</name>
        <label>Account moves frozen?</label>
        <locationX>718</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>Is_strategic</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Sales_Operations</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Sales_Operations__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_strategic</targetReference>
            </connector>
            <label>User is Sales Operations</label>
        </rules>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_global_permission.Is_Enabled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cannot_transfer_to_Account_Pool_2_0_0_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_drop_request</name>
        <label>Found drop request?</label>
        <locationX>1489</locationX>
        <locationY>773</locationY>
        <defaultConnector>
            <targetReference>submit_context</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_drop</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_drop_requests</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cannot_transfer_to_Account_Pool_2_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_account_hold</name>
        <label>Has account hold?</label>
        <locationX>2383</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Update_contacts_owned_by_prior_owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_hold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Is_ROE_Hold__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_hold_and_decrement_ROE_counter</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_open_ent_opps</name>
        <label>Has open ent opps?</label>
        <locationX>1307</locationX>
        <locationY>400</locationY>
        <defaultConnector>
            <targetReference>Account_claim_method</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_open_ent_opps</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_open_opps</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cannot_transfer_to_Account_Pool_2_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_row_lock_error</name>
        <label>Is row lock error?</label>
        <locationX>2969</locationX>
        <locationY>632</locationY>
        <defaultConnectorLabel>other error</defaultConnectorLabel>
        <rules>
            <name>Row_lock_error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.FaultMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>UNABLE_TO_LOCK_ROW</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Roll_back_changes</targetReference>
            </connector>
            <label>Row lock error</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_strategic</name>
        <label>Is strategic?</label>
        <locationX>1004</locationX>
        <locationY>393</locationY>
        <defaultConnector>
            <targetReference>Get_open_opps</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_pool_eligible</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Segment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>STR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cannot_transfer_to_Account_Pool_2_0_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_target_account</name>
        <label>Is target account?</label>
        <locationX>1782</locationX>
        <locationY>389</locationY>
        <defaultConnector>
            <targetReference>Under_min_hold_time</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_target_account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Target_Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cannot_transfer_to_Account_Pool_2_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Under_min_hold_time</name>
        <label>Under min hold time?</label>
        <locationX>2027</locationX>
        <locationY>391</locationY>
        <defaultConnector>
            <targetReference>Get_owned_accounts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_under_min_hold_time</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Owned_Days__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$User.Account_Min_Hold_Time_Days__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cannot_transfer_to_Account_Pool_2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_is</name>
        <label>User is</label>
        <locationX>3573</locationX>
        <locationY>955</locationY>
        <defaultConnector>
            <targetReference>Update_account_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>BDR_team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales Development</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Subteam__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BDR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Abandon_reason</targetReference>
            </connector>
            <label>BDR team</label>
        </rules>
    </decisions>
    <description>- Fixed account claim method decision node
- Added check for TAP accounts</description>
    <dynamicChoiceSets>
        <name>choice_release_reason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Most_Recent_Release_Reason__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>New_own_count</name>
        <dataType>Number</dataType>
        <expression>{!Total_acct_owned}-1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>person_context</name>
        <dataType>String</dataType>
        <expression>IF(
 {!recordId.Prior_Owner__r.Id} = {!$User.Id},
 &quot;You have&quot;,
 {!recordId.Prior_Owner__r.FirstName}&amp;&quot; &quot;&amp;{!recordId.Prior_Owner__r.LastName}&amp;&quot; has&quot;
)</expression>
    </formulas>
    <formulas>
        <name>release_reason_formatted</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName}&amp;&quot; &quot;&amp;{!$User.LastName}&amp;&quot;: &quot;&amp;{!screen_release_reason_detail}</expression>
    </formulas>
    <formulas>
        <name>Trasnsfer_after_date</name>
        <dataType>Date</dataType>
        <expression>{!recordId.Owner_Assigned_At__c}+{!$User.Account_Min_Hold_Time_Days__c}+1</expression>
    </formulas>
    <interviewLabel>Account - Move to Pool {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - Move to Pool</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_drop_request</name>
        <label>Create drop request</label>
        <locationX>1493</locationX>
        <locationY>1283</locationY>
        <connector>
            <targetReference>Success_request</targetReference>
        </connector>
        <inputReference>drop_request</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_drop_requests</name>
        <label>Get drop requests</label>
        <locationX>1499</locationX>
        <locationY>602</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_drop_request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Drop</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account_Ownership_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_global_permission</name>
        <label>Get global permission</label>
        <locationX>542</locationX>
        <locationY>374</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_moves_frozen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Freeze_account_ownership</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Global_Permission__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_open_opps</name>
        <label>Get open opps</label>
        <locationX>1167</locationX>
        <locationY>397</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_open_ent_opps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0125A000001YaKtQAK</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_owned_accounts</name>
        <label>Get owned accounts</label>
        <locationX>2050</locationX>
        <locationY>1007</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_total_accts_owned</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <name>Roll_back_changes</name>
        <label>Roll back changes</label>
        <locationX>2983</locationX>
        <locationY>478</locationY>
        <connector>
            <targetReference>Database_busy</targetReference>
        </connector>
    </recordRollbacks>
    <recordUpdates>
        <name>Move_open_renewals_to_pool</name>
        <label>Move open renewals to pool</label>
        <locationX>2868</locationX>
        <locationY>873</locationY>
        <connector>
            <targetReference>Post_to_chatter</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Is_row_lock_error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity_Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0055A00000BExg9QAD</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_account_record</name>
        <label>Update account record</label>
        <locationX>3887</locationX>
        <locationY>907</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Is_row_lock_error</targetReference>
        </faultConnector>
        <inputReference>recordId</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_contacts_owned_by_prior_owner</name>
        <label>Update contacts owned by prior owner</label>
        <locationX>2703</locationX>
        <locationY>961</locationY>
        <connector>
            <targetReference>Move_open_renewals_to_pool</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Is_row_lock_error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.OwnerId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0055A00000BExg9QAD</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_user_ROE_tracking</name>
        <label>Update user ROE tracking</label>
        <locationX>3155</locationX>
        <locationY>954</locationY>
        <connector>
            <targetReference>Set_owner_to_account_pool</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Is_row_lock_error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.OwnerId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Num_Hold_Accounts__c</field>
            <value>
                <elementReference>new_user_acct_hold</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Num_Owned_Accounts__c</field>
            <value>
                <elementReference>New_own_count</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Abandon_reason</name>
        <label>Release to Account Pool Reason</label>
        <locationX>3684</locationX>
        <locationY>1133</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_account_with_release_reasons</targetReference>
        </connector>
        <fields>
            <name>Abandon_Header</name>
            <fieldText>&lt;p&gt;Please help us understand why you are depositing this account back into the Account Pool. This information will help us improve our processes and outbound scoring models.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>screen_release_reason</name>
            <choiceReferences>choice_release_reason</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Why are you depositing this account back into the Account Pool?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>screen_release_reason_detail</name>
            <dataType>String</dataType>
            <fieldText>Please provide any additional detail that you think might be helpful:</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cannot_transfer_to_Account_Pool_2</name>
        <label>Cannot transfer to Account Pool</label>
        <locationX>2047</locationX>
        <locationY>176</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error2</name>
            <fieldText>&lt;p&gt;You cannot transfer this account to the Account Pool yet. You have been the account owner for {!recordId.Owned_Days__c} days and you are required to hold accounts for a minimum of {!$User.Account_Min_Hold_Time_Days__c} days.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please wait until {!Trasnsfer_after_date} before moving this account to the Account Pool.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cannot_transfer_to_Account_Pool_2_0</name>
        <label>Cannot transfer to Account Pool</label>
        <locationX>1318</locationX>
        <locationY>187</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error2_0</name>
            <fieldText>&lt;p&gt;You cannot transfer this account to the Account Pool because there are open non-renewal opportunities on the account. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please conclude all in-flight sales processes by closing these opportunities before transferring this account to the Account Pool.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cannot_transfer_to_Account_Pool_2_0_0_0</name>
        <label>Cannot transfer to Account Pool</label>
        <locationX>1002</locationX>
        <locationY>190</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error2_0_0_0_0</name>
            <fieldText>&lt;p&gt;You cannot transfer this account to the Account Pool because this is a Strategic account.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please work with sales leadership if you would like to remove this account from your territory.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cannot_transfer_to_Account_Pool_2_0_0_0_0</name>
        <label>Cannot transfer to Account Pool</label>
        <locationX>733</locationX>
        <locationY>210</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error2_0_0_0_0_0</name>
            <fieldText>&lt;p&gt;You cannot transfer this account to the Account Pool right now. {!Get_global_permission.Reason__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cannot_transfer_to_Account_Pool_2_0_0_0_0_0</name>
        <label>Cannot transfer to Account Pool</label>
        <locationX>1501</locationX>
        <locationY>189</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error2_0_0_0_0_0_0</name>
            <fieldText>&lt;p&gt;You cannot transfer this account to the Account Pool because account movements are disabled for your role.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cannot_transfer_to_Account_Pool_2_0_0_0_0_0_0</name>
        <label>Cannot transfer to Account Pool</label>
        <locationX>1316</locationX>
        <locationY>770</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error2_0_0_0_0_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Error:&lt;/strong&gt; You have already submitted a request to drop this account.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cannot_transfer_to_Account_Pool_2_0_0_0_0_0_0_0</name>
        <label>Cannot transfer to Account Pool</label>
        <locationX>1797</locationX>
        <locationY>203</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error2_0_0_0_0_0_0_0_0</name>
            <fieldText>&lt;p&gt;You cannot transfer this account to the Account Pool because it is part of the Target Account Program. You are required to work Target Accounts in your territory.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Database_busy</name>
        <label>Database busy</label>
        <locationX>2980</locationX>
        <locationY>328</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DB_Busy</name>
            <fieldText>&lt;p&gt;This transaction cannot be processed right now because the database is busy. Please wait a minute and try again.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>submit_context</name>
        <label>Account Drop Context</label>
        <locationX>1496</locationX>
        <locationY>961</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Build_drop_request</targetReference>
        </connector>
        <fields>
            <name>submit_Header</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;You are submitting a request to drop this account from your territory. You may (optionally) provide any context behind this request which might be helpful to Sales leadership. To submit, click &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Next.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>drop_context</name>
            <dataType>String</dataType>
            <fieldText>[Optional] Drop Request Context:</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>4129</locationX>
        <locationY>911</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error2_0_0</name>
            <fieldText>&lt;p&gt;You have successfully moved this account into the Account Pool!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_request</name>
        <label>Success</label>
        <locationX>1502</locationX>
        <locationY>1582</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>success_req_header</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Your request to drop {!recordId.Name} from your territory has been successfully submitted. Revenue Operations will review all requests and follow up with you.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>358</locationY>
        <connector>
            <targetReference>Get_global_permission</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>chatter_post</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Manually moved to Account Pool. 
Prior owner: {!recordId.Owner.FirstName} {!recordId.Owner.LastName} (owned for {!recordId.Owned_Days__c} days){!recordId.Segment__c} | {!recordId.NumberOfEmployees} emp | {!recordId.Account_Status__c}</text>
    </textTemplates>
    <variables>
        <name>drop_request</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Ownership_Request__c</objectType>
    </variables>
    <variables>
        <name>new_user_acct_hold</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>recordId.Owner.Num_Hold_Accounts__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Total_acct_owned</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
