unpackaged/main/default/flows/Account_New_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Open_new_opp</name>
        <label>Open new opp</label>
        <locationX>1608</locationX>
        <locationY>3602</locationY>
        <actionName>c:OpenURL</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Get_Open_Contact_Journey</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>replace</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>url</name>
            <value>
                <elementReference>New_Opp_URL</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:OpenURL</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Post_to_slack</name>
        <label>Post to slack</label>
        <locationX>1600</locationX>
        <locationY>3393</locationY>
        <actionName>Centro__SendMessageFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Open_new_opp</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>channelId</name>
            <value>
                <stringValue>{!target_channel_id}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>InterviewGuid</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>{!slack_post}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pinMessage</name>
            <value>
                <stringValue>false</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendImmediately</name>
            <value>
                <stringValue>false</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>showCompactLayout</name>
            <value>
                <stringValue>false</stringValue>
            </value>
        </inputParameters>
        <nameSegment>Centro__SendMessageFlow</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Post_to_slack_0</name>
        <label>Post to slack</label>
        <locationX>1771</locationX>
        <locationY>3333</locationY>
        <actionName>Centro__SendMessageFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Open_new_opp</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>channelId</name>
            <value>
                <stringValue>{!target_channel_id}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>InterviewGuid</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>&lt;p&gt;{!prosev_slack_post}&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pinMessage</name>
            <value>
                <stringValue>false</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendImmediately</name>
            <value>
                <stringValue>false</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>showCompactLayout</name>
            <value>
                <stringValue>false</stringValue>
            </value>
        </inputParameters>
        <nameSegment>Centro__SendMessageFlow</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_BDR</name>
        <label>Send Email to BDR</label>
        <locationX>2139</locationX>
        <locationY>4225</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_Open_Contact_Journey.Owner__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>ACTION REQUIRED: Pass to Opp</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Email_BDR</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_Journey_to_Opp</name>
        <label>Assign Journey to Opp</label>
        <locationX>1594</locationX>
        <locationY>4169</locationY>
        <assignmentItems>
            <assignToReference>newOpp.Qualification_Journey__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Open_Contact_Journey.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Journey_to_Opp_0</name>
        <label>Assign Journey to Opp</label>
        <locationX>1874</locationX>
        <locationY>4170</locationY>
        <assignmentItems>
            <assignToReference>newOpp.Qualification_Journey__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Journey</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opp_to_Journey</name>
        <label>Assign Opp to Journey</label>
        <locationX>2139</locationX>
        <locationY>3840</locationY>
        <assignmentItems>
            <assignToReference>Get_Open_Contact_Journey.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newOpp.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Journey_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_new_opp_common</name>
        <label>Build new opp (common)</label>
        <locationX>722</locationX>
        <locationY>2852</locationY>
        <assignmentItems>
            <assignToReference>newOpp.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOpp.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Close_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOpp.Create_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Sales Opp from Account Button</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOpp.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Default_name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOpp.NextStep</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Next_Step</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOpp.Next_Step_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Next_Step_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOpp.Probability</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_automation_settings.Default_SQO_Probability__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOpp.Qualification_Meeting_Set_At__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>qual_mtg_scheduled_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOpp.Sourced_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOpp.Sourced_By_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$UserRole.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOpp.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOpp.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOpp.Owner_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$UserRole.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOpp.Sales_Qualification_Meeting_At__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sales_qual_meeting_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOpp.Permission_Check__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOpp.Parent_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>parent_opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOpp.Pre_Qualification_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_opp_creator_same_as_qualifying_rep_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_new_ps_opp</name>
        <label>Build new ps opp</label>
        <locationX>543</locationX>
        <locationY>2716</locationY>
        <assignmentItems>
            <assignToReference>newOpp.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unqualified</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOpp.Subtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unqualified - Professional Services</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOpp.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>012Du0000004IGjIAM</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOpp.Sales_Qualified_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Professional_Services__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOpp.Forecast_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_new_opp_common</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_new_sales_opp</name>
        <label>Build new sales opp</label>
        <locationX>924</locationX>
        <locationY>2635</locationY>
        <assignmentItems>
            <assignToReference>newOpp.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unqualified</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOpp.Subtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unqualified - Sales</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOpp.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0125A000001YaKtQAK</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOpp.Sales_Qualified_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sales_qual_by_sales</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOpp.Forecast_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_new_opp_common</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Close_Journey</name>
        <label>Close Journey</label>
        <locationX>1594</locationX>
        <locationY>3841</locationY>
        <assignmentItems>
            <assignToReference>Get_Open_Contact_Journey.Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Converted</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Open_Contact_Journey.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newOpp.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Open_Contact_Journey.Close_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Account New Opportunity Flow</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Open_Contact_Journey.Meeting_Disposition__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Qualified</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Open_Contact_Journey.Meeting_Booked_At__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>qual_mtg_scheduled_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Open_Contact_Journey.Meeting_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sales_qual_meeting_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Open_Contact_Journey.Meeting_Booked_With__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Journey</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_account_owner_to_user</name>
        <label>Set account owner to user</label>
        <locationX>50</locationX>
        <locationY>2455</locationY>
        <assignmentItems>
            <assignToReference>recordId.Professional_Services__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Commit_account_update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_default_PS_account_owner</name>
        <label>Set default PS account owner</label>
        <locationX>240</locationX>
        <locationY>2454</locationY>
        <assignmentItems>
            <assignToReference>recordId.Professional_Services__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0056e00000CgIEsAAN</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Commit_account_update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_parent_opportunity</name>
        <label>Set parent opportunity</label>
        <locationX>406</locationX>
        <locationY>1715</locationY>
        <assignmentItems>
            <assignToReference>parent_opportunity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>parent_opp_selection_table.firstSelectedRow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Need_to_update_account_details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_subtype</name>
        <label>Set subtype</label>
        <locationX>322</locationX>
        <locationY>666</locationY>
        <assignmentItems>
            <assignToReference>opportunity_subtype</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_kind_of_opportunity_are_you_creating</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opp_type_selection_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_subtype_0</name>
        <label>Set subtype</label>
        <locationX>549</locationX>
        <locationY>678</locationY>
        <assignmentItems>
            <assignToReference>opportunity_subtype</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unqualified - Sales</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opp_type_selection_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_target_channel_to_deal_handoff_ps</name>
        <label>Set target channel to deal-handoff-ps</label>
        <locationX>1245</locationX>
        <locationY>3333</locationY>
        <assignmentItems>
            <assignToReference>target_channel_id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>deal_handoff_ps_channel_id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_to_slack_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_target_channel_to_deal_handoff_sales</name>
        <label>Set target channel to deal-handoff-sales</label>
        <locationX>1252</locationX>
        <locationY>3466</locationY>
        <assignmentItems>
            <assignToReference>target_channel_id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>deal_handoff_sales_channel_id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_to_slack</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Write_pre_qual_notes</name>
        <label>Write pre-qual notes</label>
        <locationX>605</locationX>
        <locationY>3297</locationY>
        <assignmentItems>
            <assignToReference>newOpp.Pre_Qualification_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pre_qual_notes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Opp</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choice_ps</name>
        <choiceText>&lt;strong&gt;Professional Services: &lt;/strong&gt;to be qualified and work by the Professional Services team</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unqualified - Professional Services</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_sales_opp</name>
        <choiceText>&lt;strong&gt;Sales:&lt;/strong&gt; to be qualified and worked by an AE</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unqualified - Sales</stringValue>
        </value>
    </choices>
    <choices>
        <name>no_related_choice</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Stage0</name>
        <choiceText>&lt;b&gt;(0) Booking Meeting&lt;/b&gt;: You are actively prospecting into this account with the goal of scheduling a meeting</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>(0) Booking Meeting</stringValue>
        </value>
    </choices>
    <choices>
        <name>Stage1</name>
        <choiceText>&lt;b&gt;(1) Qualification:&lt;/b&gt; You have scheduled or attended a meeting with the customer/prospect</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>(1) Qualification</stringValue>
        </value>
    </choices>
    <choices>
        <name>yes_related_choice</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Account_has_PS_owner</name>
        <label>Account has PS owner?</label>
        <locationX>422</locationX>
        <locationY>2425</locationY>
        <defaultConnector>
            <targetReference>User_is_on_PS_team</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_acct_PS_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Professional_Services__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Build_new_ps_opp</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Current_User_Role</name>
        <label>Current User Role</label>
        <locationX>652</locationX>
        <locationY>152</locationY>
        <defaultConnector>
            <targetReference>Opp_subtype_provided</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non SDR User</defaultConnectorLabel>
        <rules>
            <name>User_Role_is_SDR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales Development</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_current_open_Journeys</targetReference>
            </connector>
            <label>User Role is SDR</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Journey</name>
        <label>Found Journey?</label>
        <locationX>1866</locationX>
        <locationY>3842</locationY>
        <defaultConnector>
            <targetReference>Create_Journey</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Journey Found</defaultConnectorLabel>
        <rules>
            <name>Existing_AE_Owned_Journey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Open_Contact_Journey.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Open_Contact_Journey.Owner:User.Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account Executives</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_Journey</targetReference>
            </connector>
            <label>Existing AE Owned Journey</label>
        </rules>
        <rules>
            <name>Existing_BDR_Owned_Journey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Open_Contact_Journey.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Open_Contact_Journey.Owner:User.Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales Development</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Opp_to_Journey</targetReference>
            </connector>
            <label>Existing BDR Owned Journey</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_open_annual_conversion</name>
        <label>Found open annual conversion?</label>
        <locationX>718</locationX>
        <locationY>1249</locationY>
        <defaultConnector>
            <targetReference>Get_open_unqualified_opps</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_open_convert_to_annual_opps</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>cant_make_opp_open_convert</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_open_deals</name>
        <label>Found open deals?</label>
        <locationX>419</locationX>
        <locationY>1382</locationY>
        <defaultConnector>
            <targetReference>Need_to_update_account_details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_found_deals</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_open_committed_deals</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Open_Deals_Found</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_opp_creator_same_as_qualifying_rep</name>
        <label>Is opp creator same as qualifying rep?</label>
        <locationX>969</locationX>
        <locationY>3612</locationY>
        <defaultConnector>
            <targetReference>Opp_type_selection_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Professional_Services</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>opportunity_subtype</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unqualified - Professional Services</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opp_type_selection_0_0_0_0</targetReference>
            </connector>
            <label>Professional Services</label>
        </rules>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.User_ID_case_safe__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>newOpp.Sales_Qualified_By__r.User_ID_case_safe__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Open_new_opp</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_opp_creator_same_as_qualifying_rep_0_0</name>
        <label>Is opp creator same as qualifying rep?</label>
        <locationX>714</locationX>
        <locationY>3057</locationY>
        <defaultConnector>
            <targetReference>pre_qual_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Professional_Services_opp_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>opportunity_subtype</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unqualified - Professional Services</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>pre_qual_screen</targetReference>
            </connector>
            <label>Professional Services</label>
        </rules>
        <rules>
            <name>Yes_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.User_ID_case_safe__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>newOpp.Sales_Qualified_By__r.User_ID_case_safe__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Opp</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_parent_opportunity_provided</name>
        <label>Is parent opportunity provided?</label>
        <locationX>531</locationX>
        <locationY>1099</locationY>
        <defaultConnector>
            <targetReference>Get_open_committed_deals</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Parent_provided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>parent_opportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Need_to_update_account_details</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Need_to_update_account_details</name>
        <label>Need to update account details?</label>
        <locationX>617</locationX>
        <locationY>1840</locationY>
        <defaultConnector>
            <targetReference>Get_automation_settings</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_need</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>update_short_name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.NumberOfEmployees</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.NumberOfEmployees</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Industry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Details</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Num_unqualified_opps_is</name>
        <label>Found unqualified opp?</label>
        <locationX>707</locationX>
        <locationY>1629</locationY>
        <defaultConnector>
            <targetReference>Need_to_update_account_details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>yes_found_opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_open_unqualified_opps</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>cant_make_opp_open_convert_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opp_subtype_provided</name>
        <label>Opp subtype provided?</label>
        <locationX>646</locationX>
        <locationY>313</locationY>
        <defaultConnector>
            <targetReference>User_is</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_subtype_provided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>opportunity_subtype</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opp_type_selection_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opp_type_selection_0_0</name>
        <label>Opp type selection</label>
        <locationX>629</locationX>
        <locationY>864</locationY>
        <defaultConnector>
            <targetReference>Get_open_convert_to_annual_opps</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Sales_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>opportunity_subtype</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unqualified - Sales</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_open_convert_to_annual_opps</targetReference>
            </connector>
            <label>Sales</label>
        </rules>
        <rules>
            <name>Professional_Services_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>opportunity_subtype</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unqualified - Professional Services</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_parent_opportunity_provided</targetReference>
            </connector>
            <label>Professional Services</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opp_type_selection_0_0_0</name>
        <label>Opp type selection</label>
        <locationX>713</locationX>
        <locationY>2420</locationY>
        <defaultConnector>
            <targetReference>Build_new_sales_opp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Sales_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>opportunity_subtype</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unqualified - Sales</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Build_new_sales_opp</targetReference>
            </connector>
            <label>Sales</label>
        </rules>
        <rules>
            <name>Professional_Services_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>opportunity_subtype</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unqualified - Professional Services</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_has_PS_owner</targetReference>
            </connector>
            <label>Professional Services</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opp_type_selection_0_0_0_0</name>
        <label>Opp type selection</label>
        <locationX>960</locationX>
        <locationY>3355</locationY>
        <defaultConnector>
            <targetReference>Set_target_channel_to_deal_handoff_sales</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Sales_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>opportunity_subtype</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unqualified - Sales</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_target_channel_to_deal_handoff_sales</targetReference>
            </connector>
            <label>Sales</label>
        </rules>
        <rules>
            <name>Professional_Services_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>opportunity_subtype</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unqualified - Professional Services</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_target_channel_to_deal_handoff_ps</targetReference>
            </connector>
            <label>Professional Services</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_is</name>
        <label>User is</label>
        <locationX>543</locationX>
        <locationY>461</locationY>
        <defaultConnector>
            <targetReference>Set_subtype_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>RevOps</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$User.Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Revenue Operations</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Professional Services</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Type_screen</targetReference>
            </connector>
            <label>RevOps or PS</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_is_on_PS_team</name>
        <label>User is on PS team?</label>
        <locationX>136</locationX>
        <locationY>2242</locationY>
        <defaultConnector>
            <targetReference>Set_default_PS_account_owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_user_on_PS_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Professional Services</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_account_owner_to_user</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Removing disabled check on Industry dropdown.</description>
    <dynamicChoiceSets>
        <name>industry_choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Industry</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Default_close_date</name>
        <dataType>Date</dataType>
        <expression>TODAY()+{!Get_automation_settings.Default_SQO_Days__c}</expression>
    </formulas>
    <formulas>
        <name>Default_name</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!recordId.Account_Name_Short__c}),{!recordId.Name},{!recordId.Account_Name_Short__c}) &amp; &quot; - &quot; &amp;
&quot;Qualifying &quot; &amp;
TEXT(MONTH({!Close_Date}))&amp;&quot;/&quot;&amp;TEXT(YEAR({!Close_Date}))</expression>
    </formulas>
    <formulas>
        <name>employee_count_update</name>
        <dataType>Number</dataType>
        <expression>BLANKVALUE({!Number_of_employees_from_LinkedIn},{!recordId.NumberOfEmployees})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Journey_URL</name>
        <dataType>String</dataType>
        <expression>&quot;https://retool.lightning.force.com/lightning/r/Journey__c/&quot;&amp;{!Get_Open_Contact_Journey.Id}&amp;&quot;/view&quot;</expression>
    </formulas>
    <formulas>
        <name>New_Opp_URL</name>
        <dataType>String</dataType>
        <expression>&quot;https://retool.lightning.force.com/lightning/r/Opportunity/&quot;&amp;{!newOpp.Id}&amp;&quot;/view&quot;</expression>
    </formulas>
    <formulas>
        <name>pre_qual_default</name>
        <dataType>String</dataType>
        <expression>CASE({!$User.Team__c},
&quot;Technical Account Management&quot;,{!tam_pre_qual},
&quot;&quot;
)</expression>
    </formulas>
    <formulas>
        <name>pre_qual_notes_slack</name>
        <dataType>String</dataType>
        <expression>IF(
  ISBLANK({!newOpp.Pre_Qualification_Notes__c}),
  &quot;&quot;,
  &quot;*Pre-Qualification Notes:*&quot;&amp;BR()&amp;&quot;```&quot;&amp;BR()&amp;{!newOpp.Pre_Qualification_Notes__c}&amp;BR()&amp;&quot;```&quot;
  )</expression>
    </formulas>
    <formulas>
        <name>QualMeetingDate_Default</name>
        <dataType>Date</dataType>
        <expression>IF({!Stage}=&quot;(1) Qualification&quot;,{!$Flow.CurrentDate},NULL)</expression>
    </formulas>
    <formulas>
        <name>sales_qual_by_sales</name>
        <dataType>String</dataType>
        <expression> IF(
  {!recordId.Owner.Can_Qualify_Opportunities__c},
  {!recordId.OwnerId},
  NULL
)</expression>
    </formulas>
    <formulas>
        <name>short_name_update</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!Enter_a_shorthand_name},{!recordId.Account_Name_Short__c})</expression>
    </formulas>
    <formulas>
        <name>slack_parent_opp</name>
        <dataType>String</dataType>
        <expression>IF(
 ISBLANK({!newOpp.Parent_Opportunity__c}),
 NULL,
 &quot;*Related Deal:* &lt;https://retool.lightning.force.com/lightning/r/Opportunity/&quot;&amp;{!newOpp.Parent_Opportunity__c}&amp;&quot;/view|&quot;&amp;{!newOpp.Parent_Opportunity__r.Name}&amp;&quot;&gt;&quot;&amp;BR()
)</expression>
    </formulas>
    <formulas>
        <name>update_short_name</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK({!recordId.Account_Name_Short__c}) &amp;&amp; LEN({!recordId.Name}) &gt; 20</expression>
    </formulas>
    <interviewLabel>Account - New Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - New Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Journey</name>
        <label>Create Journey</label>
        <locationX>1874</locationX>
        <locationY>4024</locationY>
        <connector>
            <targetReference>Assign_Journey_to_Opp_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>contact_role_lookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Create_Method__c</field>
            <value>
                <stringValue>Account - New Opportunity Button</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting_Booked_At__c</field>
            <value>
                <elementReference>qual_mtg_scheduled_date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting_Booked_With__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting_Date__c</field>
            <value>
                <elementReference>sales_qual_meeting_date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting_Disposition__c</field>
            <value>
                <stringValue>Qualified</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>newOpp.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Owner__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Converted</stringValue>
            </value>
        </inputAssignments>
        <object>Journey__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Opp</name>
        <label>Create New Opp</label>
        <locationX>721</locationX>
        <locationY>3400</locationY>
        <connector>
            <targetReference>Create_opp_contact_role</targetReference>
        </connector>
        <inputReference>newOpp</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_opp_contact_role</name>
        <label>Create opp contact role</label>
        <locationX>723</locationX>
        <locationY>3610</locationY>
        <connector>
            <targetReference>Is_opp_creator_same_as_qualifying_rep</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>contact_role_lookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>newOpp.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role</field>
            <value>
                <stringValue>Business User</stringValue>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_automation_settings</name>
        <label>Get automation settings</label>
        <locationX>616</locationX>
        <locationY>2020</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Segment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Segment__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Business_Automations__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_current_open_Journeys</name>
        <label>Get current open Journeys</label>
        <locationX>877</locationX>
        <locationY>183</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>cant_make_opp_open_convert_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Closed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Journey__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_open_committed_deals</name>
        <label>Get open committed deals</label>
        <locationX>375</locationX>
        <locationY>1100</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_open_deals</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (4 OR (3 AND 5))</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity_Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Enterprise</stringValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity_Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </filters>
        <filters>
            <field>Sales_Qualified_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Open_Contact_Journey</name>
        <label>Get Open Contact Journey</label>
        <locationX>1874</locationX>
        <locationY>3602</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Journey</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contact_role_lookup.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Closed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Journey__c</object>
        <sortField>Created_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_open_convert_to_annual_opps</name>
        <label>Get open convert to annual opps</label>
        <locationX>728</locationX>
        <locationY>1090</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_open_annual_conversion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Subtype__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Conversion - Non-Annual to Annual</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_open_unqualified_opps</name>
        <label>Get open unqualified opps</label>
        <locationX>725</locationX>
        <locationY>1462</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Num_unqualified_opps_is</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subtype__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Unqualified</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Commit_account_update</name>
        <label>Commit account update</label>
        <locationX>297</locationX>
        <locationY>2659</locationY>
        <connector>
            <targetReference>Build_new_ps_opp</targetReference>
        </connector>
        <inputReference>recordId</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_account</name>
        <label>Update account</label>
        <locationX>911</locationX>
        <locationY>2020</locationY>
        <connector>
            <targetReference>Get_automation_settings</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Name_Short__c</field>
            <value>
                <elementReference>short_name_update</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Industry</field>
            <value>
                <elementReference>Select_an_industry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NumberOfEmployees</field>
            <value>
                <elementReference>employee_count_update</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Journey</name>
        <label>Update Journey</label>
        <locationX>1594</locationX>
        <locationY>4018</locationY>
        <connector>
            <targetReference>Assign_Journey_to_Opp</targetReference>
        </connector>
        <inputReference>Get_Open_Contact_Journey</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Journey_0</name>
        <label>Update Journey</label>
        <locationX>2139</locationX>
        <locationY>4031</locationY>
        <connector>
            <targetReference>Send_Email_to_BDR</targetReference>
        </connector>
        <inputReference>Get_Open_Contact_Journey</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp</name>
        <label>Update Opp</label>
        <locationX>1595</locationX>
        <locationY>4319</locationY>
        <inputReference>newOpp</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>cant_make_opp_open_convert</name>
        <label>Cannot create opportunity</label>
        <locationX>938</locationX>
        <locationY>1247</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>cant_create_header</name>
            <fieldText>&lt;p&gt;You cannot create a new opportunity on this account because this account is a committed customer on a monthly agreement.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please use the following open conversion opportunity to track your engagement with this customer as you work to transition them to an annual agreement:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://retool.lightning.force.com/lightning/r/Opportunity/{!Get_open_convert_to_annual_opps.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!Get_open_convert_to_annual_opps.Name}&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>cant_make_opp_open_convert_0</name>
        <label>Cannot create opportunity</label>
        <locationX>914</locationX>
        <locationY>1729</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Need_to_update_account_details</targetReference>
        </connector>
        <fields>
            <name>warning_unqual_opps</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Warning: &lt;/b&gt;an open unqualified opportunity already exists on this account already:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://retool.lightning.force.com/lightning/r/Opportunity/{!Get_open_unqualified_opps.Name}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!Get_open_unqualified_opps.Name}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;It is recommended that you use the above opportunity to track your activity. If you still would like to create another opportunity, please click Next.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>cant_make_opp_open_convert_0_0</name>
        <label>Cannot create opportunity</label>
        <locationX>1085</locationX>
        <locationY>183</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>cant_create_header_0</name>
            <fieldText>&lt;p&gt;You cannot create a new opportunity on this account as an SDR you should be using the current open Journey on the Contact to qualify and pass into an Opportunity.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If there is no Journey, please create one on the relevant contact.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Current open Journeys at this account are displayed here:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SDR_Create_Opp_Screen</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Journey__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_current_open_Journeys</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-f957&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Journey Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Contact__c&quot;,&quot;guid&quot;:&quot;column-0e7a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Contact&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Stage__c&quot;,&quot;guid&quot;:&quot;column-6648&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Stage&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Age__c&quot;,&quot;guid&quot;:&quot;column-01e6&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Age&quot;,&quot;type&quot;:&quot;number&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Opportunity</name>
        <label>New Opportunity</label>
        <locationX>721</locationX>
        <locationY>2216</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Opp_type_selection_0_0_0</targetReference>
        </connector>
        <fields>
            <name>Details_header</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;You are creating an {!opportunity_subtype} opportunity:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Stage</name>
            <choiceReferences>Stage1</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Stage1</defaultSelectedChoiceReference>
            <fieldText>Stage</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>New_Opportunity_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Opportunity_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>qual_mtg_scheduled_date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>QualMeetingDate_Default</elementReference>
                    </defaultValue>
                    <fieldText>On what date was calendar invite sent out?</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;This is the date when the meeting was booked on the calendar; not the date when the meeting actually occurred.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Date cannot be in the future.&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!qual_mtg_scheduled_date}&lt;=TODAY()</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>sales_qual_meeting_date</name>
                    <dataType>Date</dataType>
                    <fieldText>On what date is the qualification meeting scheduled to actually occur?</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>contact_role_lookup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>ContactId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Please select the primary contact you will met with as part of the qualification process</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>OpportunityContactRole</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Stage</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Stage1</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Close_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Default_close_date</elementReference>
            </defaultValue>
            <fieldText>Close Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Next_Step</name>
            <dataType>String</dataType>
            <fieldText>Next Step</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Next_Step_Date</name>
            <dataType>Date</dataType>
            <fieldText>Next Step Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Next step date must be in the future&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Next_Step_Date}&gt;=TODAY()</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Open_Deals_Found</name>
        <label>Open Deals Found</label>
        <locationX>224</locationX>
        <locationY>1468</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_parent_opportunity</targetReference>
        </connector>
        <fields>
            <name>Open_deals_found_header</name>
            <fieldText>&lt;p&gt;This account has one or more open committed deals.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>related_to_deal_choice</name>
            <choiceReferences>yes_related_choice</choiceReferences>
            <choiceReferences>no_related_choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is the Professional Services opportunity you are about to create related to an open deal?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>parent_opp_selection_table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Opportunity</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select the related open deal from the list below:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_open_committed_deals</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-f101&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Opportunity_Owner__c&quot;,&quot;guid&quot;:&quot;column-694b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Owner&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Opportunity Owner&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;CloseDate&quot;,&quot;guid&quot;:&quot;column-3682&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Close Date&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Close Date&quot;,&quot;type&quot;:&quot;date&quot;},{&quot;apiName&quot;:&quot;Total_ARR__c&quot;,&quot;guid&quot;:&quot;column-1707&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Total ARR&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Total ARR&quot;,&quot;type&quot;:&quot;currency&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>related_to_deal_choice</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>yes_related_choice</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Opportunity_Type_screen</name>
        <label>Opportunity Type</label>
        <locationX>323</locationX>
        <locationY>450</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_subtype</targetReference>
        </connector>
        <fields>
            <name>What_kind_of_opportunity_are_you_creating</name>
            <choiceReferences>choice_sales_opp</choiceReferences>
            <choiceReferences>choice_ps</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>choice_sales_opp</defaultSelectedChoiceReference>
            <fieldText>What kind of opportunity are you creating?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>pre_qual_screen</name>
        <label>pre_qual_screen</label>
        <locationX>495</locationX>
        <locationY>3166</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Write_pre_qual_notes</targetReference>
        </connector>
        <fields>
            <name>pre_qual_header</name>
            <fieldText>&lt;p&gt;This deal will be qualified by &lt;strong&gt;{!newOpp.Sales_Qualified_By__r.FirstName} &lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!newOpp.Sales_Qualified_By__r.LastName}&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Below, please provide context as to the opportunity this deal represents to aid in the qualification process. This will be stored on the opportunity record and sent to {!newOpp.Sales_Qualified_By__r.FirstName} {!newOpp.Sales_Qualified_By__r.LastName}:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>pre_qual_notes</name>
            <defaultValue>
                <stringValue>{!pre_qual_default}</stringValue>
            </defaultValue>
            <fieldText>Pre-Qualification Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_Account_Details</name>
        <label>Update Account Details</label>
        <locationX>912</locationX>
        <locationY>1884</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_account</targetReference>
        </connector>
        <fields>
            <name>Account_details_Header</name>
            <fieldText>&lt;p&gt;Before you create an opportunity, please help us by filling in a few account details first.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Set_Employee_Count</name>
            <fieldText>Set Employee Count</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Set_Employee_Count_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Set_employee_count_header</name>
                    <fieldText>&lt;p&gt;We do not know how many employees this account has. Please &lt;a href=&quot;https://www.linkedin.com/search/results/companies/?keywords={!recordId.Name}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;navigate to LinkedIn&lt;/a&gt;, look up the number of employees, and input below&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Number_of_employees_from_LinkedIn</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>recordId.NumberOfEmployees</elementReference>
                    </defaultValue>
                    <fieldText>Number of employees from LinkedIn</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Please input a number greater than zero&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Number_of_employees_from_LinkedIn}&gt;0</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>recordId.NumberOfEmployees</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>recordId.NumberOfEmployees</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Set_Industry</name>
            <fieldText>Set Industry</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Set_Industry_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>set_industry_text</name>
                    <fieldText>&lt;p&gt;We do not know what industry this account operates within. Please select your best understanding of the industry for this account:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Select_an_industry</name>
                    <choiceReferences>industry_choice</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>industry_choice</elementReference>
                    </defaultValue>
                    <fieldText>Select an industry</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>recordId.Industry</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Optional_Set_Short_a</name>
            <fieldText>Optional: Set Short Name</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Optional_Set_Short_a_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Set_short_name_header</name>
                    <fieldText>&lt;p&gt;The name of this account ({!recordId.Name}) is a bit long. Is there an abbreviated / alternative shorthand name we can use instead?&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;For example, you might enter &quot;IBM&quot; instead of International Business Machines.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Enter_a_shorthand_name</name>
                    <dataType>String</dataType>
                    <fieldText>Enter a shorthand name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Shorthand name is too long. Please enter a name under 30 characters.&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Enter_a_shorthand_name})&lt;=30</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>short_Name_footnote</name>
                    <fieldText>&lt;p&gt;&lt;i style=&quot;font-size: 12px;&quot;&gt;Note: Entering a value won&#39;t change the account&#39;s name. It will be stored separately.&lt;/i&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>update_short_name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>530</locationX>
        <locationY>9</locationY>
        <connector>
            <targetReference>Current_User_Role</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Email_BDR</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi {!Get_Open_Contact_Journey.Owner:User.Name},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$User.FirstName} has just created an &lt;a href=&quot;{!New_Opp_URL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Opportunity&lt;/a&gt; before you could create one via the open Journey record.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please use the Pass to Opp button to associate the open &lt;a href=&quot;{!Journey_URL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Journey&lt;/a&gt; record if you wish to receive sourced by credit.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>prosev_slack_post</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>:moneybag: *New {!opportunity_subtype} opportunity:* &lt;https://retool.lightning.force.com/lightning/r/Opportunity/{!newOpp.Id}/view|{!newOpp.Name}&gt; :moneybag:
*Sourced By:* {!newOpp.Sourced_By__r.Slack_Mention_With_Role_Full_Name__c}
*Account Owner:* &lt;@{!newOpp.Owner.Slack_ID__c}&gt;
*Qualifying Rep:* {!newOpp.Sales_Qualified_By__r.Slack_Mention_With_Role_Full_Name__c}
{!slack_parent_opp}
*Next Step:* {!newOpp.NextStep}
{!pre_qual_notes_slack}</text>
    </textTemplates>
    <textTemplates>
        <name>slack_post</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>:moneybag: *New {!opportunity_subtype} opportunity:* &lt;https://retool.lightning.force.com/lightning/r/Opportunity/{!newOpp.Id}/view|{!newOpp.Name}&gt; :moneybag:
*Sourced By:* {!newOpp.Sourced_By__r.Slack_Mention_With_Role_Full_Name__c}
*Account Owner:* &lt;@{!newOpp.Owner.Slack_ID__c}&gt;
*Qualifying Rep:* {!newOpp.Sales_Qualified_By__r.Slack_Mention_With_Role_Full_Name__c}
{!slack_parent_opp}
*Next Step:* {!newOpp.NextStep}
{!pre_qual_notes_slack}</text>
    </textTemplates>
    <textTemplates>
        <name>tam_pre_qual</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>What problem is the customer trying to solve and how do you think Retool can help?
Was the AE/AM already aware of this opportunity? [yes/no] 
What specific activities led you to uncover this opportunity?
Please provide any other information that would help the AE/AM qualify the opportunity:</text>
    </textTemplates>
    <variables>
        <name>deal_handoff_ps_channel_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>C03DESM9EHJ</stringValue>
        </value>
    </variables>
    <variables>
        <name>deal_handoff_sales_channel_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>C05KX9HG925</stringValue>
        </value>
    </variables>
    <variables>
        <name>newOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>opportunity_subtype</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>parent_opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>target_channel_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
