unpackaged/main/default/flows/Account_Harmonic_Match_Issue_Button.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_to_Chatter</name>
        <label>Post to Chatter</label>
        <locationX>1321</locationX>
        <locationY>1898</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Thank_You_Screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>Chatter_Post</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Set_Account_Fields</name>
        <label>Set Account Fields</label>
        <locationX>878</locationX>
        <locationY>1898</locationY>
        <assignmentItems>
            <assignToReference>recordId.Harmonic_Match_Issue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Harmonic_Match_Issue_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Issue_Details</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Company_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Website</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WebsiteScreen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.NumberOfEmployees</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Employees</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.LinkedIn_Company_Page__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LinkedIn_Company_Page_URL</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.ShippingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address.street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.ShippingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.ShippingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address.province</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.ShippingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address.postalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.ShippingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address.country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Harmonic_Match_Issue_At__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Harmonic_Match_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Needs Review</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Account_Sync</name>
        <label>Set Name Sync</label>
        <locationX>554</locationX>
        <locationY>506</locationY>
        <assignmentItems>
            <assignToReference>Get_Harmonic_Company_Profile.Do_Not_Update_Account_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Employee_Change</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Address_Sync</name>
        <label>Set Address Sync</label>
        <locationX>554</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>Get_Harmonic_Company_Profile.Do_Not_Update_Shipping_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Harmonic_Company_Profile</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Employee_Sync</name>
        <label>Set Employee Sync</label>
        <locationX>554</locationX>
        <locationY>806</locationY>
        <assignmentItems>
            <assignToReference>Get_Harmonic_Company_Profile.Do_Not_Update_Employee_Count__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Website_Change</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_LinkedIn_Sync</name>
        <label>Set LinkedIn Sync</label>
        <locationX>554</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>Get_Harmonic_Company_Profile.Do_Not_Update_LinkedIn_Company_Page__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Address_Change</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Website_Sync</name>
        <label>Set Website Sync</label>
        <locationX>554</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>Get_Harmonic_Company_Profile.Do_Not_Update_Website__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LinkedIn_Change</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Address_Change</name>
        <label>Address Change?</label>
        <locationX>686</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <targetReference>Update_Harmonic_Company_Profile</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Address</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>recordId.ShippingStreet</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Address.street</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.ShippingCity</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Address.city</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.ShippingState</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Address.province</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.ShippingPostalCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Address.postalCode</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.ShippingCountry</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Address.country</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Address_Sync</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Employee_Change</name>
        <label># Employee Change?</label>
        <locationX>686</locationX>
        <locationY>698</locationY>
        <defaultConnector>
            <targetReference>Website_Change</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.NumberOfEmployees</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Employees</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Employee_Sync</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_Match_Issue</name>
        <label>Existing Match Issue?</label>
        <locationX>920</locationX>
        <locationY>174</locationY>
        <defaultConnector>
            <targetReference>Report_Harmonic_Issue_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Issue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Harmonic_Match_Issue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Existing_Issue_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>LinkedIn_Change</name>
        <label>LinkedIn Change?</label>
        <locationX>686</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <targetReference>Address_Change</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_LinkedIn</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.LinkedIn_Company_Page__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>LinkedIn_Company_Page_URL</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_LinkedIn_Sync</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Name_Change</name>
        <label>Name Change?</label>
        <locationX>686</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Employee_Change</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Account_Name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Company_Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Account_Sync</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Website_Change</name>
        <label>Website Change?</label>
        <locationX>686</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>LinkedIn_Change</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Website</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Website</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>WebsiteScreen</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Website_Sync</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Changing to `Run as system`</description>
    <environments>Default</environments>
    <formulas>
        <name>Issue_Details</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName} + &quot; &quot; + {!$User.LastName} + &quot; - &quot; +{!Please_provide_any_context_you_can_to_help_us_identify_the_correct_company}</expression>
    </formulas>
    <interviewLabel>Account - Harmonic Match Issue Button {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - Harmonic Match Issue Button</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Harmonic_Company_Profile</name>
        <label>Get Harmonic Company Profile</label>
        <locationX>695</locationX>
        <locationY>172</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Match_Issue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Controlling_Profile__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Harmonic_Company_Profile__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>1091</locationX>
        <locationY>1898</locationY>
        <connector>
            <targetReference>Post_to_Chatter</targetReference>
        </connector>
        <inputReference>recordId</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Harmonic_Company_Profile</name>
        <label>Update Harmonic Company Profile</label>
        <locationX>686</locationX>
        <locationY>1898</locationY>
        <connector>
            <targetReference>Set_Account_Fields</targetReference>
        </connector>
        <inputReference>Get_Harmonic_Company_Profile</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Existing_Issue_Screen</name>
        <label>Existing Issue</label>
        <locationX>1142</locationX>
        <locationY>173</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Existing_Issue_Text</name>
            <fieldText>&lt;p&gt;There is already an existing match issue with the following details:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Match_Issue_Details_Text</name>
            <fieldText>&lt;p&gt;&lt;em&gt;{!recordId.Harmonic_Match_Issue_Details__c}&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Match_Issue_Text_0</name>
            <fieldText>&lt;p&gt;Please reach out to &lt;strong&gt;#revops-data-quality&lt;/strong&gt; if you require assistance.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Report_Harmonic_Issue_Screen</name>
        <label>Report Harmonic Issue Screen</label>
        <locationX>930</locationX>
        <locationY>396</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Name_Change</targetReference>
        </connector>
        <fields>
            <name>Report_Harmonic_Issue_Text</name>
            <fieldText>&lt;p&gt;This account is currently matched with the following company on LinkedIn:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://retool.lightning.force.com/lightning/r/Harmonic_Company_Profile__c/{!Get_Harmonic_Company_Profile.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!Get_Harmonic_Company_Profile.Name}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If you believe this is incorrect, please submit this short form and the Sales Operations will research and fix the issue.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Please_provide_any_context_you_can_to_help_us_identify_the_correct_company</name>
            <dataType>String</dataType>
            <fieldText>Please provide any context you can to help us identify the correct company:</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Must be less than or equal to 200 characters&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!recordId.Harmonic_Match_Issue_Details__c}) &lt; 200</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Optional_Text</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Optional:&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; Look up the correct company on LinkedIn and provide updated account details:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Report_Harmonic_Issue_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Report_Harmonic_Issue_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Company_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recordId.Name</elementReference>
                    </defaultValue>
                    <fieldText>Company Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Report_Harmonic_Issue_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>WebsiteScreen</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recordId.Website</elementReference>
                    </defaultValue>
                    <fieldText>Website</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Report_Harmonic_Issue_Screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LinkedIn_Company_Page_URL</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recordId.LinkedIn_Company_Page__c</elementReference>
                    </defaultValue>
                    <fieldText>LinkedIn Company Page URL</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Report_Harmonic_Issue_Screen_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Employees</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>recordId.NumberOfEmployees</elementReference>
                    </defaultValue>
                    <fieldText>Employees</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Tip_Text</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;&lt;em&gt;Tip: &lt;/em&gt;&lt;/strong&gt;&lt;em&gt;You can copy/paste the full address into the address bar below. If a match is found, this will auto populate values in the corresponding street, city, state, zip, and country fields.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Address</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>Address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>recordId.ShippingStreet</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>recordId.ShippingCity</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>province</name>
                <value>
                    <elementReference>recordId.ShippingState</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>recordId.ShippingPostalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>recordId.ShippingCountry</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showAddressLookup</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Thank_You_Screen</name>
        <label>Thank You</label>
        <locationX>1535</locationX>
        <locationY>1898</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Thank_You_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Thank you for submitting this issue and helping us keep our CRM data clean. Our team will review and correct this match within 2 business days.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>569</locationX>
        <locationY>27</locationY>
        <connector>
            <targetReference>Get_Harmonic_Company_Profile</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Chatter_Post</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Company Match Issue Reported By: {!$User.FirstName} {!$User.LastName}
Details: {!Please_provide_any_context_you_can_to_help_us_identify_the_correct_company}
@[{!$User.Id}]</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
