unpackaged/main/default/flows/Account_Claim_Button.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Check_allowed_countries</name>
        <label>Check allowed countries</label>
        <locationX>1335</locationX>
        <locationY>2309</locationY>
        <actionName>ManageMultiselectField</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>User_country_allowed</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__curRecord</typeName>
            <typeValue>User</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>fieldApiName</name>
            <value>
                <stringValue>Geo_Countries_Allowed__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectApiName</name>
            <value>
                <stringValue>User</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>CheckForValue</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>curRecord</name>
            <value>
                <elementReference>Get_running_user</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetValue</name>
            <value>
                <elementReference>recordId.ShippingCountry</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ManageMultiselectField</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Check_disallowed_countries_0</name>
        <label>Check disallowed countries</label>
        <locationX>1331</locationX>
        <locationY>2649</locationY>
        <actionName>ManageMultiselectField</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>User_country_disallowed_0</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__curRecord</typeName>
            <typeValue>User</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>fieldApiName</name>
            <value>
                <stringValue>Geo_Countries_Disallowed__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectApiName</name>
            <value>
                <stringValue>User</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>CheckForValue</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>curRecord</name>
            <value>
                <elementReference>Get_running_user</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetValue</name>
            <value>
                <elementReference>recordId.ShippingCountry</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ManageMultiselectField</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Post_to_chatter</name>
        <label>Post to chatter</label>
        <locationX>2351</locationX>
        <locationY>3322</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>chatter_post</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_user_as_Exec_Sponsor</name>
        <label>Assign user as Exec Sponsor</label>
        <locationX>473</locationX>
        <locationY>1048</locationY>
        <assignmentItems>
            <assignToReference>recordId.Executive_Sponsor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_user_as_Partner_Sales</name>
        <label>Assign user as Partner Sales</label>
        <locationX>451</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>recordId.Partner_Sales__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_user_as_Professional_Services</name>
        <label>Assign user as Professional Services</label>
        <locationX>475</locationX>
        <locationY>445</locationY>
        <assignmentItems>
            <assignToReference>recordId.Professional_Services__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_user_as_Renewal_Manager</name>
        <label>Assign user as Renewal Manager</label>
        <locationX>415</locationX>
        <locationY>920</locationY>
        <assignmentItems>
            <assignToReference>recordId.Renewal_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_ownership_request</name>
        <label>Create ownership request</label>
        <locationX>403</locationX>
        <locationY>2903</locationY>
        <assignmentItems>
            <assignToReference>account_claim_request.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>account_claim_request.Requestor_Team__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Team__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>account_claim_request.Requestor_Subteam__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Subteam__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>account_claim_request.Requestor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>account_claim_request.Request_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Claim_Request_Context</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>account_claim_request.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Claim</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>account_claim_request.Requestor_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$UserRole.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_ownership_request_commit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_owner_to_user</name>
        <label>Set owner to user</label>
        <locationX>1549</locationX>
        <locationY>3261</locationY>
        <assignmentItems>
            <assignToReference>recordId.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_account_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_owner_to_user_0</name>
        <label>Set SDR to user</label>
        <locationX>1548</locationX>
        <locationY>3424</locationY>
        <assignmentItems>
            <assignToReference>recordId.Sales_Development_Representative__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_account_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_user_account_count</name>
        <label>set user account count</label>
        <locationX>1131</locationX>
        <locationY>1437</locationY>
        <assignmentItems>
            <assignToReference>customer_account_count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_committed_customers_in_user_s_name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_account_active_committed_customer</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_in_pool</name>
        <label>Account in pool?</label>
        <locationX>1128</locationX>
        <locationY>977</locationY>
        <defaultConnector>
            <targetReference>Get_running_user</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_in_pool</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Owner.Is_Account_Pool__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Account_Claim_Method__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Any - Unowned Only</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Account_Claim_Method__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Request - Unowned Only</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cannot_claim_account_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Account_movements_frozen</name>
        <label>Account movements frozen?</label>
        <locationX>1127</locationX>
        <locationY>563</locationY>
        <defaultConnector>
            <targetReference>Account_Team_Primary_Role</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_frozen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_global_permissions.Is_Enabled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cannot_claim_account_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Account_Team_Primary_Role</name>
        <label>Account Team Primary Role</label>
        <locationX>1128</locationX>
        <locationY>748</locationY>
        <defaultConnector>
            <targetReference>Cannot_claim_account_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Account_Team_Primary_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Owner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_in_pool</targetReference>
            </connector>
            <label>Owner</label>
        </rules>
        <rules>
            <name>Professional_Services</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Account_Team_Primary_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Professional Services</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Professional_Services_is</targetReference>
            </connector>
            <label>Professional Services</label>
        </rules>
        <rules>
            <name>Partner_Sales</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Account_Team_Primary_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partner Sales</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Partner_Sales_is</targetReference>
            </connector>
            <label>Partner Sales</label>
        </rules>
        <rules>
            <name>Deployed_Engineer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Account_Team_Primary_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deployed Engineer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cannot_claim_account_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Deployed Engineer</label>
        </rules>
        <rules>
            <name>TAM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Account_Team_Primary_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technical Account Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cannot_claim_account_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>TAM</label>
        </rules>
        <rules>
            <name>Renewal_Manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Account_Team_Primary_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Renewal_Manager_is</targetReference>
            </connector>
            <label>Renewal Manager</label>
        </rules>
        <rules>
            <name>Executive_Sponsor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Account_Team_Primary_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Executive Sponsor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Executive_Sponsor_is</targetReference>
            </connector>
            <label>Executive Sponsor</label>
        </rules>
    </decisions>
    <decisions>
        <name>Allowed_countries_set</name>
        <label>Allowed countries set?</label>
        <locationX>1112</locationX>
        <locationY>2313</locationY>
        <defaultConnector>
            <targetReference>Allowed_countries_set_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_allowed_set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>countries_allowed_blank</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_allowed_countries</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Allowed_countries_set_0</name>
        <label>Disallowed countries set?</label>
        <locationX>1112</locationX>
        <locationY>2569</locationY>
        <defaultConnector>
            <targetReference>User_claim_method</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_allowed_set_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>countries_disallowed_blank</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_disallowed_countries_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Executive_Sponsor_is</name>
        <label>Executive Sponsor is</label>
        <locationX>817</locationX>
        <locationY>1014</locationY>
        <defaultConnector>
            <targetReference>Cannot_claim_account_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Blank</defaultConnectorLabel>
        <rules>
            <name>Blank_ES</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Executive_Sponsor__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Account_Claim_Method__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Any - Unowned or From Others</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_user_as_Exec_Sponsor</targetReference>
            </connector>
            <label>Blank or claim from others</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_claim_request</name>
        <label>Found claim request</label>
        <locationX>742</locationX>
        <locationY>2905</locationY>
        <defaultConnector>
            <targetReference>Claim_Reques</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Look_for_existing_claim</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cannot_claim_account_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_account_active_committed_customer</name>
        <label>Is account active committed customer?</label>
        <locationX>1121</locationX>
        <locationY>1576</locationY>
        <defaultConnector>
            <targetReference>Is_in_assigned_segment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Account_Status_Committed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active Customer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Account_Status_Committed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delinquent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cannot_claim_account_0_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_in_assigned_region</name>
        <label>Is in assigned region?</label>
        <locationX>1118</locationX>
        <locationY>1939</locationY>
        <defaultConnector>
            <targetReference>Cannot_claim_account_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_in_territory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Shipping_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$User.Region__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Within_account_reclaim_window</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_in_assigned_segment</name>
        <label>Is in assigned segment?</label>
        <locationX>1112</locationX>
        <locationY>1766</locationY>
        <defaultConnector>
            <targetReference>Cannot_claim_account_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_in_segment</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Segment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$User.Opportunity_Segment__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Segment__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Opportunity_Segment__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_in_assigned_region</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Partner_Sales_is</name>
        <label>Partner Sales is</label>
        <locationX>713</locationX>
        <locationY>639</locationY>
        <defaultConnector>
            <targetReference>Cannot_claim_account_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Blank</defaultConnectorLabel>
        <rules>
            <name>Blank_partner</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Partner_Sales__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Account_Claim_Method__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Any - Unowned or From Others</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_user_as_Partner_Sales</targetReference>
            </connector>
            <label>Blank or claim from others</label>
        </rules>
    </decisions>
    <decisions>
        <name>Professional_Services_is</name>
        <label>Professional Services is</label>
        <locationX>767</locationX>
        <locationY>351</locationY>
        <defaultConnector>
            <targetReference>Cannot_claim_account_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Blank</defaultConnectorLabel>
        <rules>
            <name>Blank_PS</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Professional_Services__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Account_Claim_Method__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Any - Unowned or From Others</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_user_as_Professional_Services</targetReference>
            </connector>
            <label>Blank or claim from others</label>
        </rules>
    </decisions>
    <decisions>
        <name>Renewal_Manager_is</name>
        <label>Renewal Manager is</label>
        <locationX>720</locationX>
        <locationY>810</locationY>
        <defaultConnector>
            <targetReference>Cannot_claim_account_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Blank</defaultConnectorLabel>
        <rules>
            <name>Blank_RM</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Renewal_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Account_Claim_Method__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Any - Unowned or From Others</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_user_as_Renewal_Manager</targetReference>
            </connector>
            <label>Blank or claim from others</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_at_account_max</name>
        <label>User at account max?</label>
        <locationX>1107</locationX>
        <locationY>3106</locationY>
        <defaultConnector>
            <targetReference>Update_contact_ownership</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not at max</defaultConnectorLabel>
        <rules>
            <name>At_max</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Account_Max_Owned_Total_Num__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>customer_account_count</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$User.Account_Max_Owned_Total_Num__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cannot_claim_account_0_0</targetReference>
            </connector>
            <label>At max</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_claim_method</name>
        <label>User claim method</label>
        <locationX>1113</locationX>
        <locationY>2900</locationY>
        <defaultConnector>
            <targetReference>Cannot_claim_account_0_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Disabled</defaultConnectorLabel>
        <rules>
            <name>Any_Unowned_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Account_Claim_Method__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Any - Unowned Only</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_at_account_max</targetReference>
            </connector>
            <label>Any - Unowned Only</label>
        </rules>
        <rules>
            <name>Request_Unowned_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Account_Claim_Method__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Request - Unowned Only</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Look_for_existing_claim</targetReference>
            </connector>
            <label>Request - Unowned Only</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_claim_method_is</name>
        <label>User claim method</label>
        <locationX>1132</locationX>
        <locationY>241</locationY>
        <defaultConnector>
            <targetReference>Get_global_permissions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Disabled</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$User.Account_Claim_Method__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Disabled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Account_Claim_Method__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cannot_claim_account_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Disabled</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_country_allowed</name>
        <label>Shipping country allowed?</label>
        <locationX>1327</locationX>
        <locationY>2483</locationY>
        <defaultConnector>
            <targetReference>Cannot_claim_account_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_geo_allowed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_allowed_countries.targetPresent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Allowed_countries_set_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_country_disallowed_0</name>
        <label>Shipping country disallowed?</label>
        <locationX>1324</locationX>
        <locationY>2800</locationY>
        <defaultConnector>
            <targetReference>User_claim_method</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_geo_disallowed_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_disallowed_countries_0.targetPresent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cannot_claim_account_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_is_SDR</name>
        <label>User is SDR?</label>
        <locationX>1283</locationX>
        <locationY>3343</locationY>
        <defaultConnector>
            <targetReference>Set_owner_to_user</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not SDR</defaultConnectorLabel>
        <rules>
            <name>SDR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales Development</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_owner_to_user_0</targetReference>
            </connector>
            <label>SDR</label>
        </rules>
    </decisions>
    <decisions>
        <name>Within_account_reclaim_window</name>
        <label>Within account reclaim window?</label>
        <locationX>1114</locationX>
        <locationY>2127</locationY>
        <defaultConnector>
            <targetReference>Allowed_countries_set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_in_window</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Account_Min_Time_Before_Reclaim_Days__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>days_since_prior_owner</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$User.Account_Min_Time_Before_Reclaim_Days__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Prior_Owner__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$User.User_ID_case_safe__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cannot_claim_account_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>- Removed check for ROE Territory in favor of comparing the users assigned region to the account&#39;s shipping region</description>
    <environments>Default</environments>
    <formulas>
        <name>countries_allowed_blank</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK({!$User.Geo_Countries_Allowed__c})</expression>
    </formulas>
    <formulas>
        <name>countries_disallowed_blank</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK({!$User.Geo_Countries_Disallowed__c})</expression>
    </formulas>
    <formulas>
        <name>days_since_prior_owner</name>
        <dataType>Number</dataType>
        <expression>TODAY()-DATEVALUE({!recordId.Owner_Assigned_At__c})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>New_accounts_owned</name>
        <dataType>Number</dataType>
        <expression>{!customer_account_count}+1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Account - Claim Button {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - Claim Button</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_ownership_request_commit</name>
        <label>Create ownership request record</label>
        <locationX>229</locationX>
        <locationY>2903</locationY>
        <connector>
            <targetReference>Success_request</targetReference>
        </connector>
        <inputReference>account_claim_request</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_committed_customers_in_user_s_name</name>
        <label>Get committed customers in user&#39;s name</label>
        <locationX>1133</locationX>
        <locationY>1292</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>set_user_account_count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account_Status_Committed__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Active Customer</stringValue>
            </value>
        </filters>
        <filters>
            <field>Account_Status_Committed__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Delinquent</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_global_permissions</name>
        <label>Get global permissions</label>
        <locationX>1140</locationX>
        <locationY>418</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_movements_frozen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Freeze_account_ownership</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Global_Permission__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_running_user</name>
        <label>Get running user</label>
        <locationX>1133</locationX>
        <locationY>1148</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_committed_customers_in_user_s_name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Look_for_existing_claim</name>
        <label>Look for existing claim</label>
        <locationX>883</locationX>
        <locationY>2903</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_claim_request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Claim</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account_Ownership_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <name>Roll_back_transaction</name>
        <label>Roll back transaction</label>
        <locationX>1908</locationX>
        <locationY>3601</locationY>
        <connector>
            <targetReference>Error_Database_is_busy</targetReference>
        </connector>
    </recordRollbacks>
    <recordUpdates>
        <name>Increment_user_accounts_owned</name>
        <label>Increment user accounts owned</label>
        <locationX>2174</locationX>
        <locationY>3319</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Success</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Num_Owned_Accounts__c</field>
            <value>
                <elementReference>New_accounts_owned</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_account</name>
        <label>Update account</label>
        <locationX>179</locationX>
        <locationY>750</locationY>
        <connector>
            <targetReference>Success_0</targetReference>
        </connector>
        <inputReference>recordId</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_account_record</name>
        <label>Update account record</label>
        <locationX>1818</locationX>
        <locationY>3319</locationY>
        <connector>
            <targetReference>Update_open_renewal_owner</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Roll_back_transaction</targetReference>
        </faultConnector>
        <inputReference>recordId</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_contact_ownership</name>
        <label>Update contact ownership</label>
        <locationX>1117</locationX>
        <locationY>3339</locationY>
        <connector>
            <targetReference>User_is_SDR</targetReference>
        </connector>
        <faultConnector>
            <targetReference>User_is_SDR</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.OwnerId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_open_renewal_owner</name>
        <label>Update open renewal owner</label>
        <locationX>2009</locationX>
        <locationY>3319</locationY>
        <connector>
            <targetReference>Increment_user_accounts_owned</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Roll_back_transaction</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Opportunity_Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.User_ID_case_safe__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Cannot_claim_account_0_0</name>
        <label>Cannot claim account</label>
        <locationX>1548</locationX>
        <locationY>3107</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_not_in_pool_0_0</name>
            <fieldText>&lt;p&gt;You cannot claim this account because you already own {!customer_account_count} accounts and you may only own a total of {!$User.Account_Max_Owned_Total_Num__c} prospect accounts at one time.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please transfer some of your accounts into the account pool before claiming this account.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cannot_claim_account_0_0_0</name>
        <label>Cannot claim account</label>
        <locationX>1341</locationX>
        <locationY>1574</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_not_in_pool_0_0_0</name>
            <fieldText>&lt;p&gt;You cannot claim this account because this account is an active Committed customer.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please work with your manager if you would like to be assigned to this account.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cannot_claim_account_0_0_0_0</name>
        <label>Cannot claim account</label>
        <locationX>1342</locationX>
        <locationY>1772</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_not_in_pool_0_0_0_0</name>
            <fieldText>&lt;p&gt;You cannot claim this account because this account is in the {!recordId.Segment__c} segment.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You may only claim accounts in the {!$User.Opportunity_Segment__c} segment.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cannot_claim_account_0_0_0_0_0</name>
        <label>Cannot claim account</label>
        <locationX>1550</locationX>
        <locationY>2483</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_not_in_pool_0_0_0_0_0</name>
            <fieldText>&lt;p&gt;You cannot claim this account because it is located in: {!recordId.ShippingCountry}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You may claim accounts located in the following countries:  {!Check_allowed_countries.selectedValuesSemicolonString}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Please select a different account with a shipping country that is one of the above countries. If you believe this account&#39;s location is incorrect, please contact Sales Operations.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cannot_claim_account_0_0_0_0_0_0</name>
        <label>Cannot claim account</label>
        <locationX>1552</locationX>
        <locationY>2734</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_not_in_pool_0_0_0_0_0_0</name>
            <fieldText>&lt;p&gt;You cannot claim this account because it is located in: {!recordId.ShippingCountry}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You may not claim accounts located in the following countries: {!Check_disallowed_countries_0.selectedValuesSemicolonString}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please select a different account with a shipping country that is not in one of the above countries. If you believe the location of this account is incorrect, please contact Sales Operations.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cannot_claim_account_0_0_0_0_0_0_0</name>
        <label>Cannot claim account</label>
        <locationX>1340</locationX>
        <locationY>2127</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_not_in_pool_0_0_0_0_0_0_0</name>
            <fieldText>&lt;p&gt;You cannot claim this account you were the owner {!days_since_prior_owner} days ago.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You may only claim an account if you were not the owner in the last {!Get_running_user.Account_Min_Time_Before_Reclaim_Days__c} days.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cannot_claim_account_0_0_0_0_0_0_0_0</name>
        <label>Cannot claim account</label>
        <locationX>1413</locationX>
        <locationY>560</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_not_in_pool_0_0_0_0_0_0_0_0</name>
            <fieldText>&lt;p&gt;You cannot claim this account right now. {!Get_global_permissions.Reason__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cannot_claim_account_0_0_0_0_0_0_0_0_0</name>
        <label>Cannot claim account</label>
        <locationX>1547</locationX>
        <locationY>2905</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_not_in_pool_0_0_0_0_0_0_0_0_0</name>
            <fieldText>&lt;p&gt;You cannot claim this account right now because account claiming is not enabled for your role.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cannot_claim_account_0_0_0_0_0_0_0_0_0_0</name>
        <label>Cannot claim account</label>
        <locationX>750</locationX>
        <locationY>2683</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_not_in_pool_0_0_0_0_0_0_0_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Error:&lt;/strong&gt; You have already submitted a claim request or this account.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cannot_claim_account_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Cannot claim account</label>
        <locationX>1415</locationX>
        <locationY>976</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_not_in_pool_0_0_0_0_0_0_0_0_0_0_0</name>
            <fieldText>&lt;p&gt;You cannot claim this account because it is not in the Account Pool.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cannot_claim_account_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Cannot claim account</label>
        <locationX>1403</locationX>
        <locationY>239</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_not_in_pool_0_0_0_0_0_0_0_0_0_0_0_0</name>
            <fieldText>&lt;p&gt;You cannot claim this account because account claiming is disabled for your role.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cannot_claim_account_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Cannot claim account</label>
        <locationX>668</locationX>
        <locationY>481</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_not_in_pool_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
            <fieldText>&lt;p&gt;You cannot claim this account {!recordId.Professional_Services__r.FirstName} &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!recordId.Professional_Services__r.LastName} is already listed as the Professional Services team member.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cannot_claim_account_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Cannot claim account</label>
        <locationX>532</locationX>
        <locationY>690</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_not_in_pool_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
            <fieldText>&lt;p&gt;You cannot claim this account {!recordId.Partner_Sales__r.FirstName} &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!recordId.Partner_Sales__r.LastName} is already listed as the Partner Sales team member.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cannot_claim_account_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Cannot claim account</label>
        <locationX>1417</locationX>
        <locationY>750</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_not_in_pool_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
            <fieldText>&lt;p&gt;You cannot claim this account because account claiming is not configured for your role. Please contact Revenue Operations.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cannot_claim_account_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Cannot claim account</label>
        <locationX>418</locationX>
        <locationY>781</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_not_in_pool_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
            <fieldText>&lt;p&gt;You cannot claim this account {!recordId.Renewal_Manager__r.FirstName} &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!recordId.Renewal_Manager__r.LastName} is already listed as the Renewal Manager.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cannot_claim_account_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Cannot claim account</label>
        <locationX>766</locationX>
        <locationY>1157</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_not_in_pool_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
            <fieldText>&lt;p&gt;You cannot claim this account {!recordId.Executive_Sponsor__r.FirstName} &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!recordId.Executive_Sponsor__r.LastName} is already listed as the Executive Sponsor.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cannot_claim_account_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Cannot claim account</label>
        <locationX>1344</locationX>
        <locationY>1935</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_not_in_pool_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
            <fieldText>&lt;p&gt;You cannot claim this account because this account is in the {!recordId.Shipping_Region__c} region.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You may only claim accounts in the region you are assigned ({!$User.Region__c}).&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Claim_Reques</name>
        <label>Claim Request</label>
        <locationX>571</locationX>
        <locationY>2903</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_ownership_request</targetReference>
        </connector>
        <fields>
            <name>Submit_request</name>
            <fieldText>&lt;p&gt;You are submitting a request to claim this account. You may (optionally) provide any context behind this request which might be helpful to Sales leadership if multiple reps want to claim this account. To submit, click &lt;strong&gt;Next.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Claim_Request_Context</name>
            <dataType>String</dataType>
            <fieldText>[Optional] Claim Request Context:</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Database_is_busy</name>
        <label>Error: Database is busy</label>
        <locationX>1908</locationX>
        <locationY>3786</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_db_busy</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Error: &lt;/strong&gt;Could not claim account because the database is busy. Please wait a minute and try again. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>2175</locationX>
        <locationY>3123</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Post_to_chatter</targetReference>
        </connector>
        <fields>
            <name>Success_message</name>
            <fieldText>&lt;p&gt;{!recordId.Name} is now in your name.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You own a total of {!New_accounts_owned} accounts.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_0</name>
        <label>Success</label>
        <locationX>9</locationX>
        <locationY>751</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_message_0</name>
            <fieldText>&lt;p&gt;You are now the assigned  {!$User.Account_Team_Primary_Role__c}  on {!recordId.Name}.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_request</name>
        <label>Success</label>
        <locationX>50</locationX>
        <locationY>2902</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>success_header</name>
            <fieldText>&lt;p&gt;Your request to claim {!recordId.Name} has been successfully submitted. Revenue Operations will review all requests and follow up with you.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1014</locationX>
        <locationY>45</locationY>
        <connector>
            <targetReference>User_claim_method_is</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>chatter_post</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Account ownership claimed by {!$User.FirstName} {!$User.LastName} from {!recordId.Prior_Owner__r.FirstName} {!recordId.Prior_Owner__r.LastName}
{!recordId.Segment__c} | {!recordId.NumberOfEmployees} emp | {!recordId.Account_Status__c}
Total Accounts Owned: {!New_accounts_owned}</text>
    </textTemplates>
    <variables>
        <name>account_claim_request</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Ownership_Request__c</objectType>
    </variables>
    <variables>
        <name>customer_account_count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
