unpackaged/main/default/flows/BU_After_Save_Automations.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Check_address</name>
        <label>Check address</label>
        <locationX>311</locationX>
        <locationY>469</locationY>
        <actionName>pw_ccpro__InvocablePlav</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Name_override_updated</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Name_override_updated</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>countryFieldApiName</name>
            <value>
                <stringValue>Billing_Country__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>pw_ccpro__InvocablePlav</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Build_new_entitlement</name>
        <label>Build new entitlement</label>
        <locationX>1972</locationX>
        <locationY>243</locationY>
        <assignmentItems>
            <assignToReference>new_support_entitlement.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_support_entitlement.Business_Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_support_entitlement.BusinessHoursId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Support_SLA__r.Business_Hours__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_support_entitlement.Case_Routing_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Support_SLA__r.Case_Routing_Method__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_support_entitlement.Includes_Slack__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Support_SLA__r.Slack__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_support_entitlement.Includes_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Support_SLA__r.Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_support_entitlement.Includes_Portal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Support_SLA__r.Portal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_support_entitlement.Plan_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Support_SLA__r.Plan_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_support_entitlement.SlaProcessId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Entitlement_Process.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_support_entitlement.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_support_entitlement.Tier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Support_SLA__r.Tier__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_support_entitlement.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Web Support</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_support_entitlement.Support_SLA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Support_SLA__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_support_entitlement.Priority_Index__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Support_SLA__r.Priority_Index__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_entitlement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_trigger</name>
        <label>Clear trigger</label>
        <locationX>2258</locationX>
        <locationY>510</locationY>
        <assignmentItems>
            <assignToReference>$Record.Support_Entitlement_Automation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_BU</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_BU_f</name>
        <label>Update BU</label>
        <locationX>2257</locationX>
        <locationY>245</locationY>
        <assignmentItems>
            <assignToReference>$Record.Support_Entitlement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>new_support_entitlement.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clear_trigger</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Address_status_is</name>
        <label>Address status is</label>
        <locationX>157</locationX>
        <locationY>578</locationY>
        <defaultConnector>
            <targetReference>Name_override_updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Not_checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Billing_Address_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not checked</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_address</targetReference>
            </connector>
            <label>Not checked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_entitlement</name>
        <label>Has entitlement?</label>
        <locationX>1516</locationX>
        <locationY>188</locationY>
        <defaultConnector>
            <targetReference>Build_new_entitlement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_has_ent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Support_Entitlement__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_existing_entitlement</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_entitlement_0</name>
        <label>Has entitlement?</label>
        <locationX>1548</locationX>
        <locationY>345</locationY>
        <defaultConnector>
            <targetReference>Build_new_entitlement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_has_ent_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Support_Entitlement__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Expire_existing_entitlement</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Mode</name>
        <label>Mode</label>
        <locationX>1290</locationX>
        <locationY>490</locationY>
        <defaultConnector>
            <targetReference>Clear_trigger</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>No_assigned_SLA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Support_SLA__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_trigger</targetReference>
            </connector>
            <label>No assigned SLA</label>
        </rules>
        <rules>
            <name>Create_or_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Support_Entitlement_Automation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Create or Update</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_entitlement</targetReference>
            </connector>
            <label>Create or Update</label>
        </rules>
        <rules>
            <name>Replace</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Support_Entitlement_Automation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Create or Replace</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_entitlement_0</targetReference>
            </connector>
            <label>Create or Replace</label>
        </rules>
    </decisions>
    <decisions>
        <name>Name_override_updated</name>
        <label>Name override updated?</label>
        <locationX>560</locationX>
        <locationY>603</locationY>
        <defaultConnector>
            <targetReference>Run_Support_Entitlement_Automation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name_Override__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_related_opp_names</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Run_Support_Entitlement_Automation</name>
        <label>Run Support Entitlement Automation</label>
        <locationX>1081</locationX>
        <locationY>610</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_run_ent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Support_Entitlement_Automation__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Entitlement_Process</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>yesterday</name>
        <dataType>Date</dataType>
        <expression>today()-1</expression>
    </formulas>
    <interviewLabel>BU - After Save Automations {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BU - After Save Automations</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_entitlement</name>
        <label>Create entitlement</label>
        <locationX>2114</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Update_BU_f</targetReference>
        </connector>
        <inputReference>new_support_entitlement</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Entitlement_Process</name>
        <label>Get Entitlement Process</label>
        <locationX>1136</locationX>
        <locationY>428</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Mode</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>VersionMaster</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Support_SLA__r.Entitlement_Process_Master_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsVersionDefault</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SlaProcess</object>
        <sortField>VersionNumber</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Expire_existing_entitlement</name>
        <label>Expire existing entitlement</label>
        <locationX>1783</locationX>
        <locationY>394</locationY>
        <connector>
            <targetReference>Build_new_entitlement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Support_Entitlement__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>yesterday</elementReference>
            </value>
        </inputAssignments>
        <object>Entitlement</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_BU</name>
        <label>Update BU</label>
        <locationX>2553</locationX>
        <locationY>507</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_existing_entitlement</name>
        <label>Update existing entitlement</label>
        <locationX>2118</locationX>
        <locationY>53</locationY>
        <connector>
            <targetReference>Create_entitlement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Support_Entitlement__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BusinessHoursId</field>
            <value>
                <elementReference>$Record.Support_SLA__r.Business_Hours__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Unit__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Routing_Method__c</field>
            <value>
                <elementReference>$Record.Support_SLA__r.Case_Routing_Method__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDate</field>
        </inputAssignments>
        <inputAssignments>
            <field>Includes_Email__c</field>
            <value>
                <elementReference>$Record.Support_SLA__r.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Includes_Portal__c</field>
            <value>
                <elementReference>$Record.Support_SLA__r.Portal__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Includes_Slack__c</field>
            <value>
                <elementReference>$Record.Support_SLA__r.Slack__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Plan_Name__c</field>
            <value>
                <elementReference>$Record.Plan_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority_Index__c</field>
            <value>
                <elementReference>$Record.Support_SLA__r.Priority_Index__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SlaProcessId</field>
            <value>
                <elementReference>Get_Entitlement_Process.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_SLA__c</field>
            <value>
                <elementReference>$Record.Support_SLA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tier__c</field>
            <value>
                <elementReference>$Record.Support_SLA__r.Tier__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Web Support</stringValue>
            </value>
        </inputAssignments>
        <object>Entitlement</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_implementation_name</name>
        <label>Update implementation name</label>
        <locationX>929</locationX>
        <locationY>444</locationY>
        <connector>
            <targetReference>Run_Support_Entitlement_Automation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Business_Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Trigger__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Implementation__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_related_opp_names</name>
        <label>Update related opp names</label>
        <locationX>767</locationX>
        <locationY>444</locationY>
        <connector>
            <targetReference>Update_implementation_name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Business_Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BU_Name__c</field>
            <value>
                <elementReference>$Record.Name_Override__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>111</locationY>
        <connector>
            <targetReference>Name_override_updated</targetReference>
        </connector>
        <object>Business_Unit__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>new_support_entitlement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Entitlement</objectType>
    </variables>
</Flow>
