unpackaged/main/default/flows/BU_Before_Save_Automations.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Clear_billing_attribution</name>
        <label>Clear billing attribution</label>
        <locationX>843</locationX>
        <locationY>336</locationY>
        <assignmentItems>
            <assignToReference>$Record.Billing_Region__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Billing_Subregion__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Billing_Intermediate_Region__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Billing_Country_Definition__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Set_payment_terms_label</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_payment_terms_label</name>
        <label>Clear payment terms label</label>
        <locationX>1236</locationX>
        <locationY>486</locationY>
        <assignmentItems>
            <assignToReference>$Record.Payment_Terms_Label__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Set_billing_freq_label</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_payment_terms_label_0</name>
        <label>Clear payment terms label</label>
        <locationX>1786</locationX>
        <locationY>493</locationY>
        <assignmentItems>
            <assignToReference>$Record.Billing_Frequency_Label__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_attribution</name>
        <label>Set attribution</label>
        <locationX>1018</locationX>
        <locationY>213</locationY>
        <assignmentItems>
            <assignToReference>$Record.Billing_Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_billing_country_map.Country_Definition__r.Region__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Billing_Subregion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_billing_country_map.Country_Definition__r.Subregion__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Billing_Intermediate_Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_billing_country_map.Country_Definition__r.Intermediate_Region__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Billing_Country_Definition__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_billing_country_map.Country_Definition__r.Country_Address_Tools__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Billing_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_billing_country_map.Country_Definition__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_payment_terms_label</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_BU_defaults</name>
        <label>Set BU defaults</label>
        <locationX>181</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>bu_standard_name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Trigger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Billing_Country_is</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_terms_label</name>
        <label>Set payment terms label</label>
        <locationX>1389</locationX>
        <locationY>325</locationY>
        <assignmentItems>
            <assignToReference>$Record.Payment_Terms_Label__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_payment_terms_picklist.Label</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_billing_freq_label</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_terms_label_0</name>
        <label>Set billing freq label</label>
        <locationX>1982</locationX>
        <locationY>322</locationY>
        <assignmentItems>
            <assignToReference>$Record.Billing_Frequency_Label__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_billing_frequency_picklist.Label</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Billing_Country_is</name>
        <label>Billing Country is</label>
        <locationX>434</locationX>
        <locationY>401</locationY>
        <defaultConnector>
            <targetReference>Set_payment_terms_label</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Billing_Country__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_billing_attribution</targetReference>
            </connector>
            <label>Blank</label>
        </rules>
        <rules>
            <name>Changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Billing_Country__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Billing_Region__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Billing_Subregion__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Billing_Intermediate_Region__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_billing_country_map</targetReference>
            </connector>
            <label>Changed</label>
        </rules>
        <rules>
            <name>Blank_attribution</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Billing_Region__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Billing_Subregion__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_billing_country_map</targetReference>
            </connector>
            <label>Blank attribution</label>
        </rules>
        <rules>
            <name>No_definition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Billing_Country_Definition__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_billing_country_map</targetReference>
            </connector>
            <label>No definition</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_country_map</name>
        <label>Found country map?</label>
        <locationX>818</locationX>
        <locationY>178</locationY>
        <defaultConnector>
            <targetReference>Clear_billing_attribution</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_billing_country_map</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_attribution</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Set_billing_freq_label</name>
        <label>Set billing freq label?</label>
        <locationX>1586</locationX>
        <locationY>420</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Clear_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Billing_Frequency__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_payment_terms_label_0</targetReference>
            </connector>
            <label>Clear</label>
        </rules>
        <rules>
            <name>Yes_payment_terms_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Billing_Frequency__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Billing_Frequency_Label__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_billing_frequency_picklist</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Set_payment_terms_label</name>
        <label>Set payment terms label?</label>
        <locationX>1057</locationX>
        <locationY>414</locationY>
        <defaultConnector>
            <targetReference>Set_billing_freq_label</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Clear</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Payment_Terms__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_payment_terms_label</targetReference>
            </connector>
            <label>Clear</label>
        </rules>
        <rules>
            <name>Yes_payment_terms</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Payment_Terms__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Payment_Terms_Label__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_payment_terms_picklist</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>bu_standard_name</name>
        <dataType>String</dataType>
        <expression>LEFT(
IF(
  ISBLANK({!$Record.Account__r.Account_Name_Short__c}),
  {!$Record.Account__r.Name},
  {!$Record.Account__r.Account_Name_Short__c}
 ),48)
&amp; IF(ISBLANK({!$Record.Name_Override__c}),NULL,&quot; (&quot;&amp;{!$Record.Name_Override__c}&amp;&quot;)&quot;)
&amp; &quot; - &quot; &amp;TEXT({!$Record.Platform_Type__c})&amp;&quot; &quot;&amp;TEXT(MONTH({!$Record.Originating_Opportunity__r.Term_Start_Date__c})) &amp; &quot;/&quot; &amp; TEXT(YEAR({!$Record.Originating_Opportunity__r.Term_Start_Date__c}))</expression>
    </formulas>
    <interviewLabel>BU - Before Save Automations {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BU - Before Save Automations</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_billing_country_map</name>
        <label>Get billing country map</label>
        <locationX>659</locationX>
        <locationY>231</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_country_map</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Billing_Country__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Country_Map__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_billing_frequency_picklist</name>
        <label>Get billing frequency picklist</label>
        <locationX>1777</locationX>
        <locationY>322</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_terms_label_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01I5A000002EZTD.00NDu000000Q5Tp</stringValue>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Billing_Frequency__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PicklistValueInfo</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_payment_terms_picklist</name>
        <label>Get payment terms picklist</label>
        <locationX>1240</locationX>
        <locationY>326</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_terms_label</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01I5A000002EZTD.00NDu000000Q5Tz</stringValue>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Payment_Terms__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PicklistValueInfo</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>58</locationY>
        <connector>
            <targetReference>Set_BU_defaults</targetReference>
        </connector>
        <object>Business_Unit__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
