unpackaged/main/default/flows/BU_Create_Uncommitted_Contraction_Opp.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Build_contraction_opp</name>
        <label>Build contraction opp</label>
        <locationX>663</locationX>
        <locationY>583</locationY>
        <assignmentItems>
            <assignToReference>contraction_opp.Business_Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contraction_opp.Create_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>BU New Uncommitted Contraction Button</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contraction_opp.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0055A00000ApunnQAB</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contraction_opp.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Existing Business</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contraction_opp.Subtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contraction - Uncommitted</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contraction_opp.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contraction_opp.Booking_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Standard</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contraction_opp.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contraction_opp.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0125A000001YaKtQAK</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contraction_opp.Originating_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Most_Recent_Base_Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contraction_opp.Contract_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Most_Recent_Base_Opportunity__r.Contract_End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contraction_opp.Term_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Most_Recent_Base_Opportunity__r.Term_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contraction_opp.Segment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Account__r.Segment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contraction_opp.Employees_at_Close__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Account__r.NumberOfEmployees</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contraction_opp.Seats_Sold__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Seats_Sold</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contraction_opp.Total_ARR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Total_ARR_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contraction_opp.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>temp</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contraction_opp.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contraction_opp.Term_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contraction_opp.Contract_Term__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Term_months</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_contraction_opp</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>BU - Create Uncommitted Contraction Opp {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BU - Create Uncommitted Contraction Opp</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_contraction_opp</name>
        <label>Create contraction opp</label>
        <locationX>912</locationX>
        <locationY>573</locationY>
        <inputReference>contraction_opp</inputReference>
    </recordCreates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Build_Contraction_Opp_Screen</name>
        <label>Build Contraction Opp</label>
        <locationX>647</locationX>
        <locationY>396</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Build_contraction_opp</targetReference>
        </connector>
        <fields>
            <name>Close_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Close Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Start_Date</name>
            <dataType>Date</dataType>
            <fieldText>Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Term_months</name>
            <dataType>Number</dataType>
            <fieldText>Term (months)</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Total_ARR_1</name>
            <dataType>Currency</dataType>
            <fieldText>Total ARR</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;Total ARR must be less than $0&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Total_ARR_1}&lt;0</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Seats_Sold</name>
            <dataType>Number</dataType>
            <fieldText>Seats Sold</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;Seats sold must be less than 0&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Seats_Sold}&lt;0</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>537</locationX>
        <locationY>199</locationY>
        <connector>
            <targetReference>Build_Contraction_Opp_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>contraction_opp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Business_Unit__c</objectType>
    </variables>
</Flow>
