unpackaged/main/default/flows/BU_Update_External_Domain_List_Button.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Found_external_user_pricing_schedules</name>
        <label>Found external user pricing schedules?</label>
        <locationX>648</locationX>
        <locationY>512</locationY>
        <defaultConnector>
            <targetReference>Error_None_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_all_external_user_pricing_schedules</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Domain_List</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>BU - Update External Domain List Button {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BU - Update External Domain List Button</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_all_external_user_pricing_schedules</name>
        <label>Get all external user pricing schedules</label>
        <locationX>641</locationX>
        <locationY>310</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_external_user_pricing_schedules</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Unit_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>external-users</stringValue>
            </value>
        </filters>
        <filters>
            <field>Business_Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BU_Pricing_Schedule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_all_bu_pricing_schedules</name>
        <label>Update all bu pricing schedules</label>
        <locationX>649</locationX>
        <locationY>901</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Business_Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Unit_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>external-users</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Internal_User_Domain_List__c</field>
            <value>
                <elementReference>Internal_User_Domain_List</elementReference>
            </value>
        </inputAssignments>
        <object>BU_Pricing_Schedule__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Error_None_Found</name>
        <label>Error - None Found</label>
        <locationX>912</locationX>
        <locationY>513</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>error_header</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Error&lt;/strong&gt;: No external user pricing schedules found&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_Domain_List</name>
        <label>Update Domain List</label>
        <locationX>654</locationX>
        <locationY>744</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_all_bu_pricing_schedules</targetReference>
        </connector>
        <fields>
            <name>help_header</name>
            <fieldText>&lt;p&gt;Domain list must be a semi-colon separated list of domains, for example:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;example1.com;example2.com;example3.com&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Internal_User_Domain_List</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>recordId.Internal_User_Domain_List__c</elementReference>
            </defaultValue>
            <fieldText>Internal User Domain List</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Update Domain List</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>511</locationX>
        <locationY>173</locationY>
        <connector>
            <targetReference>Get_all_external_user_pricing_schedules</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Business_Unit__c</objectType>
    </variables>
</Flow>
