unpackaged/main/default/flows/Business_Unit_Create_Contact_Role.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Build_contact_role</name>
        <label>Build contact role</label>
        <locationX>711</locationX>
        <locationY>931</locationY>
        <assignmentItems>
            <assignToReference>new_contact_role.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>screeen_contact.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_contact_role.Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>screen_Role</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_contact_role.Business_Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_contact_role.Create_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>BU Create Contact Role Button</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_contact_role.Scope__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>screen_scope</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_contact_role.Advocacy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>screen_advocacy</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_contact_role.Sentiment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>screen_sentiment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_or_existing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_BU</name>
        <label>Set BU</label>
        <locationX>924</locationX>
        <locationY>700</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_business_unit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Contact_Role</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_BU_contact_role</name>
        <label>Set BU contact role</label>
        <locationX>1097</locationX>
        <locationY>481</locationY>
        <assignmentItems>
            <assignToReference>new_contact_role</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_BU_contact_role</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_business_unit</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Business_Unit_Contact_Role_ID_Provided</name>
        <label>Business Unit Contact Role ID Provided?</label>
        <locationX>683</locationX>
        <locationY>253</locationY>
        <defaultConnector>
            <targetReference>Create_New_Contact_Role</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_provided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>business_unit_contact_role_id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_BU_contact_role</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_BU_contact_role</name>
        <label>Found BU contact role?</label>
        <locationX>1092</locationX>
        <locationY>267</locationY>
        <defaultConnector>
            <targetReference>Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_c</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_BU_contact_role</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_BU_contact_role</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_or_existing</name>
        <label>New or existing?</label>
        <locationX>703</locationX>
        <locationY>1110</locationY>
        <defaultConnector>
            <targetReference>Create_Contact_Rolef</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New</defaultConnectorLabel>
        <rules>
            <name>Existing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>new_contact_role.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_contact_role</targetReference>
            </connector>
            <label>Existing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Role_is</name>
        <label>Role is</label>
        <locationX>906</locationX>
        <locationY>1403</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Champion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>screen_Role</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Champion</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_champions</targetReference>
            </connector>
            <label>Champion</label>
        </rules>
        <rules>
            <name>Economic_Buyer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>screen_Role</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Economic Buyer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_EBs</targetReference>
            </connector>
            <label>Economic Buyer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_open_opportunities</name>
        <label>Update open opportunities?</label>
        <locationX>699</locationX>
        <locationY>1409</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Update_all_open_opportunities</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Role_is</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>choice_advocacy</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Advocacy__c</picklistField>
        <picklistObject>Business_Unit_Contact_Role__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choice_roles</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Role__c</picklistField>
        <picklistObject>Business_Unit_Contact_Role__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choice_scope</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Scope__c</picklistField>
        <picklistObject>Business_Unit_Contact_Role__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choice_sentiment</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Sentiment__c</picklistField>
        <picklistObject>Business_Unit_Contact_Role__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Business Unit - Create Contact Role {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Business Unit - Create Contact Role</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Contact_Rolef</name>
        <label>Create Contact Role</label>
        <locationX>897</locationX>
        <locationY>1107</locationY>
        <connector>
            <targetReference>Update_open_opportunities</targetReference>
        </connector>
        <inputReference>new_contact_role</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_BU_contact_role</name>
        <label>Get BU contact role</label>
        <locationX>901</locationX>
        <locationY>250</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_BU_contact_role</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>business_unit_contact_role_id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Business_Unit_Contact_Role__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_business_unit</name>
        <label>Get business unit</label>
        <locationX>1099</locationX>
        <locationY>696</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_BU</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>new_contact_role.Business_Unit__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Business_Unit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_champions</name>
        <label>Update champions</label>
        <locationX>1160</locationX>
        <locationY>1332</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Business_Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Test_Champion__c</field>
            <value>
                <elementReference>new_contact_role.Contact__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_contact_role</name>
        <label>Update contact role</label>
        <locationX>521</locationX>
        <locationY>1117</locationY>
        <connector>
            <targetReference>Update_open_opportunities</targetReference>
        </connector>
        <inputReference>new_contact_role</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_EBs</name>
        <label>Update EBs</label>
        <locationX>1163</locationX>
        <locationY>1480</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Business_Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Economic_Buyer_E__c</field>
            <value>
                <elementReference>new_contact_role.Contact__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Create_New_Contact_Role</name>
        <label>Submit or Edit Contact Role</label>
        <locationX>702</locationX>
        <locationY>708</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Build_contact_role</targetReference>
        </connector>
        <fields>
            <name>Create_Contact_Role</name>
            <fieldText>Contact Role</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_Contact_Role_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>screeen_contact</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Contact__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Business_Unit_Contact_Role__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>new_contact_role.Contact__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Create_Contact_Role_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>screen_Role</name>
                    <choiceReferences>choice_roles</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>new_contact_role.Role__c</elementReference>
                    </defaultValue>
                    <fieldText>Role</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Update_all_open_opportunities</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Update all open opportunities?</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;If checked, all open opportunities on this Business Unit will have their Champion / Economic Buyer updated with the above&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Role_Details</name>
            <fieldText>Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Role_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>screen_scope</name>
                    <choiceReferences>choice_scope</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>new_contact_role.Scope__c</elementReference>
                    </defaultValue>
                    <fieldText>Scope</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>screen_advocacy</name>
                    <choiceReferences>choice_advocacy</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>new_contact_role.Advocacy__c</elementReference>
                    </defaultValue>
                    <fieldText>Advocacy</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>screen_sentiment</name>
                    <choiceReferences>choice_sentiment</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>new_contact_role.Sentiment__c</elementReference>
                    </defaultValue>
                    <fieldText>Sentiment</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Role_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>eb_help</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Scope&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;u&gt;High&lt;/u&gt;: Scope outside Retool’s footprint&lt;/li&gt;&lt;li&gt;&lt;u&gt;Medium&lt;/u&gt;: Access or influence outside Retool’s footprint&lt;/li&gt;&lt;li&gt;&lt;u&gt;Low&lt;/u&gt;: No access or influence outside of Retool’s footprint or not disclosing&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;strong&gt;Advocacy&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;u&gt;High&lt;/u&gt;: They have signed or approved an expansion agreement&lt;/li&gt;&lt;li&gt;&lt;u&gt;Medium&lt;/u&gt;: They signed or approved the most recent deal&lt;/li&gt;&lt;li&gt;&lt;u&gt;Low&lt;/u&gt;: Contraction risk; no internal advocacy&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;strong&gt;Sentiment:&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;u&gt;High&lt;/u&gt;: Happy, ready to evangelize and help expand OR has personal stake in the success of Retool&lt;/li&gt;&lt;li&gt;&lt;u&gt;Medium&lt;/u&gt;: Mixed happiness or cautious; open to intros, but no advocacy&lt;/li&gt;&lt;li&gt;&lt;u&gt;Low&lt;/u&gt;: Unhappy; no intros; constant contraction/churn risk&lt;/li&gt;&lt;/ul&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>screen_Role</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Economic Buyer</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>champ_help</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Scope&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;u&gt;High&lt;/u&gt;: Scope outside of current footprint&lt;/li&gt;&lt;li&gt;&lt;u&gt;Medium&lt;/u&gt;: Access or influence outside of Retool’s footprint&lt;/li&gt;&lt;li&gt;&lt;u&gt;Low&lt;/u&gt;: No access or influence, or not disclosing&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;strong&gt;Advocacy&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;u&gt;High&lt;/u&gt;: Champion the land and expand; co-marketing + accompanying evangelism&lt;/li&gt;&lt;li&gt;&lt;u&gt;Medium&lt;/u&gt;: Champion land; soft intros for expansion but minimal advocacy. Asks Retool to find a new champion for expansion&lt;/li&gt;&lt;li&gt;&lt;u&gt;Low&lt;/u&gt;: No access, no influence, no help; constant churn risk&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;strong&gt;Sentiment&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;u&gt;High&lt;/u&gt;: Happy; actively asking for ways to further evangelism; high curiosity in roadmap, case studies, CAB, etc.&lt;/li&gt;&lt;li&gt;&lt;u&gt;Medium&lt;/u&gt;: Mixed happiness; cautiously optimistic about Retool; willing to do co-marketing for personal gain&lt;/li&gt;&lt;li&gt;&lt;u&gt;Low&lt;/u&gt;: Constant churn threats; high friction on product&lt;/li&gt;&lt;/ul&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>screen_Role</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Champion</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>screen_Role</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Economic Buyer</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>screen_Role</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Champion</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>1355</locationX>
        <locationY>146</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>error_c</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Error:&lt;/strong&gt; Business Unit Contact Role with ID [{!business_unit_contact_role_id}] not found.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>568</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Business_Unit_Contact_Role_ID_Provided</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>business_unit_contact_role_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>new_contact_role</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Business_Unit_Contact_Role__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Business_Unit__c</objectType>
    </variables>
</Flow>
