unpackaged/main/default/flows/Case_Change_Owner.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Notification</name>
        <label>Send Notification</label>
        <locationX>1107</locationX>
        <locationY>715</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <stringValue>Case_Reassignment</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>UserIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>New Case Assigned</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Slack_Message</name>
        <label>Send Slack Message</label>
        <locationX>568</locationX>
        <locationY>1256</locationY>
        <actionName>Centro__SendMessageFlow</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>channelId</name>
            <value>
                <stringValue>{!slackID}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>InterviewGuid</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>&lt;p&gt;You&#39;ve been assigned to a new case:&lt;/p&gt;&lt;p&gt;Subject: {!caseSubject}&lt;/p&gt;&lt;p&gt;{!caseUrl}&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pinMessage</name>
            <value>
                <stringValue>false</stringValue>
            </value>
        </inputParameters>
        <nameSegment>Centro__SendMessageFlow</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Queue_Owner</name>
        <label>Assign Queue Owner</label>
        <locationX>346</locationX>
        <locationY>324</locationY>
        <assignmentItems>
            <assignToReference>recordId.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Owner</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_Owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Support_Member</name>
        <label>Assign Support Member</label>
        <locationX>791</locationX>
        <locationY>326</locationY>
        <assignmentItems>
            <assignToReference>recordId.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_case_owner.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_Owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_slack_ID</name>
        <label>Set slack ID</label>
        <locationX>564</locationX>
        <locationY>1024</locationY>
        <assignmentItems>
            <assignToReference>slackID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Owner:User.Slack_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Slack_Message</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choice_csr_queue</name>
        <choiceText>Customer Service Queue</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>00GQo000004fjID</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_enterprise_queue</name>
        <choiceText>Enterprise Queue</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>00GQo000004fj25</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_premium_queue</name>
        <choiceText>Premium Queue</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>00GQo000004fivd</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_user</name>
        <choiceText>Individual Support Teammate (select below)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>user</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Owner_Selection</name>
        <label>Owner Selection</label>
        <locationX>551</locationX>
        <locationY>327</locationY>
        <defaultConnector>
            <targetReference>Assign_Support_Member</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Support User Selection</defaultConnectorLabel>
        <rules>
            <name>Queue_Selection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_Owner</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>choice_user</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Queue_Owner</targetReference>
            </connector>
            <label>Queue Selection</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_Notification_Decision</name>
        <label>Send Notification?</label>
        <locationX>561</locationX>
        <locationY>769</locationY>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Send_Slack_Notification</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_slack_ID</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <description>Update default new user to self</description>
    <dynamicChoiceSets>
        <name>select_user</name>
        <dataType>String</dataType>
        <displayField>Full_Name_with_Role__c</displayField>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Role_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Support Engineer</stringValue>
            </value>
        </filters>
        <filters>
            <field>Role_Name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Support</stringValue>
            </value>
        </filters>
        <filters>
            <field>Role_Name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Customer Service</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0056e00000CfW75</stringValue>
            </value>
        </filters>
        <filters>
            <field>Role_Name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Escalation Engineer</stringValue>
            </value>
        </filters>
        <object>User</object>
        <sortField>FirstName</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>caseUrl</name>
        <dataType>String</dataType>
        <expression>&quot;&lt;https://retool.lightning.force.com/lightning/r/Case/&quot;&amp;{!caseId}&amp;&quot;/view&gt;&quot;</expression>
    </formulas>
    <interviewLabel>Case - Change Owner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Change Owner</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Case_Owner</name>
        <label>Update Case Owner</label>
        <locationX>564</locationX>
        <locationY>593</locationY>
        <connector>
            <targetReference>Send_Notification_Decision</targetReference>
        </connector>
        <inputReference>recordId</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <description>Please select a new owner for this case and click Finish to reassign:</description>
        <name>Change_Owner</name>
        <label>Change Owner</label>
        <locationX>557</locationX>
        <locationY>182</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Owner_Selection</targetReference>
        </connector>
        <fields>
            <name>CTE</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgba(232, 232, 232, 0.04); font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;Please select a new owner for this case and click Finish to reassign:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>New_Owner</name>
            <choiceReferences>choice_user</choiceReferences>
            <choiceReferences>choice_enterprise_queue</choiceReferences>
            <choiceReferences>choice_premium_queue</choiceReferences>
            <choiceReferences>choice_csr_queue</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>choice_user</defaultSelectedChoiceReference>
            <fieldText>New Owner</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Queue_Info</name>
            <fieldText>&lt;p&gt;Assigning to a queue will reroute this case through the assignment flow.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>New_Owner</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>choice_user</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>New_case_owner</name>
            <choiceReferences>select_user</choiceReferences>
            <defaultValue>
                <elementReference>$User.User_ID_case_safe__c</elementReference>
            </defaultValue>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>New case owner</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>Select a teammate here...</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>New_Owner</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_user</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Send_Slack_Notification</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Notify the new owner of this reassignment on Slack</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>New_Owner</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_user</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>431</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Change_Owner</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>NotificationBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>You&#39;ve been assigned as the owner of Case {!recordId.CaseNumber}.</text>
    </textTemplates>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>recordId.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>caseSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>recordId.Subject</elementReference>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>slackID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
