unpackaged/main/default/flows/Case_Data_Relink.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Contact</name>
        <label>Assign Contact</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>recordId.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Contact_by_Email.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Submitted_By_Email_at_Create__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Contact.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.SuppliedEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Contact.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Stamp_New_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Contact</name>
        <label>Assign New Contact</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>recordId.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Contact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Submitted_By_Email_at_Create__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.SuppliedEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Stamp_New_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Contact_No_Account</name>
        <label>Assign New Contact No Account</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>recordId.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Contact_no_Account</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Submitted_By_Email_at_Create__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.SuppliedEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Stamp_New_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Other_Linked_Records</name>
        <label>Clear Other Linked Records</label>
        <locationX>248</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>recordId.AccountId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Business_Unit__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Account_Support_SLA_at_Create__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Business_Unit__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Primary_Org__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.EntitlementId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Next_Milestone_At__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Minutes_to_Next_Milestone__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Next_Milestone_Type__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Time_to_Next_Milestone__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.SlaStartDate</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.SlaExitDate</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Contact_Found</name>
        <label>Contact Found?</label>
        <locationX>248</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Find_Domain_Map</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Contact</defaultConnectorLabel>
        <rules>
            <name>Found_a_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Contact_by_Email.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contact</targetReference>
            </connector>
            <label>Found a Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Domain_Found</name>
        <label>Domain Found?</label>
        <locationX>446</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Create_Contact_no_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Domain Found</defaultConnectorLabel>
        <rules>
            <name>Found_a_Domain</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Domain_Map.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Contact</targetReference>
            </connector>
            <label>Found a Domain</label>
        </rules>
    </decisions>
    <description>2 update steps to work with before save flow</description>
    <environments>Default</environments>
    <formulas>
        <name>Domain_From_Email</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!New_Email}, LEFT({!New_Email}, FIND(&quot;@&quot;, {!New_Email})), NULL)</expression>
    </formulas>
    <interviewLabel>Case - Data Relink {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Data Relink</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Assign_New_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Find_Domain_Map.Matched_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>New_Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <stringValue>[not provided]</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Support Portal</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact_no_Account</name>
        <label>Create Contact no Account</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Assign_New_Contact_No_Account</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <stringValue>001Qo00000SVKDfIAP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>New_Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <stringValue>[not provided]</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Support Portal</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Find_Contact_by_Email</name>
        <label>Find Contact by Email</label>
        <locationX>248</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>New_Email</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>LastActivityDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Find_Domain_Map</name>
        <label>Find Domain Map</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Domain_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Domain_From_Email</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Domain_Map__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Stamp_New_Contact</name>
        <label>Stamp New Contact</label>
        <locationX>248</locationX>
        <locationY>1058</locationY>
        <connector>
            <targetReference>Clear_Other_Linked_Records</targetReference>
        </connector>
        <inputReference>recordId</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>248</locationX>
        <locationY>1274</locationY>
        <inputReference>recordId</inputReference>
    </recordUpdates>
    <screens>
        <name>Data_Issue_Person</name>
        <label>Data Issue Person</label>
        <locationX>248</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Find_Contact_by_Email</targetReference>
        </connector>
        <fields>
            <name>Data_Issue_Header</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Data Issue&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>recordId.SuppliedEmail</objectFieldReference>
        </fields>
        <fields>
            <name>New_Email</name>
            <dataType>String</dataType>
            <fieldText>New Email</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Data_Issue_Person</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
