unpackaged/main/default/flows/Case_Autolaunch_Case_Assignment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Add_Value_to_Cases_Owned</name>
        <label>Add Value to Cases Owned</label>
        <locationX>783</locationX>
        <locationY>594</locationY>
        <assignmentItems>
            <assignToReference>OwnedCases</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CaseWeighting</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_Owned_Cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Owner_to_Customer_Service_Case</name>
        <label>Assign New Owner to Customer Service Case</label>
        <locationX>262</locationX>
        <locationY>2004</locationY>
        <assignmentItems>
            <assignToReference>Get_Next_Customer_Service_Case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OwnerId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseId.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Next_Customer_Service_Case.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OwnedCases</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Customer_Service_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Owner_to_Enterprise_Case</name>
        <label>Assign New Owner to Enterprise Case</label>
        <locationX>385</locationX>
        <locationY>1779</locationY>
        <assignmentItems>
            <assignToReference>Get_Next_Enterprise_Case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OwnerId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseId.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Next_Enterprise_Case.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OwnedCases</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Enterprise_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Owner_to_Premium_Case</name>
        <label>Assign New Owner to Premium Case</label>
        <locationX>510</locationX>
        <locationY>1253</locationY>
        <assignmentItems>
            <assignToReference>Get_Next_Premium_Case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OwnerId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseId.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Next_Premium_Case.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OwnedCases</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.5</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Premium_Case</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Customer_Service_Case_Eligibility</name>
        <label>Customer Service Case Eligibility</label>
        <locationX>933</locationX>
        <locationY>1782</locationY>
        <defaultConnectorLabel>Not Customer Service Eligible</defaultConnectorLabel>
        <rules>
            <name>Customer_Service_Eligible</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OwnerId.Eligible_Queues__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Customer Service Queue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Next_Customer_Service_Case</targetReference>
            </connector>
            <label>Customer Service Eligible</label>
        </rules>
    </decisions>
    <decisions>
        <name>Enterprise_Case_Eligibility</name>
        <label>Enterprise Case Eligibility</label>
        <locationX>926</locationX>
        <locationY>1423</locationY>
        <defaultConnector>
            <targetReference>Customer_Service_Case_Eligibility</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Enterprise Eligible</defaultConnectorLabel>
        <rules>
            <name>Enterprise_Eligible</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OwnerId.Eligible_Queues__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Enterprise Queue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Next_Enterprise_Case</targetReference>
            </connector>
            <label>Enterprise Eligible</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Cases_Owned_is_Less_Than_Capacity</name>
        <label>If Cases Owned is Less Than Capacity</label>
        <locationX>924</locationX>
        <locationY>779</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Add_More_Cases</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OwnedCases</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>OwnerId.Support_Case_Limit__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Premium_Queue_Eligibility</targetReference>
            </connector>
            <label>Add More Cases</label>
        </rules>
    </decisions>
    <decisions>
        <name>Premium_Queue_Eligibility</name>
        <label>Premium Queue Eligibility</label>
        <locationX>923</locationX>
        <locationY>1156</locationY>
        <defaultConnector>
            <targetReference>Enterprise_Case_Eligibility</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Premium Not Eligible</defaultConnectorLabel>
        <rules>
            <name>Premium_Queue_Eligible</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OwnerId.Eligible_Queues__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Premium Queue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Next_Premium_Case</targetReference>
            </connector>
            <label>Premium Eligible</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_a_Customer_Service_Case_Found</name>
        <label>Was a Customer Service Case Found</label>
        <locationX>730</locationX>
        <locationY>2007</locationY>
        <defaultConnectorLabel>No Customer Service Case Found</defaultConnectorLabel>
        <rules>
            <name>Customer_Service_Case_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Next_Customer_Service_Case.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_Owner_to_Customer_Service_Case</targetReference>
            </connector>
            <label>Customer Service Case Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_a_Premium_Case_Found</name>
        <label>Was a Premium Case Found</label>
        <locationX>627</locationX>
        <locationY>1424</locationY>
        <defaultConnector>
            <targetReference>Enterprise_Case_Eligibility</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Premium Case</defaultConnectorLabel>
        <rules>
            <name>Premium_Case_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Next_Premium_Case.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_Owner_to_Premium_Case</targetReference>
            </connector>
            <label>Premium Case Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_an_Enterprise_Case_Found</name>
        <label>Was an Enterprise Case Found</label>
        <locationX>714</locationX>
        <locationY>1776</locationY>
        <defaultConnector>
            <targetReference>Customer_Service_Case_Eligibility</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Enterprise Case</defaultConnectorLabel>
        <rules>
            <name>Enterprise_Case_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Next_Enterprise_Case.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_Owner_to_Enterprise_Case</targetReference>
            </connector>
            <label>Enterprise Case Found</label>
        </rules>
    </decisions>
    <description>Updating case sort order to use Minutes to Next Milestone, and Age</description>
    <environments>Default</environments>
    <formulas>
        <name>CaseWeighting</name>
        <dataType>Number</dataType>
        <expression>IF(OR( {!Count_Owned_Cases.Support_Tier__c} = &quot;1; Custom&quot;, {!Count_Owned_Cases.Support_Tier__c} = &quot;2; Premium&quot;), 1.5, 1)</expression>
        <scale>1</scale>
    </formulas>
    <interviewLabel>Case - Autolaunch Case Assignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Autolaunch Case Assignment</label>
    <loops>
        <name>Count_Owned_Cases</name>
        <label>Count Owned Cases</label>
        <locationX>931</locationX>
        <locationY>597</locationY>
        <collectionReference>Get_Open_Owned_Cases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Value_to_Cases_Owned</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>If_Cases_Owned_is_Less_Than_Capacity</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Next_Customer_Service_Case</name>
        <label>Get Next Customer Service Case</label>
        <locationX>944</locationX>
        <locationY>2005</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_a_Customer_Service_Case_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00GQo000004fjIDMAY</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <sortField>Age__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Next_Enterprise_Case</name>
        <label>Get Next Enterprise Case</label>
        <locationX>800</locationX>
        <locationY>1602</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_an_Enterprise_Case_Found</targetReference>
        </connector>
        <filterLogic>1 OR (2 AND 3)</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00GQo000004fj25MAA</stringValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00GQo000004fivdMAA</stringValue>
            </value>
        </filters>
        <filters>
            <field>Minutes_to_Next_Milestone__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <numberValue>60.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <sortField>Minutes_to_Next_Milestone__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Next_Premium_Case</name>
        <label>Get Next Premium Case</label>
        <locationX>634</locationX>
        <locationY>1281</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_a_Premium_Case_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00GQo000004fivdMAA</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <sortField>Minutes_to_Next_Milestone__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Open_Owned_Cases</name>
        <label>Get Open Owned Cases</label>
        <locationX>936</locationX>
        <locationY>456</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Owned_Cases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OwnerId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Solved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Merged</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Support_Tier__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Customer_Service_Case</name>
        <label>Update Customer Service Case</label>
        <locationX>258</locationX>
        <locationY>854</locationY>
        <connector>
            <targetReference>If_Cases_Owned_is_Less_Than_Capacity</targetReference>
        </connector>
        <inputReference>Get_Next_Customer_Service_Case</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Enterprise_Case</name>
        <label>Update Enterprise Case</label>
        <locationX>380</locationX>
        <locationY>973</locationY>
        <connector>
            <targetReference>If_Cases_Owned_is_Less_Than_Capacity</targetReference>
        </connector>
        <inputReference>Get_Next_Enterprise_Case</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Premium_Case</name>
        <label>Update Premium Case</label>
        <locationX>510</locationX>
        <locationY>1060</locationY>
        <connector>
            <targetReference>If_Cases_Owned_is_Less_Than_Capacity</targetReference>
        </connector>
        <inputReference>Get_Next_Premium_Case</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>811</locationX>
        <locationY>324</locationY>
        <connector>
            <targetReference>Get_Open_Owned_Cases</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>CaseId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>OwnedCases</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>1</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>OwnerId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
