unpackaged/main/default/flows/Case_Deescalate_Cate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Selected_Values</name>
        <label>Assign Selected Values</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>recordId.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Priority_Selection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Deescalation_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>De_Escalation_Reason</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Push_Case_Updates</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>High</name>
        <choiceText>High</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>High</stringValue>
        </value>
    </choices>
    <choices>
        <name>Low</name>
        <choiceText>Low</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Low</stringValue>
        </value>
    </choices>
    <choices>
        <name>Medium</name>
        <choiceText>Medium</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Medium</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Is_Ticket_Open_and_Critical_Priority</name>
        <label>Is Ticket Open and Critical Priority</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>CantDeEscalate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Can&#39;t De-Escalate</defaultConnectorLabel>
        <rules>
            <name>Eligible_to_De_Escalate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Priority</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Critical</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>De_Escalation_Information</targetReference>
            </connector>
            <label>Eligible to De-Escalate</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>DeescalationReasons</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Deescalation_Reason__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Priority</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Priority</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Case - Deescalate Cate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Deescalate Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Push_Case_Updates</name>
        <label>Push Case Updates</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <inputReference>recordId</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>CantDeEscalate</name>
        <label>CantDeEscalate</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;The record you have selected is not eligible to de-escalate. &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;It needs to currently be in the Critical Priority, and not yet be closed in Status. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If you believe you&#39;ve hit this screen in error, please reach out to your RevOps team!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>De_Escalation_Information</name>
        <label>De-Escalation Information</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Selected_Values</targetReference>
        </connector>
        <fields>
            <name>DeEscalateHeader</name>
            <fieldText>&lt;p&gt;You&#39;re de-escalating a Case down from Critical. Was the critical issue mitigated or was this falsely marked as a Critical by our systems?&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://retoolconfluence.atlassian.net/wiki/spaces/SUP/pages/596475911/Support+Priority+Definitions+Channels&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Priority definitions in Confluence&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Priority_Selection</name>
            <choiceReferences>High</choiceReferences>
            <choiceReferences>Medium</choiceReferences>
            <choiceReferences>Low</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Priority</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>De_Escalation_Reason</name>
            <choiceReferences>DeescalationReasons</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>recordId.Deescalation_Reason__c</elementReference>
            </defaultValue>
            <fieldText>De-Escalation Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>recordId.Deescalation_Reason_Details__c</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Ticket_Open_and_Critical_Priority</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
