unpackaged/main/default/flows/Case_Support_Auto_Reply.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Auto_Reply</name>
        <label>Auto Reply</label>
        <locationX>877</locationX>
        <locationY>1796</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Assign_Auto_reply_datetime</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>recipientlist</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>no-reply@retool.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>reply_subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>email_body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>addThreadingTokenToBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_Auto_reply_datetime</name>
        <label>Assign Auto-reply datetime</label>
        <locationX>1209</locationX>
        <locationY>1996</locationY>
        <assignmentItems>
            <assignToReference>Get_Case.Auto_reply_Sent_At__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Auto_reply_timestamp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Committed_Email_Body</name>
        <label>Assign Committed Email Body</label>
        <locationX>877</locationX>
        <locationY>1325</locationY>
        <assignmentItems>
            <assignToReference>email_body</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CommittedEmailAutoReply</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Auto_Reply</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Critical_Portal_Email_Body</name>
        <label>Assign Critical Portal Email Body</label>
        <locationX>442</locationX>
        <locationY>1307</locationY>
        <assignmentItems>
            <assignToReference>email_body</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CriticalPortalAutoReply</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Auto_Reply</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Fallback_Email_Body</name>
        <label>Assign Fallback Email Body</label>
        <locationX>1130</locationX>
        <locationY>1109</locationY>
        <assignmentItems>
            <assignToReference>email_body</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FallbackMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Auto_Reply</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Portal_Email_Body</name>
        <label>Assign Portal Email Body</label>
        <locationX>693</locationX>
        <locationY>1313</locationY>
        <assignmentItems>
            <assignToReference>email_body</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PortalAutoReply</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Auto_Reply</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Self_Serve_Email_Body</name>
        <label>Assign Self Serve Email Body</label>
        <locationX>1568</locationX>
        <locationY>1788</locationY>
        <assignmentItems>
            <assignToReference>email_body</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelfServeAutoReply</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Auto_Reply</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_email_recipients</name>
        <label>Set email recipients</label>
        <locationX>647</locationX>
        <locationY>263</locationY>
        <assignmentItems>
            <assignToReference>cc_emails</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_last_message.CcAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>to_emails</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_last_message.FromAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>from_email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_last_message.FromAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>additional_to_emails</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_last_message.ToAddress</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>recipient_list_has_support</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Channel_Branching</name>
        <label>Channel Branching</label>
        <locationX>644</locationX>
        <locationY>814</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Portal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Portal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Critical_Portal</targetReference>
            </connector>
            <label>Is Portal</label>
        </rules>
        <rules>
            <name>Is_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tier_Branch</targetReference>
            </connector>
            <label>Is Email</label>
        </rules>
        <rules>
            <name>Is_Slack</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Slack</stringValue>
                </rightValue>
            </conditions>
            <label>Is Slack</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Auto_reply_been_sent</name>
        <label>Has Auto-reply been sent</label>
        <locationX>639</locationX>
        <locationY>520</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_is_Solved_Closed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Solved</stringValue>
                </rightValue>
            </conditions>
            <label>Case is Solved/Closed</label>
        </rules>
        <rules>
            <name>auto_reply_needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.Auto_reply_Sent_At__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012Qo000006wk1ZIAQ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case.Is_Auto_reply_Skipped__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Channel_Branching</targetReference>
            </connector>
            <label>Support Record Type and Not sent yet</label>
        </rules>
        <rules>
            <name>Billing_Record_and_Not_sent_yet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.Auto_reply_Sent_At__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case.Is_Auto_reply_Skipped__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012Qo000008NXwMIAW</stringValue>
                </rightValue>
            </conditions>
            <label>Billing Record and Not sent yet</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Critical_Portal</name>
        <label>Is Critical Portal?</label>
        <locationX>547</locationX>
        <locationY>1021</locationY>
        <defaultConnector>
            <targetReference>Assign_Portal_Email_Body</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non-Critical Portal</defaultConnectorLabel>
        <rules>
            <name>Critical_Portal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.Priority</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Critical</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Critical_Portal_Email_Body</targetReference>
            </connector>
            <label>Critical Portal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Priority_Branching</name>
        <label>Premium/Committed Priority Branching</label>
        <locationX>870</locationX>
        <locationY>966</locationY>
        <defaultConnector>
            <targetReference>Assign_Fallback_Email_Body</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Impact Fallback</defaultConnectorLabel>
        <rules>
            <name>Non_Critical</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.Priority</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Critical</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Committed_Email_Body</targetReference>
            </connector>
            <label>Non-Critical</label>
        </rules>
        <rules>
            <name>Is_Critical</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.Priority</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Critical</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Committed_Email_Body</targetReference>
            </connector>
            <label>Is Critical</label>
        </rules>
        <rules>
            <name>Incomplete_Triage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.Triage_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress, Error, Needed</stringValue>
                </rightValue>
            </conditions>
            <label>Incomplete Triage</label>
        </rules>
    </decisions>
    <decisions>
        <name>recipient_list_has_support</name>
        <label>recipient list has support@</label>
        <locationX>464</locationX>
        <locationY>390</locationY>
        <defaultConnector>
            <targetReference>Has_Auto_reply_been_sent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>recipientlist</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>support@retool.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>additional_to_emails</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>support@retool.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>to_emails_support_removed</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>support@retool.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_Auto_reply_been_sent</targetReference>
            </connector>
            <label>Has support</label>
        </rules>
    </decisions>
    <decisions>
        <name>Self_Serve_Priority_Branching</name>
        <label>Self-Serve Priority Branching</label>
        <locationX>1560</locationX>
        <locationY>954</locationY>
        <defaultConnector>
            <targetReference>Assign_Fallback_Email_Body</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Is_Non_Critical</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.Priority</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Critical</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Self_Serve_Email_Body</targetReference>
            </connector>
            <label>Is Non-Critical</label>
        </rules>
        <rules>
            <name>Is_Self_Serve_Critical</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.Priority</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Critical</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Self_Serve_Email_Body</targetReference>
            </connector>
            <label>Is Self-Serve Critical</label>
        </rules>
        <rules>
            <name>Self_Serve_No_Impact_Fallback</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.Triage_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress, Error, Needed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Fallback_Email_Body</targetReference>
            </connector>
            <label>Self-Serve No Impact Fallback</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tier_Branch</name>
        <label>Tier Branch</label>
        <locationX>1119</locationX>
        <locationY>829</locationY>
        <defaultConnector>
            <targetReference>Assign_Fallback_Email_Body</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Fallback</defaultConnectorLabel>
        <rules>
            <name>Is_Self_Serve</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.Support_Tier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4; Self Service</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Self_Serve_Priority_Branching</targetReference>
            </connector>
            <label>Is Self-Serve</label>
        </rules>
        <rules>
            <name>Is_Enterprise</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.Support_Tier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3; Committed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Priority_Branching</targetReference>
            </connector>
            <label>Is Enterprise</label>
        </rules>
        <rules>
            <name>Is_Premium</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.Support_Tier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2; Premium</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Priority_Branching</targetReference>
            </connector>
            <label>Is Premium</label>
        </rules>
        <rules>
            <name>Is_Custom</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.Support_Tier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1; Custom</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Priority_Branching</targetReference>
            </connector>
            <label>Is Custom</label>
        </rules>
    </decisions>
    <description>Added Portal Critical auto reply and send auto reply for critical committed emails</description>
    <environments>Default</environments>
    <formulas>
        <name>recipientlist</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(
trim({!to_emails})&amp;
trim(if(isblank({!cc_emails}),null,&quot;,&quot;&amp;SUBSTITUTE({!cc_emails}, &quot;; &quot;, &quot;,&quot;)))&amp;
trim(if(isblank({!to_emails_support_removed}),null,&quot;,&quot;&amp;SUBSTITUTE({!to_emails_support_removed}, &quot;; &quot;, &quot;,&quot;))),
&quot; &quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>reply_subject</name>
        <dataType>String</dataType>
        <expression>&quot;Re: &quot;&amp;{!Get_last_message.Subject}&amp;&quot; - Ticket #&quot;&amp;{!Get_Case.CaseNumber}</expression>
    </formulas>
    <formulas>
        <name>to_emails_support_removed</name>
        <dataType>String</dataType>
        <expression>IF(
     CONTAINS({!additional_to_emails}, &quot;support@retool.com;&quot;), 
     SUBSTITUTE({!additional_to_emails}, &quot;support@retool.com;&quot;, &quot;&quot;), 
     SUBSTITUTE({!additional_to_emails}, &quot;support@retool.com&quot;, &quot;&quot;)
)</expression>
    </formulas>
    <interviewLabel>Case - Support Auto Reply {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Support Auto Reply</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>1215</locationX>
        <locationY>264</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_last_message</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_last_message</name>
        <label>Get last message</label>
        <locationX>972</locationX>
        <locationY>263</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_email_recipients</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailMessage</object>
        <sortField>MessageDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Auto_reply_timestamp</name>
        <label>Set Auto-reply timestamp</label>
        <locationX>1211</locationX>
        <locationY>2148</locationY>
        <inputReference>Get_Case</inputReference>
    </recordUpdates>
    <start>
        <locationX>1088</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>CommittedEmailAutoReply</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello!&lt;/p&gt;&lt;p&gt;Thank you for reaching out to Retool Support! Your ticket number is {!Get_Case.CaseNumber}.&lt;/p&gt;&lt;p&gt;If this is a critical issue, please visit our&amp;nbsp;&lt;a href=&quot;https://help.retool.com/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Help Portal&lt;/a&gt;&amp;nbsp;and submit a P0 (critical) ticket so that we may address your issue promptly.&lt;/p&gt;&lt;p&gt;Additionally, we highly recommend subscribing to our&amp;nbsp;&lt;a href=&quot;https://status.retool.com/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;status page&lt;/a&gt;&amp;nbsp;for staying informed about any ongoing incidents or maintenance updates that might impact your experience with Retool.&lt;/p&gt;&lt;p&gt;Thank you for understanding.&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;Sincerely,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;The Retool Support Team&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;Original message:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;     {!Get_last_message.TextBody}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>CriticalPortalAutoReply</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello!&lt;/p&gt;&lt;p&gt;Thank you for reaching out to Retool Support! Your ticket number is {!Get_Case.CaseNumber}. We have received this Critical issue and a team member will reach out as soon as possible. &lt;/p&gt;&lt;p&gt;We highly recommend subscribing to our&amp;nbsp;&lt;a href=&quot;https://status.retool.com/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;status page&lt;/a&gt;&amp;nbsp;for staying informed about any ongoing incidents or maintenance updates that might impact your experience with Retool.&lt;/p&gt;&lt;p&gt;Thank you for understanding.&lt;/p&gt;&lt;p&gt;Sincerely,&lt;/p&gt;&lt;p&gt;The Retool Support Team&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>FallbackMessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello!&lt;/p&gt;&lt;p&gt;Thank you for reaching out to Retool Support! Your ticket number is {!Get_Case.CaseNumber}.&lt;/p&gt;&lt;p&gt;We&#39;ll get back to you as soon as possible.&lt;/p&gt;&lt;p&gt;Sincerely,&lt;/p&gt;&lt;p&gt;The Retool Support Team&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Original Message:&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;color: rgb(82, 81, 81); font-size: 11px;&quot;&gt;{!Get_Case.Description}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>PortalAutoReply</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello!&lt;/p&gt;&lt;p&gt;Thank you for reaching out to Retool Support! Your ticket number is {!Get_Case.CaseNumber}.&lt;/p&gt;&lt;p&gt;We highly recommend subscribing to our&amp;nbsp;&lt;a href=&quot;https://status.retool.com/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;status page&lt;/a&gt;&amp;nbsp;for staying informed about any ongoing incidents or maintenance updates that might impact your experience with Retool.&lt;/p&gt;&lt;p&gt;Thank you for understanding.&lt;/p&gt;&lt;p&gt;Sincerely,&lt;/p&gt;&lt;p&gt;The Retool Support Team&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>SelfServeAutoReply</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello!&lt;/p&gt;&lt;p&gt;Thank you for contacting Retool Customer Support!&amp;nbsp;The ticket number for your message is&amp;nbsp;{!Get_Case.CaseNumber}.&lt;/p&gt;&lt;p&gt;If you are looking for Enterprise plans that include dedicated support resources,&amp;nbsp;&lt;a href=&quot;https://retool.com/demo?meeting_page_source=support_auto_reply&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;book some time with our team here&lt;/a&gt;. If you are already on the Enterprise plan, please reply and let us know!&lt;/p&gt;&lt;p&gt;For technical guidance, bug reports, and feature requests, please visit our&amp;nbsp;&lt;a href=&quot;https://community.retool.com/t/welcome-to-the-retool-community&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Developer Community Forum&lt;/a&gt;&amp;nbsp;where our community experts and Retool Community Engineers provide hundreds of solutions weekly. If there isn&#39;t already a helpful answer for your question, we want there to be one, so please&amp;nbsp;&lt;a href=&quot;https://community.retool.com/signup&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;sign up&lt;/a&gt;&amp;nbsp;or&amp;nbsp;&lt;a href=&quot;https://community.retool.com/login&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;log in&lt;/a&gt;&amp;nbsp;and ask! Ensure your posts get timely engagement by including:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;A detailed title and clear description&lt;/li&gt;&lt;li&gt;Screenshots, recordings, or code snippets (e.g., browser console, logs, error messages)&lt;/li&gt;&lt;li&gt;&lt;a href=&quot;https://community.retool.com/t/bulk-inserting-to-db-from-checkbox-group/42333&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Example&lt;/a&gt;&amp;nbsp;topic with good inputs that received swift responses&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;In addition to our forums and&amp;nbsp;&lt;a href=&quot;https://docs.retool.com/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;our docs&lt;/a&gt;, take a look at these additional resources:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Account, billing, and user permissions FAQs:&amp;nbsp;&lt;a href=&quot;https://community.retool.com/t/accounts-users-and-billing-faq/29043&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Cloud FAQ&lt;/a&gt;,&amp;nbsp;&lt;a href=&quot;https://community.retool.com/t/self-hosted-account-billing-faq/38653&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Self-Hosted FAQ&lt;/a&gt;&lt;/li&gt;&lt;li&gt;Performance issues, lining or other app errors? Inspect&amp;nbsp;&lt;a href=&quot;https://docs.retool.com/apps/concepts/debug-tools&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;debug tools&lt;/a&gt;&amp;nbsp;for clues to get unblocked.&lt;/li&gt;&lt;li&gt;We offer&amp;nbsp;&lt;a href=&quot;https://community.retool.com/t/come-join-retool-office-hours-now-in-discord/12348&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;live video office hours&lt;/a&gt;&amp;nbsp;hosted on Discord several times per week. If you’re interested in learning more about Retool in general, join us to discuss use cases in a group.&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;Thank you for understanding and for being a part of the Retool community!&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;Sincerely,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;The Retool Support Team&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Original message:&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 11px; color: rgb(127, 140, 141);&quot;&gt;{!Get_Case.Description}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Thanksgiving_Reply_Billing</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgba(232, 232, 232, 0.04); font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Hello!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgba(232, 232, 232, 0.04); font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Thank you for reaching out to Billing at Retool! Your ticket number is {!Get_Case.CaseNumber}. Please note that our team will be celebrating the Thanksgiving holiday from Nov 27 through Dec 1.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgba(232, 232, 232, 0.04); font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Rest assured, we&#39;re here to help and will be in touch soon.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgba(232, 232, 232, 0.04); font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Sincerely,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgba(232, 232, 232, 0.04); font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;The Retool Billing Team&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Thanksgiving Auto Reply</description>
        <name>Thanksgiving_Reply_Support</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello!&lt;/p&gt;&lt;p&gt;Thank you for reaching out to Retool Support! Your ticket number is {!Get_Case.CaseNumber}.&lt;/p&gt;&lt;p&gt;Please note that our US-based team member (including APAC hours) will be celebrating the Thanksgiving holiday from Nov 27 through Dec 1. Responses for non-critical issues will be delayed in this time.&lt;/p&gt;&lt;p&gt;We highly recommend subscribing to our&amp;nbsp;&lt;a href=&quot;https://status.retool.com/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;status page&lt;/a&gt;&amp;nbsp;for staying informed about any ongoing incidents or maintenance updates that might impact your experience with Retool.&lt;/p&gt;&lt;p&gt;Rest assured, we&#39;re here to help and will be in touch as soon as we have an update or need further information regarding your issue.&lt;/p&gt;&lt;p&gt;Sincerely,&lt;/p&gt;&lt;p&gt;The Retool Support Team&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>additional_to_emails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>cc_emails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>email_body</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>email_template</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>from_email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>to_emails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
