unpackaged/main/default/flows/Centro__Centro_Deactivate_Embedding.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Add_Embedding</name>
        <label>Add Embedding</label>
        <locationX>374</locationX>
        <locationY>576</locationY>
        <actionName>Centro__AddGrokEmbeddingFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>remove</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>topicName</name>
            <value>
                <elementReference>Topics</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>url</name>
            <value>
                <elementReference>$Record.Centro__Source_URL__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Centro__AddGrokEmbeddingFlow</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <description>Support for legacy single topic name field</description>
        <name>Set_Legacy_Topic</name>
        <label>Set Legacy Topic</label>
        <locationX>242</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>Topics</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Centro__Topic_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Embedding</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Topics</name>
        <label>Set Topics</label>
        <locationX>506</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>Topics</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Centro__Topic_Access__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Embedding</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Topic_Set</name>
        <label>Is Topic Set</label>
        <locationX>374</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Set_Topics</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Centro__Topic_Access__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Legacy_Topic</targetReference>
            </connector>
            <label>Not Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>Success</name>
        <label>Success?</label>
        <locationX>374</locationX>
        <locationY>684</locationY>
        <defaultConnector>
            <targetReference>SetError</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_Embedding.error</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Make_Active</targetReference>
            </connector>
            <label>No Error</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Centro: Deactivate Embedding {!$Flow.CurrentDateTime}</interviewLabel>
    <isOverridable>true</isOverridable>
    <label>Centro: Deactivate Embedding</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Make_Active</name>
        <label>Make Active</label>
        <locationX>242</locationX>
        <locationY>792</locationY>
        <inputAssignments>
            <field>Centro__Embedding_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Centro__External_ID__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Centro__Model_Name__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>SetError</name>
        <label>Set Error</label>
        <locationX>506</locationX>
        <locationY>792</locationY>
        <inputAssignments>
            <field>Centro__Status__c</field>
            <value>
                <elementReference>Add_Embedding.error</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Centro__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </filters>
        <object>Centro__Grok_Embedding__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Is_Topic_Set</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Topics</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
