unpackaged/main/default/flows/Centro_Create_Feed_Item.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <constants>
        <name>LastAdminReply</name>
        <dataType>String</dataType>
    </constants>
    <constants>
        <name>LastCustomerReply</name>
        <dataType>String</dataType>
    </constants>
    <decisions>
        <name>Has_Message_Attachments</name>
        <label>Has Message Attachments</label>
        <locationX>431</locationX>
        <locationY>676</locationY>
        <defaultConnector>
            <targetReference>Create_Feed_Item</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Attachment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varMessageAttachments</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Feed_Item_With_Attachment</targetReference>
            </connector>
            <label>Has Attachment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Case_Event</name>
        <label>Is Case Event?</label>
        <locationX>631</locationX>
        <locationY>218</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Case_Reply</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRecordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Reply</targetReference>
            </connector>
            <label>New Case Reply</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Reply</name>
        <label>Is Reply?</label>
        <locationX>314</locationX>
        <locationY>313</locationY>
        <defaultConnectorLabel>Not a Reply</defaultConnectorLabel>
        <rules>
            <name>Is_New_Case_Reply</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varReplyMessage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getUser</targetReference>
            </connector>
            <label>New Case Reply</label>
        </rules>
    </decisions>
    <decisions>
        <name>Retool_vs_Customer</name>
        <label>Retool vs Customer</label>
        <locationX>434</locationX>
        <locationY>953</locationY>
        <defaultConnector>
            <targetReference>Assign_Last_Customer_Reply</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Customer</defaultConnectorLabel>
        <rules>
            <name>Retool_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getUser</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Last_Admin_Reply</targetReference>
            </connector>
            <label>Retool User</label>
        </rules>
    </decisions>
    <description>Reordering feed item creation before updating the case</description>
    <environments>Default</environments>
    <formulas>
        <name>BodyLengthCheck</name>
        <dataType>String</dataType>
        <expression>IF(LEN({!varReplyMessage}) &gt; 9000, LEFT({!varReplyMessage}, 8000) &amp; &quot; TRUNCATED&quot;, {!varReplyMessage})</expression>
    </formulas>
    <formulas>
        <name>fileUrl</name>
        <dataType>String</dataType>
        <expression>&quot;https://retooled.slack.com/archives/&quot;&amp;{!varChannelId}&amp;&quot;/p&quot;&amp;SUBSTITUTE({!varMessageTimestamp}, &quot;.&quot;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>varAdjustedTimestamp</name>
        <dataType>DateTime</dataType>
        <expression>FROMUNIXTIME(VALUE(LEFT({!$Record.Centro__Message_TS__c}, FIND(&quot;.&quot;, {!$Record.Centro__Message_TS__c} ))))</expression>
    </formulas>
    <interviewLabel>Centro: Create Feed Item {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Centro: Create Feed Item</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Feed_Item</name>
        <label>Create Feed Item</label>
        <locationX>563</locationX>
        <locationY>784</locationY>
        <connector>
            <targetReference>Retool_vs_Customer</targetReference>
        </connector>
        <inputAssignments>
            <field>Body</field>
            <value>
                <elementReference>varFeedItemText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>varRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visibility</field>
            <value>
                <stringValue>AllUsers</stringValue>
            </value>
        </inputAssignments>
        <object>FeedItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Feed_Item_With_Attachment</name>
        <label>Create Feed Item With Attachment</label>
        <locationX>299</locationX>
        <locationY>784</locationY>
        <connector>
            <targetReference>Retool_vs_Customer</targetReference>
        </connector>
        <inputAssignments>
            <field>Body</field>
            <value>
                <elementReference>varFeedItemWithAttachment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>varRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visibility</field>
            <value>
                <stringValue>AllUsers</stringValue>
            </value>
        </inputAssignments>
        <object>FeedItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getUser</name>
        <label>getUser</label>
        <locationX>433</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Message_Attachments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Slack_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSlackUserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Assign_Last_Admin_Reply</name>
        <label>Assign Last Admin Reply</label>
        <locationX>302</locationX>
        <locationY>1061</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Assignment_Admin_Reply_At__c</field>
            <value>
                <elementReference>varAdjustedTimestamp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Retool_Reply_At__c</field>
            <value>
                <elementReference>varAdjustedTimestamp</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Assign_Last_Customer_Reply</name>
        <label>Assign Last Customer Reply</label>
        <locationX>566</locationX>
        <locationY>1061</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Customer_Reply_At__c</field>
            <value>
                <elementReference>varAdjustedTimestamp</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>505</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Is_Case_Event</targetReference>
        </connector>
        <flowRunAsUser>TriggeringUser</flowRunAsUser>
        <object>Centro__Action__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varAttachments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Centro__Message_Attachments__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>varChannelId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Centro__ChannelId__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>varFeedItemText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>New Slack reply from @{!varSlackUsername}: {!BodyLengthCheck}</stringValue>
        </value>
    </variables>
    <variables>
        <name>varFeedItemWithAttachment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>New Slack reply from @{!varSlackUsername}: {!BodyLengthCheck}  Attachment Link: &lt;{!fileUrl}&gt;</stringValue>
        </value>
    </variables>
    <variables>
        <name>varLastCustomerReply</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMessageAttachments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Centro__Message_Attachments__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>varMessageTimestamp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Centro__Message_TS__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>varRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Centro__Value__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>varReplyMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Centro__Message_Text__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>varSlackUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Centro__UserId__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>varSlackUsername</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Centro__Slack_Username__c</elementReference>
        </value>
    </variables>
</Flow>
