unpackaged/main/default/flows/Centro_Emoji_Reaction_Status_Updates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CSAT_Survey_Prompt</name>
        <label>CSAT Survey Prompt</label>
        <locationX>846</locationX>
        <locationY>849</locationY>
        <actionName>Centro__SendMessageFlow</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>buttons</name>
            <value>
                <stringValue>[{&quot;label&quot;:&quot;😠&quot;,&quot;name&quot;:&quot;1_{!varRecordId}&quot;,&quot;URL&quot;:&quot;&quot;,&quot;id&quot;:&quot;0.08043615253612213&quot;,&quot;invocation&quot;:&quot;REPLACE_ME&quot;,&quot;delete&quot;:true,&quot;deleteBtn&quot;:false,&quot;event&quot;:true,&quot;auth&quot;:false},{&quot;label&quot;:&quot;🙁&quot;,&quot;name&quot;:&quot;2_{!varRecordId}&quot;,&quot;URL&quot;:&quot;&quot;,&quot;id&quot;:&quot;0.3800182216532675&quot;,&quot;invocation&quot;:&quot;REPLACE_ME&quot;,&quot;delete&quot;:true,&quot;deleteBtn&quot;:false,&quot;event&quot;:true,&quot;auth&quot;:false},{&quot;label&quot;:&quot;😐&quot;,&quot;name&quot;:&quot;3_{!varRecordId}&quot;,&quot;URL&quot;:&quot;&quot;,&quot;id&quot;:&quot;0.854510279583208&quot;,&quot;invocation&quot;:&quot;REPLACE_ME&quot;,&quot;delete&quot;:true,&quot;deleteBtn&quot;:false,&quot;event&quot;:true,&quot;auth&quot;:false},{&quot;label&quot;:&quot;😃&quot;,&quot;name&quot;:&quot;4_{!varRecordId}&quot;,&quot;URL&quot;:&quot;&quot;,&quot;id&quot;:&quot;0.6049971888568404&quot;,&quot;invocation&quot;:&quot;REPLACE_ME&quot;,&quot;delete&quot;:true,&quot;deleteBtn&quot;:false,&quot;event&quot;:true,&quot;auth&quot;:false},{&quot;label&quot;:&quot;😍&quot;,&quot;name&quot;:&quot;5_{!varRecordId}&quot;,&quot;URL&quot;:&quot;&quot;,&quot;id&quot;:&quot;0.3825553470707266&quot;,&quot;invocation&quot;:&quot;REPLACE_ME&quot;,&quot;delete&quot;:true,&quot;deleteBtn&quot;:false,&quot;event&quot;:true,&quot;auth&quot;:false,&quot;form&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelId</name>
            <value>
                <stringValue>{!varChannel}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>InterviewGuid</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>&lt;p&gt;Please rate this customer support experience:&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pinMessage</name>
            <value>
                <stringValue>false</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>postEphemeral</name>
            <value>
                <stringValue>false</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>postReply</name>
            <value>
                <stringValue>true</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>replyMessageTs</name>
            <value>
                <elementReference>varOriginalMessageTS</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>shouldAttachFile</name>
            <value>
                <stringValue>false</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>shouldAttachReport</name>
            <value>
                <stringValue>false</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>startThread</name>
            <value>
                <stringValue>false</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>updateMessage</name>
            <value>
                <stringValue>false</stringValue>
            </value>
        </inputParameters>
        <nameSegment>Centro__SendMessageFlow</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Post_Completed_Message_to_Thread</name>
        <label>Post Completed Message to Thread</label>
        <locationX>301</locationX>
        <locationY>758</locationY>
        <actionName>Centro__SendMessageFlow</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>channelId</name>
            <value>
                <stringValue>{!varChannel}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>InterviewGuid</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>&lt;p&gt;This ticket has been marked complete by {!varOwnerSlackUsername}. ✅&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pinMessage</name>
            <value>
                <stringValue>false</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>postEphemeral</name>
            <value>
                <stringValue>false</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>postReply</name>
            <value>
                <stringValue>true</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>replyMessageTs</name>
            <value>
                <elementReference>varMessageTimestamp</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>shouldLinkRecord</name>
            <value>
                <stringValue>false</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>showCompactLayout</name>
            <value>
                <stringValue>false</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>startThread</name>
            <value>
                <stringValue>false</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>updateMessage</name>
            <value>
                <stringValue>false</stringValue>
            </value>
        </inputParameters>
        <nameSegment>Centro__SendMessageFlow</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Post_Underway_Message_to_Thread</name>
        <label>Post Underway Message to Thread</label>
        <locationX>37</locationX>
        <locationY>758</locationY>
        <actionName>Centro__SendMessageFlow</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>channelId</name>
            <value>
                <stringValue>{!varChannel}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>InterviewGuid</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>&lt;p&gt;This ticket has been marked as underway by {!varOwnerSlackUsername}. 👀&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pinMessage</name>
            <value>
                <stringValue>false</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>postEphemeral</name>
            <value>
                <stringValue>false</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>postReply</name>
            <value>
                <stringValue>true</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>replyMessageTs</name>
            <value>
                <elementReference>varMessageTimestamp</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>shouldLinkRecord</name>
            <value>
                <stringValue>false</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>showCompactLayout</name>
            <value>
                <stringValue>false</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>startThread</name>
            <value>
                <stringValue>false</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>updateMessage</name>
            <value>
                <stringValue>false</stringValue>
            </value>
        </inputParameters>
        <nameSegment>Centro__SendMessageFlow</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Refresh_Record_Block_Completed</name>
        <label>Refresh Record Block Completed</label>
        <locationX>301</locationX>
        <locationY>650</locationY>
        <actionName>Centro__SendMessageFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Post_Completed_Message_to_Thread</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>channelId</name>
            <value>
                <stringValue>{!varChannel}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>InterviewGuid</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>&lt;p&gt;This ticket has been completed:&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pinMessage</name>
            <value>
                <stringValue>false</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>postEphemeral</name>
            <value>
                <stringValue>false</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>postReply</name>
            <value>
                <stringValue>false</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>varRecordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>shouldLinkRecord</name>
            <value>
                <stringValue>false</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>showCompactLayout</name>
            <value>
                <stringValue>true</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>updateMessage</name>
            <value>
                <stringValue>true</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>updateMessageTs</name>
            <value>
                <elementReference>varMessageTimestamp</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Centro__SendMessageFlow</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Refresh_Record_Block_Underway</name>
        <label>Refresh Record Block Underway</label>
        <locationX>37</locationX>
        <locationY>650</locationY>
        <actionName>Centro__SendMessageFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Post_Underway_Message_to_Thread</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>channelId</name>
            <value>
                <stringValue>{!varChannel}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>InterviewGuid</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>&lt;p&gt;This ticket is underway:&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pinMessage</name>
            <value>
                <stringValue>false</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>postEphemeral</name>
            <value>
                <stringValue>false</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>postReply</name>
            <value>
                <stringValue>false</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>varRecordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>shouldLinkRecord</name>
            <value>
                <stringValue>false</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>showCompactLayout</name>
            <value>
                <stringValue>true</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>updateMessage</name>
            <value>
                <stringValue>true</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>updateMessageTs</name>
            <value>
                <elementReference>varMessageTimestamp</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Centro__SendMessageFlow</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Case_Filter</name>
        <label>Case Filter</label>
        <locationX>961</locationX>
        <locationY>326</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Handle_Case</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>varRecordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varAPIName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varAPIName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>caseComplete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Linked_Converstion</targetReference>
            </connector>
            <label>Case Complete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Channel_Filter</name>
        <label>Channel Filter</label>
        <locationX>631</locationX>
        <locationY>218</locationY>
        <defaultConnector>
            <targetReference>Case_Filter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Support Team</defaultConnectorLabel>
        <rules>
            <name>RevOps_Team</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Centro__ChannelId__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>C04UESCTFNJ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Centro__ChannelId__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>C04UPUHU2DA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Centro__ChannelId__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>C04VBNR50AC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Centro__ChannelId__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>C04UJH497U5</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Centro__ChannelId__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>C053RGH9KT3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Centro__ChannelId__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>C03H8BZLGGM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Owner_User_Id</targetReference>
            </connector>
            <label>RevOps Team</label>
        </rules>
    </decisions>
    <decisions>
        <description>The emoji will decide the action that happens.</description>
        <name>Check_Emoji</name>
        <label>Route Platform Event</label>
        <locationX>301</locationX>
        <locationY>434</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Mark_Underway</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Centro__API_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>underway</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_Underway</targetReference>
            </connector>
            <label>Mark Underway</label>
        </rules>
        <rules>
            <name>Mark_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Centro__API_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_Complete</targetReference>
            </connector>
            <label>Mark Complete</label>
        </rules>
    </decisions>
    <description>removing sending confirmation message - changing location of this</description>
    <environments>Default</environments>
    <interviewLabel>Centro Emoji Reaction Status Updates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Centro Emoji Reaction Status Updates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Feed_Item</name>
        <label>Create Feed Item</label>
        <locationX>977</locationX>
        <locationY>635</locationY>
        <inputAssignments>
            <field>Body</field>
            <value>
                <stringValue>Case marked as Solved in Slack</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>varRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visibility</field>
            <value>
                <stringValue>AllUsers</stringValue>
            </value>
        </inputAssignments>
        <object>FeedItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Linked_Converstion</name>
        <label>Get Linked Converstion</label>
        <locationX>969</locationX>
        <locationY>487</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Feed_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Centro__RecordId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Centro__Linked_Conversation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Owner_User_Id</name>
        <label>Get Owner User Id</label>
        <locationX>301</locationX>
        <locationY>326</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Emoji</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Slack_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Centro__UserId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Status_Complete</name>
        <label>Update Status Complete</label>
        <locationX>301</locationX>
        <locationY>542</locationY>
        <connector>
            <targetReference>Refresh_Record_Block_Completed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varOwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </inputAssignments>
        <object>GTM_Ticket__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_Underway</name>
        <label>Update Status Underway</label>
        <locationX>37</locationX>
        <locationY>542</locationY>
        <connector>
            <targetReference>Refresh_Record_Block_Underway</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Centro__Value__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varOwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Underway</stringValue>
            </value>
        </inputAssignments>
        <object>GTM_Ticket__c</object>
    </recordUpdates>
    <start>
        <locationX>505</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Channel_Filter</targetReference>
        </connector>
        <flowRunAsUser>TriggeringUser</flowRunAsUser>
        <object>Centro__Action__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>channelId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>C072SK8H57U</stringValue>
        </value>
    </variables>
    <variables>
        <name>varAPIName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Centro__API_Name__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>varChannel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Centro__ChannelId__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>varMessageTimestamp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Centro__Message_TS__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>varOriginalMessageTS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_Linked_Converstion.Centro__Message_TS__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>User id of the person who reacted</description>
        <name>varOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_Owner_User_Id.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>varOwnerSlackUsername</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_Owner_User_Id.Slack_Mention_Handle_Only__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>varReactorSlackUsername</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Centro__Slack_Username__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>varRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Centro__Value__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>varSlackSender</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_Linked_Converstion.Centro__Slack_MemberId__c</elementReference>
        </value>
    </variables>
</Flow>
