unpackaged/main/default/flows/Centro_New_Slack_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Grok_Summary</name>
        <label>Grok Summary</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <actionName>Centro__GrokFlowElement</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>setSlackTranscript</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>channelId</name>
            <value>
                <elementReference>varChanneId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messageTs</name>
            <value>
                <elementReference>varMessageTS</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>summarize</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Centro__GrokFlowElement</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>varSlackTranscript</assignToReference>
            <name>Transcript</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Check_Centro_API_Name</name>
        <label>Check Centro API Name</label>
        <locationX>182</locationX>
        <locationY>170</locationY>
        <defaultConnectorLabel>Non Support Case</defaultConnectorLabel>
        <rules>
            <name>Is_Support_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Centro__API_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Grok_Summary</targetReference>
            </connector>
            <label>Is Support Case?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Centro - New Slack Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Centro - Set Slack Transcript Field</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>setSlackTranscript</name>
        <label>setSlackTranscript</label>
        <locationX>50</locationX>
        <locationY>386</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Centro__Value__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Slack_Transcript__c</field>
            <value>
                <elementReference>varSlackTranscript</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Centro_API_Name</targetReference>
        </connector>
        <flowRunAsUser>TriggeringUser</flowRunAsUser>
        <object>Centro__Action__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varChanneId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Centro__ChannelId__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>varMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Centro__Message_Text__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>varMessageTS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Centro__Message_TS__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>varRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Centro__Value__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>varSlackTranscript</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
