unpackaged/main/default/flows/Contact_Before_Save_Automations.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_Committed_Customer</name>
        <label>Assign Committed Customer</label>
        <locationX>3365</locationX>
        <locationY>1517</locationY>
        <assignmentItems>
            <assignToReference>$Record.Contact_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Committed Customer</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Demand_Marketable</name>
        <label>Assign Demand Marketable</label>
        <locationX>3980</locationX>
        <locationY>1681</locationY>
        <assignmentItems>
            <assignToReference>$Record.Contact_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Demand Marketable</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Demand_Suppressed</name>
        <label>Assign Demand Suppressed</label>
        <locationX>3809</locationX>
        <locationY>1835</locationY>
        <assignmentItems>
            <assignToReference>$Record.Contact_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Demand Suppressed</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Demand_Unmarketable</name>
        <label>Assign Demand Unmarketable</label>
        <locationX>4042</locationX>
        <locationY>1509</locationY>
        <assignmentItems>
            <assignToReference>$Record.Contact_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Demand Unmarketable</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Disqualified</name>
        <label>Assign Disqualified</label>
        <locationX>3451</locationX>
        <locationY>1350</locationY>
        <assignmentItems>
            <assignToReference>$Record.Contact_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Disqualified</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Open_Journey</name>
        <label>Assign Open Journey</label>
        <locationX>3571</locationX>
        <locationY>1832</locationY>
        <assignmentItems>
            <assignToReference>$Record.Contact_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open Journey</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Open_Opportunity</name>
        <label>Assign Open Opportunity</label>
        <locationX>3413</locationX>
        <locationY>1696</locationY>
        <assignmentItems>
            <assignToReference>$Record.Contact_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open Opportunity</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Owner</name>
        <label>Assign Owner</label>
        <locationX>609</locationX>
        <locationY>381</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Integration_Stamp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Regie.ai</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Outreach_Curent_Sequence_Name_Is_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SDR</name>
        <label>Assign SDR</label>
        <locationX>836</locationX>
        <locationY>194</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Sales_Development_Representative__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Integration_Stamp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Regie.ai</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Outreach_Curent_Sequence_Name_Is_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Matched_Account</name>
        <label>Assign to Matched Account</label>
        <locationX>3104</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>$Record.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Email_Domain_Map__r.Matched_Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Title_Map_Method</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_date_added_to_sequence</name>
        <label>Clear date added to sequence</label>
        <locationX>1212</locationX>
        <locationY>427</locationY>
        <assignmentItems>
            <assignToReference>$Record.Outreach_Date_Added_to_Sequence__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Outreach_Added_to_Sequence_At__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Outreach_Initial_Sequence_is</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_domain_type</name>
        <label>Clear domain type</label>
        <locationX>2289</locationX>
        <locationY>401</locationY>
        <assignmentItems>
            <assignToReference>$Record.Email_Domain_Map__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Domain_map_is</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_email_domain_type</name>
        <label>Clear email domain type</label>
        <locationX>2774</locationX>
        <locationY>570</locationY>
        <assignmentItems>
            <assignToReference>$Record.Email_Domain_Type__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Title_Map_Method</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_title_mapped_fields</name>
        <label>Clear title mapped fields</label>
        <locationX>3696</locationX>
        <locationY>729</locationY>
        <assignmentItems>
            <assignToReference>$Record.Department</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Seniority__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Function__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Enriched</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_defaults</name>
        <label>Set defaults</label>
        <locationX>1695</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>$Record.Trigger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Email_Domain__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>email_domain</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_domain_map</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_email_domain_type</name>
        <label>Set email domain type</label>
        <locationX>2639</locationX>
        <locationY>435</locationY>
        <assignmentItems>
            <assignToReference>$Record.Email_Domain_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Email_Domain_Map__r.Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_account_blank_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_function_and_department</name>
        <label>Set function and department</label>
        <locationX>3858</locationX>
        <locationY>851</locationY>
        <assignmentItems>
            <assignToReference>$Record.Function__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Look_through_function_title_maps.Function__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Department</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Look_through_function_title_maps.Function__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Enriched</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_seniority</name>
        <label>Set seniority</label>
        <locationX>4096</locationX>
        <locationY>187</locationY>
        <assignmentItems>
            <assignToReference>$Record.Seniority__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_seniority_title_maps.Seniority__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Function_Maps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stamp_Enrichment</name>
        <label>Stamp Enrichment</label>
        <locationX>3457</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>$Record.Enriched_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Enriched_At__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Suppression_Reason</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Suppression_Reason_Bounce</name>
        <label>Suppression Reason Bounce</label>
        <locationX>3928</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>$Record.Suppression_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Email Hard Bounce</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Status_Evaluation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Contact_w_initial_sequence</name>
        <label>Update Contact w initial sequence</label>
        <locationX>1505</locationX>
        <locationY>427</locationY>
        <assignmentItems>
            <assignToReference>$Record.Initial_Sequence_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Outreach_Initial_Sequence_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Outreach_Current_Sequence_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Outreach_Initial_Sequence_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Outreach_Current_Sequence_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_defaults</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_contact_with_domain_map_account</name>
        <label>Update contact with domain map account</label>
        <locationX>3045</locationX>
        <locationY>330</locationY>
        <assignmentItems>
            <assignToReference>$Record.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Email_Domain_Map__r.Matched_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Email_Domain_Map__r.Matched_Account__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Title_Map_Method</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_date_added_to_sequence</name>
        <label>Update date added to sequence</label>
        <locationX>970</locationX>
        <locationY>425</locationY>
        <assignmentItems>
            <assignToReference>$Record.Outreach_Date_Added_to_Sequence__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Outreach_Added_to_Sequence_At__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Outreach_Curent_Sequence_Name_Is_Blanked</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_domain_map</name>
        <label>Update domain map</label>
        <locationX>2424</locationX>
        <locationY>304</locationY>
        <assignmentItems>
            <assignToReference>$Record.Email_Domain_Map__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_domain_map.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Domain_map_is</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Function_Maps</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Function Maps</label>
        <locationX>4096</locationX>
        <locationY>410</locationY>
        <assignNextValueToReference>currentItem_Function_Maps_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_all_contact_title_maps</collectionReference>
        <conditionLogic>formula_evaluates_to_true</conditionLogic>
        <connector>
            <targetReference>Look_through_function_title_maps</targetReference>
        </connector>
        <formula>ISPICKVAL({!currentItem_Function_Maps_0.Type__c},&quot;Function&quot;) &amp;&amp; 
CONTAINS(LOWER({!$Record.Title}),{!currentItem_Function_Maps_0.Name})</formula>
    </collectionProcessors>
    <collectionProcessors>
        <name>Get_seniority_maps</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Get seniority maps</label>
        <locationX>3706</locationX>
        <locationY>501</locationY>
        <assignNextValueToReference>currentItem_Get_seniority_maps</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_all_contact_title_maps</collectionReference>
        <conditionLogic>formula_evaluates_to_true</conditionLogic>
        <connector>
            <targetReference>Loop_through_seniority_title_maps</targetReference>
        </connector>
        <formula>ISPICKVAL({!currentItem_Get_seniority_maps.Type__c},&quot;Seniority&quot;) &amp;&amp; 
CONTAINS(LOWER({!$Record.Title}),{!currentItem_Get_seniority_maps.Name})</formula>
    </collectionProcessors>
    <decisions>
        <name>Check_domain_map</name>
        <label>Check domain map</label>
        <locationX>1909</locationX>
        <locationY>568</locationY>
        <defaultConnector>
            <targetReference>Domain_map_is</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_acct_blank</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email_Domain_Map__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_domain_map</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Regie.ai Integration User = 005Qo00000FCagcIAD</description>
        <name>Created_By_Regie_ai</name>
        <label>Created By Regie.ai</label>
        <locationX>473</locationX>
        <locationY>557</locationY>
        <defaultConnector>
            <targetReference>Outreach_Curent_Sequence_Name_Is_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Regie</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedById</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>005Qo00000FCagcIAD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>005Qo00000FCagcIAD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Domain_map_is</name>
        <label>Domain map is</label>
        <locationX>2416</locationX>
        <locationY>559</locationY>
        <defaultConnector>
            <targetReference>Set_email_domain_type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not blank</defaultConnectorLabel>
        <rules>
            <name>Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email_Domain_Map__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_email_domain_type</targetReference>
            </connector>
            <label>Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Enriched</name>
        <label>Enriched?</label>
        <locationX>3677</locationX>
        <locationY>1039</locationY>
        <defaultConnector>
            <targetReference>Suppression_Reason</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Enriched</defaultConnectorLabel>
        <rules>
            <name>Manual_Enrichment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Enriched_Company_Name__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enriched_Company_Website__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enriched_Company_Employees__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stamp_Enrichment</targetReference>
            </connector>
            <label>Manual Enrichment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_domain_map</name>
        <label>Found domain map?</label>
        <locationX>2053</locationX>
        <locationY>312</locationY>
        <defaultConnector>
            <targetReference>Clear_domain_type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_found_domain_Map</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_domain_map</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_domain_map</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_account_blank_0</name>
        <label>Is account blank?</label>
        <locationX>2850</locationX>
        <locationY>437</locationY>
        <defaultConnector>
            <targetReference>Title_Map_Method</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Is_Aggregation_Account</name>
            <conditionLogic>1 AND NOT(2)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Is_Aggregation_Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Name</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Orphan Orgs Gmail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_Matched_Account</targetReference>
            </connector>
            <label>Is Aggregation Account?</label>
        </rules>
        <rules>
            <name>Yes_acct_blank_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_domain_map.Matched_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_contact_with_domain_map_account</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_function_key_match</name>
        <label>Is function key match?</label>
        <locationX>3851</locationX>
        <locationY>624</locationY>
        <defaultConnector>
            <targetReference>Look_through_function_title_maps</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_function_match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>title_lowercase</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Look_through_function_title_maps.Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_function_and_department</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_seniority_key_match</name>
        <label>Is seniority key match?</label>
        <locationX>3865</locationX>
        <locationY>190</locationY>
        <defaultConnector>
            <targetReference>Loop_through_seniority_title_maps</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_seniority_match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>title_lowercase</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_through_seniority_title_maps.Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_seniority</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Outreach_Curent_Sequence_Name_Is_Blanked</name>
        <label>Outreach: Curent Sequence Name Is Blanked</label>
        <locationX>1099</locationX>
        <locationY>569</locationY>
        <defaultConnector>
            <targetReference>Outreach_Initial_Sequence_is</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_out_name_chg_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Outreach_Current_Sequence_Name__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Outreach_Current_Sequence_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Outreach_Date_Added_to_Sequence__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_date_added_to_sequence</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Outreach_Curent_Sequence_Name_Is_Changed</name>
        <label>Outreach: Curent Sequence Name Is Changed</label>
        <locationX>828</locationX>
        <locationY>557</locationY>
        <defaultConnector>
            <targetReference>Outreach_Curent_Sequence_Name_Is_Blanked</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_out_name_chg</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Outreach_Current_Sequence_Name__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Outreach_Current_Sequence_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_date_added_to_sequence</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Outreach_Initial_Sequence_is</name>
        <label>Outreach: Initial Sequence is blank</label>
        <locationX>1393</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Set_defaults</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Outreach_Initial_Sequence_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Outreach_Current_Sequence_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_w_initial_sequence</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>SDR_Assigned</name>
        <label>SDR Assigned?</label>
        <locationX>473</locationX>
        <locationY>204</locationY>
        <defaultConnector>
            <targetReference>Assign_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not assigned</defaultConnectorLabel>
        <rules>
            <name>Assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Sales_Development_Representative__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_SDR</targetReference>
            </connector>
            <label>Assigned</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Evaluation</name>
        <label>Status Evaluation</label>
        <locationX>3680</locationX>
        <locationY>1519</locationY>
        <defaultConnector>
            <targetReference>Assign_Demand_Unmarketable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Demand Unmarketable</defaultConnectorLabel>
        <rules>
            <name>Disqualified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Status_Committed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Disqualified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Disqualified</targetReference>
            </connector>
            <label>Disqualified</label>
        </rules>
        <rules>
            <name>Demand_Suppressed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opt_Out_Marketing__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>True</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Suppression_Reason__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Demand_Suppressed</targetReference>
            </connector>
            <label>Demand Suppressed</label>
        </rules>
        <rules>
            <name>Committed_Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Status_Committed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Committed_Customer</targetReference>
            </connector>
            <label>Committed Customer</label>
        </rules>
        <rules>
            <name>Open_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Open_Committed_Opportunities__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Open_Opportunity</targetReference>
            </connector>
            <label>Open Opportunity</label>
        </rules>
        <rules>
            <name>Open_Journey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Current_Open_Journey__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Open_Journey</targetReference>
            </connector>
            <label>Open Journey</label>
        </rules>
        <rules>
            <name>Demand_Marketable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opt_Out_Marketing__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>False</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Demand_Marketable</targetReference>
            </connector>
            <label>Demand Marketable</label>
        </rules>
    </decisions>
    <decisions>
        <name>Suppression_Reason</name>
        <label>Suppression Reason</label>
        <locationX>3679</locationX>
        <locationY>1278</locationY>
        <defaultConnector>
            <targetReference>Status_Evaluation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Bad_Contact_Info</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Outreach_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bad Contact Info</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Hubspot_Hard_bounce_email_reason__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Suppression_Reason_Bounce</targetReference>
            </connector>
            <label>Bad Contact Info</label>
        </rules>
    </decisions>
    <decisions>
        <name>Title_is</name>
        <label>Title is</label>
        <locationX>3390</locationX>
        <locationY>471</locationY>
        <defaultConnector>
            <targetReference>Get_all_contact_title_maps</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Blank</defaultConnectorLabel>
        <rules>
            <name>Blank_title</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Title</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Title</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_title_mapped_fields</targetReference>
            </connector>
            <label>Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Title_Map_Method</name>
        <label>Title Map Method</label>
        <locationX>3177</locationX>
        <locationY>565</locationY>
        <defaultConnector>
            <targetReference>Enriched</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Automatic</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Title_Mapping_Method__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Automatic</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Title_is</targetReference>
            </connector>
            <label>Automatic</label>
        </rules>
        <rules>
            <name>Manual</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Title_Mapping_Method__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Manual</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enriched</targetReference>
            </connector>
            <label>Manual</label>
        </rules>
    </decisions>
    <description>Adding Regie.ai ownership routing nodes.
4/23/25 Adding Hubspot Hard Bounce to Suppression Reason</description>
    <environments>Default</environments>
    <formulas>
        <name>email_domain</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!$Record.Email}, LEFT({!$Record.Email}, FIND(&quot;@&quot;, {!$Record.Email})), NULL)</expression>
    </formulas>
    <formulas>
        <name>NurtureTrashtoSALFormula</name>
        <dataType>Boolean</dataType>
        <expression>AND (
ISCHANGED ( {!$Record.Contact_Status__c} ), 
ISPICKVAL (  {!$Record.Contact_Status__c}  , &quot;SAL&quot;),
OR(PRIORVALUE({!$Record.Contact_Status__c})  = &quot;Nurture&quot;,
PRIORVALUE( {!$Record.Contact_Status__c}) = &quot;Trash&quot;
))</expression>
    </formulas>
    <formulas>
        <name>OwnerName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Owner.FirstName} + &quot; &quot; + {!$Record.Owner.LastName}</expression>
    </formulas>
    <formulas>
        <name>title_lowercase</name>
        <dataType>String</dataType>
        <expression>LOWER({!$Record.Title})</expression>
    </formulas>
    <interviewLabel>Contact - Before Save Automations {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact - Before Save Automations</label>
    <loops>
        <name>Look_through_function_title_maps</name>
        <label>Look through function title maps</label>
        <locationX>4096</locationX>
        <locationY>625</locationY>
        <collectionReference>Function_Maps</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_function_key_match</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Enriched</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_seniority_title_maps</name>
        <label>Loop through seniority title maps</label>
        <locationX>3874</locationX>
        <locationY>405</locationY>
        <collectionReference>Get_seniority_maps</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_seniority_key_match</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Function_Maps</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>481</locationX>
        <locationY>374</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SDR_Assigned</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Sales_Development_Representative__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_all_contact_title_maps</name>
        <label>Get all contact title maps</label>
        <locationX>3603</locationX>
        <locationY>342</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_seniority_maps</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Enriched</targetReference>
        </faultConnector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact_Title_Map__c</object>
        <sortField>Priority__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_domain_map</name>
        <label>Get domain map</label>
        <locationX>1918</locationX>
        <locationY>318</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_domain_map</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Domain_map_is</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>email_domain</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Domain_Map__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>485</locationY>
        <connector>
            <targetReference>Created_By_Regie_ai</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Function_Maps_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact_Title_Map__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Get_seniority_maps</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact_Title_Map__c</objectType>
    </variables>
</Flow>
