unpackaged/main/default/flows/Contract_Update_Lost_Deal_Status_from_RevOps_API.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_deal_from_RevOps_API</name>
        <label>Get deal from RevOps API</label>
        <locationX>968</locationX>
        <locationY>411</locationY>
        <actionName>MakeHTTPCall</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_deal_status</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Endpoint</name>
            <value>
                <elementReference>revops_endpoint</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Headers</name>
            <value>
                <stringValue>[{&quot;key&quot;:&quot;Authorization&quot;,&quot;value&quot;:&quot;{!bearer_header}&quot;,&quot;order&quot;:0},{&quot;key&quot;:&quot;Content-Type&quot;,&quot;value&quot;:&quot;application/json&quot;,&quot;order&quot;:1}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Method</name>
            <value>
                <stringValue>GET</stringValue>
            </value>
        </inputParameters>
        <nameSegment>MakeHTTPCall</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_deal_status</name>
        <label>Get deal status</label>
        <locationX>1168</locationX>
        <locationY>392</locationY>
        <actionName>ExtractJSONValues</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_contract</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputJSONString</name>
            <value>
                <elementReference>Get_deal_from_RevOps_API.Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>keysToExtract</name>
            <value>
                <stringValue>[{&quot;key&quot;:&quot;value1&quot;,&quot;value&quot;:&quot;status&quot;,&quot;order&quot;:0}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ExtractJSONValues</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>bearer_header</name>
        <dataType>String</dataType>
        <expression>&quot;Bearer &quot;&amp;{!Get_RevOps_credential.Bearer_Token__c}</expression>
    </formulas>
    <formulas>
        <name>revops_endpoint</name>
        <dataType>String</dataType>
        <expression>{!Get_RevOps_credential.Base_URL__c}&amp;&quot;/deals/&quot;&amp;{!$Record.Deal_ID__c}</expression>
    </formulas>
    <interviewLabel>Contract - Update Lost Deal Status from RevOps API {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract - Update Lost Deal Status from RevOps API</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_RevOps_credential</name>
        <label>Get RevOps credential</label>
        <locationX>777</locationX>
        <locationY>402</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_deal_from_RevOps_API</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RevOps</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>External_Credential__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_contract</name>
        <label>Update contract</label>
        <locationX>1304</locationX>
        <locationY>403</locationY>
        <inputAssignments>
            <field>Proposal_Status__c</field>
            <value>
                <elementReference>Get_deal_status.value1</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>101</locationX>
        <locationY>301</locationY>
        <connector>
            <targetReference>Wait</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3 AND 4</filterLogic>
        <filters>
            <field>Opportunity_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Churn</stringValue>
            </value>
        </filters>
        <filters>
            <field>Deal_ID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Proposal_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>deleted</stringValue>
            </value>
        </filters>
        <object>Contract</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-09-25</startDate>
            <startTime>06:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <waits>
        <name>Wait</name>
        <label>Wait</label>
        <locationX>530</locationX>
        <locationY>387</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Resume_immediately</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Get_RevOps_credential</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Resume immediately</label>
        </waitEvents>
    </waits>
</Flow>
