unpackaged/main/default/flows/Country_Map_After_Save_Automations.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_Account_Country_Attribution</name>
        <label>Assign Account Country Attribution</label>
        <locationX>2017</locationX>
        <locationY>135</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_Accounts.Country_Definition__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Country_Definition__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_Accounts.Shipping_Territory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Country_Definition__r.Territory__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_Accounts.Shipping_Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Country_Definition__r.Region__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_Accounts.Shipping_Subregion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Country_Definition__r.Subregion__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_Accounts.Shipping_Intermediate_Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Country_Definition__r.Intermediate_Region__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Lead_Country_Attribution</name>
        <label>Assign Lead Country Attribution</label>
        <locationX>1646</locationX>
        <locationY>135</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_Leads.Country_Definition__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Country_Definition__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_Leads.Territory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Country_Definition__r.Territory__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_Leads.Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Country_Definition__r.Region__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_Leads.Subregion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Country_Definition__r.Subregion__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_Leads.Intermediate_Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Country_Definition__r.Intermediate_Region__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Accounts</targetReference>
        </connector>
    </assignments>
    <description>Updates related Company Definition relationships/attribution associated with Leads/Account records when Company Map records are created/updated.</description>
    <environments>Default</environments>
    <interviewLabel>Country Map - After Save Automations {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Country Map - After Save Automations</label>
    <loops>
        <name>Loop_through_Accounts</name>
        <label>Loop through Accounts</label>
        <locationX>1886</locationX>
        <locationY>251</locationY>
        <collectionReference>Get_Accounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Account_Country_Attribution</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_through_Leads</name>
        <label>Loop through Leads</label>
        <locationX>1506</locationX>
        <locationY>264</locationY>
        <collectionReference>Get_Leads</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Lead_Country_Attribution</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Accounts</name>
        <label>Get Accounts</label>
        <locationX>1776</locationX>
        <locationY>135</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Accounts</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>ShippingCountry</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Leads</name>
        <label>Get Leads</label>
        <locationX>1381</locationX>
        <locationY>131</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Leads</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Country__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Lead</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>801</locationX>
        <locationY>48</locationY>
        <object>Country_Map__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Map_Created</name>
            <connector>
                <targetReference>Get_Leads</targetReference>
            </connector>
            <label>Map Created</label>
            <maxBatchSize>20</maxBatchSize>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Map_Updated</name>
            <connector>
                <targetReference>Get_Leads</targetReference>
            </connector>
            <label>Map Updated</label>
            <maxBatchSize>20</maxBatchSize>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>LastModifiedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
