unpackaged/main/default/flows/Customer_Milestone_After_Save_Automations.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Type_is</name>
        <label>Type</label>
        <locationX>765</locationX>
        <locationY>424</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Red_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Red Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_opp</targetReference>
            </connector>
            <label>Red Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_opp</name>
        <label>Update opps?</label>
        <locationX>933</locationX>
        <locationY>584</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>yes_update_opp</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_opp_Red_Account</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>opp_red_account_status</name>
        <dataType>Boolean</dataType>
        <expression>NOT({!$Record.Met_Exit_Criteria__c})</expression>
    </formulas>
    <interviewLabel>Customer Milestone - After Save Automations {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Customer Milestone - After Save Automations</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_opp_Red_Account</name>
        <label>Update opp Red Account</label>
        <locationX>1165</locationX>
        <locationY>1050</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Is_Red_Account__c</field>
            <value>
                <elementReference>opp_red_account_status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Renewal_Risk__c</field>
            <value>
                <stringValue>High risk</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>627</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Type_is</targetReference>
        </connector>
        <object>Customer_Milestone__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
