unpackaged/main/default/flows/Customer_Milestone_Reject_Request_Button.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Add_X_to_message</name>
        <label>Add X to message</label>
        <locationX>756</locationX>
        <locationY>1125</locationY>
        <actionName>Centro__AddReactionFlow</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>channelId</name>
            <value>
                <elementReference>channel_id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emojiName</name>
            <value>
                <stringValue>no_entry_sign</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messageTs</name>
            <value>
                <elementReference>message_ts</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Centro__AddReactionFlow</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Reply_to_thread</name>
        <label>Reply to thread</label>
        <locationX>749</locationX>
        <locationY>959</locationY>
        <actionName>Centro__SendMessageFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Add_X_to_message</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>channelId</name>
            <value>
                <stringValue>{!channel_id}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>InterviewGuid</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>&lt;p&gt;{!reject_message}&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pinMessage</name>
            <value>
                <stringValue>false</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>postReply</name>
            <value>
                <stringValue>true</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>replyMessageTs</name>
            <value>
                <elementReference>message_ts</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>startThread</name>
            <value>
                <stringValue>false</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>updateMessage</name>
            <value>
                <stringValue>false</stringValue>
            </value>
        </inputParameters>
        <nameSegment>Centro__SendMessageFlow</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Update_milestone</name>
        <label>Update milestone</label>
        <locationX>768</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>recordId.Rejection_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>screen_Rejection_Reason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Rejection_Reason_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>screen_rejection_Details</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Triaged_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Triaged_By_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$UserRole.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Triage_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Milestonef</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Milestone_is</name>
        <label>Milestone is</label>
        <locationX>738</locationX>
        <locationY>226</locationY>
        <defaultConnector>
            <targetReference>Reject_Customer_Milestone_Reqiest</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Cannot_Reject</targetReference>
            </connector>
            <label>Rejected</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>choice_rejection_reasons</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Rejection_Reason__c</picklistField>
        <picklistObject>Customer_Milestone__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Customer Milestone - Reject Request Button {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Customer Milestone - Reject Request Button</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Milestonef</name>
        <label>Update Milestone</label>
        <locationX>767</locationX>
        <locationY>821</locationY>
        <connector>
            <targetReference>Reply_to_thread</targetReference>
        </connector>
        <inputReference>recordId</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Error_Cannot_Reject</name>
        <label>Error: Cannot Reject</label>
        <locationX>982</locationX>
        <locationY>228</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>error_reject</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Error&lt;/strong&gt;: You may not reject this request because it has already been rejected.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Reject_Customer_Milestone_Reqiest</name>
        <label>Reject Customer Milestone Reqiest</label>
        <locationX>753</locationX>
        <locationY>475</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_milestone</targetReference>
        </connector>
        <fields>
            <name>warning_rejection</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;&lt;em&gt;WARNING:&lt;/em&gt;&lt;/strong&gt;&lt;em&gt; This Customer Milestone was previously approved by {!recordId.Triaged_By__r.Full_Name__c} on {!recordId.Triage_Date__c}&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>recordId.Approval_Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Approved</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>screen_Rejection_Reason</name>
            <choiceReferences>choice_rejection_reasons</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>recordId.Rejection_Reason__c</elementReference>
            </defaultValue>
            <fieldText>Rejection Reason:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>screen_rejection_Details</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>recordId.Rejection_Reason_Details__c</elementReference>
            </defaultValue>
            <fieldText>Rejection Reason Details</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Must be &amp;lt;= 255 characters&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!screen_rejection_Details})&lt;=255</formulaExpression>
            </validationRule>
        </fields>
        <nextOrFinishButtonLabel>Reject and notify requestor</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>618</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Milestone_is</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>reject_message</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;:no_entry_sign: Customer Milestone Request Rejected &lt;/strong&gt;{!recordId.Requested_By__r.Slack_Mention_Handle_Only__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Rejected By: &lt;/strong&gt;{!$User.Slack_Mention_With_Role_Full_Name__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Reason: &lt;/strong&gt;{!recordId.Rejection_Reason__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Details: &lt;/strong&gt;{!recordId.Rejection_Reason_Details__c}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>channel_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>recordId.Request_MQ__r.Centro__ChannelId__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>message_ts</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>recordId.Request_MQ__r.Centro__Message_TS__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Customer_Milestone__c</objectType>
    </variables>
</Flow>
