unpackaged/main/default/flows/Domain_Map_After_Save_Automations.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Has_matched_account</name>
        <label>Has matched account?</label>
        <locationX>753</locationX>
        <locationY>406</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Matched_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Matched_account_has_domain_map</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Matched_account_has_domain_map</name>
        <label>Matched account has domain map?</label>
        <locationX>935</locationX>
        <locationY>307</locationY>
        <defaultConnector>
            <targetReference>Add_map_to_account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_has_map</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Matched_Account__r.Website_Domain_Map__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_or_Updated</name>
        <label>New or Updated?</label>
        <locationX>514</locationX>
        <locationY>511</locationY>
        <defaultConnectorLabel>Updated</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_matched_account</targetReference>
            </connector>
            <label>New</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Domain Map - After Save Automations {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Domain Map - After Save Automations</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Add_map_to_account</name>
        <label>Add map to account</label>
        <locationX>1164</locationX>
        <locationY>227</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Matched_Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Website_Domain_Map__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>395</locationX>
        <locationY>140</locationY>
        <connector>
            <targetReference>New_or_Updated</targetReference>
        </connector>
        <object>Domain_Map__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
