unpackaged/main/default/flows/Enablement_Milestone_Before_Save_Automations.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Set_defaults</name>
        <label>Set defaults</label>
        <locationX>696</locationX>
        <locationY>452</locationY>
        <assignmentItems>
            <assignToReference>$Record.Trigger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>standard_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0055A00000ApunnQAB</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Record_is</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_manager</name>
        <label>Set manager</label>
        <locationX>941</locationX>
        <locationY>1425</locationY>
        <assignmentItems>
            <assignToReference>$Record.Assignee_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Assignee__r.ManagerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Assignee_Manager_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Assignee__r.Manager.UserRole.Name</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_new_record_defaults</name>
        <label>Set new record defaults</label>
        <locationX>938</locationX>
        <locationY>752</locationY>
        <assignmentItems>
            <assignToReference>$Record.Submitted_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Submitted_By_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$UserRole.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Record_is_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Assignee_Attribution</name>
        <label>Update Assignee Attribution</label>
        <locationX>954</locationX>
        <locationY>1124</locationY>
        <assignmentItems>
            <assignToReference>$Record.Assignee_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Assignee__r.UserRole.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Assignee_Department__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Assignee__r.Department__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Assignee_Team__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Assignee__r.Team__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Assignee_Subteam__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Assignee__r.Subteam__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Assignee_Level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Assignee__r.Level__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Assignee_Territory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Assignee__r.Territory__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Assignee_Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Assignee__r.Region__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Assignee_Subregion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Assignee__r.Subregion__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Assignee_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Assignee__r.ManagerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Assignee_Manager_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Assignee__r.Manager.UserRole.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Record_is_0_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Record_is</name>
        <label>Record is</label>
        <locationX>687</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>Record_is_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Updated</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_new_record_defaults</targetReference>
            </connector>
            <label>New</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_is_0</name>
        <label>Record is</label>
        <locationX>689</locationX>
        <locationY>963</locationY>
        <defaultConnector>
            <targetReference>Record_is_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Updated</defaultConnectorLabel>
        <rules>
            <name>New_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Assignee_Attribution</targetReference>
            </connector>
            <label>New</label>
        </rules>
        <rules>
            <name>Assignee_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Assignee__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Assignee_Attribution</targetReference>
            </connector>
            <label>Assignee Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_is_0_0</name>
        <label>Record is</label>
        <locationX>698</locationX>
        <locationY>1296</locationY>
        <defaultConnectorLabel>Updated</defaultConnectorLabel>
        <rules>
            <name>New_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_manager</targetReference>
            </connector>
            <label>New</label>
        </rules>
        <rules>
            <name>Assignee_Changed_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Assignee_Manager__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_manager</targetReference>
            </connector>
            <label>Manager Changed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>standard_Name</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.Type__c})&amp;&quot; - &quot;&amp;{!$Record.Assignee__r.FirstName}&amp;&quot; &quot;&amp;{!$Record.Assignee__r.LastName}&amp;&quot; - &quot;&amp;TEXT(MONTH({!$Record.Earn_Date__c}))&amp;&quot;/&quot;&amp;TEXT(YEAR({!$Record.Earn_Date__c}))</expression>
    </formulas>
    <interviewLabel>Enablement Milestone - Before Save Automations {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Enablement Milestone - Before Save Automations</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>570</locationX>
        <locationY>143</locationY>
        <connector>
            <targetReference>Set_defaults</targetReference>
        </connector>
        <object>Enablement_Milestone__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
