unpackaged/main/default/flows/Event_Chili_Piper_Automations.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Convert_lead_to_contact</name>
        <label>Convert lead to contact</label>
        <locationX>3015</locationX>
        <locationY>848</locationY>
        <actionName>AutoConvertsLeads</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Journey</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>meeting_account.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>leadid</name>
            <value>
                <elementReference>recordId.WhoId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AutoConvertsLeads</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>converted_contactid</assignToReference>
            <name>contactId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Notify_Journey_Owner</name>
        <label>Notify Journey Owner</label>
        <locationX>3531</locationX>
        <locationY>772</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_event</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_contact.Current_Open_Journey__r.Owner:User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>New Meeting Booked at Closed/Meeting Booked Journey</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>There was a new meeting booked at {!Get_contact.Account.Name} with {!Get_contact.Email} which already had a Meeting Booked or Closed Journey. Please have a review of the data and either update the current Journey as relevant or flag for RevOps if this is a systems issue.</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Post_to_slack_contact</name>
        <label>Post to slack (contact)</label>
        <locationX>3238</locationX>
        <locationY>1098</locationY>
        <actionName>Centro__NotifyFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_interview_ID</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>channelId</name>
            <value>
                <stringValue>{!slack_channel}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>InterviewGuid</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>{!Slack_post_account}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pinMessage</name>
            <value>
                <stringValue>false</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>event_whoid</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>showCompactLayout</name>
            <value>
                <stringValue>true</stringValue>
            </value>
        </inputParameters>
        <nameSegment>Centro__NotifyFlow</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Post_to_slack_lead</name>
        <label>Post to slack (lead)</label>
        <locationX>2655</locationX>
        <locationY>1075</locationY>
        <actionName>Centro__NotifyFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_interview_ID</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>channelId</name>
            <value>
                <stringValue>{!slack_channel}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>InterviewGuid</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>{!Slack_post_lead}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pinMessage</name>
            <value>
                <stringValue>false</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>event_whoid</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>showCompactLayout</name>
            <value>
                <stringValue>true</stringValue>
            </value>
        </inputParameters>
        <nameSegment>Centro__NotifyFlow</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_Account_SDR</name>
        <label>Assign Account SDR</label>
        <locationX>2299</locationX>
        <locationY>710</locationY>
        <assignmentItems>
            <assignToReference>Get_account.Sales_Development_Representative__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>deal_owner</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_has_segment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact_Open_Journey</name>
        <label>Assign Contact Open Journey</label>
        <locationX>4264</locationX>
        <locationY>501</locationY>
        <assignmentItems>
            <assignToReference>Get_contact.Current_Open_Journey__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Journey_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Event_Journey</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact_Owner</name>
        <label>Assign Contact Owner</label>
        <locationX>4359</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>Get_contact.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Account.Sales_Development_Representative__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_existing_contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Event_Journey</name>
        <label>Assign Event Journey</label>
        <locationX>4089</locationX>
        <locationY>636</locationY>
        <assignmentItems>
            <assignToReference>recordId.Journey__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>journeyId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_event</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Journey_ID</name>
        <label>Assign Journey ID</label>
        <locationX>4264</locationX>
        <locationY>352</locationY>
        <assignmentItems>
            <assignToReference>journeyId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Journey_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Contact_Open_Journey</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Journey_ID_0</name>
        <label>Assign Journey ID</label>
        <locationX>4089</locationX>
        <locationY>495</locationY>
        <assignmentItems>
            <assignToReference>journeyId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_contact.Current_Open_Journey__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Event_Journey</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_account_owner_to_assignee</name>
        <label>Change account owner to assignee</label>
        <locationX>2302</locationX>
        <locationY>241</locationY>
        <assignmentItems>
            <assignToReference>Get_account.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_has_segment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_account_segment_to_contact_implied_segment</name>
        <label>Set account segment to contact implied segment</label>
        <locationX>2835</locationX>
        <locationY>195</locationY>
        <assignmentItems>
            <assignToReference>Get_account.Segment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_contact.Contact_Implied_Segment__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_has_shipping_country</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_account_segment_to_GRW</name>
        <label>Set account segment to GRW</label>
        <locationX>2739</locationX>
        <locationY>334</locationY>
        <assignmentItems>
            <assignToReference>Get_account.Segment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>GRW</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_has_shipping_country</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_account_to_account_var</name>
        <label>Set account to account var</label>
        <locationX>3903</locationX>
        <locationY>1098</locationY>
        <assignmentItems>
            <assignToReference>meeting_account</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_account</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_to_slack_contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_additional_context_from_contact</name>
        <label>Set additional context from contact</label>
        <locationX>2144</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>want_to_cover_on_call</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_contact.Notes__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_in_pool</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_additional_context_from_lead</name>
        <label>Set additional context from lead</label>
        <locationX>1846</locationX>
        <locationY>952</locationY>
        <assignmentItems>
            <assignToReference>want_to_cover_on_call</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_lead.Notes__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_lead_commit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_converted_contact</name>
        <label>Set converted contact</label>
        <locationX>3396</locationX>
        <locationY>698</locationY>
        <assignmentItems>
            <assignToReference>recordId.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>converted_contactid</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_event_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Inbound_Slack_Channel</name>
        <label>Set Inbound Slack Channel</label>
        <locationX>1505</locationX>
        <locationY>481</locationY>
        <assignmentItems>
            <assignToReference>slack_channel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>C01QX5RQ5UL</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Related_to_contact_or_lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_interview_ID</name>
        <label>Set interview ID</label>
        <locationX>3238</locationX>
        <locationY>1275</locationY>
        <assignmentItems>
            <assignToReference>recordId.Automation_Interview_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_event_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Outbound_Slack_Channel</name>
        <label>Set Outbound Slack Channel</label>
        <locationX>1506</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>slack_channel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>C01V6QR1KJ4</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Related_to_contact_or_lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_recordId_equal_to_found_event</name>
        <label>Set recordId equal to found event</label>
        <locationX>719</locationX>
        <locationY>440</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_event_from_eventid</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Related_to_contact_or_lead_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_to_contact_variable</name>
        <label>Set to contact variable</label>
        <locationX>1979</locationX>
        <locationY>567</locationY>
        <assignmentItems>
            <assignToReference>Get_contact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_contact_from_converted_lead</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_contact_from_converted_lead.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_contact_from_converted_lead.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_contact_from_converted_lead.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_up_new_account</name>
        <label>Set up new account</label>
        <locationX>2894</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>meeting_account.Integration_Stamp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_Int_Stamp</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>meeting_account.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_lead.Company</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>meeting_account.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>meeting_account.Segment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_lead.Lead_Implied_Segment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>meeting_account.Account_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Prospect</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>meeting_account.ShippingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_lead.Country__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_up_new_account_SDR</name>
        <label>Set up new account (SDR)</label>
        <locationX>2656</locationX>
        <locationY>848</locationY>
        <assignmentItems>
            <assignToReference>meeting_account.Integration_Stamp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_Int_Stamp</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>meeting_account.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_lead.Company</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>meeting_account.Sales_Development_Representative__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>meeting_account.Segment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_lead.Lead_Implied_Segment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>meeting_account.Account_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Prospect</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>meeting_account.ShippingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_lead.Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>meeting_account.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0055A00000BExg9QAD</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_account_name</name>
        <label>Update account name</label>
        <locationX>3206</locationX>
        <locationY>358</locationY>
        <assignmentItems>
            <assignToReference>Get_account.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_contact.Company__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_shipping_country</name>
        <label>Update shipping country</label>
        <locationX>3021</locationX>
        <locationY>359</locationY>
        <assignmentItems>
            <assignToReference>Get_account.ShippingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_contact.Country__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_name_is_Unknown</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_has_segment</name>
        <label>Account has segment?</label>
        <locationX>2600</locationX>
        <locationY>510</locationY>
        <defaultConnector>
            <targetReference>Contact_implied_segment_is</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_account.Segment__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_has_shipping_country</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Account_has_shipping_country</name>
        <label>Account has shipping country?</label>
        <locationX>2817</locationX>
        <locationY>514</locationY>
        <defaultConnector>
            <targetReference>Update_shipping_country</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_account.ShippingCountry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_name_is_Unknown</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Account Pool ID = 0055A00000BExg9QAD</description>
        <name>Account_in_pool</name>
        <label>Account in pool?</label>
        <locationX>2293</locationX>
        <locationY>505</locationY>
        <defaultConnector>
            <targetReference>Account_has_segment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_in_pool</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Account.Sales_Development_Representative__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Owner_Role__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>SDR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Account_SDR</targetReference>
            </connector>
            <label>Yes (SDR)</label>
        </rules>
        <rules>
            <name>Yes_in_pool_not_sdr</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Account.Owner.User_ID_case_safe__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0055A00000BExg9QAD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_account_owner_to_assignee</targetReference>
            </connector>
            <label>Yes (Non-SDR)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Account_name_is_Unknown</name>
        <label>Account name is Unknown?</label>
        <locationX>2991</locationX>
        <locationY>522</locationY>
        <defaultConnector>
            <targetReference>Update_account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_account.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Unknown</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_contact.Company__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_account_name</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Account_SDR</name>
        <label>Account SDR?</label>
        <locationX>4350</locationX>
        <locationY>936</locationY>
        <defaultConnector>
            <targetReference>Update_existing_contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_SDR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Account.Sales_Development_Representative__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contact_Owner</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Already_converted_to_contact</name>
        <label>Already converted to contact?</label>
        <locationX>1840</locationX>
        <locationY>760</locationY>
        <defaultConnector>
            <targetReference>Set_additional_context_from_lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_converted</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_lead.IsConverted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_lead.ConvertedContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_contact_from_converted_lead</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Can_lead_be_auto_converted</name>
        <label>Can lead be auto-converted?</label>
        <locationX>2384</locationX>
        <locationY>954</locationY>
        <defaultConnector>
            <targetReference>Post_to_slack_lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_autoconvert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_lead.Lead_Implied_Segment__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_lead.Email_Domain_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Public</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Chili_Piper_Meeting_Type</name>
        <label>Chili Piper Meeting Type</label>
        <locationX>1244</locationX>
        <locationY>625</locationY>
        <defaultConnector>
            <targetReference>Set_Outbound_Slack_Channel</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Any other</defaultConnectorLabel>
        <rules>
            <name>Concierge_Live_Events</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Router_Name_CP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Business Cards</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Inbound_Slack_Channel</targetReference>
            </connector>
            <label>Concierge: Live Events</label>
        </rules>
        <rules>
            <name>Concierge_Retool_Workflows</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Router_Name_CP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Retool Workflows</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Inbound_Slack_Channel</targetReference>
            </connector>
            <label>Concierge: Retool Workflows</label>
        </rules>
        <rules>
            <name>Book_a_Demo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Router_Name_CP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Book a Demo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Inbound_Slack_Channel</targetReference>
            </connector>
            <label>Concierge: Book a Demo</label>
        </rules>
        <rules>
            <name>Concierge_Marketing_Campaign_No_Existing_Attrib</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Router_Name_CP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Marketing campaigns</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Inbound_Slack_Channel</targetReference>
            </connector>
            <label>Concierge: Marketing Campaign</label>
        </rules>
        <rules>
            <name>Any_other_router_Outbound_SDR_Booker</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Booked_By__r.Subteam__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BDR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Outbound_Slack_Channel</targetReference>
            </connector>
            <label>Any other router: Outbound SDR Booker</label>
        </rules>
        <rules>
            <name>Any_other_router_AE_Booker</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Booked_By__r.Team__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Account Executives</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Outbound_Slack_Channel</targetReference>
            </connector>
            <label>Any other router: AE Booker</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_implied_segment_is</name>
        <label>Contact implied segment is</label>
        <locationX>2590</locationX>
        <locationY>273</locationY>
        <defaultConnector>
            <targetReference>Set_account_segment_to_contact_implied_segment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Blank</defaultConnectorLabel>
        <rules>
            <name>Blank</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_contact.Contact_Implied_Segment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_account_segment_to_GRW</targetReference>
            </connector>
            <label>Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_assignee_an_AE</name>
        <label>Is assignee an AE?</label>
        <locationX>4610</locationX>
        <locationY>781</locationY>
        <defaultConnector>
            <targetReference>Account_SDR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_is_AE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Owner:User.Team__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Account Executives</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Assignee_as_Account_Owner</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_assignee_the_account_owner</name>
        <label>Is assignee the account owner?</label>
        <locationX>4098</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Is_assignee_an_AE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Skip</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_account.Account_Status_Committed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active Customer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Meeting_Type_CP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>My meeting</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_existing_contact</targetReference>
            </connector>
            <label>Skip</label>
        </rules>
        <rules>
            <name>Yes_account_owner</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Owner:User.User_ID_case_safe__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_account.Owner.User_ID_case_safe__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_SDR</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Open_Journey_Exists_Contact</name>
        <label>Open Journey Exists (Contact)?</label>
        <locationX>3537</locationX>
        <locationY>355</locationY>
        <defaultConnector>
            <targetReference>Create_Journey_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Open Journey</defaultConnectorLabel>
        <rules>
            <name>Open_Journey_Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_contact.Current_Open_Journey__r.Is_Closed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_contact.Current_Open_Journey__r.Is_Resting__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_contact.Current_Open_Journey__r.Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Converted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reopen_Journey</targetReference>
            </connector>
            <label>Open Journey (Closed)</label>
        </rules>
        <rules>
            <name>Open_Journey_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_contact.Current_Open_Journey__r.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Meeting Booked</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_Journey_Owner</targetReference>
            </connector>
            <label>Open Journey (Meeting Booked)</label>
        </rules>
        <rules>
            <name>Open_Journey_Not_Meeting_Booked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_contact.Current_Open_Journey__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Journey_0</targetReference>
            </connector>
            <label>Open Journey (Not Meeting Booked)</label>
        </rules>
        <rules>
            <name>No_Open_Journey_Open_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Account.Num_Open_Opportunities__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_event</targetReference>
            </connector>
            <label>No Open Journey (Open Opportunity)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Provided_EventId</name>
        <label>Provided EventId?</label>
        <locationX>544</locationX>
        <locationY>633</locationY>
        <defaultConnector>
            <targetReference>Related_to_contact_or_lead_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_eventid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EventId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_event_from_eventid</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Related_to_contact_or_lead</name>
        <label>Related to contact or lead?</label>
        <locationX>1645</locationX>
        <locationY>625</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.WhoId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_account</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
        <rules>
            <name>Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.WhoId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Already_converted_to_contact</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>Related_to_contact_or_lead_0</name>
        <label>Related to contact or lead?</label>
        <locationX>896</locationX>
        <locationY>631</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.WhoId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_contact</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
        <rules>
            <name>Lead_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.WhoId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_lead</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_is_SDR</name>
        <label>User is SDR?</label>
        <locationX>2707</locationX>
        <locationY>696</locationY>
        <defaultConnector>
            <targetReference>Set_up_new_account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not SDR</defaultConnectorLabel>
        <rules>
            <name>SDR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User.UserRole.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>SDR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_up_new_account_SDR</targetReference>
            </connector>
            <label>SDR</label>
        </rules>
    </decisions>
    <description>Removing `deal_owner` reference when assigning a new owner to the lead record. This is already being set by Chili Piper.</description>
    <environments>Default</environments>
    <formulas>
        <name>Account_Int_Stamp</name>
        <dataType>String</dataType>
        <expression>&quot;CP Book a Demo - Int: &quot;&amp;{!$Flow.InterviewGuid}&amp;&quot;) Who:&quot;&amp;{!recordId.WhoId}&amp;&quot; What: &quot;&amp;{!recordId.WhatId}</expression>
    </formulas>
    <formulas>
        <name>AE_assign_stamp</name>
        <dataType>String</dataType>
        <expression>&quot;CP - &quot;&amp;{!recordId.Router_Name_CP__c}&amp;&quot; (&quot;&amp;{!recordId.Owner:User.FirstName}&amp;&quot; &quot;&amp;{!recordId.Owner:User.LastName}&amp;&quot;)&quot;</expression>
    </formulas>
    <formulas>
        <name>Close_date</name>
        <dataType>Date</dataType>
        <expression>TODAY()+30</expression>
    </formulas>
    <formulas>
        <name>deal_owner</name>
        <dataType>String</dataType>
        <expression>IF(
 {!recordId.Booked_By__r.Is_integration_user__c},
 {!recordId.Owner:User.Id},
 {!recordId.Booked_By__c}
)</expression>
    </formulas>
    <formulas>
        <name>Email_domain</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!Get_lead.Email}, LEFT({!Get_lead.Email}, FIND(&quot;@&quot;, {!Get_lead.Email})), NULL)</expression>
    </formulas>
    <formulas>
        <name>location_name</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!meeting_account.ShippingCountry}),&quot;Unknown&quot;,{!meeting_account.ShippingCountry})</expression>
    </formulas>
    <formulas>
        <name>Opp_Name</name>
        <dataType>String</dataType>
        <expression>IF(
 {!recordId.Account.Name}=&quot;&quot;,
 {!Get_lead.Company} &amp; &quot; - Qualifying &quot; &amp; TEXT(MONTH({!Close_date})) &amp; &quot;/&quot; &amp; TEXT(YEAR({!Close_date})),
 {!recordId.Account.Name} &amp; &quot; - Qualifying &quot; &amp; TEXT(MONTH({!Close_date})) &amp; &quot;/&quot; &amp; TEXT(YEAR({!Close_date}))
)</expression>
    </formulas>
    <formulas>
        <name>router_name</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!recordId.Router_Name_CP__c}),NULL,&quot;*Router:* &quot;&amp;{!recordId.Router_Name_CP__c})&amp;BR()</expression>
    </formulas>
    <formulas>
        <name>Sales_Qualified_By</name>
        <dataType>String</dataType>
        <expression>IF({!recordId.Owner:User.Can_Qualify_Opportunities__c}=TRUE,{!recordId.OwnerId},&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>Sales_Qualified_By_Role</name>
        <dataType>String</dataType>
        <expression>IF({!recordId.Owner:User.Can_Qualify_Opportunities__c}=TRUE,{!recordId.Owner:User.UserRole.Name},&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>slack_sourced_by</name>
        <dataType>String</dataType>
        <expression>IF(
 ISBLANK({!recordId.Booked_By__r.Slack_ID__c}),
 {!recordId.Booked_By__r.FirstName}&amp;&quot; &quot;&amp;{!recordId.Booked_By__r.LastName},
 &quot;&lt;@&quot;&amp;{!recordId.Booked_By__r.Slack_ID__c}&amp;&quot;&gt;&quot;
)</expression>
    </formulas>
    <formulas>
        <name>want_to_cover</name>
        <dataType>String</dataType>
        <expression>IF(
 {!recordId.Router_Name_CP__c} = &quot;Book a demo&quot;,
 &quot;*Wants to Cover:* &quot;&amp;{!want_to_cover_on_call},
 NULL
)</expression>
    </formulas>
    <interviewLabel>Event - Chili Piper - Book a Demo Automations {!$Flow.CurrentDateTime} || WhoId: {!recordId.WhoId}
CP Queue: {!recordId.Queue_Name_CP__c} ||
CP Router: {!recordId.Router_Name_CP__c} ||
CP Booked By: {!recordId.Booked_By__r.FirstName} {!recordId.Booked_By__r.LastName} ||
CP Assigned to: {!recordId.Owner:User.FirstName} {!recordId.Owner:User.LastName} ||
CP Meeting Type: CP {!recordId.Meeting_Type_CP__c} ||
CP Next Assignee: {!recordId.Designated_Assignee_CP__c}</interviewLabel>
    <label>Event - Chili Piper Automations</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_account</name>
        <label>Create account</label>
        <locationX>2833</locationX>
        <locationY>848</locationY>
        <connector>
            <targetReference>Convert_lead_to_contact</targetReference>
        </connector>
        <inputReference>meeting_account</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Journey</name>
        <label>Create Journey (Lead)</label>
        <locationX>3199</locationX>
        <locationY>848</locationY>
        <connector>
            <targetReference>Set_converted_contact</targetReference>
        </connector>
        <inputAssignments>
            <field>CP_Router__c</field>
            <value>
                <elementReference>router_name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>converted_contactid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Create_Method__c</field>
            <value>
                <stringValue>CP Meeting Booked</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting_Booked_At__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting_Booked_With__c</field>
            <value>
                <elementReference>recordId.Owner:User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting_Date__c</field>
            <value>
                <elementReference>recordId.ActivityDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting_Source__c</field>
            <value>
                <stringValue>Chili Piper Flow - New Journey from Lead</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Journey from CP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ops_Notes__c</field>
            <value>
                <elementReference>AE_assign_stamp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Meeting Booked</stringValue>
            </value>
        </inputAssignments>
        <object>Journey__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Journey_0</name>
        <label>Create Journey</label>
        <locationX>4264</locationX>
        <locationY>168</locationY>
        <connector>
            <targetReference>Assign_Journey_ID</targetReference>
        </connector>
        <inputAssignments>
            <field>CP_Router__c</field>
            <value>
                <elementReference>router_name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>recordId.WhoId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Create_Method__c</field>
            <value>
                <stringValue>CP Meeting Booked</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting_Booked_At__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting_Booked_With__c</field>
            <value>
                <elementReference>recordId.Owner:User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting_Date__c</field>
            <value>
                <elementReference>recordId.ActivityDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting_Source__c</field>
            <value>
                <stringValue>Chili Piper Flow - New Journey from Contact</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Journey from CP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ops_Notes__c</field>
            <value>
                <elementReference>AE_assign_stamp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Meeting Booked</stringValue>
            </value>
        </inputAssignments>
        <object>Journey__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_account</name>
        <label>Get account</label>
        <locationX>1839</locationX>
        <locationY>511</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_additional_context_from_contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_contact</name>
        <label>Get contact</label>
        <locationX>1087</locationX>
        <locationY>547</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Chili_Piper_Meeting_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.WhoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_contact_from_converted_lead</name>
        <label>Get contact from converted lead</label>
        <locationX>1979</locationX>
        <locationY>756</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_to_contact_variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_lead.ConvertedContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_event_from_eventid</name>
        <label>Get event from eventid</label>
        <locationX>553</locationX>
        <locationY>440</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_recordId_equal_to_found_event</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EventId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_lead</name>
        <label>Get lead</label>
        <locationX>1088</locationX>
        <locationY>698</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Chili_Piper_Meeting_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.WhoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>2553</locationX>
        <locationY>694</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_is_SDR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Add_Assignee_as_Account_Owner</name>
        <label>Add Assignee as Account Owner</label>
        <locationX>4618</locationX>
        <locationY>1102</locationY>
        <connector>
            <targetReference>Account_SDR</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Account_SDR</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>recordId.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Reopen_Journey</name>
        <label>Reopen Journey</label>
        <locationX>4089</locationX>
        <locationY>352</locationY>
        <connector>
            <targetReference>Assign_Journey_ID_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_contact.Current_Open_Journey__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CP_Router__c</field>
            <value>
                <elementReference>router_name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Closed_At__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Ended_Reason_Details__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Ended_Reason__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Closed__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Resting__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Journey_Which_Triggered_End__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting_Booked_At__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting_Booked_With__c</field>
            <value>
                <elementReference>recordId.Owner:User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting_Date__c</field>
            <value>
                <elementReference>recordId.ActivityDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting_Source__c</field>
            <value>
                <stringValue>Chili Piper Flow - Updated Journey from Contact</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ops_Notes__c</field>
            <value>
                <elementReference>AE_assign_stamp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Re_engage_Post_Rest__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rejected_Reason__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Rest_For_Days__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Rest_Until__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Resting_At__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Meeting Booked</stringValue>
            </value>
        </inputAssignments>
        <object>Journey__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_account</name>
        <label>Update account</label>
        <locationX>3206</locationX>
        <locationY>524</locationY>
        <connector>
            <targetReference>Open_Journey_Exists_Contact</targetReference>
        </connector>
        <inputReference>Get_account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_event</name>
        <label>Update event</label>
        <locationX>3710</locationX>
        <locationY>772</locationY>
        <connector>
            <targetReference>Is_assignee_the_account_owner</targetReference>
        </connector>
        <inputReference>recordId</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_event_0_0_0</name>
        <label>Update event</label>
        <locationX>3238</locationX>
        <locationY>1427</locationY>
        <inputReference>recordId</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_event_0_0_0_0</name>
        <label>Update event</label>
        <locationX>3398</locationX>
        <locationY>848</locationY>
        <connector>
            <targetReference>Post_to_slack_contact</targetReference>
        </connector>
        <inputReference>recordId</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_existing_contact</name>
        <label>Update existing contact</label>
        <locationX>4104</locationX>
        <locationY>1098</locationY>
        <connector>
            <targetReference>Set_account_to_account_var</targetReference>
        </connector>
        <inputReference>Get_contact</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Journey_0</name>
        <label>Update Journey</label>
        <locationX>3915</locationX>
        <locationY>495</locationY>
        <connector>
            <targetReference>Assign_Journey_ID_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_contact.Current_Open_Journey__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CP_Router__c</field>
            <value>
                <elementReference>router_name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting_Booked_At__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting_Booked_With__c</field>
            <value>
                <elementReference>recordId.Owner:User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting_Date__c</field>
            <value>
                <elementReference>recordId.ActivityDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting_Source__c</field>
            <value>
                <stringValue>Chili Piper Flow - Updated Journey from Contact</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ops_Notes__c</field>
            <value>
                <elementReference>AE_assign_stamp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Meeting Booked</stringValue>
            </value>
        </inputAssignments>
        <object>Journey__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_lead_commit</name>
        <label>Update lead</label>
        <locationX>2199</locationX>
        <locationY>952</locationY>
        <connector>
            <targetReference>Can_lead_be_auto_converted</targetReference>
        </connector>
        <inputReference>Get_lead</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>51</locationX>
        <locationY>615</locationY>
        <connector>
            <targetReference>Provided_EventId</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>Slack_post_account</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>:rotating_light:*New meeting booked on &lt;@{!recordId.Owner:User.Slack_ID__c}&gt;&#39;s calendar!*:rotating_light:
*Account:* &lt;https://retool.lightning.force.com/lightning/r/Account/{!meeting_account.Id}/view|{!meeting_account.Name}&gt;
*Owner:* &lt;@{!meeting_account.Owner.Slack_ID__c}&gt;
*Status:* {!meeting_account.Account_Status__c}
*Location:* {!location_name}
*Event:* &lt;https://retool.lightning.force.com/lightning/r/Event/{!recordId.Id}/view|{!recordId.StartDateTime}&gt;
*Sourced By:* {!slack_sourced_by}
*Queue:* {!recordId.Queue_Name_CP__c}
{!router_name}
{!want_to_cover}</text>
    </textTemplates>
    <textTemplates>
        <name>Slack_post_lead</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>:rotating_light:*New meeting booked on &lt;@{!recordId.Owner:User.Slack_ID__c}&gt;&#39;s calendar!*:rotating_light:
*Event:* &lt;https://retool.lightning.force.com/lightning/r/Event/{!recordId.Id}/view|{!recordId.StartDateTime}&gt;
*Sourced By:* {!slack_sourced_by}
*Queue:* {!recordId.Queue_Name_CP__c}
{!router_name}
{!want_to_cover}</text>
    </textTemplates>
    <variables>
        <name>converted_contactid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Current_datetime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
    <variables>
        <name>event_whoid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>recordId.WhoId</elementReference>
        </value>
    </variables>
    <variables>
        <name>EventId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>journeyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>meeting_account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Opp_First_Campaign</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Opp_LeadSource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Opp_Most_Recent_Campaign</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>preferred_retool_deploy</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>reason_for_meeting</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>None provided</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>slack_channel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>want_to_cover_on_call</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
