unpackaged/main/default/flows/Flow_Update_User_Role_and_Manager.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Get_goal_cnt</name>
        <label>Get goal cnt</label>
        <locationX>1573</locationX>
        <locationY>269</locationY>
        <assignmentItems>
            <assignToReference>goal_cnt</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_goals</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Confirm</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Clear_goal_amounts_c</name>
        <label>Clear goal amounts?</label>
        <locationX>2272</locationX>
        <locationY>167</locationY>
        <defaultConnector>
            <targetReference>Update_goals_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Clear_goal_amounts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_goals</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_goals_to_update</name>
        <label>Has goals to update?</label>
        <locationX>2089</locationX>
        <locationY>297</locationY>
        <defaultConnector>
            <targetReference>Success</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_goals</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>goal_cnt</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_goal_amounts_c</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Fixed manager attribution bug</description>
    <dynamicChoiceSets>
        <name>manager_choice</name>
        <collectionReference>Get_all_active_managers</collectionReference>
        <dataType>String</dataType>
        <displayField>Full_Name_with_Role__c</displayField>
        <object>User</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>role_choice</name>
        <collectionReference>Get_active_roles</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>ROE_Rule__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>default_clear_goals</name>
        <dataType>Boolean</dataType>
        <expression>IF({!select_user_table.firstSelectedRow.UserRoleId}={!screen_new_role},FALSE,TRUE)</expression>
    </formulas>
    <formulas>
        <name>default_effective_date</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!$Flow.CurrentDate}),MONTH({!$Flow.CurrentDate}),1)</expression>
    </formulas>
    <interviewLabel>Flow - Update User Role and Manager {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow - Update User Role and Manager</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Update_user_event</name>
        <label>Create Update user event</label>
        <locationX>1953</locationX>
        <locationY>307</locationY>
        <connector>
            <targetReference>Has_goals_to_update</targetReference>
        </connector>
        <inputAssignments>
            <field>Employee_Id_Payroll__c</field>
            <value>
                <elementReference>select_user_table.firstSelectedRow.Employee_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ManagerId__c</field>
            <value>
                <elementReference>screen_new_Manager</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Slack_User_ID__c</field>
            <value>
                <elementReference>select_user_table.firstSelectedRow.Slack_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TimeZoneSID__c</field>
            <value>
                <elementReference>select_user_table.firstSelectedRow.TimeZoneSidKey</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserId__c</field>
            <value>
                <elementReference>select_user_table.firstSelectedRow.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserRoleId__c</field>
            <value>
                <elementReference>Get_selected_role.User_Role_ID__c</elementReference>
            </value>
        </inputAssignments>
        <object>Update_User__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_active_roles</name>
        <label>Get active roles</label>
        <locationX>1002</locationX>
        <locationY>269</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>User_Role_ID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ROE_Rule__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_all_active_managers</name>
        <label>Get all active managers</label>
        <locationX>824</locationX>
        <locationY>266</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_active_roles</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>UserRoleId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Is_integration_user__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Is_Vendor_User__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Is_Account_Pool__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Level__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>IC</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <sortField>FirstName</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_all_active_users</name>
        <label>Get all active users</label>
        <locationX>656</locationX>
        <locationY>268</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_all_active_managers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>UserRoleId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Is_integration_user__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Is_Vendor_User__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Is_Account_Pool__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <sortField>LastName</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_goals</name>
        <label>Get goals</label>
        <locationX>1450</locationX>
        <locationY>277</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_goal_cnt</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Assignee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>select_user_table.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Individual</stringValue>
            </value>
        </filters>
        <filters>
            <field>Period_Start__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Change_Effective_Date</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Goal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_manager</name>
        <label>Get manager</label>
        <locationX>1847</locationX>
        <locationY>303</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Update_user_event</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>screen_new_Manager</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_selected_role</name>
        <label>Get selected role</label>
        <locationX>1297</locationX>
        <locationY>275</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_goals</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>screen_new_role</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ROE_Rule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_goals</name>
        <label>Update: clear goal amounts</label>
        <locationX>2481</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Update_goals_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Individual</stringValue>
            </value>
        </filters>
        <filters>
            <field>Assignee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>select_user_table.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Period_Start__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Change_Effective_Date</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Net_Expansion_Goal__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>New_Annualized_Revenue_Goal__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Non_Rec_Rev_Goal__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Qualified_Pipeline_AR_Goal__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Renewal_Rate_Goal__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>SQL_Goal__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>SQO_Goal__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Services_Attach_Rate_New_Goal__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Services_Contribution_Margin_Goal__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Annualized_Revenue_Goal__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Committed_Customers_Goal__c</field>
        </inputAssignments>
        <object>Goal__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_goals_0</name>
        <label>Update goals</label>
        <locationX>2618</locationX>
        <locationY>182</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Individual</stringValue>
            </value>
        </filters>
        <filters>
            <field>Assignee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>select_user_table.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Period_Start__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Change_Effective_Date</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Assignee_Role__c</field>
            <value>
                <elementReference>Get_selected_role.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manager_Department__c</field>
            <value>
                <elementReference>Get_manager.Department__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manager_Level__c</field>
            <value>
                <elementReference>Get_manager.Level__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manager_Region__c</field>
            <value>
                <elementReference>Get_manager.Region__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manager_Role__c</field>
            <value>
                <elementReference>Get_manager.UserRole.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manager_Segment__c</field>
            <value>
                <elementReference>Get_manager.Opportunity_Segment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manager_Subregion__c</field>
            <value>
                <elementReference>Get_manager.Subregion__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manager_Subteam__c</field>
            <value>
                <elementReference>Get_manager.Subteam__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manager_Team__c</field>
            <value>
                <elementReference>Get_manager.Team__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manager_Territory__c</field>
            <value>
                <elementReference>Get_manager.Territory__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manager__c</field>
            <value>
                <elementReference>screen_new_Manager</elementReference>
            </value>
        </inputAssignments>
        <object>Goal__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Confirm</name>
        <label>Confirm</label>
        <locationX>1733</locationX>
        <locationY>307</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_manager</targetReference>
        </connector>
        <fields>
            <name>confirm_header_with_goals</name>
            <fieldText>&lt;p&gt;Found {!goal_cnt} goal records starting on date {!Change_Effective_Date} for user {!select_user_table.firstSelectedRow.FirstName} {!select_user_table.firstSelectedRow.LastName}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Press next to update the user and goals.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>goal_cnt</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>clear_goal_warning</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;NOTE: Proceeding will clear all goal amount fields on the found goal records. You must upload those manually.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>goal_cnt</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Clear_goal_amounts</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>confirm_header_no_goals</name>
            <fieldText>&lt;p&gt;Found no goal records for &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;starting on date {!default_effective_date} for user {!select_user_table.firstSelectedRow.FirstName} {!select_user_table.firstSelectedRow.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Click next to update the user&#39;s record only.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>goal_cnt</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_User</name>
        <label>Select User</label>
        <locationX>1147</locationX>
        <locationY>271</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_selected_role</targetReference>
        </connector>
        <fields>
            <name>select_user_table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>User</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select a user:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_all_active_users</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-bb8d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Full Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Manager_Full_Name__c&quot;,&quot;guid&quot;:&quot;column-4fca&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Manager&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Manager Full Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Role_Name__c&quot;,&quot;guid&quot;:&quot;column-055a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Current Role&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Role Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Department__c&quot;,&quot;guid&quot;:&quot;column-648f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Department&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Department&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Team__c&quot;,&quot;guid&quot;:&quot;column-3cbe&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Team&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Team&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Rippling_Title__c&quot;,&quot;guid&quot;:&quot;column-7303&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Rippling Title&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Rippling Title&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Rippling_Manager_Name__c&quot;,&quot;guid&quot;:&quot;column-9492&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Rippling Manager&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:6,&quot;label&quot;:&quot;Rippling Manager Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Configure_New_Role_Details</name>
            <fieldText>Configure New Role Details:</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Configure_New_Role_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Change_Effective_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>default_effective_date</elementReference>
                    </defaultValue>
                    <fieldText>Change Effective Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Must be the first of a month&lt;/p&gt;</errorMessage>
                        <formulaExpression>DAY({!Change_Effective_Date})=1</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Clear_goal_amounts</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>default_clear_goals</elementReference>
                    </defaultValue>
                    <fieldText>Clear goal amounts?</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Clears all goal amount fields on the goal records as of the change effective date. Disable if users goals are staying the same following this update.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Configure_New_Role_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>screen_new_role</name>
                    <choiceReferences>role_choice</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>select_user_table.firstSelectedRow.UserRole.Name</elementReference>
                    </defaultValue>
                    <fieldText>New Role:</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>screen_new_Manager</name>
                    <choiceReferences>manager_choice</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>select_user_table.firstSelectedRow.ManagerId</elementReference>
                    </defaultValue>
                    <fieldText>New Manager:</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>2618</locationX>
        <locationY>337</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Update_success</name>
            <fieldText>&lt;p&gt;Update successful &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>214</locationX>
        <locationY>245</locationY>
        <connector>
            <targetReference>Get_all_active_users</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>goal_cnt</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
