unpackaged/main/default/flows/GTM_Ticket_Unwatch_Button.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Found_watch_record</name>
        <label>Found watch record?</label>
        <locationX>676</locationX>
        <locationY>439</locationY>
        <defaultConnector>
            <targetReference>Not_Watching</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Look_for_existing_watch_record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_watch_record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>GTM Ticket - Unwatch Button {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GTM Ticket - Unwatch Button</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>Delete_watch_record</name>
        <label>Delete watch record</label>
        <locationX>480</locationX>
        <locationY>678</locationY>
        <connector>
            <targetReference>Watch_created</targetReference>
        </connector>
        <inputReference>Look_for_existing_watch_record</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Look_for_existing_watch_record</name>
        <label>Look for existing watch record</label>
        <locationX>685</locationX>
        <locationY>269</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_watch_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GTM_Ticket__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GTM_Ticket_Watcher__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Not_Watching</name>
        <label>Not Watching</label>
        <locationX>898</locationX>
        <locationY>685</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>error_already_watching</name>
            <fieldText>&lt;p&gt;You are not currently watching this record.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Watch_created</name>
        <label>Watch created</label>
        <locationX>479</locationX>
        <locationY>830</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>error_already_watching_0</name>
            <fieldText>&lt;p&gt;You are no longer watching this ticket. You will be not notified via Slack when key details change.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>616</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Look_for_existing_watch_record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>GTM_Ticket__c</objectType>
    </variables>
</Flow>
