unpackaged/main/default/flows/GTM_Ticket_After_Save_New_Ticket_Slack_Automations.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Slack_Channel2</name>
        <label>Create Slack Channel</label>
        <locationX>2169</locationX>
        <locationY>949</locationY>
        <actionName>FlowAction_CallSubflowHandler</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowApiName</name>
            <value>
                <stringValue>Util_Create_Slack_Channel</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputVariablesJSON</name>
            <value>
                <elementReference>call_subflow_json</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FlowAction_CallSubflowHandler</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Post_to_slack_combined</name>
        <label>Post to slack (combined)</label>
        <locationX>2974</locationX>
        <locationY>617</locationY>
        <actionName>Centro__NotifyFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Uncheck_trigger_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>channelId</name>
            <value>
                <stringValue>{!target_channel_id}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>InterviewGuid</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>linkRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>{!new_ticket_slack}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pinMessage</name>
            <value>
                <stringValue>false</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>shouldLinkMessage</name>
            <value>
                <stringValue>true</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>shouldLinkRecord</name>
            <value>
                <stringValue>true</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>showCompactLayout</name>
            <value>
                <stringValue>false</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>threadName</name>
            <value>
                <stringValue>{!ticket_name}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>Centro__NotifyFlow</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Post_to_slack_individual</name>
        <label>Post to slack (individual)</label>
        <locationX>812</locationX>
        <locationY>873</locationY>
        <actionName>Centro__NotifyFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Uncheck_trigger_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>channelId</name>
            <value>
                <stringValue>{!target_channel_id}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>InterviewGuid</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>linkRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>{!new_ticket_slack}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pinMessage</name>
            <value>
                <stringValue>false</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>shouldLinkMessage</name>
            <value>
                <stringValue>false</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>shouldLinkRecord</name>
            <value>
                <stringValue>true</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>showCompactLayout</name>
            <value>
                <stringValue>false</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>threadName</name>
            <value>
                <stringValue>{!ticket_name}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>Centro__NotifyFlow</nameSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>add_to_slack_invitee_list</name>
        <label>add to slack invitee list</label>
        <locationX>2385</locationX>
        <locationY>453</locationY>
        <assignmentItems>
            <assignToReference>slack_followers_list</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_watchers.User__r.Slack_Mention_Handle_Only__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_watchers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_slack_target</name>
        <label>Set slack target</label>
        <locationX>2560</locationX>
        <locationY>720</locationY>
        <assignmentItems>
            <assignToReference>target_channel_id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Ticket_Definition__r.Channel_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Linked_Channel_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Ticket_Definition__r.Channel_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notifications_enabled</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Uncheck_trigger_0</name>
        <label>Uncheck trigger</label>
        <locationX>3068</locationX>
        <locationY>849</locationY>
        <assignmentItems>
            <assignToReference>$Record.Run_New_Ticket_Slack_Automations__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Uncheck_trigger_0_0</name>
        <label>Uncheck trigger</label>
        <locationX>928</locationX>
        <locationY>1006</locationY>
        <assignmentItems>
            <assignToReference>$Record.Run_New_Ticket_Slack_Automations__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_record_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_ticket_with_channel_ID</name>
        <label>Update ticket with channel ID</label>
        <locationX>531</locationX>
        <locationY>994</locationY>
        <assignmentItems>
            <assignToReference>$Record.Linked_Channel_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_linked_conversation.Centro__ChannelId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>target_channel_id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_linked_conversation.Centro__ChannelId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notifications_enabled_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Channel_type</name>
        <label>Channel type</label>
        <locationX>1935</locationX>
        <locationY>856</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Combined_and_public</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Ticket_Definition__r.Channel_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Combined</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sensitivity_Level__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1 - Public</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_watchers_async</targetReference>
            </connector>
            <label>Combined &amp; Public</label>
        </rules>
        <rules>
            <name>Combined_Private</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Ticket_Definition__r.Channel_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Combined</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sensitivity_Level__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>1 - Public</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Uncheck_trigger_0</targetReference>
            </connector>
            <label>Combined &amp; Private</label>
        </rules>
        <rules>
            <name>Individual</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Ticket_Definition__r.Channel_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Individual</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Slack_Channel2</targetReference>
            </connector>
            <label>Individual</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_watcher_owner_or_requesto</name>
        <label>Is watcher owner or requestor?</label>
        <locationX>2168</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Loop_through_watchers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_watchers.User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_watchers.User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Requestor__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>add_to_slack_invitee_list</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Notifications_enabled</name>
        <label>Notifications enabled?</label>
        <locationX>2762</locationX>
        <locationY>734</locationY>
        <defaultConnector>
            <targetReference>Uncheck_trigger_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_not_engabled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_notification_setting_automations.Is_Enabled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Post_to_slack_combined</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Notifications_enabled_0</name>
        <label>Notifications enabled?</label>
        <locationX>653</locationX>
        <locationY>991</locationY>
        <defaultConnector>
            <targetReference>Uncheck_trigger_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_not_engabled_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_notification_setting_automations.Is_Enabled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Post_to_slack_individual</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Run_new_ticket_slack_automations_0</name>
        <label>Run new ticket slack automations?</label>
        <locationX>205</locationX>
        <locationY>967</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_run_new_ticket_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Run_New_Ticket_Slack_Automations__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_linked_conversation</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Run_new_ticket_slack_automations_0_0</name>
        <label>Run new ticket slack automations?</label>
        <locationX>813</locationX>
        <locationY>702</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_run_new_ticket_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Run_New_Ticket_Slack_Automations__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Channel_type</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>current_month_year</name>
        <dataType>String</dataType>
        <expression>CASE(MONTH({!$Flow.CurrentDate}),
1,&quot;jan&quot;,
2,&quot;feb&quot;,
3,&quot;mar&quot;,
4,&quot;apr&quot;,
5,&quot;may&quot;,
6,&quot;jun&quot;,
7,&quot;jul&quot;,
8,&quot;aug&quot;,
9,&quot;sep&quot;,
10,&quot;oct&quot;,
11,&quot;nov&quot;,
12,&quot;dec&quot;,
NULL
)&amp;RIGHT(TEXT(YEAR({!$Flow.CurrentDate})),2)</expression>
    </formulas>
    <formulas>
        <name>due_date_formatted</name>
        <dataType>String</dataType>
        <expression>TEXT(MONTH({!$Record.Due_Date__c}))&amp;&quot;/&quot;&amp;TEXT(DAY({!$Record.Due_Date__c}))&amp;&quot;/&quot;&amp;TEXT(YEAR({!$Record.Due_Date__c}))</expression>
    </formulas>
    <formulas>
        <name>due_date_formatted_text</name>
        <dataType>String</dataType>
        <expression>IF(
 {!$Record.Days_Until_Due__c}=0,
 &quot;:exclamation: due today&quot;,
 IF(
  {!$Record.Days_Until_Due__c}&lt;0,
  &quot;:exclamation: due &quot;&amp;TEXT({!$Record.Days_Until_Due__c}*-1)&amp;&quot; days ago&quot;,
  &quot;due in &quot;&amp;TEXT({!$Record.Days_Until_Due__c})&amp;&quot; days&quot;
 )
)</expression>
    </formulas>
    <formulas>
        <name>is_private_channel</name>
        <dataType>Boolean</dataType>
        <expression>IF(CASE({!$Record.Ticket_Definition__r.Channel_Visibility_Default__c},
 &quot;Private&quot;,1,
 &quot;Public&quot;,0,
 0
)=1,TRUE,FALSE)</expression>
    </formulas>
    <formulas>
        <name>private_slack_channel_name</name>
        <dataType>String</dataType>
        <expression>LOWER(&quot;GT&quot;&amp;{!$Record.Index__c}&amp;&quot;-&quot;&amp;{!$Record.Ticket_Definition__r.Type_Short_Name__c}&amp;&quot;-&quot;&amp;{!current_month_year}&amp;&quot;-&quot;&amp;{!$Record.Short_Name__c})</expression>
    </formulas>
    <formulas>
        <name>slack_account</name>
        <dataType>String</dataType>
        <expression>IF(
  NOT(ISBLANK({!$Record.Account__c})),
  &quot;*Account:* &quot; &amp; &quot;&lt;https://retool.lightning.force.com/&quot; &amp;{!$Record.Account__c}&amp;&quot; | &quot;&amp;{!$Record.Account__r.Account_Name_Compiled__c} &amp; &quot;&gt; &quot; &amp; TEXT({!$Record.Account__r.Segment__c})&amp;BR(),
  NULL
)</expression>
    </formulas>
    <formulas>
        <name>slack_followers_formatted</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!slack_follower_list}),NULL,&quot;cc: &quot;&amp;{!slack_follower_list})</expression>
    </formulas>
    <formulas>
        <name>slack_opportunity</name>
        <dataType>String</dataType>
        <expression>IF(
  NOT(ISBLANK({!$Record.Opportunity__c})),
  &quot;*Opportunity:* &quot; &amp; &quot;&lt;https://retool.lightning.force.com/&quot; &amp;{!$Record.Opportunity__r.Id}&amp;&quot; | &quot;&amp;{!$Record.Opportunity__r.Name} &amp; &quot;&gt; (&quot; &amp; TEXT({!$Record.Opportunity__r.Segment__c})&amp;&quot;) &quot;&amp;IF(ISBLANK({!$Record.Deal_Desk_Link__c}),NULL,&quot;(&lt;&quot;&amp;{!$Record.Deal_Desk_Link__c}&amp;&quot;|Deal Desk Link&gt;)&quot;)&amp;BR(),
NULL
)</expression>
    </formulas>
    <formulas>
        <name>ticket_name</name>
        <dataType>String</dataType>
        <expression>&quot;GT&quot;&amp;{!$Record.Index__c}&amp;&quot;-&quot;&amp;{!$Record.Type_Short_Name__c}&amp;&quot; &quot;&amp;IF(NOT(ISBLANK({!$Record.Blockers__c})),&quot;[B] &quot;,NULL)&amp;&quot; &quot;&amp;{!$Record.Short_Name__c}&amp;&quot; &quot;&amp;TEXT(MONTH({!$Record.Close_Date__c}))&amp;&quot;/&quot;&amp;TEXT(YEAR({!$Record.Close_Date__c}))</expression>
    </formulas>
    <interviewLabel>GTM Ticket - After Save (New Ticket Slack Automations) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GTM Ticket - After Save (New Ticket Slack Automations)</label>
    <loops>
        <name>Loop_through_watchers</name>
        <label>Loop through watchers</label>
        <locationX>2323</locationX>
        <locationY>726</locationY>
        <collectionReference>Get_watchers_async</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_watcher_owner_or_requesto</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_slack_target</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_linked_conversation</name>
        <label>Get linked conversation</label>
        <locationX>382</locationX>
        <locationY>990</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_ticket_with_channel_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Centro__RecordId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Centro__Linked_Conversation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_notification_setting_automations</name>
        <label>Get notification setting automations</label>
        <locationX>526</locationX>
        <locationY>663</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Run_new_ticket_slack_automations_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GTM_Tickets</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Notification_Setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_watchers_async</name>
        <label>Get watchers</label>
        <locationX>2196</locationX>
        <locationY>727</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_watchers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GTM_Ticket__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GTM_Ticket_Watcher__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_record</name>
        <label>Update record</label>
        <locationX>3254</locationX>
        <locationY>849</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_record_0_0</name>
        <label>Update record</label>
        <locationX>1111</locationX>
        <locationY>998</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>454</locationY>
        <connector>
            <targetReference>Get_notification_setting_automations</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Run_New_Ticket_Slack_Automations__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>GTM_Ticket__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Run_1_min_after</name>
            <connector>
                <targetReference>Run_new_ticket_slack_automations_0</targetReference>
            </connector>
            <label>Run 1 min after</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>call_subflow_json</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{ 
 &quot;channel_name&quot; : &quot;{!private_slack_channel_name}&quot;,
 &quot;is_private&quot; : {!is_private_channel},
 &quot;record_id_to_link&quot; : &quot;{!$Record.Id}&quot;
}</text>
    </textTemplates>
    <textTemplates>
        <name>new_ticket_slack</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>:page_with_curl: *New GTM Ticket:* &lt;https://retool.lightning.force.com/{!$Record.Id}|{!$Record.Name}&gt; :page_with_curl:
*{!$Record.Type__c} | {!$Record.Subtype__c} | {!$Record.Priority__c} | {!$Record.Size__c}*
{!slack_account}{!slack_opportunity}
*Due Date*: {!due_date_formatted} {!due_date_formatted_text})
*Requestor:* {!$Record.Requestor__r.Slack_Mention_With_Role_Full_Name__c}
*Assigned:* {!$Record.Owner:User.Slack_Mention_With_Role_Full_Name__c}
{!slack_followers_formatted}</text>
    </textTemplates>
    <triggerOrder>10</triggerOrder>
    <variables>
        <name>slack_follower_list</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>slack_followers_list</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>target_channel_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>target_message_ts</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
