unpackaged/main/default/flows/Harmonic_Company_Profile_Account_Updater.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_Account_Name</name>
        <label>Assign Account Name</label>
        <locationX>954</locationX>
        <locationY>914</locationY>
        <assignmentItems>
            <assignToReference>Get_Related_Account.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Harmonic_Company_ID.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Shipping_Address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Employees</name>
        <label>Assign Employees</label>
        <locationX>954</locationX>
        <locationY>1791</locationY>
        <assignmentItems>
            <assignToReference>Get_Related_Account.NumberOfEmployees</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Harmonic_Company_ID.Headcount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Logo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Logo</name>
        <label>Assign Logo</label>
        <locationX>962</locationX>
        <locationY>2125</locationY>
        <assignmentItems>
            <assignToReference>Get_Related_Account.Company_Logo_URL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Harmonic_Company_ID.Logo_URL__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Website</name>
        <label>Assign Website</label>
        <locationX>954</locationX>
        <locationY>1444</locationY>
        <assignmentItems>
            <assignToReference>Get_Related_Account.Website</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Harmonic_Company_ID.Website_URL__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Employees</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Capture_Sync_Error</name>
        <label>Capture Sync Error</label>
        <locationX>1431</locationX>
        <locationY>2339</locationY>
        <assignmentItems>
            <assignToReference>Get_Harmonic_Company_ID.Sync_Error__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sync_error_trunc</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Harmonic_Profile</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Sync_Error</name>
        <label>Clear Sync Error</label>
        <locationX>1651</locationX>
        <locationY>2130</locationY>
        <assignmentItems>
            <assignToReference>Get_Harmonic_Company_ID.Sync_Error__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Harmonic_Company_ID.Has_Sync_Error__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Harmonic_Profile</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_LinkedIn_Company_Profile</name>
        <label>Update LinkedIn Company Profile</label>
        <locationX>954</locationX>
        <locationY>614</locationY>
        <assignmentItems>
            <assignToReference>Get_Related_Account.LinkedIn_Company_Page__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Harmonic_Company_ID.LinkedIn_Profile__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account_Name</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Found_Related_Account</name>
        <label>Found Related Account?</label>
        <locationX>1400</locationX>
        <locationY>507</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_LinkedIn_Company_Page</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Sync_Error</name>
        <label>Has Sync Error?</label>
        <locationX>1424</locationX>
        <locationY>2134</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Harmonic_Company_ID.Has_Sync_Error__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Sync_Error</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Account_Name</name>
        <label>Update Account Name?</label>
        <locationX>1086</locationX>
        <locationY>806</locationY>
        <defaultConnector>
            <targetReference>Update_Shipping_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Name</name>
            <conditionLogic>1 AND 2 AND NOT(3)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Harmonic_Company_ID.Do_Not_Update_Account_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Harmonic_Company_ID.Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Harmonic_Company_ID.Name</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a3U</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Account_Name</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Employees</name>
        <label>Update Employees?</label>
        <locationX>1086</locationX>
        <locationY>1636</locationY>
        <defaultConnector>
            <targetReference>Update_Logo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Emp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Harmonic_Company_ID.Do_Not_Update_Employee_Count__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Harmonic_Company_ID.Headcount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Employees</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_LinkedIn_Company_Page</name>
        <label>Update LinkedIn Company Page?</label>
        <locationX>1086</locationX>
        <locationY>506</locationY>
        <defaultConnector>
            <targetReference>Update_Account_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_LinkedIn</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Harmonic_Company_ID.Do_Not_Update_LinkedIn_Company_Page__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Harmonic_Company_ID.LinkedIn_Profile__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_LinkedIn_Company_Profile</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Logo</name>
        <label>Update Logo?</label>
        <locationX>1085</locationX>
        <locationY>1972</locationY>
        <defaultConnector>
            <targetReference>Update_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Logo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Harmonic_Company_ID.Logo_URL__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Account.Company_Logo_URL__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Logo</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Shipping_Address</name>
        <label>Update Shipping Address?</label>
        <locationX>1086</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Update_Website</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Shipping</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Harmonic_Company_ID.Do_Not_Update_Shipping_Address__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Harmonic_Company_ID.Country__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Website</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Website</name>
        <label>Update Website?</label>
        <locationX>1086</locationX>
        <locationY>1336</locationY>
        <defaultConnector>
            <targetReference>Update_Employees</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Website</name>
            <conditionLogic>1 AND (2 OR 4) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Get_Harmonic_Company_ID.Do_Not_Update_Website__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Harmonic_Company_ID.Website_URL__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Harmonic_Company_ID.Website_Is_Broken__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Harmonic_Company_ID.Website_URL__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Website</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Temporarily removing `Shipping Address` assignments while we reconcile existing Account values and enable standardized territory picklist options.</description>
    <environments>Default</environments>
    <formulas>
        <name>sync_error_trunc</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Flow.FaultMessage}, 80000)</expression>
    </formulas>
    <interviewLabel>Harmonic Company Profile - Account Updater {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Harmonic Company Profile - Account Updater</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Harmonic_Company_ID</name>
        <label>Get Harmonic Company ID</label>
        <locationX>1408</locationX>
        <locationY>197</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>harCompanyId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Harmonic_Company_Profile__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Account</name>
        <label>Get Related Account</label>
        <locationX>1408</locationX>
        <locationY>359</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Related_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Harmonic_Company_ID.Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>1085</locationX>
        <locationY>2230</locationY>
        <connector>
            <targetReference>Has_Sync_Error</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Capture_Sync_Error</targetReference>
        </faultConnector>
        <inputReference>Get_Related_Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Harmonic_Profile</name>
        <label>Update Harmonic Profile</label>
        <locationX>1651</locationX>
        <locationY>2339</locationY>
        <inputReference>Get_Harmonic_Company_ID</inputReference>
    </recordUpdates>
    <start>
        <locationX>1282</locationX>
        <locationY>26</locationY>
        <connector>
            <targetReference>Get_Harmonic_Company_ID</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>harCompanyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sync_error</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
