unpackaged/main/default/flows/Home_Manage_User_Movements.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Build_new_movement</name>
        <label>Build new movement</label>
        <locationX>1054</locationX>
        <locationY>202</locationY>
        <assignmentItems>
            <assignToReference>target_movement.Submitted_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>target_movement.Submitted_By_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$UserRole.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>target_movement.Action_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Action_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>target_movement.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>target_movement.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_movement_type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>target_movement.Target_User_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>target_movement.Target_User__r.UserRole.Name</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <choices>
        <name>choice_new_movement</name>
        <choiceText>Create a new user movement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>new</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_update_movement</name>
        <choiceText>Update an existing user movement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>update</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Choice</name>
        <label>Choice</label>
        <locationX>655</locationX>
        <locationY>337</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_action_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_new_movement</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Configure_New_Movement</targetReference>
            </connector>
            <label>New</label>
        </rules>
        <rules>
            <name>Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_action_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_update_movement</elementReference>
                </rightValue>
            </conditions>
            <label>Update</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>choice_movement_type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Type__c</picklistField>
        <picklistObject>User_Movement__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Home - Manage User Movements {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Home - Manage User Movements</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_open_user_movements</name>
        <label>Get open user movements</label>
        <locationX>478</locationX>
        <locationY>169</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Manage_User_Movements</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User_Movement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Configure_New_Movement</name>
        <label>Configure New Movement</label>
        <locationX>872</locationX>
        <locationY>202</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Build_new_movement</targetReference>
        </connector>
        <fields>
            <name>Configure_New_Movement_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Configure_New_Movement_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Select_movement_type</name>
                    <choiceReferences>choice_movement_type</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Select movement type</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Configure_New_Movement_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Date_Footer</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Terminations&lt;/strong&gt; will execute at 6:00pm pacific on the action date&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Updates&lt;/strong&gt; will execute at 2:00am pacific on the action date&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Configure_New_Movement_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Configure_New_Movement_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>target_movement.Target_User__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Configure_New_Movement_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Action_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>target_movement.Action_Date__c</elementReference>
                    </defaultValue>
                    <fieldText>Action Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Configure_Update</name>
            <fieldText>Configure Update</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Configure_Update_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>current_manager</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Current Manager: &lt;/strong&gt;{!target_movement.Target_User__r.Manager.FirstName} &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!target_movement.Target_User__r.Manager.LastName}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Update_Manager</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>target_movement.Update_Manager__c</elementReference>
                    </defaultValue>
                    <fieldText>Update Manager?</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>target_movement.Manager_To__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Update_Manager</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Configure_Update_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>current_role</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Current Role:&lt;/strong&gt; {!target_movement.Target_User__r.UserRole.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Update_Role</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>target_movement.Update_Role__c</elementReference>
                    </defaultValue>
                    <fieldText>Update Role?</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>target_movement.Role_To__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Update_Role</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Select_movement_type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_update_movement</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Manage_User_Movements</name>
        <label>Manage User Movements</label>
        <locationX>478</locationX>
        <locationY>335</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Choice</targetReference>
        </connector>
        <fields>
            <name>Select_action_type</name>
            <choiceReferences>choice_new_movement</choiceReferences>
            <choiceReferences>choice_update_movement</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>choice_update_movement</defaultSelectedChoiceReference>
            <fieldText>Select action type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>upcoming_user_movements</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>User_Movement__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upcoming User Movements</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_open_user_movements</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-e14e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;ID&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;User Movement Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Action_Date__c&quot;,&quot;guid&quot;:&quot;column-d902&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Date&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Action Date&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;Target_User__c&quot;,&quot;guid&quot;:&quot;column-4b72&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Target User&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Target User&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Status__c&quot;,&quot;guid&quot;:&quot;column-c027&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Status&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Status&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Type__c&quot;,&quot;guid&quot;:&quot;column-5765&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Type&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Type&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>target_movement</assignToReference>
                <name>firstSelectedRow</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Select_action_type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_update_movement</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>358</locationX>
        <locationY>4</locationY>
        <connector>
            <targetReference>Get_open_user_movements</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>target_movement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>User_Movement__c</objectType>
    </variables>
</Flow>
