unpackaged/main/default/flows/Implementation_After_Save_Automations.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>send_slack_message</name>
        <label>send slack message</label>
        <locationX>1204</locationX>
        <locationY>369</locationY>
        <actionName>Centro__NotifyFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Activation_Escalation_Status_is</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>channelId</name>
            <value>
                <stringValue>{!success_notification_slack_id}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>InterviewGuid</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>{!slack_post}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pinMessage</name>
            <value>
                <stringValue>false</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>showCompactLayout</name>
            <value>
                <stringValue>false</stringValue>
            </value>
        </inputParameters>
        <nameSegment>Centro__NotifyFlow</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>send_slack_message_0</name>
        <label>Send notification to #digital-notifications</label>
        <locationX>1976</locationX>
        <locationY>468</locationY>
        <actionName>Centro__NotifyFlow</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>channelId</name>
            <value>
                <stringValue>{!digital_notifications_slack_id}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>InterviewGuid</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>{!activation_sequence_no_reply_notification}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pinMessage</name>
            <value>
                <stringValue>false</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>postEphemeral</name>
            <value>
                <stringValue>false</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>postReply</name>
            <value>
                <stringValue>false</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>showCompactLayout</name>
            <value>
                <stringValue>false</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>startThread</name>
            <value>
                <stringValue>true</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>threadMessage</name>
            <value>
                <stringValue>{!email_template_in_thread}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>Centro__NotifyFlow</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Set_destination_channel_to_customer_slack_channel</name>
        <label>Set destination channel to customer slack channel</label>
        <locationX>1748</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>digital_notifications_slack_id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Slack_Channel_Internal__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>send_slack_message_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Activation_Escalation_Status_is</name>
        <label>Activation Escalation Status is set to</label>
        <locationX>1359</locationX>
        <locationY>524</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Complete_No_Reply</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Activation_Escalation_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complete - No Reply</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Activation_Escalation_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BU_has_internal_slack_chanel</targetReference>
            </connector>
            <label>Complete - No Reply</label>
        </rules>
    </decisions>
    <decisions>
        <name>BU_has_internal_slack_chanel</name>
        <label>BU has internal slack chanel?</label>
        <locationX>1616</locationX>
        <locationY>403</locationY>
        <defaultConnector>
            <targetReference>send_slack_message_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Slack_Channel_Internal__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_destination_channel_to_customer_slack_channel</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stage_Changed</name>
        <label>Stage Changed</label>
        <locationX>908</locationX>
        <locationY>534</locationY>
        <defaultConnector>
            <targetReference>Activation_Escalation_Status_is</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Activated</defaultConnectorLabel>
        <rules>
            <name>Activated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Activated_Milestone</targetReference>
            </connector>
            <label>Activated</label>
        </rules>
    </decisions>
    <description>Added &#39;Create Activated MIlestone&#39; node. Owner set to the Account TAM [updated]</description>
    <environments>Default</environments>
    <formulas>
        <name>date_formatted</name>
        <dataType>String</dataType>
        <expression>CASE(MONTH({!$Record.Customer_Activation_Deadline__c}),
1,&quot;January&quot;,
2,&quot;February&quot;,
3,&quot;March&quot;,
4,&quot;April&quot;,
5,&quot;May&quot;,
6,&quot;June&quot;,
7,&quot;July&quot;,
8,&quot;August&quot;,
9,&quot;September&quot;,
10,&quot;October&quot;,
11,&quot;November&quot;,
12,&quot;December&quot;,
&quot;Unknown&quot;
)
&amp;
&quot; &quot;&amp;TEXT(DAY({!$Record.Customer_Activation_Deadline__c}))&amp;&quot;, &quot;&amp;TEXT(YEAR({!$Record.Customer_Activation_Deadline__c}))</expression>
    </formulas>
    <formulas>
        <name>exec_slack</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.Account__r.Executive_Sponsor__c}),NULL,
&quot;*Exec Sponsor:* &quot;&amp;IF(ISBLANK({!$Record.Account__r.Executive_Sponsor__r.Slack_ID__c}),{!$Record.Account__r.Executive_Sponsor__r.FirstName}&amp;&quot; &quot;&amp;{!$Record.Account__r.Executive_Sponsor__r.LastName},&quot;&lt;@&quot;&amp;{!$Record.Account__r.Executive_Sponsor__r.Slack_ID__c}&amp;&quot;&gt;&quot;)&amp;BR()
)</expression>
    </formulas>
    <formulas>
        <name>tam_slack</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.Account__r.Technical_Account_Manager__c}),NULL,
&quot;*Technical Account Manager:* &quot;&amp;{!$Record.Account__r.Technical_Account_Manager__r.Slack_Mention_With_Role_Full_Name__c}&amp;BR()
)</expression>
    </formulas>
    <formulas>
        <description>Today&#39;s date.</description>
        <name>today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Implementation - After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Implementation - After Save Automations</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Activated_Milestone</name>
        <label>Create Activated Milestone</label>
        <locationX>1044</locationX>
        <locationY>369</locationY>
        <connector>
            <targetReference>send_slack_message</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approval_Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Builders_Involved__c</field>
            <value>
                <stringValue>Existing builders</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Unit__c</field>
            <value>
                <elementReference>$Record.Business_Unit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Create_Method__c</field>
            <value>
                <stringValue>Implementation moved to Activated</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Created_Date__c</field>
            <value>
                <elementReference>today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Milestone_Date__c</field>
            <value>
                <elementReference>$Record.Activation_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Business_Unit__r.Open_Renewal__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Owner__c</field>
            <value>
                <elementReference>$Record.Account__r.Technical_Account_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sentiment__c</field>
            <value>
                <stringValue>Neutral</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Customer Activated</stringValue>
            </value>
        </inputAssignments>
        <object>Customer_Milestone__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>432</locationX>
        <locationY>154</locationY>
        <connector>
            <targetReference>Stage_Changed</targetReference>
        </connector>
        <object>Implementation__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>activation_sequence_no_reply_notification</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.Account__r.Owner.Slack_Mention_Handle_Only__c} *&lt;https://retool.lightning.force.com/lightning/{!$Record.Account__c}|{!$Record.Account__r.Account_Name_Compiled__c}&gt; has reached the end of our escalation process and has not yet activated or engaged with the Digital team.*

*Action Required:* Please reach out to the launch POC ({!$Record.Launch_Point_of_Contact__r.FirstName} {!$Record.Launch_Point_of_Contact__r.LastName}: {!$Record.Launch_Point_of_Contact__r.Email}) or other stakeholders. You may personalize the email template in the :thread: with references to previously agreed launch dates and goals. CC customer-success@retool.com with the ask to schedule an onboarding call.</text>
    </textTemplates>
    <textTemplates>
        <name>email_template_in_thread</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>```[Subject] Retool Progress

Hi {!$Record.Launch_Point_of_Contact__r.FirstName},

I hope all is well! I wanted to check in on progress building the Retool apps you were targeting to build by {!date_formatted}.

We’d like to set up a check-in call with you and a Retool engineer in the coming days to discuss your progress and best practices. Your onboarding sessions are expiring this month and I want to make sure you have an opportunity to take advantage of this valuable resource. Please let me know a few times that work for you.

If the timing is not right, please let me know why so I can advocate for an extension of your sessions beyond our onboarding period?```</text>
    </textTemplates>
    <textTemplates>
        <name>slack_post</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;a href=&quot;https://retool.lightning.force.com/lightning/r/Implementation__c/{!$Record.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;{!$Record.Business_Unit__r.Name}&lt;/strong&gt;&lt;/a&gt; &lt;strong&gt;just activated&lt;/strong&gt; 🎉&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Account Owner: &lt;/strong&gt;{!$Record.Account__r.Owner.Slack_Mention_With_Role_Full_Name__c}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!tam_slack}{!exec_slack}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;ARR:&lt;/strong&gt; ${!$Record.Business_Unit__r.Annualized_Amount__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Days to Activate:&lt;/strong&gt; {!$Record.Days_to_Activation__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Total Sold Seats:&lt;/strong&gt; {!$Record.Business_Unit__r.Total_Seats__c}&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;MAUs:&lt;/strong&gt; {!$Record.Business_Unit__r.Current_MAU_Standard__c}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>digital_notifications_slack_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>C05TF1D6GPL</stringValue>
        </value>
    </variables>
    <variables>
        <name>no_reply_activation_message_queue</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Centro__Message_Queue__c</objectType>
    </variables>
    <variables>
        <name>success_notification_slack_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>C05EVJX0SQ6</stringValue>
        </value>
    </variables>
</Flow>
