unpackaged/main/default/flows/Journey_Subcategory_Reconciliation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Assign_All_Closed_Journeys</name>
        <label>Assign All Closed Journeys</label>
        <locationX>1776</locationX>
        <locationY>1007</locationY>
        <assignmentItems>
            <assignToReference>Get_Closed_Journeys_L90_Days</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>includedJourneys</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Included_Journeys</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_All_Open_Journeys</name>
        <label>Assign All Open Journeys</label>
        <locationX>1766</locationX>
        <locationY>654</locationY>
        <assignmentItems>
            <assignToReference>Get_Open_Journeys</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>includedJourneys</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Included_Journeys</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Filtered_L90_Journeys</name>
        <label>Assign Filtered L90 Journeys</label>
        <locationX>1956</locationX>
        <locationY>1007</locationY>
        <assignmentItems>
            <assignToReference>includedJourneys</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Filter_L90_Journeys</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Included_Journeys</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Filtered_Open_Journeys</name>
        <label>Assign Filtered Open Journeys</label>
        <locationX>1960</locationX>
        <locationY>657</locationY>
        <assignmentItems>
            <assignToReference>includedJourneys</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Filter_Open_Journeys</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Included_Journeys</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Journey_IDs</name>
        <label>Assign Journey IDs</label>
        <locationX>1637</locationX>
        <locationY>826</locationY>
        <assignmentItems>
            <assignToReference>journeyIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Included_Journeys.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>journeySubcategories</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Included_Journeys.Journey_Subcategory__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>journeyRanking</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>subcategoryRank</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Included_Journeys</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Journey_IDs_L365</name>
        <label>Assign Journey IDs (L365)</label>
        <locationX>1994</locationX>
        <locationY>2101</locationY>
        <assignmentItems>
            <assignToReference>journeyIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Selected_Journeys_L365.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Selected_Journeys_L365</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Subcategory</name>
        <label>Assign New Subcategory</label>
        <locationX>2757</locationX>
        <locationY>679</locationY>
        <assignmentItems>
            <assignToReference>varJourneySubcategory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newSubcategoryValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Subcategory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Selected_Ids</name>
        <label>Assign Selected Ids</label>
        <locationX>2394</locationX>
        <locationY>1121</locationY>
        <assignmentItems>
            <assignToReference>selectedJourneyIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Selected_L90_Journeys.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_L90_Journeys</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Selected_Open_Ids</name>
        <label>Assign Selected Open Ids</label>
        <locationX>2385</locationX>
        <locationY>546</locationY>
        <assignmentItems>
            <assignToReference>selectedJourneyIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Selected_Open_Journeys.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_Open_Journeys</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AE</name>
        <choiceText>AE</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Prospect</name>
        <choiceText>Prospect</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>SDR</name>
        <choiceText>SDR</choiceText>
        <dataType>String</dataType>
    </choices>
    <collectionProcessors>
        <name>Filter_L90_Journeys</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter L90 Journeys</label>
        <locationX>2394</locationX>
        <locationY>1367</locationY>
        <assignNextValueToReference>currentItem_Filter_L90_Journeys</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Closed_Journeys_L90_Days</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_L90_Journeys.Id</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <elementReference>Selected_L90_Journeys.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Selected_L90_Journeys</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Open_Journeys</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Open Journeys</label>
        <locationX>2385</locationX>
        <locationY>314</locationY>
        <assignNextValueToReference>currentItem_Filter_Included_Open_Journeys_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Open_Journeys</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Included_Open_Journeys_0.Id</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <elementReference>Selected_Open_Journeys.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Selected_Open_Journeys</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Identify_New_Subcategory</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Identify New Subcategory</label>
        <locationX>2547</locationX>
        <locationY>829</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>journeyRanking</collectionReference>
        <connector>
            <targetReference>New_Subcategory</targetReference>
        </connector>
        <limit>1</limit>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>Closed_Jouneys_L90_Days_Found</name>
        <label>Closed Jouneys L90 Days Found?</label>
        <locationX>765</locationX>
        <locationY>1139</locationY>
        <defaultConnector>
            <targetReference>Get_Closed_Journeys_L365_Days</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_L90</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Closed_Journeys_L90_Days</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Closed_Journeys_L90</targetReference>
            </connector>
            <label>Yes Closed L90</label>
        </rules>
    </decisions>
    <decisions>
        <name>Closed_Journeys_L365_Days_Found</name>
        <label>Closed Journeys L365 Days Found?</label>
        <locationX>765</locationX>
        <locationY>1755</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_L365</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Closed_Journeys_L365_Days</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Closed_Journeys_L365</targetReference>
            </connector>
            <label>Yes Closed L365</label>
        </rules>
    </decisions>
    <decisions>
        <name>Journeys_Selected</name>
        <label>Journeys Selected?</label>
        <locationX>1280</locationX>
        <locationY>1755</locationY>
        <defaultConnector>
            <targetReference>Other_Meeting_Details_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None Selected</defaultConnectorLabel>
        <rules>
            <name>Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Closed_Journey_Table_L365.selectedRows</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Re_Engagement_Details_Check</targetReference>
            </connector>
            <label>Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>L90_Journeys_Selected</name>
        <label>L90 Journeys Selected?</label>
        <locationX>1277</locationX>
        <locationY>1140</locationY>
        <defaultConnector>
            <targetReference>Assign_All_Closed_Journeys</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None Selected</defaultConnectorLabel>
        <rules>
            <name>Selected_L90</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Closed_Journey_Table_L90.selectedRows</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Other_Meeting_Details_Check_L90</targetReference>
            </connector>
            <label>Selected (L90)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Open_Journeys_Found</name>
        <label>Open Journeys Found?</label>
        <locationX>766</locationX>
        <locationY>530</locationY>
        <defaultConnector>
            <targetReference>Get_Closed_Journeys_L90_Days</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Open_Journeys</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Open_Journeys</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Open_Journeys</targetReference>
            </connector>
            <label>Yes Open Journeys</label>
        </rules>
    </decisions>
    <decisions>
        <name>Open_Journeys_Selected</name>
        <label>Open Journeys Selected?</label>
        <locationX>1277</locationX>
        <locationY>532</locationY>
        <defaultConnector>
            <targetReference>Assign_All_Open_Journeys</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None Selected</defaultConnectorLabel>
        <rules>
            <name>Selected_Open</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Open_Journey_Table.selectedRows</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Other_Meeting_Details_Check_Open</targetReference>
            </connector>
            <label>Selected (Open)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Open_or_Closed</name>
        <label>Open or Closed?</label>
        <locationX>2947</locationX>
        <locationY>832</locationY>
        <defaultConnector>
            <targetReference>Update_Closed_L90_Journeys</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Closed</defaultConnectorLabel>
        <rules>
            <name>Open</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Yes_Open_Journeys</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Open_Journeys</targetReference>
            </connector>
            <label>Open</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>date_LAST_365_DAYS</name>
        <dataType>Date</dataType>
        <expression>TODAY() - 365</expression>
    </formulas>
    <formulas>
        <name>date_LAST_90_DAYS</name>
        <dataType>Date</dataType>
        <expression>TODAY() - 90</expression>
    </formulas>
    <formulas>
        <name>newSubcategoryValue</name>
        <dataType>String</dataType>
        <expression>CASE(
 {!New_Subcategory},
  1, &quot;Demo Request&quot;,
  2, &quot;Demo Request (Non-MQL)&quot;,
  3, &quot;Support Handoff&quot;,
  4, &quot;Meeting Maker (Incentivized Demo)&quot;,
  5, &quot;Contact Engineering&quot;,
  6, &quot;Contact Sales&quot;,
  7, &quot;Partner Referral&quot;,
  8, &quot;Content&quot;,
  9, &quot;Live Event&quot;,
  10, &quot;Webinar&quot;,
  11, &quot;Koala&quot;,
  12, &quot;Champify&quot;,
  13, &quot;Product Signup&quot;,
  14, &quot;Product Action&quot;,
  15, &quot;Regie.ai&quot;,
  16, &quot;Outbound Sequence&quot;,
  17, &quot;Prospect Re-Engagement&quot;,
  18, &quot;AE Re-Engagement&quot;,
  19, &quot;SDR Re-Engagement&quot;,
  20, &quot;Other Journey&quot;,
  21, &quot;Other Meeting&quot;,
  &quot;&quot;
)</expression>
    </formulas>
    <formulas>
        <name>reEngagementType</name>
        <dataType>String</dataType>
        <expression>CASE( {!Re_engagement_Details}, 
  &#39;Prospect&#39;, &#39;Prospect Re-Engagement&#39;,
  &#39;AE&#39;, &#39;AE Re-Engagement&#39;,
  &#39;SDR&#39;, &#39;SDR Re-Engagement&#39;,
  &#39;Other Meeting&#39; 
)</expression>
    </formulas>
    <formulas>
        <name>subcategoryRank</name>
        <dataType>Number</dataType>
        <expression>CASE(
  {!Included_Journeys.Journey_Subcategory__c},
  &quot;Demo Request&quot;, 1,
  &quot;Demo Request (Non-MQL)&quot;, 2,
  &quot;Support Handoff&quot;, 3,
  &quot;Meeting Maker (Incentivized Demo)&quot;, 4,
  &quot;Contact Engineering&quot;, 5,
  &quot;Contact Sales&quot;, 6,
  &quot;Partner Referral&quot;, 7,
  &quot;Content&quot;, 8,
  &quot;Live Event&quot;, 9,
  &quot;Webinar&quot;, 10,
  &quot;Koala&quot;, 11,
  &quot;Champify&quot;, 12,
  &quot;Product Signup&quot;, 13,
  &quot;Product Action&quot;, 14,
  &quot;Regie.ai&quot;, 15,
  &quot;Outbound Sequence&quot;, 16,
  &quot;Prospect Re-Engagement&quot;, 17,
  &quot;AE Re-Engagement&quot;, 18,
  &quot;SDR Re-Engagement&quot;, 19,
  &quot;Other Journey&quot;, 20,
  &quot;Other Meeting&quot;, 21,
  99
)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Journey {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Journey Subcategory Reconciliation</label>
    <loops>
        <name>Included_Journeys</name>
        <label>Included Journeys</label>
        <locationX>1862</locationX>
        <locationY>826</locationY>
        <collectionReference>includedJourneys</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Journey_IDs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Identify_New_Subcategory</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Selected_Journeys_L365</name>
        <label>Loop through Selected Journeys (L365)</label>
        <locationX>1991</locationX>
        <locationY>1887</locationY>
        <collectionReference>Closed_Journey_Table_L365.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Journey_IDs_L365</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Journeys_L365</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>New_Subcategory</name>
        <label>New Subcategory</label>
        <locationX>2754</locationX>
        <locationY>976</locationY>
        <collectionReference>journeyRanking</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_New_Subcategory</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Open_or_Closed</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Selected_L90_Journeys</name>
        <label>Selected L90 Journeys</label>
        <locationX>2158</locationX>
        <locationY>1244</locationY>
        <collectionReference>Closed_Journey_Table_L90.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Selected_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Selected_L90_Journeys</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Selected_Open_Journeys</name>
        <label>Selected Open Journeys</label>
        <locationX>2147</locationX>
        <locationY>427</locationY>
        <collectionReference>Open_Journey_Table.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Selected_Open_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Selected_Open_Journeys</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Returns Closed Journeys associated with varAccountId that were closed in the last 365 days.</description>
        <name>Get_Closed_Journeys_L365_Days</name>
        <label>Get Closed Journeys (L365 Days)</label>
        <locationX>773</locationX>
        <locationY>1490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Closed_Journeys_L365_Days_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_Closed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Close_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>date_LAST_365_DAYS</elementReference>
            </value>
        </filters>
        <filters>
            <field>Close_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>date_LAST_90_DAYS</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Journey__c</object>
        <sortField>Close_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Returns Closed Journeys associated with varAccountId that were closed in the last 90 days.</description>
        <name>Get_Closed_Journeys_L90_Days</name>
        <label>Get Closed Journeys (L90 Days)</label>
        <locationX>773</locationX>
        <locationY>827</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Closed_Jouneys_L90_Days_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_Closed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Close_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>date_LAST_90_DAYS</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Journey__c</object>
        <sortField>Close_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Open_Journeys</name>
        <label>Get Open Journeys</label>
        <locationX>774</locationX>
        <locationY>305</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Open_Journeys_Found</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>varPrimaryContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Closed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Is_Resting__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Journey__c</object>
        <sortField>Created_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Closed_L90_Journeys</name>
        <label>Update Closed L90 Journeys</label>
        <locationX>3202</locationX>
        <locationY>979</locationY>
        <connector>
            <targetReference>Update_Primary_Journey</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>journeyIds</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Journey_Which_Triggered_End__c</field>
            <value>
                <elementReference>varPrimaryJourneyId</elementReference>
            </value>
        </inputAssignments>
        <object>Journey__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Journeys_L365</name>
        <label>Update Journeys (L365)</label>
        <locationX>2238</locationX>
        <locationY>1887</locationY>
        <connector>
            <targetReference>Update_Primary_Journey_L365</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>journeyIds</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Journey_Which_Triggered_End__c</field>
            <value>
                <elementReference>varPrimaryJourneyId</elementReference>
            </value>
        </inputAssignments>
        <object>Journey__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Open_Journeys</name>
        <label>Update Open Journeys</label>
        <locationX>3204</locationX>
        <locationY>670</locationY>
        <connector>
            <targetReference>Update_Primary_Journey</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>journeyIds</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Ended_Reason__c</field>
            <value>
                <stringValue>Converted Other Journey</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Journey_Which_Triggered_End__c</field>
            <value>
                <elementReference>varPrimaryJourneyId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Ended</stringValue>
            </value>
        </inputAssignments>
        <object>Journey__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Primary_Journey</name>
        <label>Update Primary Journey</label>
        <locationX>3411</locationX>
        <locationY>820</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPrimaryJourneyId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Journey_Subcategory__c</field>
            <value>
                <elementReference>newSubcategoryValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>varOpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Converted</stringValue>
            </value>
        </inputAssignments>
        <object>Journey__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Primary_Journey_L365</name>
        <label>Update Primary Journey (L365)</label>
        <locationX>2427</locationX>
        <locationY>1887</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPrimaryJourneyId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Journey_Subcategory__c</field>
            <value>
                <elementReference>reEngagementType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>varOpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Converted</stringValue>
            </value>
        </inputAssignments>
        <object>Journey__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Primary_Journey_Other_L365</name>
        <label>Update Primary Journey (Other L365)</label>
        <locationX>1988</locationX>
        <locationY>1619</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPrimaryJourneyId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>varOpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Meeting_Details__c</field>
            <value>
                <elementReference>Other_Meeting_Details</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Converted</stringValue>
            </value>
        </inputAssignments>
        <object>Journey__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Selected_L90_Journeys</name>
        <label>Update Selected L90 Journeys</label>
        <locationX>2158</locationX>
        <locationY>1007</locationY>
        <connector>
            <targetReference>Assign_Filtered_L90_Journeys</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>selectedJourneyIds</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Ops_Notes__c</field>
            <value>
                <elementReference>Opp_Exclusion_Details_L90</elementReference>
            </value>
        </inputAssignments>
        <object>Journey__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Selected_Open_Journeys</name>
        <label>Update Selected Open Journeys</label>
        <locationX>2145</locationX>
        <locationY>657</locationY>
        <connector>
            <targetReference>Assign_Filtered_Open_Journeys</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>selectedJourneyIds</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Ops_Notes__c</field>
            <value>
                <elementReference>Opp_Exclusion_Details_Open</elementReference>
            </value>
        </inputAssignments>
        <object>Journey__c</object>
    </recordUpdates>
    <screens>
        <name>Other_Meeting_Details_Check</name>
        <label>Other Meeting Details Check</label>
        <locationX>1766</locationX>
        <locationY>1619</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Primary_Journey_Other_L365</targetReference>
        </connector>
        <fields>
            <name>Other_Meeting_Details</name>
            <dataType>String</dataType>
            <fieldText>Please provide a brief explanation of how you sourced this Opp:</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Other_Meeting_Details_Check_L90</name>
        <label>Other Meeting Details Check (L90)</label>
        <locationX>1773</locationX>
        <locationY>1244</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Selected_L90_Journeys</targetReference>
        </connector>
        <fields>
            <name>Opp_Exclusion_Details_L90</name>
            <dataType>String</dataType>
            <fieldText>Please provide a brief explanation as to why these Contacts should NOT associated with the Opp:</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Other_Meeting_Details_Check_Open</name>
        <label>Other Meeting Details Check (Open)</label>
        <locationX>1769</locationX>
        <locationY>427</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Selected_Open_Journeys</targetReference>
        </connector>
        <fields>
            <name>Opp_Exclusion_Details_Open</name>
            <dataType>String</dataType>
            <fieldText>Please provide a brief explanation as to why these Contacts should NOT associated with the Opp:</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Re_Engagement_Details_Check</name>
        <label>Re-Engagement Details Check</label>
        <locationX>1765</locationX>
        <locationY>1892</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_through_Selected_Journeys_L365</targetReference>
        </connector>
        <fields>
            <name>Re_engagement_Details</name>
            <choiceReferences>Prospect</choiceReferences>
            <choiceReferences>AE</choiceReferences>
            <choiceReferences>SDR</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Who was responsible for the re-engagement?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Closed_Journeys_L365</name>
        <label>Select Closed Journeys (L365)</label>
        <locationX>1050</locationX>
        <locationY>1753</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Journeys_Selected</targetReference>
        </connector>
        <fields>
            <name>DT_Closed_365_Journey_Instructions</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;The following Contacts &lt;/span&gt;were prospected in the past year.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Were any of these contacts involved in this deal? &lt;/p&gt;&lt;p&gt;&lt;strong&gt;Please select all that apply.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Closed_Journey_Table_L365</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Journey__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Closed Journey Table (L365)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Closed_Journeys_L365_Days</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Contact__c&quot;,&quot;guid&quot;:&quot;column-07f1&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Contact&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Contact&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Ended_Reason__c&quot;,&quot;guid&quot;:&quot;column-58a2&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Ended Reason&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Ended_Reason_Details__c&quot;,&quot;guid&quot;:&quot;column-8a96&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Ended Reason Details&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Close_Date__c&quot;,&quot;guid&quot;:&quot;column-22ce&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Close Date&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Close Date&quot;,&quot;type&quot;:&quot;date-local&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Closed_Journeys_L90</name>
        <label>Select Closed Journeys (L90)</label>
        <locationX>1066</locationX>
        <locationY>1138</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>L90_Journeys_Selected</targetReference>
        </connector>
        <fields>
            <name>DT_Closed_Journey_Instructions</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;The following Contacts &lt;/span&gt;were prospected in the past 90 days.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Are there any contacts on this list that should &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&lt;u&gt;NOT&lt;/u&gt;&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; be linked? If so, please select any contacts you would like to &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&lt;u&gt;exclude&lt;/u&gt;.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Closed_Journey_Table_L90</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Journey__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Closed Journey Table (L90)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Closed_Journeys_L90_Days</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Contact__c&quot;,&quot;guid&quot;:&quot;column-c338&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Contact&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Contact&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Journey_Subcategory__c&quot;,&quot;guid&quot;:&quot;column-5db1&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Journey Subcategory&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Close_Date__c&quot;,&quot;guid&quot;:&quot;column-97f7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Close Date&quot;,&quot;type&quot;:&quot;date-local&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Open_Journeys</name>
        <label>Select Open Journeys</label>
        <locationX>1070</locationX>
        <locationY>530</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Open_Journeys_Selected</targetReference>
        </connector>
        <fields>
            <name>DT_Open_Journey_Instructions</name>
            <fieldText>&lt;p&gt;The following Contacts are currently being prospected and will be linked to this Opportunity.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Are there any contacts on this list that should &lt;strong&gt;&lt;u&gt;NOT&lt;/u&gt;&lt;/strong&gt; be linked? If so, please select any contacts you would like to &lt;strong&gt;&lt;u&gt;exclude&lt;/u&gt;.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Open_Journey_Table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Journey__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Open_Journeys</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Contact__c&quot;,&quot;guid&quot;:&quot;column-9702&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Contact&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Contact&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Journey_Subcategory__c&quot;,&quot;guid&quot;:&quot;column-29d8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Journey Subcategory&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Created_Date__c&quot;,&quot;guid&quot;:&quot;column-e232&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Started Date&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Started Date&quot;,&quot;type&quot;:&quot;date-local&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>648</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Open_Journeys</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>currentItem_Filter_Included_Open_Journeys_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Journey__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_L90_Journeys</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Journey__c</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Journey__c</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Journey__c</objectType>
    </variables>
    <variables>
        <name>includedJourneys</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Journey__c</objectType>
    </variables>
    <variables>
        <name>journeyIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>journeyRanking</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>journeySubcategories</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedJourneyIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varExclusionDetails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varJourneySubcategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPrimaryContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPrimaryJourneyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
