unpackaged/main/default/flows/Lead_After_Save_Automations.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Convert_Lead_to_Account</name>
        <label>Convert Lead to Account</label>
        <locationX>882</locationX>
        <locationY>342</locationY>
        <actionName>AutoConvertsLeads</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Converted_Contact_Id_from_Lead_to_Account</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>$Record.Matched_Account__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>leadid</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AutoConvertsLeads</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Convert_Lead_to_Contact</name>
        <label>Convert Lead to Contact</label>
        <locationX>882</locationX>
        <locationY>201</locationY>
        <actionName>AutoConvertsLeads</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Converted_Contact_Id_from_Lead_to_Contact</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>$Record.Matched_Account__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contactId</name>
            <value>
                <elementReference>$Record.Matched_Contact__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>leadid</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AutoConvertsLeads</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Converted_Contact_Id_from_Lead_to_Account</name>
        <label>Converted Contact Id from Lead to Account</label>
        <locationX>1103</locationX>
        <locationY>342</locationY>
        <assignmentItems>
            <assignToReference>ConvertedContactID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Convert_Lead_to_Account.contactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Users</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Converted_Contact_Id_from_Lead_to_Contact</name>
        <label>Converted Contact Id from Lead to Contact</label>
        <locationX>1102</locationX>
        <locationY>201</locationY>
        <assignmentItems>
            <assignToReference>ConvertedContactID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Convert_Lead_to_Contact.contactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Users</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Converted_Contact_Id_from_Record</name>
        <label>Converted Contact Id from Record</label>
        <locationX>1104</locationX>
        <locationY>487</locationY>
        <assignmentItems>
            <assignToReference>ConvertedContactID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ConvertedContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Users</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_it_a_conversion_event</name>
        <label>Is it a conversion event?</label>
        <locationX>868</locationX>
        <locationY>486</locationY>
        <defaultConnectorLabel>Not Conversion</defaultConnectorLabel>
        <rules>
            <name>Conversion_Event</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsConverted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.IsConverted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Converted_Contact_Id_from_Record</targetReference>
            </connector>
            <label>Conversion Event</label>
        </rules>
    </decisions>
    <decisions>
        <name>Matched_Records</name>
        <label>Matched Records?</label>
        <locationX>387</locationX>
        <locationY>347</locationY>
        <defaultConnector>
            <targetReference>Is_it_a_conversion_event</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Matched_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Matched_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsConverted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Convert_Lead_to_Contact</targetReference>
            </connector>
            <label>Matched Contact</label>
        </rules>
        <rules>
            <name>Matched_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Matched_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Matched_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsConverted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Convert_Lead_to_Account</targetReference>
            </connector>
            <label>Matched Account</label>
        </rules>
    </decisions>
    <description>Removing `Update Moment` step.</description>
    <environments>Default</environments>
    <interviewLabel>Lead - After Save Automations {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead - After Save Automations</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Users</name>
        <label>Update Users</label>
        <locationX>1358</locationX>
        <locationY>342</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>ConvertedContactID</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Retool_Users__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>268</locationX>
        <locationY>6</locationY>
        <connector>
            <targetReference>Matched_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Auto_Conversion__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>ConvertedContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
