unpackaged/main/default/flows/MAS_Manage_Automatic_Bookings.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Evaluate_BU</name>
        <label>Evaluate BU</label>
        <locationX>403</locationX>
        <locationY>225</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Upcoming_renewal_event</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_BU.Upcoming_Renewal_Auto_Pause_On__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_BU.Require_manual_resume_of_auto_bookings__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pause_auto_bookings</targetReference>
            </connector>
            <label>Upcoming renewal event</label>
        </rules>
        <rules>
            <name>Pause_scheduled_to_begin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_BU.Pause_Automatic_Bookings_On__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pause_auto_bookings_0</targetReference>
            </connector>
            <label>Pause scheduled to begin</label>
        </rules>
        <rules>
            <name>Bookings_scheduled_to_resume</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_BU.Resume_Automatic_Bookings_On__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Resume_auto_bookings</targetReference>
            </connector>
            <label>Bookings scheduled to resume</label>
        </rules>
    </decisions>
    <formulas>
        <name>renewal_date</name>
        <dataType>String</dataType>
        <expression>&quot;Upcoming renewal on &quot;&amp;TEXT(MONTH({!Get_BU.Most_Recent_Base_Opportunity__r.Contract_End_Date__c}))&amp;&quot;/&quot;&amp;
TEXT(DAY({!Get_BU.Most_Recent_Base_Opportunity__r.Contract_End_Date__c}))&amp;&quot;/&quot;&amp;
TEXT(YEAR({!Get_BU.Most_Recent_Base_Opportunity__r.Contract_End_Date__c}))</expression>
    </formulas>
    <interviewLabel>MAS: Manage Automatic Bookings {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MAS: Manage Automatic Bookings</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_BU</name>
        <label>Get BU</label>
        <locationX>177</locationX>
        <locationY>223</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Evaluate_BU</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BU_ID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Business_Unit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>51</locationX>
        <locationY>52</locationY>
        <connector>
            <targetReference>Get_BU</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Pause_auto_bookings</name>
        <label>Pause auto bookings</label>
        <locationX>683</locationX>
        <locationY>79</locationY>
        <flowName>BU_Execute_Automatic_Bookings_Pause</flowName>
        <inputAssignments>
            <name>bu_id</name>
            <value>
                <elementReference>Get_BU.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>pause_date</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>pause_reason</name>
            <value>
                <stringValue>Upcoming renewal event</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>related_opp_id</name>
            <value>
                <elementReference>Get_BU.Open_Renewal__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Pause_auto_bookings_0</name>
        <label>Pause auto bookings</label>
        <locationX>680</locationX>
        <locationY>219</locationY>
        <flowName>BU_Execute_Automatic_Bookings_Pause</flowName>
        <inputAssignments>
            <name>bu_id</name>
            <value>
                <elementReference>Get_BU.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>pause_date</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>pause_reason</name>
            <value>
                <stringValue>Previously scheduled</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Resume_auto_bookings</name>
        <label>Resume auto bookings</label>
        <locationX>673</locationX>
        <locationY>367</locationY>
        <flowName>BU_Execute_Resume_Automatic_Bookings</flowName>
        <inputAssignments>
            <name>bu_id</name>
            <value>
                <elementReference>Get_BU.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>resume_date</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>resume_reason</name>
            <value>
                <stringValue>Previously scheduled</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>BU_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
