unpackaged/main/default/flows/Netsuite_Company_Before_Save_Automations.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Clear_account_BU</name>
        <label>Clear account/BU</label>
        <locationX>490</locationX>
        <locationY>676</locationY>
        <assignmentItems>
            <assignToReference>$Record.Business_Unit__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.breadwinner_ns__Salesforce_Account__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_account</name>
        <label>Set account</label>
        <locationX>819</locationX>
        <locationY>553</locationY>
        <assignmentItems>
            <assignToReference>$Record.breadwinner_ns__Salesforce_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Business_Unit__r.Account__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_business_unit_ID</name>
        <label>Set business unit ID</label>
        <locationX>626</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>$Record.Business_Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ncf_entity_customrecord_sfdc_id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_defaults</name>
        <label>Set defaults</label>
        <locationX>368</locationX>
        <locationY>363</locationY>
        <assignmentItems>
            <assignToReference>$Record.Trigger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0055A00000ApunnQAB</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>standard_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SFDC_ID_is</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>SFDC_ID_is</name>
        <label>SFDC ID is</label>
        <locationX>357</locationX>
        <locationY>540</locationY>
        <defaultConnector>
            <targetReference>Clear_account_BU</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Business_Unit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ncf_entity_customrecord_sfdc_id__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a0o</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_business_unit_ID</targetReference>
            </connector>
            <label>Business Unit</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>standard_Name</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.breadwinner_ns__CompanyName__c},80)</expression>
    </formulas>
    <interviewLabel>Netsuite Company - Before Save Automations {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Netsuite Company - Before Save Automations</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>247</locationX>
        <locationY>78</locationY>
        <connector>
            <targetReference>Set_defaults</targetReference>
        </connector>
        <object>breadwinner_ns__BW_Company__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
