unpackaged/main/default/flows/Netsuite_Sales_Order_Before_Save_Automations.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Set_defaults</name>
        <label>Set defaults</label>
        <locationX>827</locationX>
        <locationY>293</locationY>
        <assignmentItems>
            <assignToReference>$Record.Trigger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>External_ID_is</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_opportunity</name>
        <label>Set opportunity</label>
        <locationX>1076</locationX>
        <locationY>445</locationY>
        <assignmentItems>
            <assignToReference>$Record.breadwinner_ns__Salesforce_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.breadwinner_ns__ExternalId__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>External_ID_is</name>
        <label>External ID is</label>
        <locationX>822</locationX>
        <locationY>447</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.breadwinner_ns__ExternalId__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_opportunity</targetReference>
            </connector>
            <label>Opportunity</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Netsuite Sales Order - Before Save Automations {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Netsuite Sales Order - Before Save Automations</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>699</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Set_defaults</targetReference>
        </connector>
        <object>breadwinner_ns__BW_Sales_Order__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
