unpackaged/main/default/flows/Notification_Rep_Weekly_Quarter_Call_Reminder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_notification_to_slack</name>
        <label>Send notification to slack</label>
        <locationX>713</locationX>
        <locationY>468</locationY>
        <actionName>Centro__NotifyFlow</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>channelId</name>
            <value>
                <stringValue>{!destination_id}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>InterviewGuid</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pinMessage</name>
            <value>
                <stringValue>false</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>showCompactLayout</name>
            <value>
                <stringValue>false</stringValue>
            </value>
        </inputParameters>
        <nameSegment>Centro__NotifyFlow</nameSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Notification: Rep Weekly Quarter Call Reminder {!$Flow.CurrentDateTime} {!Get_user.FirstName} {!Get_user.LastName}</interviewLabel>
    <label>Notification: Rep Weekly Quarter Call Reminder</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_user</name>
        <label>Get user</label>
        <locationX>453</locationX>
        <locationY>477</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_notification_to_slack</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>user_id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>74</locationX>
        <locationY>460</locationY>
        <connector>
            <targetReference>Get_user</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>slack_post</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;W&amp;lt;@{!Get_user.Slack_ID__c}&amp;gt; We have not received your weekly quarterly call. *Please &amp;lt;https://admin.retool.dev/apps/e1b754ac-9e38-11ec-89cc-d73a68315980/Adam/Sales%20Forecast|submit your weekly quarterly&amp;gt; call as soon as possible* cc &amp;lt;@{!Get_user.Manager.Slack_ID__c}&amp;gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>destination_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>user_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
