unpackaged/main/default/flows/Opp_Open_Pipeline_Before_Save_Automations.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Pull_forward_prior_call_fields</name>
        <label>Pull forward prior call fields</label>
        <locationX>1431</locationX>
        <locationY>295</locationY>
        <assignmentItems>
            <assignToReference>$Record.Call_Type_AE_Month__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_previous_snapshot.Call_Type_AE_Month__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Call_Type_AE_Qtr__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_previous_snapshot.Call_Type_AE_Qtr__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Call_Type_Manager_Month__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_previous_snapshot.Call_Type_Manager_Month__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Call_Type_Manager_Qtr__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_previous_snapshot.Call_Type_Manager_Qtr__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_defaults</name>
        <label>Set defaults</label>
        <locationX>575</locationX>
        <locationY>421</locationY>
        <assignmentItems>
            <assignToReference>$Record.Snapshot_Key__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>snapshot_key</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_previous_snapshot</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_previous_snapshot</name>
        <label>Set previous snapshot</label>
        <locationX>969</locationX>
        <locationY>420</locationY>
        <assignmentItems>
            <assignToReference>$Record.Previous_Snapshot__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_previous_snapshot.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_or_updated</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>New_or_updated</name>
        <label>New or updated?</label>
        <locationX>1201</locationX>
        <locationY>433</locationY>
        <defaultConnectorLabel>Updated</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Previous_Snapshot__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pull_forward_prior_call_fields</targetReference>
            </connector>
            <label>New</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>snapshot_key</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.Snapshot_Date__c})&amp;&quot;-&quot;&amp;{!$Record.Opportunity_ID_case_safe__c}</expression>
    </formulas>
    <interviewLabel>Opp Open Pipeline - Before Save Automations {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opp Open Pipeline - Before Save Automations</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_previous_snapshot</name>
        <label>Get previous snapshot</label>
        <locationX>788</locationX>
        <locationY>417</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_previous_snapshot</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Snapshot_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Record.Snapshot_Date__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opp_Open_Pipeline_Snapshot__c</object>
        <sortField>Snapshot_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>91</locationX>
        <locationY>352</locationY>
        <connector>
            <targetReference>Set_defaults</targetReference>
        </connector>
        <object>Opp_Open_Pipeline_Snapshot__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
