unpackaged/main/default/flows/Opportunity_Customer_Marketing_Button.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Add_Contact_to_OppRole_Collection</name>
        <label>Add Contact to OppRole Collection</label>
        <locationX>461</locationX>
        <locationY>951</locationY>
        <assignmentItems>
            <assignToReference>ContactsFromOppRole</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Contact_From_Role</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_found_contact_roles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_selected_Opp_Contacts</name>
        <label>Add to selected Opp Contacts</label>
        <locationX>511</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>OppContactRoles.selectedRows</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Add_Account_Contacts_to_Selected_Opp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Account_Contacts_to_Selected_Opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact_Values</name>
        <label>Assign Contact Values</label>
        <locationX>1351</locationX>
        <locationY>1614</locationY>
        <assignmentItems>
            <assignToReference>For_Each_Selected_Contact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactName.firstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>For_Each_Selected_Contact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactName.lastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>For_Each_Selected_Contact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactEmail.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>For_Each_Selected_Contact.Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Title</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_From_Selected_Contacts</name>
        <label>Remove From Selected Contacts</label>
        <locationX>848</locationX>
        <locationY>2233</locationY>
        <assignmentItems>
            <assignToReference>OppContactRoles.selectedRows</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>Create_Exec_Sponsor_Kit_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Exec_Sponsor_Kit_Loop</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Buyer</name>
        <choiceText>Buyer Persona</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Buyer Persona</stringValue>
        </value>
    </choices>
    <choices>
        <name>CAB</name>
        <choiceText>Customer Advisory Board Nomination</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Customer Advisory Board Nomination</stringValue>
        </value>
    </choices>
    <choices>
        <name>Champion</name>
        <choiceText>Champion Persona</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Champion Persona</stringValue>
        </value>
    </choices>
    <choices>
        <name>Gifting_Campaign</name>
        <choiceText>Target Expansion Swag Kit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Gifting Campaign</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Additional_People_from_the_Account</name>
        <label>Additional People from the Account</label>
        <locationX>761</locationX>
        <locationY>1295</locationY>
        <defaultConnector>
            <targetReference>What_type_of_Customer_Reference</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Additional People</defaultConnectorLabel>
        <rules>
            <name>YesAdditionalPeople</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_need_to_add_additional_people_at_the_account_who_weren_t_on_the_Opportuni</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Contacts</targetReference>
            </connector>
            <label>Yes Additional People</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_of_Request</name>
        <label>Type of Request</label>
        <locationX>770</locationX>
        <locationY>409</locationY>
        <defaultConnector>
            <targetReference>SomethingWentWrong</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Fallback</defaultConnectorLabel>
        <rules>
            <name>ABM_Campaign_Target_Expansion_Swag_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type_of_Customer_Reference</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Gifting_Campaign</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity_Contacts</targetReference>
            </connector>
            <label>ABM Campaign - Target Expansion Swag Request</label>
        </rules>
        <rules>
            <name>CAB_Nomination_For_Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type_of_Customer_Reference</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CAB</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Account.Account_Status_Committed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity_Contacts</targetReference>
            </connector>
            <label>CAB Nomination For Customer</label>
        </rules>
        <rules>
            <name>CAB_Nomination_For_Non_Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type_of_Customer_Reference</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CAB</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Account.Account_Status_Committed__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Active Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Youre_not_a_customer</targetReference>
            </connector>
            <label>CAB Nomination For Non-Customer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Were_contact_roles_found</name>
        <label>Were contact roles found?</label>
        <locationX>769</locationX>
        <locationY>780</locationY>
        <defaultConnector>
            <targetReference>ABMExpansionSwagCampaign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Contact Roles Found</defaultConnectorLabel>
        <rules>
            <name>Contact_Roles_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Contacts</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_found_contact_roles</targetReference>
            </connector>
            <label>Contact Roles Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_type_of_Customer_Reference</name>
        <label>What type of Customer Reference</label>
        <locationX>757</locationX>
        <locationY>1688</locationY>
        <defaultConnector>
            <targetReference>What_type_of_kit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Swag Kit</defaultConnectorLabel>
        <rules>
            <name>CABReference</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CAB_Nomination_For_Customer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>For_Each_Selected_Contact</targetReference>
            </connector>
            <label>CAB Reference</label>
        </rules>
    </decisions>
    <description>Updating Gifting Campaign records for 2025 Q2</description>
    <environments>Default</environments>
    <interviewLabel>Opportunity - Customer Marketing Button {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Customer Marketing Button</label>
    <loops>
        <name>Add_Account_Contacts_to_Selected_Opp</name>
        <label>Add Account Contacts to Selected Opp</label>
        <locationX>624</locationX>
        <locationY>1575</locationY>
        <collectionReference>WhichAccountContacts.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_selected_Opp_Contacts</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>What_type_of_Customer_Reference</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Create_Builder_Kit_Loop</name>
        <label>Create Builder Kit Loop</label>
        <locationX>761</locationX>
        <locationY>2425</locationY>
        <collectionReference>OppContactRoles.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Buyer_Kit_Records</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Confirmation</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Create_Exec_Sponsor_Kit_Loop</name>
        <label>Create Exec Sponsor Kit Loop</label>
        <locationX>760</locationX>
        <locationY>2017</locationY>
        <collectionReference>WhoGetsExecKit.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Exec_Sponsor_Kit_Records</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Builder_Kit_Loop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>For_Each_Selected_Contact</name>
        <label>For Each Selected Contact</label>
        <locationX>1049</locationX>
        <locationY>1686</locationY>
        <collectionReference>OppContactRoles.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CABNominationDetails</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CAB_Confirmation_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_found_contact_roles</name>
        <label>Loop through found contact roles</label>
        <locationX>604</locationX>
        <locationY>883</locationY>
        <collectionReference>Get_Opportunity_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Contact_From_Role</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ABMExpansionSwagCampaign</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Buyer_Kit_Records</name>
        <label>Create Buyer Kit Records</label>
        <locationX>848</locationX>
        <locationY>2533</locationY>
        <connector>
            <targetReference>Create_Builder_Kit_Loop</targetReference>
        </connector>
        <inputAssignments>
            <field>Activity_Category__c</field>
            <value>
                <stringValue>Gifting Campaign</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Activity_Detail__c</field>
            <value>
                <stringValue>2025Q2Buyer Kit AE Submission</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Activity_Subcategory__c</field>
            <value>
                <stringValue>Target Account Swag Kit (Champion)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Create_Builder_Kit_Loop.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Temp Name</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Identified - Advocate</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submitted_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Customer_Reference__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_CAB_Reference_Record</name>
        <label>Create CAB Reference Record</label>
        <locationX>1228</locationX>
        <locationY>1767</locationY>
        <connector>
            <targetReference>For_Each_Selected_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>Activity_Category__c</field>
            <value>
                <stringValue>VIP Access/Experience</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Activity_Detail__c</field>
            <value>
                <elementReference>ContactPersona</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Activity_Subcategory__c</field>
            <value>
                <stringValue>Customer Advisory Board</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>For_Each_Selected_Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Detailed_Notes__c</field>
            <value>
                <elementReference>CABDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Temp Name</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Identified - Advocate</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submitted_At__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submitted_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Customer_Reference__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Exec_Sponsor_Kit_Records</name>
        <label>Create Exec Sponsor Kit Records</label>
        <locationX>848</locationX>
        <locationY>2125</locationY>
        <connector>
            <targetReference>Remove_From_Selected_Contacts</targetReference>
        </connector>
        <inputAssignments>
            <field>Activity_Category__c</field>
            <value>
                <stringValue>Gifting Campaign</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Activity_Detail__c</field>
            <value>
                <stringValue>2025Q2 Exec Kit AE Submission</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Activity_Subcategory__c</field>
            <value>
                <stringValue>Target Account Swag Kit (Exec Buyer)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Create_Exec_Sponsor_Kit_Loop.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Temp Name</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Identified - Advocate</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submitted_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Customer_Reference__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Contacts</name>
        <label>Get Account Contacts</label>
        <locationX>623</locationX>
        <locationY>1290</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_which_other_people_you_would_like_to_add</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_From_Role</name>
        <label>Get Contact from Role</label>
        <locationX>462</locationX>
        <locationY>809</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Contact_to_OppRole_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_through_found_contact_roles.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_existing_opportunity_Customer_References</name>
        <label>Get existing opportunity Customer References</label>
        <locationX>780</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>What_sort_of_Customer_Marketing_request_are_you_submitting</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Customer_Reference__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Contacts</name>
        <label>Get Opportunity Contacts</label>
        <locationX>779</locationX>
        <locationY>607</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Were_contact_roles_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>1350</locationX>
        <locationY>1767</locationY>
        <connector>
            <targetReference>Create_CAB_Reference_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_CAB_Reference_Record</targetReference>
        </faultConnector>
        <inputReference>For_Each_Selected_Contact</inputReference>
    </recordUpdates>
    <screens>
        <name>ABMExpansionSwagCampaign</name>
        <label>ABMExpansionSwagCampaign</label>
        <locationX>769</locationX>
        <locationY>1081</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Additional_People_from_the_Account</targetReference>
        </connector>
        <fields>
            <name>ABMExpansionSwagHeader</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Expansion Swag Kits&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;This campaign enables Customer Marketing&#39;s partner, Sendoso, to confirm any selected customer&#39;s mailing address before sending a kit.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;There are two types of kits; a Tier 1 Kit for BUYERS, and a Tier 2 Kit for CHAMPIONS (see photo example)&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Strategic AEs can request up to &lt;strong&gt;5 kits per opportunity&lt;/strong&gt;.&lt;/p&gt;&lt;p&gt;Enterprise AEs can request up to &lt;strong&gt;3 &lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;kits per opportunity.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;﻿&lt;/span&gt;&lt;img src=&quot;https://retool.file.force.com/sfc/servlet.shepherd/version/download/068Qo00000MWtzH?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;Customer Kits for Sendoso.png&quot;&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ABM_Campaign_Target_Expansion_Swag_Request</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>CABNominationHeader</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Customer Advisory Board Nomination&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;CAB members will have an &lt;/span&gt;&lt;strong style=&quot;font-size: 13px;&quot;&gt;exclusive&lt;/strong&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt; opportunity to help shape Retool&#39;s roadmap in this year-long, &lt;/span&gt;&lt;strong style=&quot;font-size: 13px;&quot;&gt;invite-only&lt;/strong&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt; program (quarterly cadence of in-person and virtual engagements).&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 13px;&quot;&gt;Who should be nominated:&lt;/strong&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt; C-level, VP, SrDir at STRAT/ENT accounts; individuals in Eng/IT/Architecture/Data, etc (at large enterprises, Dir+ titles will be considered).&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CAB_Nomination_For_Customer</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>OppContactRoles</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Contact</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Opportunity Contact Roles</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>ContactsFromOppRole</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-3dd4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Full Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Email&quot;,&quot;guid&quot;:&quot;column-0540&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Email&quot;,&quot;type&quot;:&quot;email&quot;},{&quot;apiName&quot;:&quot;Title&quot;,&quot;guid&quot;:&quot;column-36b6&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Title&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;LastActivityDate&quot;,&quot;guid&quot;:&quot;column-a5a1&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Last Activity&quot;,&quot;type&quot;:&quot;date-local&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>5.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Do_you_need_to_add_additional_people_at_the_account_who_weren_t_on_the_Opportuni</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you need to add additional people at the account who weren&#39;t on the Opportunity?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CAB_Confirmation_Screen</name>
        <label>CAB Confirmation Screen</label>
        <locationX>1047</locationX>
        <locationY>1906</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CABConfirmationText</name>
            <fieldText>&lt;p&gt;Thanks for submitting your reference request(s)!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Customer Marketing will let you know when your nomination has been reviewed (give it 2-3 weeks for next steps).&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CABNominationDetails</name>
        <label>CAB Nomination Details</label>
        <locationX>1229</locationX>
        <locationY>1614</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Contact_Values</targetReference>
        </connector>
        <fields>
            <name>CABNominationDescription</name>
            <fieldText>&lt;p&gt;Please fill out or modify the following information to the best of your knowledge.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ContactName</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>firstName</name>
                <value>
                    <elementReference>For_Each_Selected_Contact.FirstName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lastName</name>
                <value>
                    <elementReference>For_Each_Selected_Contact.LastName</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ContactEmail</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>For_Each_Selected_Contact.Email</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Title</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>For_Each_Selected_Contact.Title</elementReference>
            </defaultValue>
            <fieldText>Title</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Buyer_vs_builder</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Which of these best describes your nominee:&lt;/span&gt;&lt;/p&gt;&lt;ol&gt;&lt;li&gt;&lt;strong style=&quot;font-size: 13px;&quot;&gt;Buyer&lt;/strong&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;&amp;nbsp;(Senior Decision-Maker = IDEAL)&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;font-size: 13px;&quot;&gt;Champion&lt;/strong&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt; (Highly strategic/engaged lead with influence over the purchase decision)&lt;/span&gt;&lt;/li&gt;&lt;/ol&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ContactPersona</name>
            <choiceReferences>Buyer</choiceReferences>
            <choiceReferences>Champion</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Persona</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>Why are you nominating this person?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Describe how they&#39;d show up as an &lt;/span&gt;&lt;strong style=&quot;font-size: 13px;&quot;&gt;engaged&lt;/strong&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt; and &lt;/span&gt;&lt;strong style=&quot;font-size: 13px;&quot;&gt;active&lt;/strong&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt; CAB member&lt;/span&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>What_is_the_customers_Use_Case</name>
            <defaultValue>
                <stringValue>{!recordId.Use_Cases__c}</stringValue>
            </defaultValue>
            <fieldText>What is the customers Use Case?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Please share more info on the &lt;/span&gt;&lt;strong style=&quot;font-size: 13px;&quot;&gt;account&#39;s usage&lt;/strong&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt; of Retool (which use cases/for what purposes)&lt;/span&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CAB_Geo</name>
            <dataType>String</dataType>
            <fieldText>Lastly, where is this person located?</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;e.g. NYC, Germany, FL, etc.&lt;/span&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Create Nomination</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirmation</name>
        <label>Confirmation</label>
        <locationX>760</locationX>
        <locationY>2725</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ConfirmationText</name>
            <fieldText>&lt;p&gt;Thanks for submitting your reference request(s)!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Customer Marketing will let you know when this gift is expected to ship (give it 1-2 weeks). Here’s the pre-printed notecard greeting your recipient will receive with this gift.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;img src=&quot;https://retool.file.force.com/sfc/servlet.shepherd/version/download/068Qo00000MZC4r?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;Screenshot 2024-11-01 at 3.29.19 PM.png&quot;&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_which_other_people_you_would_like_to_add</name>
        <label>Select which other people you would like to add</label>
        <locationX>625</locationX>
        <locationY>1437</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_Account_Contacts_to_Selected_Opp</targetReference>
        </connector>
        <fields>
            <name>WhichOtherPeople</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Select which other people you would like to add&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>WhichAccountContacts</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Contact</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Account Contacts</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Account_Contacts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-b907&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Full Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Email&quot;,&quot;guid&quot;:&quot;column-6fb0&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Email&quot;,&quot;type&quot;:&quot;email&quot;},{&quot;apiName&quot;:&quot;Title&quot;,&quot;guid&quot;:&quot;column-d792&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Title&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;LastActivityDate&quot;,&quot;guid&quot;:&quot;column-fd28&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Last Activity&quot;,&quot;type&quot;:&quot;date-local&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SomethingWentWrong</name>
        <label>SomethingWentWrong</label>
        <locationX>1056</locationX>
        <locationY>295</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>UhOh</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Uh Oh!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Looks like something unexpected happened in the system - please reach out to Elise in #revops-systems-general with a bit of context of what you were trying to do and we&#39;ll get it sorted!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>What_sort_of_Customer_Marketing_request_are_you_submitting</name>
        <label>What sort of Customer Marketing request are you submitting?</label>
        <locationX>780</locationX>
        <locationY>290</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Type_of_Request</targetReference>
        </connector>
        <fields>
            <name>ExistingRequestText</name>
            <fieldText>&lt;p&gt;Here is a list of all Customer Reference requests already submitted from this Opportunity; please review to ensure you are not submitting duplicate requests.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ExistingCustomerReferences</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Customer_Reference__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_existing_opportunity_Customer_References</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-6033&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Customer Reference&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Activity_Category__c&quot;,&quot;guid&quot;:&quot;column-065c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Activity Category&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Contact_Email__c&quot;,&quot;guid&quot;:&quot;column-1965&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Contact Email&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Activity_Detail__c&quot;,&quot;guid&quot;:&quot;column-ee87&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Activity Detail&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Status__c&quot;,&quot;guid&quot;:&quot;column-b765&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Status&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Submitted_At__c&quot;,&quot;guid&quot;:&quot;column-ca10&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Submitted At&quot;,&quot;type&quot;:&quot;customDateTime&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>WhatKindOfRequest</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;What kind of Customer Reference would you like to submit?&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;font-size: 12px;&quot;&gt;This list will evolve as more Customer Reference activities are stood up in the systems. If something is missing that you expected, please reach out in #revops-systems-general&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Type_of_Customer_Reference</name>
            <choiceReferences>Gifting_Campaign</choiceReferences>
            <choiceReferences>CAB</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type of Customer Reference</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>What_type_of_kit</name>
        <label>What type of kit?</label>
        <locationX>760</locationX>
        <locationY>1909</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Exec_Sponsor_Kit_Loop</targetReference>
        </connector>
        <fields>
            <name>WhatTypeOfKit</name>
            <fieldText>&lt;p&gt;Which of your selected contacts would you like to get the &lt;strong&gt;Tier 1: Exec Buyer / Decision Maker kit&lt;/strong&gt;?&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Those not selected will get the Tier 2: Champion / Builder kit.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>WhoGetsExecKit</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Contact</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>OppContactRoles.selectedRows</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-1c3f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Full Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Email&quot;,&quot;guid&quot;:&quot;column-901b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Email&quot;,&quot;type&quot;:&quot;email&quot;},{&quot;apiName&quot;:&quot;Title&quot;,&quot;guid&quot;:&quot;column-6719&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Title&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;LastActivityDate&quot;,&quot;guid&quot;:&quot;column-f2b8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Last Activity&quot;,&quot;type&quot;:&quot;date-local&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Youre_not_a_customer</name>
        <label>Youre not a customer</label>
        <locationX>1048</locationX>
        <locationY>451</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Not_currently_a_customer</name>
            <fieldText>&lt;p&gt;The opportunity you have selected is for an account that is not yet a customer. Please close this window or return to the previous step and select a different Customer Reference option.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>654</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_existing_opportunity_Customer_References</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>CABDescription</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;font-size: 13px;&quot;&gt;Nomination Description:&lt;/strong&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt; {!Description}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 13px;&quot;&gt;Customer Use Case:&lt;/strong&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt; {!What_is_the_customers_Use_Case}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 13px;&quot;&gt;Contact Geo:&lt;/strong&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt; {!CAB_Geo}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 13px;&quot;&gt;Account Renewal Date:&lt;/strong&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt; {!For_Each_Selected_Contact.Account.Next_Renewal_Date__c}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>ContactsFromOppRole</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>SelectedContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
