unpackaged/main/default/flows/Opportunity_Booking_Deleted_Alert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_to_variable_comp_ops</name>
        <label>Post to #variable-comp-ops</label>
        <locationX>1256</locationX>
        <locationY>201</locationY>
        <actionName>Centro__NotifyFlow</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>channelId</name>
            <value>
                <stringValue>{!channelid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>InterviewGuid</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>{!slack_alert}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pinMessage</name>
            <value>
                <stringValue>false</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>showCompactLayout</name>
            <value>
                <stringValue>false</stringValue>
            </value>
        </inputParameters>
        <nameSegment>Centro__NotifyFlow</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Is_record_Debook</name>
        <label>Is record Debook?</label>
        <locationX>800</locationX>
        <locationY>215</locationY>
        <defaultConnector>
            <targetReference>Post_to_variable_comp_ops</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Booking_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Debook</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Uncheck_Debooked_Deal</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Opportunity - Booking Deleted Alert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Booking Deleted Alert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Uncheck_Debooked_Deal</name>
        <label>Uncheck Debooked Deal</label>
        <locationX>1043</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>Post_to_variable_comp_ops</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Originating_Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Debook_Putback_Details__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Debook_Putback_Group_ID__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Debook_Putback_Reason__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Debooked_deal__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>348</locationX>
        <locationY>126</locationY>
        <connector>
            <targetReference>Is_record_Debook</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_Committed_Booking__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Subtype__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Expansion - Uncommitted</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subtype__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Contraction - Uncommitted</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subtype__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Baseline Transfer - In</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subtype__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Baseline Transfer - Out</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>slack_alert</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;!channel&gt; :rotating_light: *Booked Opportunity &lt;https://retool.lightning.force.com/{!$Record.Id}|{!$Record.Name}&gt; Deleted From Salesforce*
*ID:* {!$Record.Id}
*Opportunity Owner:* {!$Record.Owner.FirstName} {!$Record.Owner.LastName} ({!$Record.Owner_Role__c}) ({!$Record.Owner.Variable_Incentive_Plan__c})
*Sourced By:* {!$Record.Sourced_By__r.FirstName} {!$Record.Sourced_By__r.LastName} ({!$Record.Sourced_By_Role__c}) ({!$Record.Sourced_By__r.Variable_Incentive_Plan__c})
*Created Date: * {!$Record.CreatedDate}
*Actor:* {!$User.Slack_Mention_With_Role_Full_Name__c}</text>
    </textTemplates>
    <variables>
        <name>channelid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>C03TQLRM6M7</stringValue>
        </value>
    </variables>
</Flow>
