unpackaged/main/default/flows/Opportunity_Flow_Trigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Clear_error</name>
        <label>Clear error</label>
        <locationX>2187</locationX>
        <locationY>651</locationY>
        <assignmentItems>
            <assignToReference>$Record.Has_Automation_Error__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Automation_Error__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Trigger_Flow__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_error_0</name>
        <label>Clear error</label>
        <locationX>630</locationX>
        <locationY>457</locationY>
        <assignmentItems>
            <assignToReference>$Record.Has_Automation_Error__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Automation_Error__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Flow_triggered_is</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_error</name>
        <label>Set error</label>
        <locationX>2354</locationX>
        <locationY>437</locationY>
        <assignmentItems>
            <assignToReference>$Record.Has_Automation_Error__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Trigger_Flow__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opp</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>Show_automation_error</name>
        <label>Show automation error</label>
        <locationX>3002</locationX>
        <locationY>403</locationY>
        <customErrorMessages>
            <errorMessage>Error: {!$Record.Automation_Error__c}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Show_DML_error</name>
        <label>Show DML error</label>
        <locationX>2671</locationX>
        <locationY>308</locationY>
        <customErrorMessages>
            <errorMessage>Error: {!$Flow.FaultMessage}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Flow_triggered_is</name>
        <label>Flow triggered is</label>
        <locationX>869</locationX>
        <locationY>444</locationY>
        <defaultConnector>
            <targetReference>Clear_error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Opportunity_Update_Renewal_Baselines</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Trigger_Flow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Opportunity_Update_Renewal_Baselines</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Renewal_Baselines</targetReference>
            </connector>
            <label>Opportunity_Update_Renewal_Baselines</label>
        </rules>
        <rules>
            <name>Util_Roll_Forward_Line_Items</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Trigger_Flow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Util_Roll_Forward_Line_Items</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_Roll_Forward_Line_Items</targetReference>
            </connector>
            <label>Util_Roll_Forward_Line_Items</label>
        </rules>
        <rules>
            <name>Opportunity_Execute_Auto_Close_Pre_Steps</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Trigger_Flow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Opportunity_Execute_Auto_Close_Pre_Steps</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RunOpportunity_Execute_Auto_Close_Pre_Steps</targetReference>
            </connector>
            <label>Opportunity_Execute_Auto_Close_Pre_Steps</label>
        </rules>
        <rules>
            <name>Opportunity_Execute_Auto_Close_no_gong</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Trigger_Flow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Opportunity_Execute_Auto_Close_no_gong</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Execute_Auto_Close_0</targetReference>
            </connector>
            <label>Opportunity_Execute_Auto_Close_no_gong</label>
        </rules>
        <rules>
            <name>Opportunity_Execute_Auto_Close</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Trigger_Flow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Opportunity_Execute_Auto_Close</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Execute_Auto_Close</targetReference>
            </connector>
            <label>Opportunity_Execute_Auto_Close</label>
        </rules>
        <rules>
            <name>Opportunity_Committed_Closed_Won_Automations_v2_no_gong</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Trigger_Flow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Opportunity_Committed_Closed_Won_Automations_v2_no_gong</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_Opportunity_Committed_Closed_Won_Automations_v2_0</targetReference>
            </connector>
            <label>Opportunity_Committed_Closed_Won_Automations_v2_no_gong</label>
        </rules>
        <rules>
            <name>Opportunity_Committed_Closed_Won_Automations_v2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Trigger_Flow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Opportunity_Committed_Closed_Won_Automations_v2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_Opportunity_Committed_Closed_Won_Automations_v2</targetReference>
            </connector>
            <label>Opportunity_Committed_Closed_Won_Automations_v2</label>
        </rules>
        <rules>
            <name>Opportunity_Prepare_Marketplace_Autorenewal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Trigger_Flow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Opportunity_Prepare_Marketplace_Autorenewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opp_Prepare_Marketplace_Autorenewal</targetReference>
            </connector>
            <label>Opportunity_Prepare_Marketplace_Autorenewal</label>
        </rules>
        <rules>
            <name>Clear_Error_pick</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Trigger_Flow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Clear_Error</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_error</targetReference>
            </connector>
            <label>Clear_Error</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_error</name>
        <label>Has error?</label>
        <locationX>2145</locationX>
        <locationY>442</locationY>
        <defaultConnector>
            <targetReference>Clear_error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Automation_Error__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_error</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_error_0</name>
        <label>Has error?</label>
        <locationX>2777</locationX>
        <locationY>511</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Automation_Error__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Show_automation_error</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Opportunity - Flow Trigger {!$Flow.CurrentDateTime} {!$Record.Name}</interviewLabel>
    <label>Opportunity - Flow Trigger</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Opp</name>
        <label>Update Opp</label>
        <locationX>2547</locationX>
        <locationY>580</locationY>
        <connector>
            <targetReference>Has_error_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Show_DML_error</targetReference>
        </faultConnector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>200</locationX>
        <locationY>356</locationY>
        <connector>
            <targetReference>Clear_error_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Trigger_Flow__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Execute_Auto_Close</name>
        <label>Execute Auto Close</label>
        <locationX>1547</locationX>
        <locationY>848</locationY>
        <connector>
            <targetReference>Has_error</targetReference>
        </connector>
        <flowName>Opportunity_Execute_Auto_Close</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>setting_ring_gongs</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>$Record.Automation_Error__c</assignToReference>
            <name>error_message</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>$Record</assignToReference>
            <name>recordId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Execute_Auto_Close_0</name>
        <label>Execute Auto Close (No Gongs)</label>
        <locationX>1547</locationX>
        <locationY>723</locationY>
        <connector>
            <targetReference>Has_error</targetReference>
        </connector>
        <flowName>Opportunity_Execute_Auto_Close</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>setting_ring_gongs</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>$Record.Automation_Error__c</assignToReference>
            <name>error_message</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>$Record</assignToReference>
            <name>recordId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Opp_Prepare_Marketplace_Autorenewal</name>
        <label>Opp Prepare Marketplace Autorenewal</label>
        <locationX>1553</locationX>
        <locationY>336</locationY>
        <connector>
            <targetReference>Has_error</targetReference>
        </connector>
        <flowName>Opportunity_Prepare_Marketplace_Autorenewal</flowName>
        <inputAssignments>
            <name>target_opp</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Run_Opportunity_Committed_Closed_Won_Automations_v2</name>
        <label>Run Opportunity_Committed_Closed_Won_Automations_v2</label>
        <locationX>1552</locationX>
        <locationY>605</locationY>
        <connector>
            <targetReference>Has_error</targetReference>
        </connector>
        <flowName>Opportunity_Committed_Closed_Won_Automations_v2</flowName>
        <inputAssignments>
            <name>OpportunityRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>post_slack_to_test_channel</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ring_gong</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Run_Opportunity_Committed_Closed_Won_Automations_v2_0</name>
        <label>Run Opportunity_Committed_Closed_Won_Automations_v2 (no gongs)</label>
        <locationX>1557</locationX>
        <locationY>985</locationY>
        <connector>
            <targetReference>Has_error</targetReference>
        </connector>
        <flowName>Opportunity_Committed_Closed_Won_Automations_v2</flowName>
        <inputAssignments>
            <name>OpportunityRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>post_slack_to_test_channel</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ring_gong</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Run_Roll_Forward_Line_Items</name>
        <label>Run: Roll Forward Line Items</label>
        <locationX>1544</locationX>
        <locationY>461</locationY>
        <connector>
            <targetReference>Has_error</targetReference>
        </connector>
        <flowName>Util_Roll_Forward_Line_Items</flowName>
        <inputAssignments>
            <name>overwrite_existing_line_items</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>target_opp</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>$Record.Automation_Error__c</assignToReference>
            <name>result_code</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>RunOpportunity_Execute_Auto_Close_Pre_Steps</name>
        <label>Run Opportunity_Execute_Auto_Close_Pre_Steps</label>
        <locationX>1553</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Has_error</targetReference>
        </connector>
        <flowName>Opportunity_Execute_Auto_Close_Pre_Steps</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>$Record.Automation_Error__c</assignToReference>
            <name>error_message</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>$Record</assignToReference>
            <name>recordId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Update_Renewal_Baselines</name>
        <label>Run: Update Renewal Baselines</label>
        <locationX>1554</locationX>
        <locationY>198</locationY>
        <connector>
            <targetReference>Has_error</targetReference>
        </connector>
        <flowName>Opportunity_Update_Renewal_Baselines</flowName>
        <inputAssignments>
            <name>opp_record_updated</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>$Record.Automation_Error__c</assignToReference>
            <name>error_message</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>$Record</assignToReference>
            <name>opp_record_updated</name>
        </outputAssignments>
    </subflows>
    <triggerOrder>6</triggerOrder>
</Flow>
