unpackaged/main/default/flows/Opportunity_Reopen_Button.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Reply_to_sales_sdr_pass_thread</name>
        <label>Reply to sales-sdr-pass thread</label>
        <locationX>318</locationX>
        <locationY>2905</locationY>
        <actionName>Centro__SendMessageFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>channelId</name>
            <value>
                <stringValue>{!channel_id}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>InterviewGuid</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>&lt;p&gt;{!reopen_thread_reply}&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pinMessage</name>
            <value>
                <stringValue>false</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>postReply</name>
            <value>
                <stringValue>true</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>replyMessageTs</name>
            <value>
                <elementReference>message_ts</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>startThread</name>
            <value>
                <stringValue>false</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>updateMessage</name>
            <value>
                <stringValue>false</stringValue>
            </value>
        </inputParameters>
        <nameSegment>Centro__SendMessageFlow</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Reopen_lost_opportunity</name>
        <label>Reopen lost opportunity</label>
        <locationX>769</locationX>
        <locationY>2513</locationY>
        <assignmentItems>
            <assignToReference>recordId.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>open_stage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Reopen_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>reopen_reason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.ContractId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Close_Method__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Lost_Reason__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Lost_Reason_Details__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Alternative_Solution__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Permission_Check__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Forecast_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reopen_lost_opportunity_0</name>
        <label>Reopen lost opportunity</label>
        <locationX>418</locationX>
        <locationY>1738</locationY>
        <assignmentItems>
            <assignToReference>recordId.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>open_stage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Reopen_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>reopen_reason_cw</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Close_Method__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Permission_Check__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Forecast_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>send_thread_reply</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Prior_Opp_Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>(5) Validating Business Case/Negotiating</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Booking_is</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_calc_baselines</name>
        <label>Set calc baselines</label>
        <locationX>266</locationX>
        <locationY>2230</locationY>
        <assignmentItems>
            <assignToReference>calc_open_renewal_baselines</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_opp</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_in_account_pool</name>
        <label>Account in account pool?</label>
        <locationX>765</locationX>
        <locationY>763</locationY>
        <defaultConnector>
            <targetReference>Look_for_user_on_account_team</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_pool</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Account.Owner.Is_Account_Pool__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cannot_reopen_opportunity</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Booking_is</name>
        <label>Booking is</label>
        <locationX>286</locationX>
        <locationY>1939</locationY>
        <defaultConnector>
            <targetReference>Set_calc_baselines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Booking Base</defaultConnectorLabel>
        <rules>
            <name>Booking_Base</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Is_Booking_Base__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Found_open_renewal</targetReference>
            </connector>
            <label>Booking Base</label>
        </rules>
    </decisions>
    <decisions>
        <name>Eligible_to_re_open</name>
        <label>Eligible to re-open?</label>
        <locationX>775</locationX>
        <locationY>1657</locationY>
        <defaultConnector>
            <targetReference>Cannot_reopen_opportunity_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>recordId.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$User.User_ID_case_safe__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Sales_Operations__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Sales_Qualified_By__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$User.User_ID_case_safe__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_business_automation</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_open_renewal</name>
        <label>Found open renewal?</label>
        <locationX>505</locationX>
        <locationY>1944</locationY>
        <defaultConnector>
            <targetReference>Update_opp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_found_renewal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_open_renewal</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_open_renewal</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_sdr_pass_mq</name>
        <label>Has sdr-pass-mq?</label>
        <locationX>514</locationX>
        <locationY>2742</locationY>
        <defaultConnector>
            <targetReference>Success</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_MQ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Qualification_Journey__r.SDR_Pass_Message__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>send_thread_reply</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reply_to_sales_sdr_pass_thread</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Revenue_Operations</name>
        <label>Is Revenue Operations?</label>
        <locationX>951</locationX>
        <locationY>2021</locationY>
        <defaultConnector>
            <targetReference>Cannot_reopen_opportunity_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_revops</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Revenue Operations</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cannot_reopen_opportunity_0_0_0_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Revenue_Operations_0</name>
        <label>Is Revenue Operations?</label>
        <locationX>502</locationX>
        <locationY>451</locationY>
        <defaultConnector>
            <targetReference>Cannot_reopen_opportunity_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_revops_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Revenue Operations</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reopen_Opportunity_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opp_Is</name>
        <label>Opp Is</label>
        <locationX>751</locationX>
        <locationY>452</locationY>
        <defaultConnector>
            <targetReference>Cannot_reopen_opportunity_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Open</defaultConnectorLabel>
        <rules>
            <name>Closed_Lost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_in_account_pool</targetReference>
            </connector>
            <label>Closed Lost</label>
        </rules>
        <rules>
            <name>Closed_Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Revenue_Operations_0</targetReference>
            </connector>
            <label>Closed Won</label>
        </rules>
        <rules>
            <name>Churn</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Churn</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Revenue_Operations_0</targetReference>
            </connector>
            <label>Churn</label>
        </rules>
    </decisions>
    <decisions>
        <name>Recalculate_open_renewal_baselines</name>
        <label>Recalculate open renewal baselines?</label>
        <locationX>784</locationX>
        <locationY>2822</locationY>
        <defaultConnector>
            <targetReference>Was_auto_closed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_recalc</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>calc_open_renewal_baselines</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calc_Open_Renewal_Baselines_x</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_is_on_account_team</name>
        <label>User is on account team?</label>
        <locationX>772</locationX>
        <locationY>1436</locationY>
        <defaultConnector>
            <targetReference>Cannot_reopen_opportunity_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Revenue_Ops</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Sales_Operations__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Eligible_to_re_open</targetReference>
            </connector>
            <label>Revenue Ops</label>
        </rules>
        <rules>
            <name>Yes_account_team</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Look_for_user_on_account_team</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Eligible_to_re_open</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_auto_closed</name>
        <label>Was auto closed?</label>
        <locationX>1187</locationX>
        <locationY>2819</locationY>
        <defaultConnector>
            <targetReference>Update_forecast</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_auto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Auto_close__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_autoclose_and_forecast</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Within_reopen_window</name>
        <label>Within reopen window?</label>
        <locationX>768</locationX>
        <locationY>2036</locationY>
        <defaultConnector>
            <targetReference>Is_Revenue_Operations</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_within_window</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>days_since_close</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Get_business_automation.Closed_Lost_Reopen_Days__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reopen_Opportunity</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Added auto close reverse</description>
    <environments>Default</environments>
    <formulas>
        <name>calc_close_date</name>
        <dataType>Date</dataType>
        <expression>TODAY()+30</expression>
    </formulas>
    <formulas>
        <name>days_since_close</name>
        <dataType>Number</dataType>
        <expression>TODAY()- {!recordId.CloseDate}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>open_stage</name>
        <dataType>String</dataType>
        <expression>CASE({!recordId.Prior_Opp_Stage__c},
 &quot;(6) Signature&quot;,&quot;(5) Validating Business Case/Negotiating&quot;,
 IF(ISBLANK({!recordId.Prior_Opp_Stage__c}),&quot;(6) Signature&quot;,{!recordId.Prior_Opp_Stage__c})
)</expression>
    </formulas>
    <formulas>
        <name>reopen_reason</name>
        <dataType>String</dataType>
        <expression>{!recordId.Reopen_Reason__c}&amp;&quot; | Button (&quot;&amp;TEXT({!days_since_close})&amp;&quot; days): &quot;&amp;{!Why_are_you_reopening_this_opportunity}</expression>
    </formulas>
    <formulas>
        <name>segment_default</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!recordId.Segment__c},&quot;&quot;),&quot;ENT&quot;,TEXT({!recordId.Segment__c}))</expression>
    </formulas>
    <interviewLabel>Opportunity - Reopen Button {!$Flow.CurrentDateTime} {!recordId.Name}</interviewLabel>
    <label>Opportunity - Reopen Button</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>Delete_open_renewal</name>
        <label>Delete open renewal</label>
        <locationX>616</locationX>
        <locationY>2228</locationY>
        <connector>
            <targetReference>Update_opp</targetReference>
        </connector>
        <inputReference>Get_open_renewal</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_business_automation</name>
        <label>Get business automation</label>
        <locationX>780</locationX>
        <locationY>1849</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Within_reopen_window</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Segment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>segment_default</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Business_Automations__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_open_renewal</name>
        <label>Get open renewal</label>
        <locationX>416</locationX>
        <locationY>1600</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Reopen_lost_opportunity_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity_Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Originating_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Look_for_user_on_account_team</name>
        <label>Look for user on account team</label>
        <locationX>778</locationX>
        <locationY>1251</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_is_on_account_team</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_opp</name>
        <label>Update opp</label>
        <locationX>512</locationX>
        <locationY>2589</locationY>
        <connector>
            <targetReference>Has_sdr_pass_mq</targetReference>
        </connector>
        <inputReference>recordId</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Cannot_reopen_opportunity</name>
        <label>Cannot reopen opportunity</label>
        <locationX>1014</locationX>
        <locationY>737</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>error1</name>
            <fieldText>&lt;p&gt;You may not reopen this opportunity because the associated account is in the Account Pool.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cannot_reopen_opportunity_0</name>
        <label>Cannot reopen opportunity</label>
        <locationX>990</locationX>
        <locationY>1434</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>error1_0</name>
            <fieldText>&lt;p&gt;You may not reopen this opportunity because you are not currently a member of the account team.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please reach out to a member of the account team or Revenue Operations for assistance.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cannot_reopen_opportunity_0_0</name>
        <label>Cannot reopen opportunity</label>
        <locationX>1079</locationX>
        <locationY>1656</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>error1_0_0</name>
            <fieldText>&lt;p&gt;You may not reopen this opportunity because you are not the opportunity owner ({!recordId.Owner.FirstName} &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!recordId.Owner.LastName}&lt;/span&gt;) or the qualifying rep ({!recordId.Sales_Qualified_By__r.FirstName} &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!recordId.Sales_Qualified_By__r.LastName}&lt;/span&gt;).&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please reach out to one of these individuals or Revenue Operations for assistance.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cannot_reopen_opportunity_0_0_0_0</name>
        <label>Cannot reopen opportunity</label>
        <locationX>1148</locationX>
        <locationY>2021</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>error1_0_0_0_0</name>
            <fieldText>&lt;p&gt;You may not reopen this opportunity because the it was marked Closed Lost {!days_since_close} days ago. Closed Lost opportunities in this segment can only be reopened within {!Get_business_automation.Closed_Lost_Reopen_Days__c} days of being marked Closed Lost.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please create a new opportunity or reach out to Revenue Operations for assistance.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cannot_reopen_opportunity_0_0_0_0_0</name>
        <label>Cannot reopen opportunity</label>
        <locationX>978</locationX>
        <locationY>2229</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Reopen_Opportunity</targetReference>
        </connector>
        <fields>
            <name>error1_0_0_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;WARNING&lt;/strong&gt;: This opportunity because the it was marked Closed Lost {!days_since_close} days ago. Closed Lost opportunities in this segment can only be reopened within {!Get_business_automation.Closed_Lost_Reopen_Days__c} days of being marked Closed Lost.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If you still want to re-open this opportunity, click next to proceed.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cannot_reopen_opportunity_0_0_0_0_0_0</name>
        <label>Cannot reopen opportunity</label>
        <locationX>1005</locationX>
        <locationY>296</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>error1_0_0_0_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Error:&lt;/strong&gt; This opportunity is already open.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cannot_reopen_opportunity_0_0_0_0_0_0_0</name>
        <label>Cannot reopen opportunity</label>
        <locationX>551</locationX>
        <locationY>219</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>error1_0_0_0_0_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Error:&lt;/strong&gt; Only Revenue Operations may re-open a closed won opportunity.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Reopen_Opportunity</name>
        <label>Reopen Opportunity</label>
        <locationX>773</locationX>
        <locationY>2238</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Reopen_lost_opportunity</targetReference>
        </connector>
        <fields>
            <name>reopen_header</name>
            <fieldText>&lt;p&gt;To reopen this opportunity, please provide the following information:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Why_are_you_reopening_this_opportunity</name>
            <dataType>String</dataType>
            <fieldText>Why are you reopening this opportunity?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Error: Maximum 70 characters&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Why_are_you_reopening_this_opportunity})&lt;= 70</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Reopen_Opportunity_0</name>
        <label>Reopen Opportunity</label>
        <locationX>426</locationX>
        <locationY>1427</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_open_renewal</targetReference>
        </connector>
        <fields>
            <name>reopen_header_0</name>
            <fieldText>&lt;p&gt;To reopen this opportunity, please provide the following information:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>reopen_reason_cw</name>
            <dataType>String</dataType>
            <fieldText>Why are you reopening this opportunity?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Error: Maximum 70 characters&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Why_are_you_reopening_this_opportunity})&lt;= 70</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>520</locationX>
        <locationY>3047</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Recalculate_open_renewal_baselines</targetReference>
        </connector>
        <fields>
            <name>success_header</name>
            <fieldText>&lt;p&gt;This opportunity has been successfully re-opened to stage {!recordId.StageName}.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please click &lt;strong&gt;Next&lt;/strong&gt; to update this opportunity&#39;s forecast.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>643</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Opp_Is</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Calc_Open_Renewal_Baselines_x</name>
        <label>Calc Open Renewal Baselines</label>
        <locationX>971</locationX>
        <locationY>2694</locationY>
        <connector>
            <targetReference>Was_auto_closed</targetReference>
        </connector>
        <flowName>Opportunity_Update_Renewal_Baselines</flowName>
        <inputAssignments>
            <name>OppId</name>
            <value>
                <elementReference>Get_open_renewal.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>recordId</assignToReference>
            <name>opp_record_updated</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Remove_autoclose_and_forecast</name>
        <label>Remove autoclose and forecast</label>
        <locationX>1415</locationX>
        <locationY>2697</locationY>
        <flowName>Opportunity_Modify_Auto_Close</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>recordId</assignToReference>
            <name>recordId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Update_forecast</name>
        <label>Update forecast</label>
        <locationX>1408</locationX>
        <locationY>2867</locationY>
        <flowName>Opportunity_Update_Forecast</flowName>
        <inputAssignments>
            <name>oppid</name>
            <value>
                <stringValue>{!recordId.Id}</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>reopen_thread_reply</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!$User.Slack_Mention_Handle_Only__c} has reopened this opportunity in {!recordId.StageName} for the following reason: {!recordId.Reopen_Reason__c}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>calc_open_renewal_baselines</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>channel_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>recordId.Qualification_Journey__r.SDR_Pass_Message__r.Centro__ChannelId__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>message_ts</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>recordId.Qualification_Journey__r.SDR_Pass_Message__r.Centro__Message_TS__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>send_thread_reply</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
</Flow>
