unpackaged/main/default/flows/Opportunity_Lock_Booking_Event_Handler.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Opportunity - Lock Booking Event Handler {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Lock Booking Event Handler</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Lock_target_booking</name>
        <label>Lock target booking</label>
        <locationX>567</locationX>
        <locationY>576</locationY>
        <inputAssignments>
            <field>Event__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Method__c</field>
            <value>
                <elementReference>$Record.Method__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.OpportunityId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.ActorId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_Detail__c</field>
            <value>
                <elementReference>$Record.Reason_Detail__c</elementReference>
            </value>
        </inputAssignments>
        <object>Booking_Audit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Trigger_opportunity</name>
        <label>Trigger opportunity</label>
        <locationX>563</locationX>
        <locationY>419</locationY>
        <connector>
            <targetReference>Lock_target_booking</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Trigger__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>441</locationX>
        <locationY>187</locationY>
        <connector>
            <targetReference>Trigger_opportunity</targetReference>
        </connector>
        <flowRunAsUser>TriggeringUser</flowRunAsUser>
        <object>Lock_Booking__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
</Flow>
