unpackaged/main/default/flows/Opportunity_Request_Premium_Support.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_to_slack</name>
        <label>Post to slack</label>
        <locationX>800</locationX>
        <locationY>683</locationY>
        <actionName>Centro__SendMessageFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Add_details_to_opp</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>channelId</name>
            <value>
                <stringValue>{!channelId}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>InterviewGuid</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>&lt;p&gt;{!slack_post}&lt;/p&gt;&lt;p&gt;&amp;lt;!subteam^S07NRQB9QUC&amp;gt;&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pinMessage</name>
            <value>
                <stringValue>false</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendImmediately</name>
            <value>
                <stringValue>true</stringValue>
            </value>
        </inputParameters>
        <nameSegment>Centro__SendMessageFlow</nameSegment>
        <outputParameters>
            <assignToReference>messag_queue_record</assignToReference>
            <name>messageQueue</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Add_details_to_opp</name>
        <label>Add details to opp</label>
        <locationX>790</locationX>
        <locationY>853</locationY>
        <assignmentItems>
            <assignToReference>recordId.Premium_Support_Request_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Premium_Support_Request_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>screen_premium_support_details</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Premium_Support_Request_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Requested</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Premium_Support_Request_TS__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>messag_queue_record.Centro__Message_TS__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunityt</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Request_has_already_been_submitted</name>
        <label>Request has already been submitted?</label>
        <locationX>785</locationX>
        <locationY>281</locationY>
        <defaultConnector>
            <targetReference>RequestPremiumSupport</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Premium_Support_Request_Status__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Already_Submitted</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Opportunity - Request Premium Support {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Request Premium Support</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Opportunityt</name>
        <label>Update Opportunity</label>
        <locationX>852</locationX>
        <locationY>1064</locationY>
        <inputReference>recordId</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Error_Already_Submitted</name>
        <label>Error - Already Submitted</label>
        <locationX>1041</locationX>
        <locationY>282</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>error_header</name>
            <fieldText>&lt;p&gt;A request for Premium Support has already been submitted for this deal:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;u&gt;Request Date&lt;/u&gt;: {!recordId.Premium_Support_Request_Date__c}&lt;/p&gt;&lt;p&gt;&lt;u&gt;Request Status&lt;/u&gt;: {!recordId.Premium_Support_Request_Status__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>RequestPremiumSupport</name>
        <label>Request Premium Support</label>
        <locationX>796</locationX>
        <locationY>501</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Post_to_slack</targetReference>
        </connector>
        <fields>
            <name>qualify_header</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Retool Premium Support is not currently &quot;generally available&quot;.&lt;/strong&gt; Accordingly, you may request that this prospect/customer be considered as a candidate to purchase, subject to the following requirements:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong&gt;Enterprise plan only: &lt;/strong&gt;Not available to Business plan customers&lt;/li&gt;&lt;li&gt;&lt;strong&gt;No discounting&lt;/strong&gt;: Premium Support SKUs may not be discounted&lt;/li&gt;&lt;li&gt;&lt;strong&gt;No SLA redlines:&lt;/strong&gt; Premium Support SLA may not be redlined or customized in any way&lt;/li&gt;&lt;li&gt;&lt;strong&gt;200k+ ARR&lt;/strong&gt;: New deals must be for at least 200k ARR and existing customers who want to upgrade must be spending at least 200k ARR or have a subscription expansion that brings them over 200k ARR (excluding the value of Premium Support).&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;During this pre-release phase, GTM will only be approving a limited number of deals pursuing Premium Support. Upon submission of this form, the Premium Support team will be notified and will either approve your request or wait list the customer.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>screen_premium_support_details</name>
            <dataType>String</dataType>
            <fieldText>Please describe your customer&#39;s need for Premium Support:</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Response must be 255 characters or less&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!screen_premium_support_details})&lt;255</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>665</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Request_has_already_been_submitted</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>slack_post</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;Premium Support Approval Requested&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Deal:&lt;/strong&gt; &lt;a href=&quot;https://retool.lightning.force.com/{!recordId.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!recordId.Name}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Owner:&lt;/strong&gt; {!recordId.Owner.Slack_Mention_With_Role_Full_Name__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Forecast Total ARR:&lt;/strong&gt; ${!recordId.Forecast_Total_AR__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Stage: &lt;/strong&gt;{!recordId.StageName}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Close Date: &lt;/strong&gt;{!recordId.CloseDate}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Next Step:&lt;/strong&gt; {!recordId.NextStep}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Customer Need: &lt;/strong&gt;{!screen_premium_support_details}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>channelId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>C07NGH0J7PG</stringValue>
        </value>
    </variables>
    <variables>
        <name>messag_queue_record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Centro__Message_Queue__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
