unpackaged/main/default/flows/Opportunity_Product_Create_Services_Project2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Add_to_line_item</name>
        <label>Add to line item</label>
        <locationX>943</locationX>
        <locationY>662</locationY>
        <assignmentItems>
            <assignToReference>recordId.Services_Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>new_project.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_line_item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_project</name>
        <label>Build project</label>
        <locationX>941</locationX>
        <locationY>336</locationY>
        <assignmentItems>
            <assignToReference>new_project.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.OpportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_project.Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>calc_sow_end_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_project.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Opportunity.Term_Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_project.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>default_project_owner</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_project.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Proposed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_project.Push_to_Rocketlane__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Create</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_project.Opportunity_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_project.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Product2.Services_Project_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_project.Business_Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Opportunity.Business_Unit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_project.Billing_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>project_billing_method</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_project.SOW_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Opportunity.Term_Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_project.SOW_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>calc_sow_end_date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_services_project</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_delivery_partner</name>
        <label>Has delivery partner?</label>
        <locationX>1141</locationX>
        <locationY>809</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Services_Project_Delivery_Partner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_services_delivery_partner</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>calc_sow_end_date</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!recordId.Opportunity.Term_Start_Date__c},{!recordId.Opportunity.Contract.SoW_Term_Length_mo__c})</expression>
    </formulas>
    <formulas>
        <name>default_project_owner</name>
        <dataType>String</dataType>
        <expression>IF(
  ISBLANK({!recordId.Opportunity.Account.Professional_Services__c}),
  &quot;0055A00000BExg9QAD&quot;,
  {!recordId.Opportunity.Account.Professional_Services__c}
 )</expression>
    </formulas>
    <formulas>
        <name>project_billing_method</name>
        <dataType>String</dataType>
        <expression>CASE({!recordId.Product__r.Booking_Recognition_Method__c},
&quot;Prepaid&quot;,&quot;Fixed Fee&quot;,
&quot;Postpaid&quot;,&quot;Time and Material&quot;,
NULL
)</expression>
    </formulas>
    <interviewLabel>Opportunity Product - Create Services Project {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Product - Create Services Project</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_services_delivery_partner</name>
        <label>Create services delivery partner</label>
        <locationX>1454</locationX>
        <locationY>745</locationY>
        <inputAssignments>
            <field>Delivery_Partner__c</field>
            <value>
                <elementReference>recordId.Services_Project_Delivery_Partner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Services_Project__c</field>
            <value>
                <elementReference>new_project.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Services_Project_Partner_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_services_project</name>
        <label>Create services project</label>
        <locationX>937</locationX>
        <locationY>506</locationY>
        <connector>
            <targetReference>Add_to_line_item</targetReference>
        </connector>
        <inputReference>new_project</inputReference>
    </recordCreates>
    <recordUpdates>
        <name>Update_line_item</name>
        <label>Update line item</label>
        <locationX>952</locationX>
        <locationY>806</locationY>
        <connector>
            <targetReference>Has_delivery_partner</targetReference>
        </connector>
        <inputReference>recordId</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>810</locationX>
        <locationY>133</locationY>
        <connector>
            <targetReference>Build_project</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>new_project</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Services_Project__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
</Flow>
