unpackaged/main/default/flows/Opportunity_Transfer_Related_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Transfer_events0</name>
        <label>Transfer events?</label>
        <locationX>437</locationX>
        <locationY>213</locationY>
        <defaultConnector>
            <targetReference>Transfer_tasks0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Transfer_events</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_related_events_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Transfer_pfrs0_0_0</name>
        <label>Transfer PFRs?</label>
        <locationX>882</locationX>
        <locationY>205</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Transfer_product_feedback_requests</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_related_PFRs</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Transfer_tasks0_0</name>
        <label>Transfer tasks?</label>
        <locationX>667</locationX>
        <locationY>206</locationY>
        <defaultConnector>
            <targetReference>Transfer_pfrs0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Transfer_tasks</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_related_tasks</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Opportunity - Transfer Related Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Transfer Related Records</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_destination_opp</name>
        <label>Get destination opp</label>
        <locationX>312</locationX>
        <locationY>214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Transfer_events0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Destination_Opportunity_ID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_related_events_0</name>
        <label>Update related events</label>
        <locationX>555</locationX>
        <locationY>75</locationY>
        <connector>
            <targetReference>Transfer_tasks0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Current_Opportunity_ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Destination_Opportunity_ID</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_related_PFRs</name>
        <label>Update related PFRs</label>
        <locationX>1008</locationX>
        <locationY>87</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Current_Opportunity_ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_destination_opp.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>Destination_Opportunity_ID</elementReference>
            </value>
        </inputAssignments>
        <object>Product_Feedback_Req__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_related_tasks</name>
        <label>Update related tasks</label>
        <locationX>774</locationX>
        <locationY>71</locationY>
        <connector>
            <targetReference>Transfer_pfrs0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Current_Opportunity_ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Destination_Opportunity_ID</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Transfer_related_records</name>
        <label>Transfer related records</label>
        <locationX>165</locationX>
        <locationY>207</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_destination_opp</targetReference>
        </connector>
        <fields>
            <name>Current_Opportunity_ID</name>
            <dataType>String</dataType>
            <fieldText>Current Opportunity ID:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Destination_Opportunity_ID</name>
            <dataType>String</dataType>
            <fieldText>Destination Opportunity ID:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Transfer_tasks</name>
            <dataType>Boolean</dataType>
            <fieldText>Transfer tasks?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Transfer_events</name>
            <dataType>Boolean</dataType>
            <fieldText>Transfer events?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Transfer_product_feedback_requests</name>
            <dataType>Boolean</dataType>
            <fieldText>Transfer product feedback requests?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Transfer_related_records</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
