unpackaged/main/default/flows/Opportunity_Request_TAM.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Open_milestone</name>
        <label>Open milestone</label>
        <locationX>709</locationX>
        <locationY>2049</locationY>
        <actionName>c:OpenURL</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>_blank</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>url</name>
            <value>
                <elementReference>milestone_url</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:OpenURL</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Post_to_request_channel</name>
        <label>Post to request channel</label>
        <locationX>630</locationX>
        <locationY>1491</locationY>
        <actionName>Centro__SendMessageFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Add_message_queue</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>channelId</name>
            <value>
                <stringValue>{!channel_id}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>InterviewGuid</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>&lt;p&gt;{!new_request_slack}&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pinMessage</name>
            <value>
                <stringValue>false</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>postEphemeral</name>
            <value>
                <stringValue>false</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>postReply</name>
            <value>
                <stringValue>false</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>startThread</name>
            <value>
                <stringValue>false</stringValue>
            </value>
        </inputParameters>
        <nameSegment>Centro__SendMessageFlow</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>message_queue</assignToReference>
            <name>messageQueue</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Add_message_queue</name>
        <label>Add message queue</label>
        <locationX>647</locationX>
        <locationY>1655</locationY>
        <assignmentItems>
            <assignToReference>new_milestone.Request_MQ__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>message_queue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_milestone</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_request_milestone</name>
        <label>Build request milestone</label>
        <locationX>656</locationX>
        <locationY>1160</locationY>
        <assignmentItems>
            <assignToReference>new_milestone.Requested_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_milestone.Requested_By_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$UserRole.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_milestone.Request_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_milestone.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0055A00000BExg9QAD</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_milestone.Approval_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_milestone.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_milestone.Business_Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Business_Unit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_milestone.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>type_choice.firstSelectedRow.Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_milestone.Request_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>screen_request_details</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_milestone.Milestone_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>milestone_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_milestone.Create_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateMethod</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Milestone</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_channel_ID</name>
        <label>Set channel ID</label>
        <locationX>590</locationX>
        <locationY>749</locationY>
        <assignmentItems>
            <assignToReference>channel_id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_customer_milestone_routing_setting.Notification_Slack_Channel_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Request_TAM_Help</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Found_routing_setting</name>
        <label>Found routing setting?</label>
        <locationX>578</locationX>
        <locationY>565</locationY>
        <defaultConnector>
            <targetReference>Error_no_routing_setting</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_customer_milestone_routing_setting</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_channel_ID</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>milestone_date</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+30</expression>
    </formulas>
    <formulas>
        <name>milestone_url</name>
        <dataType>String</dataType>
        <expression>&quot;https://retool.lightning.force.com/&quot;&amp;{!new_milestone.Id}</expression>
    </formulas>
    <interviewLabel>Opportunity - Request TAM {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Request TAM Support</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Milestone</name>
        <label>Create Milestone</label>
        <locationX>638</locationX>
        <locationY>1322</locationY>
        <connector>
            <targetReference>Post_to_request_channel</targetReference>
        </connector>
        <inputReference>new_milestone</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_customer_milestone_routing_setting</name>
        <label>Get customer milestone routing setting</label>
        <locationX>589</locationX>
        <locationY>265</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_requestable_types</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Region__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Geo_Region__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tier__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Customer_Success_Tier__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Customer_Milestone_Routing_Setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_requestable_types</name>
        <label>Get requestable types</label>
        <locationX>584</locationX>
        <locationY>411</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_routing_setting</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Geo__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Geo_Region__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tier__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Customer_Success_Tier__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Request_by_Sales__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Customer_Milestone_Type_Setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_milestone</name>
        <label>Update milestone</label>
        <locationX>668</locationX>
        <locationY>1844</locationY>
        <connector>
            <targetReference>Open_milestone</targetReference>
        </connector>
        <inputReference>new_milestone</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Error_no_routing_setting</name>
        <label>Error</label>
        <locationX>805</locationX>
        <locationY>543</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>error_routing</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Error:&lt;/strong&gt; No Customer Milestone Routing Setting metadata found. Please notify Revenue Operations.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Request_TAM_Help</name>
        <label>Request TAM Help</label>
        <locationX>641</locationX>
        <locationY>951</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Build_request_milestone</targetReference>
        </connector>
        <fields>
            <name>request_screen_header</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Customer:&lt;/strong&gt; &lt;a href=&quot;https://retool.lightning.force.com/{!recordId.Business_Unit__c}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!recordId.Business_Unit__r.Name}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Opportunity: &lt;/strong&gt;&lt;a href=&quot;https://retool.lightning.force.com/{!recordId.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!recordId.Name}&lt;/a&gt;&lt;/p&gt;&lt;p&gt; &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>type_choice</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Customer_Milestone_Type_Setting__mdt</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>What kind of support are you requesting?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_requestable_types</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Type__c&quot;,&quot;guid&quot;:&quot;column-4ff9&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Type&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Type&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Description__c&quot;,&quot;guid&quot;:&quot;column-548b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Description&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Description&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Please_provide_the_following_information_to_request_TAM_support</name>
            <fieldText>Please provide the following information to request TAM support:</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Please_provide_the_following_information_to_request_TAM_support_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>screen_request_details</name>
                    <dataType>String</dataType>
                    <fieldText>Briefly describe why you are making this request:</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Submit TAM Request</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>463</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_customer_milestone_routing_setting</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>new_request_slack</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;:arrow_forward: &lt;/strong&gt;&lt;a href=&quot;https://retool.lightning.force.com/{!new_milestone.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;{!recordId.Customer_Success_Tier__c} TAM Support Requested&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Requestor: &lt;/strong&gt;{!$User.Slack_Mention_With_Role_Full_Name__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Customer: &lt;/strong&gt;&lt;a href=&quot;https://retool.lightning.force.com/{!recordId.Business_Unit__c}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!recordId.Business_Unit__r.Name}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Region&lt;/strong&gt;: {!recordId.Account.ShippingCountry} ({!recordId.Account.Shipping_Region__c})&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Type: &lt;/strong&gt;{!new_milestone.Type__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Details: &lt;/strong&gt;{!new_milestone.Request_Details__c}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>request_thread_reply</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&amp;lt;!subteam^{!Get_customer_milestone_routing_setting.Approver_Slack_Group_ID__c}&amp;gt; {!Get_customer_milestone_routing_setting.Approval_Reply_SLA__c}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>channel_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreateMethod</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Opportunity - Request TAM Support Button</stringValue>
        </value>
    </variables>
    <variables>
        <name>message_queue</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Centro__Message_Queue__c</objectType>
    </variables>
    <variables>
        <name>new_milestone</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Customer_Milestone__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
