unpackaged/main/default/flows/Opportunity_Map_Self_Service_Subscription.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Add_SS_ARR</name>
        <label>Add SS ARR</label>
        <locationX>1906</locationX>
        <locationY>2114</locationY>
        <assignmentItems>
            <assignToReference>ss_arr</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_mapped_orgs.Self_Service_ARR__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_mapped_orgs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_active_customers_in_hierarchy</name>
        <label>Set active customers in hierarchy</label>
        <locationX>1187</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>is_active_customer_in_hierarchy</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_self_service_orgs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_admin_variables</name>
        <label>Set admin variables</label>
        <locationX>1306</locationX>
        <locationY>494</locationY>
        <assignmentItems>
            <assignToReference>admin_additional_business_line</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>additional_business_line_scope_calc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>setting_bypass_locked_booking_check</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bypass_locked_booking_check</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Look_for_active_customer_accounts_in_hierarchy</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_result_code_0</name>
        <label>Set result</label>
        <locationX>1360</locationX>
        <locationY>2337</locationY>
        <assignmentItems>
            <assignToReference>opportunity_type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Existing Business</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunity_subtype</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Conversion - Self-Service to Annual</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Map_chosen_opportunities_to_Retool_Orgs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_resultd</name>
        <label>Set result</label>
        <locationX>1300</locationX>
        <locationY>1890</locationY>
        <assignmentItems>
            <assignToReference>opportunity_type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>new_type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunity_subtype</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>new_subtype</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Run_contextf</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_resultd_0</name>
        <label>Set result</label>
        <locationX>1486</locationX>
        <locationY>1587</locationY>
        <assignmentItems>
            <assignToReference>opportunity_type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunity_subtype</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Subtype__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ss_arr</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Converted_Org_Final_Annualized_Revenue__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_scope</name>
        <label>Set scope</label>
        <locationX>665</locationX>
        <locationY>298</locationY>
        <assignmentItems>
            <assignToReference>admin_additional_business_line</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Committed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Include_committed_orgs_f</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_opportunity</name>
        <label>Update opportunity</label>
        <locationX>1954</locationX>
        <locationY>1881</locationY>
        <assignmentItems>
            <assignToReference>recordId.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>opportunity_type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Subtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>opportunity_subtype</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Converted_Org_Final_Annualized_Revenue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ss_arr</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Permission_Check__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_opp</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choice_convert_ss</name>
        <choiceText>&lt;strong&gt;Convert&lt;/strong&gt; one or more existing self service subscriptions to a new, annual subscription</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>yes_convert_self_service</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_new_commitment</name>
        <choiceText>&lt;strong&gt;New annual subscription&lt;/strong&gt;, unrelated to any existing self service subscriptions</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>new_commitment</stringValue>
        </value>
    </choices>
    <collectionProcessors>
        <name>Orgs_with_opp</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Orgs with opp</label>
        <locationX>1006</locationX>
        <locationY>1648</locationY>
        <assignNextValueToReference>currentItem_Orgs_with_opp</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_self_service_orgs</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Orgs_with_opp.Opportunity__c</leftValueReference>
            <operator>IsBlank</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Associate_Self_Service_Organizations</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Booking_is</name>
        <label>Booking is</label>
        <locationX>995</locationX>
        <locationY>777</locationY>
        <defaultConnector>
            <targetReference>Found_active_customers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Open</defaultConnectorLabel>
        <rules>
            <name>Check_bypassed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>setting_bypass_locked_booking_check</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Found_active_customers</targetReference>
            </connector>
            <label>Check bypassed</label>
        </rules>
        <rules>
            <name>Locked_within_9_days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Booking_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Locked</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>change_deadline</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Found_active_customers</targetReference>
            </connector>
            <label>Locked (within 9 days)</label>
        </rules>
        <rules>
            <name>Locked_10_days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Booking_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Locked</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_f</targetReference>
            </connector>
            <label>Locked (10+ days)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Convert_choice</name>
        <label>Convert choice</label>
        <locationX>998</locationX>
        <locationY>2324</locationY>
        <defaultConnector>
            <targetReference>Set_resultd</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New Commitment</defaultConnectorLabel>
        <rules>
            <name>Convert_to_Self_Service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>replace_self_service_choice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_convert_ss</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_result_code_0</targetReference>
            </connector>
            <label>Convert to Self Service</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_active_customers</name>
        <label>Found active customers?</label>
        <locationX>987</locationX>
        <locationY>1092</locationY>
        <defaultConnector>
            <targetReference>Get_self_service_orgs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Look_for_active_customer_accounts_in_hierarchy</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_active_customers_in_hierarchy</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_SS_orgs</name>
        <label>Found SS orgs?</label>
        <locationX>991</locationX>
        <locationY>1470</locationY>
        <defaultConnector>
            <targetReference>Run_contextf_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_self_service_orgs</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Orgs_with_opp</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Include_committed_orgs_f</name>
        <label>Include committed orgs?</label>
        <locationX>991</locationX>
        <locationY>391</locationY>
        <defaultConnector>
            <targetReference>Look_for_active_customer_accounts_in_hierarchy</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_f</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>include_committed_orgs</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_admin_variables</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Run_contextf</name>
        <label>Run context</label>
        <locationX>1691</locationX>
        <locationY>1890</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>record_page</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>run_context</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>record_page</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_opportunity</targetReference>
            </connector>
            <label>record_page</label>
        </rules>
    </decisions>
    <decisions>
        <name>Run_contextf_0</name>
        <label>Run context</label>
        <locationX>1239</locationX>
        <locationY>1473</locationY>
        <defaultConnector>
            <targetReference>Set_resultd_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other / Closed Won</defaultConnectorLabel>
        <rules>
            <name>record_page_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>run_context</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>record_page</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error</targetReference>
            </connector>
            <label>record_page</label>
        </rules>
    </decisions>
    <decisions>
        <name>Team_is</name>
        <label>Team is</label>
        <locationX>990</locationX>
        <locationY>212</locationY>
        <defaultConnector>
            <targetReference>Include_committed_orgs_f</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Revenue_Operations</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Revenue Operations</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Admin</targetReference>
            </connector>
            <label>Revenue Operations</label>
        </rules>
        <rules>
            <name>Business_Operations</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Business Operations</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_scope</targetReference>
            </connector>
            <label>Business Operations</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>additional_business_line_scope_calc</name>
        <dataType>String</dataType>
        <expression>IF({!admin_Include_non_self_service_orgs_in_search},&quot;Committed&quot;,&quot;Self Service&quot;)</expression>
    </formulas>
    <formulas>
        <name>change_deadline</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS(DATE(YEAR({!recordId.Booking_Date__c}),MONTH({!recordId.Booking_Date__c}),9),1)</expression>
    </formulas>
    <formulas>
        <name>new_subtype</name>
        <dataType>String</dataType>
        <expression>IF({!is_active_customer_in_hierarchy},&quot;New Subsidiary - Annual&quot;,&quot;New Commitment - Annual&quot;)</expression>
    </formulas>
    <formulas>
        <name>new_type</name>
        <dataType>String</dataType>
        <expression>IF({!is_active_customer_in_hierarchy},&quot;Existing Business&quot;,&quot;New Business&quot;)</expression>
    </formulas>
    <interviewLabel>Opportunity - Map Self Service Subscription {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Link Self Service Subscriptions</label>
    <loops>
        <name>Loop_through_mapped_orgs</name>
        <label>Loop through mapped orgs</label>
        <locationX>1687</locationX>
        <locationY>2117</locationY>
        <collectionReference>Map_chosen_opportunities_to_Retool_Orgs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_SS_ARR</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Run_contextf</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_self_service_orgs</name>
        <label>Get self service orgs</label>
        <locationX>998</locationX>
        <locationY>1312</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_SS_orgs</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 9 OR 10) AND 4 AND (5 OR 6) AND (7 OR 8)</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Active_Customer__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Business_Line__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Self Service</stringValue>
            </value>
        </filters>
        <filters>
            <field>Parent_Org__c</field>
            <operator>EqualTo</operator>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Business_Unit__c</field>
            <operator>EqualTo</operator>
        </filters>
        <filters>
            <field>Business_Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Business_Unit__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Business_Line__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>admin_additional_business_line</elementReference>
            </value>
        </filters>
        <filters>
            <field>Business_Line__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Unknown</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Retool_Org__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Look_for_active_customer_accounts_in_hierarchy</name>
        <label>Look for active customer accounts in hierarchy</label>
        <locationX>998</locationX>
        <locationY>601</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Booking_is</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Account_Status_Committed__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active Customer</stringValue>
            </value>
        </filters>
        <filters>
            <field>Hierarchy_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Hierarchy_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Account.Ultimate_Parent_Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_opp</name>
        <label>Update opp</label>
        <locationX>2426</locationX>
        <locationY>1891</locationY>
        <inputReference>recordId</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Retool_Orgs</name>
        <label>Update Retool Orgs</label>
        <locationX>1005</locationX>
        <locationY>2178</locationY>
        <connector>
            <targetReference>Convert_choice</targetReference>
        </connector>
        <inputReference>Clear_opportunities</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Retool_Orgs_0</name>
        <label>Update Retool Orgs</label>
        <locationX>1690</locationX>
        <locationY>2341</locationY>
        <connector>
            <targetReference>Loop_through_mapped_orgs</targetReference>
        </connector>
        <inputReference>Map_chosen_opportunities_to_Retool_Orgs</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Admin</name>
        <label>Admin</label>
        <locationX>1302</locationX>
        <locationY>208</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_admin_variables</targetReference>
        </connector>
        <fields>
            <name>admin_Include_non_self_service_orgs_in_search</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Include committed orgs in search?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Bypass_locked_booking_check</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Bypass locked booking check?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Associate_Self_Service_Organizations</name>
        <label>Associate Self Service Organizations</label>
        <locationX>1001</locationX>
        <locationY>1807</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Clear_opportunities</targetReference>
        </connector>
        <fields>
            <name>self_service_header</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;We found one or more Retool organizations on this account that are not already associated with another deal or business unit:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>replace_self_service_choice</name>
            <choiceReferences>choice_convert_ss</choiceReferences>
            <choiceReferences>choice_new_commitment</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>choice_convert_ss</defaultSelectedChoiceReference>
            <fieldText>Please select the option that describes what should happen upon Closed Won:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ss_org_choice_table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Retool_Org__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select the Self Service Retool organizations to be upgraded if this deal closes:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_self_service_orgs</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Link__c&quot;,&quot;guid&quot;:&quot;column-d487&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Link&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Business_Line__c&quot;,&quot;guid&quot;:&quot;column-29e8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Business Line&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Business Line&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Self_Service_ARR__c&quot;,&quot;guid&quot;:&quot;column-182a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Self Service ARR&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Self Service: ARR&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Usage__c&quot;,&quot;guid&quot;:&quot;column-8b6e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Usage&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Usage&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Creator_Email__c&quot;,&quot;guid&quot;:&quot;column-66c1&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Creator&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Creator Email&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Org_SID__c&quot;,&quot;guid&quot;:&quot;column-3d7a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Org SID&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Org SID&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRows</name>
                <value>
                    <elementReference>Orgs_with_opp</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>replace_self_service_choice</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_convert_ss</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ss_conversion_warning</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;&lt;em&gt;IMPORTANT: &lt;/em&gt;&lt;/strong&gt;&lt;em&gt;Selecting this option will, upon Closed Won, instruct the billing team to cancel the Self Service subscriptions for the orgs you select below.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>replace_self_service_choice</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_convert_ss</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>recordId.IsClosed</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>1484</locationX>
        <locationY>1399</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_no_orgs</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;No active Self Service subscriptions were found on this account.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If you believe you have reached this screen in error, please contact Revenue Operations in &lt;a href=&quot;https://retool.slack.com/archives/C03C8TZMJD7&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;#rev_ops-team&lt;/a&gt;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_f</name>
        <label>Error</label>
        <locationX>1316</locationX>
        <locationY>773</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>error_within_deadline</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Error:&lt;/strong&gt; Cannot update locked booking after the deadline date: {!change_deadline}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>873</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Team_is</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <transforms>
        <name>Clear_opportunities</name>
        <label>Clear opportunities from Retool Orgs</label>
        <locationX>1002</locationX>
        <locationY>1997</locationY>
        <connector>
            <targetReference>Update_Retool_Orgs</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <objectType>Retool_Org__c</objectType>
        <scale>0</scale>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>Id</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_self_service_orgs[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Opportunity__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <stringValue></stringValue>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Map_chosen_opportunities_to_Retool_Orgs</name>
        <label>Map chosen opportunities to Retool Orgs</label>
        <locationX>1537</locationX>
        <locationY>2345</locationY>
        <connector>
            <targetReference>Update_Retool_Orgs_0</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <objectType>Retool_Org__c</objectType>
        <scale>0</scale>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>Id</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>ss_org_choice_table.selectedRows[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Opportunity__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>recordId.Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>admin_additional_business_line</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Committed</stringValue>
        </value>
    </variables>
    <variables>
        <name>business_line_scope</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Self Service</stringValue>
        </value>
    </variables>
    <variables>
        <name>currentItem_Get_orgs_without_opps_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Retool_Org__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Orgs_with_opp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Retool_Org__c</objectType>
    </variables>
    <variables>
        <name>include_committed_orgs</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>is_active_customer_in_hierarchy</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>opportunity_subtype</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>recordId.Subtype__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>opportunity_type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>recordId.Type</elementReference>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>run_context</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>record_page</stringValue>
        </value>
    </variables>
    <variables>
        <name>setting_bypass_locked_booking_check</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ss_arr</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
