unpackaged/main/default/flows/Opportunity_Debook_Deal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Add_sales_manager</name>
        <label>Add sales manager</label>
        <locationX>499</locationX>
        <locationY>814</locationY>
        <assignmentItems>
            <assignToReference>new_debook.Sales_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>new_debook.Owner.ManagerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reason_is</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_split_to_collection</name>
        <label>Add split to collection</label>
        <locationX>3247</locationX>
        <locationY>465</locationY>
        <assignmentItems>
            <assignToReference>draft_split_collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>draft_split</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_splits</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_collection</name>
        <label>Add to collection</label>
        <locationX>2132</locationX>
        <locationY>1310</locationY>
        <assignmentItems>
            <assignToReference>line_item_collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_line_items</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_line_items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_debook</name>
        <label>Build debook</label>
        <locationX>352</locationX>
        <locationY>812</locationY>
        <assignmentItems>
            <assignToReference>new_debook.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_debook.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Debook_amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_debook.Booking_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Debook</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_debook.Business_Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Business_Unit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_debook.Churn_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Churn_Reason_Details__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_debook.Churn_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Churn_Reason__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_debook.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Close_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_debook.ContractId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.ContractId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_debook.Contract_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Contract_End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_debook.Contract_Term__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Contract_Term__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_debook.Converted_Org_Final_Annualized_Revenue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Converted_Org_Final_Annualized_Revenue__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_debook.Create_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Flow: Opportunity - Debook Deal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_debook.Debook_Putback_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ops_Notes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_debook.Debook_Putback_Group_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_debook.Debook_Putback_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Debook_Reason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_debook.Employees_at_Close__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Employees_at_Close__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_debook.Employees_at_SQL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Employees_at_SQL__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_debook.Employees_at_SQO__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Employees_at_SQO__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_debook.Expansion_Baseline_Annualized_Revenue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Expansion_Baseline_Annualized_Revenue__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_debook.Lost_Reason_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Lost_Reason_Details__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_debook.Lost_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Lost_Reason__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_debook.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DebookName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_debook.Order_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>System</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_debook.Org_to_convert__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Org_to_convert__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_debook.Originating_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_debook.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DebookOwner</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_debook.Permission_Check__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_debook.Plan_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Plan_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_debook.Platform_Fee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Platform_Fee__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_debook.Platform_Seats__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Platform_Seats__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_debook.Platform_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Platform_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_debook.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.RecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_debook.Renewal_Baseline_MRR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Debook_Renewal_Baseline_MRR</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_debook.Seats_Sold__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DebookSeatsSold</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_debook.Segment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Account.Segment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_debook.Subtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Subtype__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_debook.Term_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Term_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_debook.Term_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Term_Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_debook.Total_MRR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DebookTotalMRR</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_debook.Total_NRR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DebookNRR</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_debook.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_debook.BU_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.BU_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_debook.Forecast_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_debook.Forecast_Total_AR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>debook_forecast_total_ar</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_debook.Booking_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending Review</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_debook.Total_ARR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DebookTotalARR</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_debook.Renewal_Baseline_ARR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Debook_Renewal_Baseline_ARR_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_debook.Parent_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Parent_Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_debook.Geo_Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Account.Shipping_Region__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_debook.Geo_Subregion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Account.Shipping_Subregion__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_debook.Geo_Intermediate_Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Account.Shipping_Intermediate_Region__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_debook.Geo_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Account.ShippingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_debook.Probability</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_debook.Geo_Territory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Account.Shipping_Territory__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_debook.Technical_Account_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Account.Technical_Account_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_sales_manager</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_draft_split</name>
        <label>Build draft split</label>
        <locationX>3020</locationX>
        <locationY>471</locationY>
        <assignmentItems>
            <assignToReference>draft_split.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>new_debook.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>draft_split.SplitNote</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_splits.SplitNote</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>draft_split.SplitPercentage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_splits.SplitPercentage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>draft_split.SplitOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_splits.SplitOwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>draft_split.SplitTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_splits.SplitTypeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_split_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Negate_values</name>
        <label>Negate values</label>
        <locationX>2310</locationX>
        <locationY>1306</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_line_items.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>debook_li_qty</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_line_items.Included_Units__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>debook_li_incl_units</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_line_items.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>new_debook.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_line_items.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_line_items.TotalPrice</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_line_items.Revenue_Type_Override__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_line_items.Revenue_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_line_items.Manual_Dates__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_line_items.Originating_Opportunity_Line_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_line_items.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_manual_attribution</name>
        <label>Set manual attribution</label>
        <locationX>1256</locationX>
        <locationY>622</locationY>
        <assignmentItems>
            <assignToReference>new_debook.Owner_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>manual_attribution.firstSelectedRow.User_Role__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_debook.Owner_Department__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>manual_attribution.firstSelectedRow.Department__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_debook.Owner_Team__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>manual_attribution.firstSelectedRow.Team__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_debook.Owner_Subteam__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>manual_attribution.firstSelectedRow.Subteam__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_debook.Owner_Level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>manual_attribution.firstSelectedRow.Level__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_debook.Owner_Territory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>manual_attribution.firstSelectedRow.Territory__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_debook.Owner_Segment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>manual_attribution.firstSelectedRow.Opportunity_Segment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_debook.Owner_Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>manual_attribution.firstSelectedRow.Region__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_debook.Owner_Subregion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>manual_attribution.firstSelectedRow.Subregion__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Prompt_to_disqualify_account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_stage_closedk</name>
        <label>Set stage closed</label>
        <locationX>838</locationX>
        <locationY>876</locationY>
        <assignmentItems>
            <assignToReference>new_debook.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_debook.Close_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Debook Deal Button</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Owned_by</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_stage_open</name>
        <label>Set stage open</label>
        <locationX>836</locationX>
        <locationY>696</locationY>
        <assignmentItems>
            <assignToReference>new_debook.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>(5) Validating Business Case/Negotiating</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Owned_by</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_account</name>
        <label>Update account</label>
        <locationX>1717</locationX>
        <locationY>1091</locationY>
        <assignmentItems>
            <assignToReference>Get_account.Disqualified_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Disqualification_Reason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_account.Disqualified_Reason_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Disqualification_Reason_Details</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Commit_account_updates</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AcctOwnerChoice</name>
        <choiceText>Account Owner ({!recordId.Account.Owner.FirstName} &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!recordId.Account.Owner.LastName}&lt;/span&gt;) {!acct_owner_inactive}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>recordId.Account.OwnerId</elementReference>
        </value>
    </choices>
    <choices>
        <name>DebookOwnerChoice</name>
        <choiceText>Salesforce Admin</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>0055A00000ApunnQAB</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_DQ_choice</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>OppOwnerChoice</name>
        <choiceText>Opportunity Owner ({!recordId.Owner.FirstName} &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!recordId.Owner.LastName}&lt;/span&gt;) {!opp_owner_inactive}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>recordId.OwnerId</elementReference>
        </value>
    </choices>
    <choices>
        <name>Yes_DQ_choice</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <constants>
        <name>SalesforceAdmin</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0055A00000ApunnQAB</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Found_splits</name>
        <label>Found splits?</label>
        <locationX>3145</locationX>
        <locationY>954</locationY>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>Yes_found_splits</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Look_for_overlay_splits</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_splits</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_has_line_items</name>
        <label>Opportunity has line items?</label>
        <locationX>138</locationX>
        <locationY>490</locationY>
        <defaultConnector>
            <targetReference>Warning_No_Line_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Churn</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Churn</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Configure_Debook</targetReference>
            </connector>
            <label>Churn</label>
        </rules>
        <rules>
            <name>Yes_has_li</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.HasOpportunityLineItem</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Configure_Debook</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Original_opp_has_line_items</name>
        <label>Original opp has line items?</label>
        <locationX>2027</locationX>
        <locationY>780</locationY>
        <defaultConnector>
            <targetReference>Update_original_opp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.HasOpportunityLineItem</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_original_opp_line_items</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Owned_by</name>
        <label>Owned by</label>
        <locationX>982</locationX>
        <locationY>785</locationY>
        <defaultConnector>
            <targetReference>Prompt_to_disqualify_account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Salesforce_Admin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DebookOwner</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SalesforceAdmin</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_active_ROE_rules</targetReference>
            </connector>
            <label>Salesforce Admin</label>
        </rules>
    </decisions>
    <decisions>
        <name>Prompt_to_disqualify_account</name>
        <label>Prompt to disqualify account?</label>
        <locationX>1353</locationX>
        <locationY>810</locationY>
        <defaultConnector>
            <targetReference>Create_debook</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_DQ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Debook_Reason</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue> Write-off</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Account.Account_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Disqualified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_debook.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_account</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Reason_is</name>
        <label>Reason is</label>
        <locationX>609</locationX>
        <locationY>808</locationY>
        <defaultConnector>
            <targetReference>Set_stage_closedk</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Replacement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>new_debook.Debook_Putback_Reason__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Replacement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_stage_open</targetReference>
            </connector>
            <label>Replacement</label>
        </rules>
        <rules>
            <name>Winback</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>new_debook.Debook_Putback_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Winback</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_stage_open</targetReference>
            </connector>
            <label>Winback</label>
        </rules>
    </decisions>
    <description>Added path to create overlay splits</description>
    <dynamicChoiceSets>
        <name>account_dq_reasons</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Disqualified_Reason__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>debook_reasons</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Debook_Putback_Reason__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>acct_owner_inactive</name>
        <dataType>String</dataType>
        <expression>if({!recordId.Account.Owner.IsActive},NULL,&quot;(INACTIVE)&quot;)</expression>
    </formulas>
    <formulas>
        <name>Debook_amount</name>
        <dataType>Currency</dataType>
        <expression>{!recordId.Amount}*-1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>debook_forecast_total_ar</name>
        <dataType>Currency</dataType>
        <expression>{!recordId.Forecast_Total_AR__c}*-1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>debook_li_incl_units</name>
        <dataType>Number</dataType>
        <expression>{!Loop_through_line_items.Included_Units__c}*-1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>debook_li_qty</name>
        <dataType>Number</dataType>
        <expression>{!Loop_through_line_items.Quantity}*-1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Debook_Renewal_Baseline_ARR_2</name>
        <dataType>Number</dataType>
        <expression>{!recordId.Renewal_Baseline_ARR__c}*-1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Debook_Renewal_Baseline_MRR</name>
        <dataType>Currency</dataType>
        <expression>{!recordId.Renewal_Baseline_MRR__c}*-1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>DebookName</name>
        <dataType>String</dataType>
        <expression>&quot;DEBOOK - &quot;&amp;{!recordId.Name}</expression>
    </formulas>
    <formulas>
        <name>DebookNRR</name>
        <dataType>Currency</dataType>
        <expression>{!recordId.Total_NRR__c}*-1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>DebookSeatsSold</name>
        <dataType>Number</dataType>
        <expression>{!recordId.Seats_Sold__c}*-1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>DebookTotalARR</name>
        <dataType>Currency</dataType>
        <expression>{!recordId.Total_ARR__c}*-1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>DebookTotalMRR</name>
        <dataType>Currency</dataType>
        <expression>{!recordId.Total_MRR__c}*-1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>opp_owner_inactive</name>
        <dataType>String</dataType>
        <expression>if({!recordId.Owner.IsActive},NULL,&quot;(INACTIVE)&quot;)</expression>
    </formulas>
    <interviewLabel>Opportunity - Debook Deal {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Debook Deal</label>
    <loops>
        <name>Loop_through_line_items</name>
        <label>Loop through line items</label>
        <locationX>2219</locationX>
        <locationY>1073</locationY>
        <collectionReference>Get_original_opp_line_items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Negate_values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_debook_line_items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_splits</name>
        <label>Loop through splits</label>
        <locationX>3149</locationX>
        <locationY>664</locationY>
        <collectionReference>Look_for_overlay_splits</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Build_draft_split</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_splits</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_debook</name>
        <label>Create debook</label>
        <locationX>1863</locationX>
        <locationY>776</locationY>
        <connector>
            <targetReference>Original_opp_has_line_items</targetReference>
        </connector>
        <inputReference>new_debook</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_debook_line_items</name>
        <label>Create debook line items</label>
        <locationX>2484</locationX>
        <locationY>1045</locationY>
        <connector>
            <targetReference>Update_original_opp</targetReference>
        </connector>
        <inputReference>line_item_collection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_splits</name>
        <label>Create splits</label>
        <locationX>3425</locationX>
        <locationY>662</locationY>
        <inputReference>draft_split_collection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_account</name>
        <label>Get account</label>
        <locationX>1330</locationX>
        <locationY>1083</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Disqualify_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_active_ROE_rules</name>
        <label>Get active ROE rules</label>
        <locationX>1069</locationX>
        <locationY>625</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Manual_Attribution</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Can_Own_Accounts__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ROE_Rule__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_original_opp_line_items</name>
        <label>Get original opp line items</label>
        <locationX>2062</locationX>
        <locationY>1038</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_line_items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Look_for_overlay_splits</name>
        <label>Look for overlay splits (active users)</label>
        <locationX>2955</locationX>
        <locationY>941</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_splits</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Split_Type_Label__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Overlay</stringValue>
            </value>
        </filters>
        <filters>
            <field>Split_Owner_Is_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunitySplit</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Commit_account_updates</name>
        <label>Commit account updates</label>
        <locationX>1719</locationX>
        <locationY>901</locationY>
        <connector>
            <targetReference>Create_debook</targetReference>
        </connector>
        <inputReference>Get_account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_original_opp</name>
        <label>Update original opp</label>
        <locationX>2762</locationX>
        <locationY>939</locationY>
        <connector>
            <targetReference>Look_for_overlay_splits</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Debook_Putback_Details__c</field>
            <value>
                <elementReference>Ops_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Debook_Putback_Group_ID__c</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Debook_Putback_Reason__c</field>
            <value>
                <elementReference>Debook_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Debooked_deal__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>Configure_Debook</name>
        <label>Configure Debook</label>
        <locationX>145</locationX>
        <locationY>804</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Build_debook</targetReference>
        </connector>
        <fields>
            <name>Configure_Debook_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Configure_Debook_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DebookOwner</name>
                    <choiceReferences>AcctOwnerChoice</choiceReferences>
                    <choiceReferences>DebookOwnerChoice</choiceReferences>
                    <choiceReferences>OppOwnerChoice</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>AcctOwnerChoice</defaultSelectedChoiceReference>
                    <fieldText>Debook Owner (generally equal to the current account owner)</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Configure_Debook_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Close_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>default_close_date</elementReference>
                    </defaultValue>
                    <fieldText>Close Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Debook_Reason</name>
            <choiceReferences>debook_reasons</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>recordId.Debook_Putback_Reason__c</elementReference>
            </defaultValue>
            <fieldText>Debook Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Ops_Notes</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>recordId.Debook_Putback_Details__c</elementReference>
            </defaultValue>
            <fieldText>Debook Reason Details</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Disqualify_Account</name>
        <label>Disqualify Account</label>
        <locationX>1521</locationX>
        <locationY>1080</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_account</targetReference>
        </connector>
        <fields>
            <name>dq_account</name>
            <fieldText>&lt;p&gt;You selected &lt;strong&gt;{!Debook_Reason}&lt;/strong&gt; as the reason for this debook. Retool policies generally require that we only sell to creditworthy and reliable counterparties.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DQ_question</name>
            <choiceReferences>Yes_DQ_choice</choiceReferences>
            <choiceReferences>No_DQ_choice</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Yes_DQ_choice</defaultSelectedChoiceReference>
            <fieldText>Should we disqualify this account from further sales activity?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Account_Disqualification_Details</name>
            <fieldText>Account Disqualification Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Account_Disqualification_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Disqualification_Reason</name>
                    <choiceReferences>No_DQ_choice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Disqualification Reason</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Disqualification_Reason_Details</name>
                    <fieldText>Disqualification Reason Details</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>DQ_question</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes_DQ_choice</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Manual_Attribution</name>
        <label>Select Manual Attribution</label>
        <locationX>1148</locationX>
        <locationY>461</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_manual_attribution</targetReference>
        </connector>
        <fields>
            <name>manual_attrib_header</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Original Deal Owner:&lt;/strong&gt; {!recordId.Owner.FirstName} &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!recordId.Owner.LastName} ({!recordId.Owner.FirstName} ({!recordId.Owner.Role_Name__c}) {!opp_owner_inactive}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Account Owner: &lt;/strong&gt;{!recordId.Account.Owner.FirstName} &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!recordId.Account.Owner.LastName} ({!recordId.Account.Owner.Role_Name__c}) {!acct_owner_inactive}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>manual_attribution</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ROE_Rule__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select the role to which this booking should be attributed</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_active_ROE_rules</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-08b7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Role Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;ROE Rules Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Team__c&quot;,&quot;guid&quot;:&quot;column-d4b1&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Team&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Team&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Subteam__c&quot;,&quot;guid&quot;:&quot;column-0a68&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Subteam&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Subteam&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Level__c&quot;,&quot;guid&quot;:&quot;column-747f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Level&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Level&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Territory__c&quot;,&quot;guid&quot;:&quot;column-f198&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Territory&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Territory&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Warning_No_Line_Items</name>
        <label>Warning: No Line Items</label>
        <locationX>383</locationX>
        <locationY>655</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Configure_Debook</targetReference>
        </connector>
        <fields>
            <name>warning_no_LI</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Warning:&lt;/strong&gt; No line items on target opportunity. Consider adding these before debooking.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>53</locationY>
        <connector>
            <targetReference>Opportunity_has_line_items</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>create_debook_open</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>default_close_date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>draft_line_item</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>draft_split</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunitySplit</objectType>
    </variables>
    <variables>
        <name>draft_split_collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunitySplit</objectType>
    </variables>
    <variables>
        <name>line_item_collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>new_debook</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
