unpackaged/main/default/flows/Opportunity_Modify_Auto_Close.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_to_renewals_desk2</name>
        <label>Post to #renewals-desk</label>
        <locationX>1651</locationX>
        <locationY>1044</locationY>
        <actionName>Centro__NotifyFlow</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>channelId</name>
            <value>
                <stringValue>{!renewals_desk_channel_id}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>InterviewGuid</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>{!remove_auto_close_slack}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pinMessage</name>
            <value>
                <stringValue>false</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>showCompactLayout</name>
            <value>
                <stringValue>false</stringValue>
            </value>
        </inputParameters>
        <nameSegment>Centro__NotifyFlow</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_choice_value</name>
        <label>Assign choice value</label>
        <locationX>751</locationX>
        <locationY>982</locationY>
        <assignmentItems>
            <assignToReference>Selected_choice_details</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Choice_customer_request</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Selected_choice_name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Customer Opt-Out</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_opportunity_fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_choice_value_0</name>
        <label>Assign choice value</label>
        <locationX>750</locationX>
        <locationY>1097</locationY>
        <assignmentItems>
            <assignToReference>Selected_choice_details</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Choice_retool_opt_out</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Selected_choice_name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Retool Opt-Out</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_opportunity_fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_choice_value_0_0</name>
        <label>Assign choice value</label>
        <locationX>749</locationX>
        <locationY>1206</locationY>
        <assignmentItems>
            <assignToReference>Selected_choice_details</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rep working with customer</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Selected_choice_name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Negotiating Renewal</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_opportunity_fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_choice_value_0_0_0</name>
        <label>Assign choice value</label>
        <locationX>755</locationX>
        <locationY>873</locationY>
        <assignmentItems>
            <assignToReference>Selected_choice_details</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Choice_other</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Selected_choice_name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_opportunity_fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_opportunity_fields</name>
        <label>Set opportunity fields</label>
        <locationX>988</locationX>
        <locationY>1038</locationY>
        <assignmentItems>
            <assignToReference>recordId.Auto_close__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Auto_Close_Removal_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Auto_close_Removed_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>User_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Auto_Close_Removal_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Final_reason_details</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Account.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opp_New_Stage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Renewal_Target_Close_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RTCD_Calc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Close_Method__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Permission_Check__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_opp</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Choice_customer_request</name>
        <choiceText>Customer requested to opt-out of automatic renewal</choiceText>
        <dataType>String</dataType>
        <userInput>
            <isRequired>true</isRequired>
            <promptText>Please provide the name of the person who requested this action and why they are making this request:</promptText>
            <validationRule>
                <errorMessage>&lt;p&gt;Answer must be 255 characters or less&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Choice_customer_request})&lt;=255</formulaExpression>
            </validationRule>
        </userInput>
        <value>
            <stringValue>Customer Opt-Out</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_negotiating_renewal</name>
        <choiceText>You are working with the customer to make changes to their upcoming renewal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Negotiating Renewal</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_other</name>
        <choiceText>Other (please provide detailed context below)</choiceText>
        <dataType>String</dataType>
        <userInput>
            <isRequired>true</isRequired>
            <promptText>Why are we removing this customer from automatic renewal?</promptText>
            <validationRule>
                <errorMessage>&lt;p&gt;Answer must be 255 characters or less&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Choice_customer_request})&lt;=255</formulaExpression>
            </validationRule>
        </userInput>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_retool_opt_out</name>
        <choiceText>Retool has notified the customer we will not renew this agreement with the current terms</choiceText>
        <dataType>String</dataType>
        <userInput>
            <isRequired>true</isRequired>
            <promptText>Please provide the name of the customer you notified and why we are taking this action:</promptText>
            <validationRule>
                <errorMessage>&lt;p&gt;Answer must be 255 characters or less&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Choice_customer_request})&lt;=255</formulaExpression>
            </validationRule>
        </userInput>
        <value>
            <stringValue>Retool Opt Out</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Forecast_frozen</name>
        <label>Forecast frozen?</label>
        <locationX>191</locationX>
        <locationY>653</locationY>
        <defaultConnector>
            <targetReference>Is_account_in_pool</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>RevOps_user</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Revenue Operations</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_account_in_pool</targetReference>
            </connector>
            <label>RevOps user</label>
        </rules>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_global_setting.Is_Enabled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Frozen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_account_in_pool</name>
        <label>Is account in pool?</label>
        <locationX>192</locationX>
        <locationY>841</locationY>
        <defaultConnector>
            <targetReference>Remove_Auto_Close</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_in_pool</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Account.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0055A00000BExg9QAD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_cannot_remove</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opt_out_choice</name>
        <label>Opt out choice</label>
        <locationX>463</locationX>
        <locationY>1040</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Customer_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>To_take_ownership_of_this_opportunity_and_prevent_it_from_being_automatically_cl</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_customer_request</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_choice_value</targetReference>
            </connector>
            <label>Customer Request</label>
        </rules>
        <rules>
            <name>Retool_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>To_take_ownership_of_this_opportunity_and_prevent_it_from_being_automatically_cl</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_retool_opt_out</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_choice_value_0</targetReference>
            </connector>
            <label>Retool Request</label>
        </rules>
        <rules>
            <name>Negotiating_Renewal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>To_take_ownership_of_this_opportunity_and_prevent_it_from_being_automatically_cl</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_negotiating_renewal</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_choice_value_0_0</targetReference>
            </connector>
            <label>Negotiating Renewal</label>
        </rules>
        <rules>
            <name>Other</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>To_take_ownership_of_this_opportunity_and_prevent_it_from_being_automatically_cl</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_other</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_choice_value_0_0_0</targetReference>
            </connector>
            <label>Other</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_is</name>
        <label>Record is</label>
        <locationX>187</locationX>
        <locationY>257</locationY>
        <defaultConnector>
            <targetReference>Error_No_Opp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Id</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_global_setting</targetReference>
            </connector>
            <label>Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Skip_forecast_s</name>
        <label>Skip forecast?</label>
        <locationX>1320</locationX>
        <locationY>1060</locationY>
        <defaultConnector>
            <targetReference>Update_Forecast</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_skip</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>skip_forecast</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Post_to_renewals_desk2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Final_reason_details</name>
        <dataType>String</dataType>
        <expression>LEFT({!Selected_choice_name}&amp;&quot;: &quot;&amp;{!Selected_choice_details},255)</expression>
    </formulas>
    <formulas>
        <name>Opp_New_Stage</name>
        <dataType>String</dataType>
        <expression>IF(
 TODAY() &gt;= ({!recordId.Renewal_Target_Close_Date__c} - 90),
 &quot;(5) Validating Business Case/Negotiating&quot;,
 TEXT({!recordId.StageName})
)</expression>
    </formulas>
    <formulas>
        <name>RTCD_Calc</name>
        <dataType>Date</dataType>
        <expression>{!recordId.Term_Start_Date__c}-1</expression>
    </formulas>
    <formulas>
        <name>slack_rm</name>
        <dataType>String</dataType>
        <expression>IF(
 ISBLANK({!recordId.Renewal_Manager__c}),
 &quot;&quot;,
 &quot;*Renewal Manager:* &lt;@&quot;&amp;{!recordId.Renewal_Manager__r.Slack_ID__c}&amp;&quot;&gt;&quot;&amp;BR()
)</expression>
    </formulas>
    <formulas>
        <name>slack_tam</name>
        <dataType>String</dataType>
        <expression>IF(
 ISBLANK({!recordId.Technical_Account_Manager__c}) || {!recordId.Technical_Account_Manager__r.Is_Account_Pool__c},
 &quot;&quot;,
 &quot;*Technical Account Manager:* &quot;&amp;{!recordId.Technical_Account_Manager__r.Slack_Mention_Handle_Only__c}&amp;BR()
)</expression>
    </formulas>
    <formulas>
        <name>User_Name</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName}&amp;&quot; &quot;&amp;{!$User.LastName}</expression>
    </formulas>
    <interviewLabel>Opportunity - Modify Auto Close {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Remove Auto Close</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_global_setting</name>
        <label>Get global setting</label>
        <locationX>203</locationX>
        <locationY>483</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Forecast_frozen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Freeze_Pipeline_Updates</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Global_Permission__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_opp</name>
        <label>Update opp</label>
        <locationX>1155</locationX>
        <locationY>1043</locationY>
        <connector>
            <targetReference>Skip_forecast_s</targetReference>
        </connector>
        <inputReference>recordId</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Error_cannot_remove</name>
        <label>Error Account In Pool</label>
        <locationX>386</locationX>
        <locationY>837</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Acccount_in_pool_warning</name>
            <fieldText>&lt;p&gt;Auto close cannot be turned off on this renewal because the account is in the Account Pool.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If you are an AE, please claim this account first before you attempt to remove automatic close.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Frozen</name>
        <label>Error</label>
        <locationX>446</locationX>
        <locationY>607</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Error:&lt;/strong&gt; You cannot remove this opportunity from auto close right now because pipeline updates are currently disabled.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;em&gt;{!Get_global_setting.Reason__c}&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_No_Opp</name>
        <label>Error</label>
        <locationX>361</locationX>
        <locationY>259</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>error_header</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Error:&lt;/strong&gt; An error has occurred. Please notify RevOps with the following:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;em&gt;Remove Auto Close: Malformed recordId [{!recordId.Id}]&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Remove_Auto_Close</name>
        <label>Remove Auto Close</label>
        <locationX>98</locationX>
        <locationY>1035</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Opt_out_choice</targetReference>
        </connector>
        <fields>
            <name>Header</name>
            <fieldText>&lt;p&gt;This opportunity is currently configured to automatically close on {!recordId.Auto_close_Date__c} as per the previously agreed terms with the customer.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>To_take_ownership_of_this_opportunity_and_prevent_it_from_being_automatically_cl</name>
            <choiceReferences>Choice_customer_request</choiceReferences>
            <choiceReferences>Choice_negotiating_renewal</choiceReferences>
            <choiceReferences>Choice_retool_opt_out</choiceReferences>
            <choiceReferences>Choice_other</choiceReferences>
            <dataType>String</dataType>
            <fieldText>To take ownership of this opportunity and prevent it from being automatically closed, please select one of the following options:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Remove_Auto_Close_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Remove_Auto_Close_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>warning_notify</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;IMPORTANT&lt;/strong&gt;: Please ensure the customer is provided written confirmation that their agreement will not automatically renew in its current form &lt;u&gt;before&lt;/u&gt; {!recordId.Auto_close_Date__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>77</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Record_is</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Update_Forecast</name>
        <label>Update Forecast</label>
        <locationX>1390</locationX>
        <locationY>858</locationY>
        <connector>
            <targetReference>Post_to_renewals_desk2</targetReference>
        </connector>
        <flowName>Opportunity_Update_Forecast</flowName>
        <inputAssignments>
            <name>close_date_override</name>
            <value>
                <elementReference>RTCD_Calc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>remove_auto_close_slack</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;:eject: &lt;a href=&quot;https://retool.lightning.force.com/{!recordId.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;{!recordId.Name}&lt;/strong&gt;&lt;/a&gt;&lt;strong&gt; removed from auto-close by&lt;/strong&gt; {!$User.Slack_Mention_Handle_Only__c} :eject:&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Current Agreement Expires:&lt;/strong&gt; In {!recordId.Business_Unit__r.Time_to_Next_Renewal_days__c} days ({!recordId.Originating_Opportunity__r.Contract_End_Date__c})&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Removal Reason:&lt;/strong&gt; {!recordId.Auto_Close_Removal_Reason__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Business Unit:&lt;/strong&gt; &lt;a href=&quot;https://retool.lightning.force.com/lightning/r/Business_Unit__c/{!recordId.Business_Unit__c}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!recordId.Business_Unit__r.Name}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Sales Owner:&lt;/strong&gt; {!recordId.Owner.Slack_Mention_With_Role_Full_Name__c}&lt;/p&gt;&lt;p&gt;{!slack_rm}{!slack_tam}&lt;/p&gt;&lt;p&gt;&amp;lt;!subteam^S02S03L9CN8|Billing Team&amp;gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>renewals_desk_channel_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>C0226UWBHPX</stringValue>
        </value>
    </variables>
    <variables>
        <name>Selected_choice_details</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_choice_name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>skip_forecast</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
