unpackaged/main/default/flows/Opportunity_New_RevOps_Deal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Open_RevOps</name>
        <label>Open RevOps</label>
        <locationX>2608</locationX>
        <locationY>973</locationY>
        <actionName>c:OpenURL</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>newTab</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>url</name>
            <value>
                <elementReference>RevOps_URL</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:OpenURL</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Set_MNDA_template_ID</name>
        <label>Set MNDA template ID</label>
        <locationX>2377</locationX>
        <locationY>1063</locationY>
        <assignmentItems>
            <assignToReference>RevOpsTemplateID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>10efe98c-a4ac-4b23-97df-25341028f3c9</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Open_RevOps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_template_ID</name>
        <label>Set template ID</label>
        <locationX>2380</locationX>
        <locationY>874</locationY>
        <assignmentItems>
            <assignToReference>RevOpsTemplateID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_booking_setting.RevOps_Deal_Template_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Open_RevOps</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>agree_type_MNDA</name>
        <choiceText>Mutual Non-Disclosure Agreement (MNDA)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MNDA</stringValue>
        </value>
    </choices>
    <choices>
        <name>agree_type_order_form</name>
        <choiceText>Order Form</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Orderform</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Chosen_agreement_type</name>
        <label>Chosen agreement type</label>
        <locationX>1896</locationX>
        <locationY>958</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Order_Form</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>agreement_type_picklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>agree_type_order_form</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_opp</targetReference>
            </connector>
            <label>Order Form</label>
        </rules>
        <rules>
            <name>MNDA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>agreement_type_picklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>agree_type_MNDA</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_MNDA_template_ID</targetReference>
            </connector>
            <label>MNDA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_setting</name>
        <label>Found setting?</label>
        <locationX>946</locationX>
        <locationY>959</locationY>
        <defaultConnector>
            <targetReference>Error_No_booking_setting_found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_found_setting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_booking_setting</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Setting_has_deal_ID</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_deal_creation_blocked</name>
        <label>Is deal creation blocked?</label>
        <locationX>602</locationX>
        <locationY>965</locationY>
        <defaultConnector>
            <targetReference>Get_booking_setting</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_global_permission.Is_Enabled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_No_booking_setting_found_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Renewal_more_than_90_days_out</name>
        <label>Renewal more than 90 days out</label>
        <locationX>1373</locationX>
        <locationY>956</locationY>
        <defaultConnector>
            <targetReference>Create_New_Agreement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Is_Rev_ops</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Revenue Operations</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Agreement</targetReference>
            </connector>
            <label>Is Rev ops</label>
        </rules>
        <rules>
            <name>X90_days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>days_to_start_date</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>120.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cannot_create_agreement</targetReference>
            </connector>
            <label>&gt; 90 days out</label>
        </rules>
    </decisions>
    <decisions>
        <name>Setting_has_deal_ID</name>
        <label>Setting has deal ID?</label>
        <locationX>1160</locationX>
        <locationY>970</locationY>
        <defaultConnector>
            <targetReference>Error_No_Deal_ID_Defined</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_deal_id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_booking_setting.RevOps_Deal_Template_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Renewal_more_than_90_days_out</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>days_to_start_date</name>
        <dataType>Number</dataType>
        <expression>{!recordId.Term_Start_Date__c}-TODAY()</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>RevOps_URL</name>
        <dataType>String</dataType>
        <expression>&quot;https://retool.revops.io/new/quote/&quot;&amp;{!RevOpsTemplateID}&amp;&quot;?oppId=&quot;&amp;{!recordId.Id}</expression>
    </formulas>
    <interviewLabel>Opportunity - Launch RevOps {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - New RevOps Deal</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_booking_setting</name>
        <label>Get booking setting</label>
        <locationX>775</locationX>
        <locationY>949</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_setting</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Subtype__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Booking_Setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_global_permission</name>
        <label>Get global permission</label>
        <locationX>430</locationX>
        <locationY>944</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_deal_creation_blocked</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Block_RevOps_Deals</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Global_Permission__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_opp</name>
        <label>Update opp</label>
        <locationX>2244</locationX>
        <locationY>873</locationY>
        <connector>
            <targetReference>Set_template_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Forecast_Method__c</field>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Method__c</field>
            <value>
                <stringValue>RevOps</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Cannot_create_agreement</name>
        <label>Cannot create agreement</label>
        <locationX>1523</locationX>
        <locationY>760</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error</name>
            <fieldText>&lt;p&gt;You may not create an agreement on this deal ({!recordId.Name}) because the start date is {!days_to_start_date} days in the future.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You may only agreements on deals with a start date in the next 120 days.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_New_Agreement</name>
        <label>Create New Agreement</label>
        <locationX>1673</locationX>
        <locationY>955</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Chosen_agreement_type</targetReference>
        </connector>
        <fields>
            <name>agreement_type_picklist</name>
            <choiceReferences>agree_type_order_form</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>agree_type_order_form</defaultSelectedChoiceReference>
            <fieldText>Select an agreement type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Warning_Existing_Order_Form</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;WARNING:&lt;/strong&gt; This opportunity is already associated with an order form.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;{!recordId.Contract.Deal_Desk_Link__c}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Click here&lt;/a&gt; to open the active order form.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>agreement_type_picklist</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>agree_type_order_form</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>recordId.Contract.Deal_ID__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>start_date_warning</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;WARNING:&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; Start date is {!days_to_start_date} in the future&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>days_to_start_date</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>90.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_No_booking_setting_found</name>
        <label>Error: No booking setting found</label>
        <locationX>948</locationX>
        <locationY>1139</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>error1</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Error:&lt;/strong&gt; Booking setting for this deal subtype cannot be found.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please contact Revenue Operations.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_No_booking_setting_found_0</name>
        <label>Error: No booking setting found</label>
        <locationX>602</locationX>
        <locationY>1157</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>error1_0_0</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Error:&lt;/strong&gt; Deal creation is currently blocked for the following reason:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Get_global_permission.Reason__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_No_Deal_ID_Defined</name>
        <label>Error: No Deal ID Defined</label>
        <locationX>1156</locationX>
        <locationY>1177</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>error1_0</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Error:&lt;/strong&gt; No defined RevOps deal ID for this deal subtype found.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please contact Revenue Operations.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>934</locationY>
        <connector>
            <targetReference>Get_global_permission</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>RevOpsTemplateID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
