unpackaged/main/default/flows/Opportunity_Request_SE.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Open_tech_eval</name>
        <label>Open tech eval</label>
        <locationX>417</locationX>
        <locationY>2935</locationY>
        <actionName>c:OpenURL</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>_blank</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>url</name>
            <value>
                <elementReference>tech_eval_url</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:OpenURL</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Post_to_se_requests_request</name>
        <label>Post to #se-requests (request)</label>
        <locationX>133</locationX>
        <locationY>2022</locationY>
        <actionName>Centro__SendMessageFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Add_MQ_to_tech_eval</targetReference>
        </connector>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>channelId</name>
            <value>
                <stringValue>{!slack_channel_se_request}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>InterviewGuid</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>{!slack_request}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pinMessage</name>
            <value>
                <stringValue>false</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>postEphemeral</name>
            <value>
                <stringValue>false</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>postReply</name>
            <value>
                <stringValue>false</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>startThread</name>
            <value>
                <stringValue>true</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>threadMessage</name>
            <value>
                <stringValue>{!request_thread_reply}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>updateMessage</name>
            <value>
                <stringValue>false</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>usePlainText</name>
            <value>
                <stringValue>true</stringValue>
            </value>
        </inputParameters>
        <nameSegment>Centro__SendMessageFlow</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>request_MQ</assignToReference>
            <name>messageQueue</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Add_MQ_to_tech_eval</name>
        <label>Add MQ to tech eval</label>
        <locationX>230</locationX>
        <locationY>2267</locationY>
        <assignmentItems>
            <assignToReference>new_tech_eval.Request_MQ__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>request_MQ.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_tech_eval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_new_tech_eval_direct_assigns</name>
        <label>Build new tech eval (direct assign)</label>
        <locationX>480</locationX>
        <locationY>2131</locationY>
        <assignmentItems>
            <assignToReference>new_tech_eval.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_tech_eval.Create_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Request SE Button (Direct Assign)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_tech_eval.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>manager_select_se.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_tech_eval.Request_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_tech_eval.Requested_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_tech_eval.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>012Qo000009JJplIAG</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_tech_eval.Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Discovery</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Tech_Eval_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_new_tech_eval_request</name>
        <label>Build new tech eval (request)</label>
        <locationX>1</locationX>
        <locationY>1544</locationY>
        <assignmentItems>
            <assignToReference>new_tech_eval.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_tech_eval.Create_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Request SE Button (Request)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_tech_eval.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0055A00000BExg9QAD</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_tech_eval.Request_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_tech_eval.Requested_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_tech_eval.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>012Qo000008fZ0PIAU</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_tech_eval.Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Requested</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_tech_eval.Next_Meeting_At__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>When_is_the_next_customer_meeting</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_tech_eval.Next_Meeting_Agenda__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_is_the_meeting_agenda</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_tech_eval.Next_Meeting_Attendees__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Who_is_attending_the_meeting_including_roles</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_tech_eval.Next_Meeting_Goals_Exit_Criteria__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_are_the_meeting_goals_and_exit_criteria</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_tech_eval.Next_Meeting_Additional_Context__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_there_any_additional_context_we_should_know</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Tech_Eval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_new_tech_eval_self_assigna</name>
        <label>Build new tech eval (self assign)</label>
        <locationX>755</locationX>
        <locationY>1872</locationY>
        <assignmentItems>
            <assignToReference>new_tech_eval.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_tech_eval.Create_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Request SE Button (Self Assign)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_tech_eval.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_tech_eval.Request_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_tech_eval.Requested_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_tech_eval.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>012Qo000009JJplIAG</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_tech_eval.Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Discovery</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Tech_Eval_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_channel</name>
        <label>Set channel</label>
        <locationX>261</locationX>
        <locationY>1455</locationY>
        <assignmentItems>
            <assignToReference>slack_channel_se_request</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_tech_eval_setting.Notification_Slack_Channel_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Request_Sales_Engineer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_SE_on_opp</name>
        <label>Update SE on opp</label>
        <locationX>592</locationX>
        <locationY>2420</locationY>
        <assignmentItems>
            <assignToReference>recordId.Sales_Engineer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>new_tech_eval.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Sales_Engineer_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>new_tech_eval.Owner:User.UserRole.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Permission_Check__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_opp</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choice_create_approved_tech_eval</name>
        <choiceText>Create approved Technical Evaluation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>direct_create</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_create_request</name>
        <choiceText>Create SE request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>create_request</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Found_open_tech_eval</name>
        <label>Found open tech eval?</label>
        <locationX>715</locationX>
        <locationY>1192</locationY>
        <defaultConnector>
            <targetReference>SE_assignment_method</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_found_Te</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Look_for_open_tech_evals</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_cannot_Req_SE_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_tech_eval_setting</name>
        <label>Found tech eval setting?</label>
        <locationX>389</locationX>
        <locationY>1452</locationY>
        <defaultConnector>
            <targetReference>Error_cannot_Req_SE_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_tech_eval_setting</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_channel</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Manager_choice</name>
        <label>Manager choice</label>
        <locationX>427</locationX>
        <locationY>1902</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Create_request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>manager_se_assignment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_create_request</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Found_tech_eval_setting</targetReference>
            </connector>
            <label>Create request</label>
        </rules>
        <rules>
            <name>Direct_create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>manager_se_assignment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_create_approved_tech_eval</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Build_new_tech_eval_direct_assigns</targetReference>
            </connector>
            <label>Direct create</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_is</name>
        <label>Opportunity is</label>
        <locationX>718</locationX>
        <locationY>432</locationY>
        <defaultConnector>
            <targetReference>Get_tech_eval_setting</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Open</defaultConnectorLabel>
        <rules>
            <name>Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_permission_is</targetReference>
            </connector>
            <label>Closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>SE_assignment_method</name>
        <label>SE assignment method</label>
        <locationX>715</locationX>
        <locationY>1450</locationY>
        <defaultConnector>
            <targetReference>Error_cannot_Req_SE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.SE_Assignment_Method__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Found_tech_eval_setting</targetReference>
            </connector>
            <label>Request</label>
        </rules>
        <rules>
            <name>Manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.SE_Assignment_Method__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_active_SEs</targetReference>
            </connector>
            <label>Manager</label>
        </rules>
        <rules>
            <name>Self_Assign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.SE_Assignment_Method__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Self Assign</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Build_new_tech_eval_self_assigna</targetReference>
            </connector>
            <label>Self Assign</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_permission_is</name>
        <label>User permission is</label>
        <locationX>868</locationX>
        <locationY>642</locationY>
        <defaultConnector>
            <targetReference>Error_May_Not_Create_Tech_Eval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Something else</defaultConnectorLabel>
        <rules>
            <name>Manager_SE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.SE_Assignment_Method__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_tech_eval_setting</targetReference>
            </connector>
            <label>Manager</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>meeting_time</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!new_tech_eval.Next_Meeting_At__c}),&quot;Not Provided&quot;,TEXT({!new_tech_eval.Next_Meeting_At__c}))</expression>
    </formulas>
    <formulas>
        <name>tech_eval_url</name>
        <dataType>String</dataType>
        <expression>&quot;https://retool.lightning.force.com/&quot;&amp;{!new_tech_eval.Id}</expression>
    </formulas>
    <interviewLabel>Opportunity - Request SE {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Request SE</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Tech_Eval</name>
        <label>Create Tech Eval</label>
        <locationX>127</locationX>
        <locationY>1813</locationY>
        <connector>
            <targetReference>Post_to_se_requests_request</targetReference>
        </connector>
        <inputReference>new_tech_eval</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Tech_Eval_0</name>
        <label>Create Tech Eval</label>
        <locationX>702</locationX>
        <locationY>2229</locationY>
        <connector>
            <targetReference>Update_SE_on_opp</targetReference>
        </connector>
        <inputReference>new_tech_eval</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_active_SEs</name>
        <label>Get active SEs</label>
        <locationX>514</locationX>
        <locationY>1557</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SE_Request_Admin</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Team__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sales Engineering</stringValue>
            </value>
        </filters>
        <filters>
            <field>Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IC</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <sortField>Subteam__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_tech_eval_setting</name>
        <label>Get tech eval setting</label>
        <locationX>723</locationX>
        <locationY>877</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Look_for_open_tech_evals</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subteam__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Owner_Subteam__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Region__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Owner_Region__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Tech_Evaluation_Routing_Setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Look_for_open_tech_evals</name>
        <label>Look for open tech evals</label>
        <locationX>723</locationX>
        <locationY>1016</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_open_tech_eval</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_Closed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Technical_Evaluation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_opp</name>
        <label>Update opp</label>
        <locationX>451</locationX>
        <locationY>2555</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <inputReference>recordId</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_tech_eval</name>
        <label>Update tech eval</label>
        <locationX>227</locationX>
        <locationY>2443</locationY>
        <connector>
            <targetReference>Open_tech_eval</targetReference>
        </connector>
        <inputReference>new_tech_eval</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Error_cannot_Req_SE</name>
        <label>Error</label>
        <locationX>1086</locationX>
        <locationY>1448</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_head</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Error:&lt;/strong&gt; Your role may not request an SE&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_cannot_Req_SE_0</name>
        <label>Error</label>
        <locationX>1086</locationX>
        <locationY>1191</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_head_0</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Error:&lt;/strong&gt; You cannot request an SE because {!Look_for_open_tech_evals.Owner:User.Full_Name_with_Role__c} is already assigned to this deal.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://retool.lightning.force.com/{!Look_for_open_tech_evals.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Click here to open the SE&#39;s active Evaluation&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_cannot_Req_SE_0_0</name>
        <label>Error</label>
        <locationX>326</locationX>
        <locationY>1249</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_head_0_0</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Error:&lt;/strong&gt; No Technical Evaluation Setting metadata found. Please notify Revenue Operations.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_May_Not_Create_Tech_Eval</name>
        <label>Error - May Not Create Tech Eval</label>
        <locationX>1469</locationX>
        <locationY>646</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>error_header</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Error:&lt;/strong&gt; You may not create a Technical Evaluation on a closed opportunity. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If you are attempting to back-fill a Technical Evaluation for a recently closed deal, please reach out to Revenue Operations for assistance. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Request_Sales_Engineer</name>
        <label>Request Sales Engineer</label>
        <locationX>97</locationX>
        <locationY>1460</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Build_new_tech_eval_request</targetReference>
        </connector>
        <fields>
            <name>request_SE_instructions</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;&lt;em&gt;Opportunity details will be reviewed by SE leadership. Please ensure all required context is added to the opportunity before submitting this request.&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>stage_1_warning</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;&lt;em&gt;WARNING:&lt;/em&gt;&lt;/strong&gt;&lt;em&gt; This deal is not a sales qualified opportunity. Please ensure all relevant qualification details are filled out on the opportunity before submitting this request&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>recordId.StageName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>(1) Qualification</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Please_provide_the_following_information_to_request_an_SE_for_this_deal</name>
            <fieldText>Please provide the following information to request an SE for this deal:</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Please_provide_the_following_information_to_request_an_SE_for_this_deal_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>When_is_the_next_customer_meeting</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>new_tech_eval.Next_Meeting_At__c</elementReference>
                    </defaultValue>
                    <fieldText>When is the next customer meeting? (your local time)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>What_is_the_meeting_agenda</name>
                    <fieldText>What is the meeting agenda?</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Please enter fewer than 512 characters&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!What_is_the_meeting_agenda})&lt;=512</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Who_is_attending_the_meeting_including_roles</name>
                    <fieldText>Who is attending the meeting? (including roles)</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Please enter fewer than 512 characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Who_is_attending_the_meeting_including_roles})&lt;=512</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>What_are_the_meeting_goals_and_exit_criteria</name>
                    <fieldText>What are the meeting goals and exit criteria?</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Please enter fewer than 512 characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!What_are_the_meeting_goals_and_exit_criteria})&lt;=512</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Is_there_any_additional_context_we_should_know</name>
                    <fieldText>Is there any additional context we should know?</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Please enter fewer than 512 characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Is_there_any_additional_context_we_should_know})&lt;=512</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>footer_text</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Click &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Submit SE Request&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; to notify SE leadership. They will respond to this request within 2 business days.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Submit SE Request</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SE_Request_Admin</name>
        <label>SE Request (Admin)</label>
        <locationX>583</locationX>
        <locationY>1754</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Manager_choice</targetReference>
        </connector>
        <fields>
            <name>Deal_Details_header</name>
            <fieldText>&lt;p&gt;&lt;a href=&quot;https://retool.lightning.force.com/{!recordId.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;{!recordId.Name}&lt;/strong&gt;&lt;/a&gt;&lt;strong&gt; &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Details: &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!recordId.Account.NumberOfEmployees} emp | {!recordId.Account.Industry} | {!recordId.Segment__c} | {!recordId.Account.ShippingCountry}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Stage: &lt;/strong&gt;{!recordId.StageName}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Owner:&lt;/strong&gt; {!recordId.Owner.Full_Name_with_Role__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>manager_se_assignment</name>
            <choiceReferences>choice_create_request</choiceReferences>
            <choiceReferences>choice_create_approved_tech_eval</choiceReferences>
            <dataType>String</dataType>
            <fieldText>How would you like to assign an SE to this deal?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>mapped_se_warning</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;&lt;em&gt;NOTE:&lt;/em&gt;&lt;/strong&gt;&lt;em&gt; Deal owner ({!recordId.Owner.FirstName} {!recordId.Owner.LastName}) is mapped to Sales Engineer ({!recordId.Owner.Mapped_Sales_Engineer__r.FirstName} &lt;/em&gt;&lt;em style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!recordId.Owner.Mapped_Sales_Engineer__r.LastName})&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>manager_se_assignment</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_create_approved_tech_eval</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SE_Request_Admin_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SE_Request_Admin_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>manager_select_se</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>User</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Select a Sales Engineer to assign:</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>SINGLE_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_active_SEs</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isShowSearchBar</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-5f14&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Full Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Role_Name__c&quot;,&quot;guid&quot;:&quot;column-7ead&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Role Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Role Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Subteam__c&quot;,&quot;guid&quot;:&quot;column-4daf&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Subteam&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Subteam&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Region__c&quot;,&quot;guid&quot;:&quot;column-4f20&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Region&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Region&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>manager_se_assignment</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_create_approved_tech_eval</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>547</locationX>
        <locationY>2767</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Open_tech_eval</targetReference>
        </connector>
        <fields>
            <name>success_header</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Success:&lt;/strong&gt; A new technical evaluation has been created&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Open Technical Evaluation</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>598</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Opportunity_is</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>request_thread_reply</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;!subteam^{!Get_tech_eval_setting.Approver_Slack_Group_ID__c}&gt; {!Get_tech_eval_setting.Approval_Reply_SLA__c}</text>
    </textTemplates>
    <textTemplates>
        <name>slack_request</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;:hammer_and_wrench: &lt;/strong&gt;&lt;a href=&quot;https://retool.lightning.force.com/{!new_tech_eval.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;New SE Request Submitted&lt;/strong&gt;&lt;/a&gt; &lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;:hammer_and_wrench:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!recordId.Account.Industry} | {!recordId.Account.ShippingCountry} ({!recordId.Account.Shipping_Region__c}) | {!recordId.Account.Segment__c} ({!recordId.Account.NumberOfEmployees} emp.)&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Opportunity:&lt;/strong&gt; &lt;a href=&quot;https://retool.lightning.force.com/{!recordId.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!recordId.Name}&lt;/a&gt; | Stage: &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!recordId.StageName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Sales Owner:&lt;/strong&gt; {!recordId.Owner.Slack_Mention_With_Role_Full_Name__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Sales Manager:&lt;/strong&gt; {!recordId.Owner.Manager.Slack_Mention_With_Role_Full_Name__c}  &lt;/p&gt;&lt;p&gt;&lt;strong&gt;Forecast ARR:&lt;/strong&gt; ${!recordId.Forecast_Total_AR__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Next Meeting At:&lt;/strong&gt; {!meeting_time}&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Attendees: &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;```{!new_tech_eval.Next_Meeting_Attendees__c}```&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Agenda: &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;```{!new_tech_eval.Next_Meeting_Agenda__c}```&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Goals &amp;amp; Exit Criteria:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;```{!new_tech_eval.Next_Meeting_Goals_Exit_Criteria__c}```&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Additional Context: &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;```{!new_tech_eval.Next_Meeting_Additional_Context__c}```&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>new_tech_eval</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Technical_Evaluation__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>request_MQ</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Centro__Message_Queue__c</objectType>
    </variables>
    <variables>
        <name>slack_channel_se_request</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
