unpackaged/main/default/flows/Opportunity_Execute_Auto_Close.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Set_trigger</name>
        <label>Set trigger</label>
        <locationX>1624</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>recordId.Trigger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_opp_commit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_up_opp_for_auto_close</name>
        <label>Set up opp for auto close</label>
        <locationX>1180</locationX>
        <locationY>324</locationY>
        <assignmentItems>
            <assignToReference>recordId.Forecast_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Automatic</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Close_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Auto Close</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Permission_Check__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Probability</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Write_automation_error_to_opp</name>
        <label>Write automation error to opp</label>
        <locationX>943</locationX>
        <locationY>526</locationY>
        <assignmentItems>
            <assignToReference>error_message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ERROR: Can&#39;t auto close without line items</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Has_line_items</name>
        <label>Has line items?</label>
        <locationX>909</locationX>
        <locationY>348</locationY>
        <defaultConnector>
            <targetReference>Write_automation_error_to_opp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.HasOpportunityLineItem</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_up_opp_for_auto_close</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Opportunity - Execute Auto Close {!$Flow.CurrentDateTime} {!recordId.Name} {!recordId.Id}</interviewLabel>
    <label>Opportunity - Execute Auto Close</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Publish_lock_booking_event</name>
        <label>Publish lock booking event</label>
        <locationX>1953</locationX>
        <locationY>341</locationY>
        <inputAssignments>
            <field>ActorId__c</field>
            <value>
                <stringValue>0055A00000ApunnQAB</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Method__c</field>
            <value>
                <stringValue>Auto-close Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId__c</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_Detail__c</field>
            <value>
                <stringValue>Auto-close</stringValue>
            </value>
        </inputAssignments>
        <object>Lock_Booking__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_opp</name>
        <label>Update opp</label>
        <locationX>1339</locationX>
        <locationY>325</locationY>
        <connector>
            <targetReference>Run_CW_automations</targetReference>
        </connector>
        <inputReference>recordId</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_opp_commit</name>
        <label>Update opp</label>
        <locationX>1766</locationX>
        <locationY>351</locationY>
        <connector>
            <targetReference>Publish_lock_booking_event</targetReference>
        </connector>
        <inputReference>recordId</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>791</locationX>
        <locationY>6</locationY>
        <connector>
            <targetReference>Has_line_items</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Run_CW_automations</name>
        <label>Run CW automations</label>
        <locationX>1483</locationX>
        <locationY>338</locationY>
        <connector>
            <targetReference>Set_trigger</targetReference>
        </connector>
        <flowName>Opportunity_Committed_Closed_Won_Automations_v2</flowName>
        <inputAssignments>
            <name>OpportunityRecord</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ring_gong</name>
            <value>
                <elementReference>setting_ring_gongs</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>recordId</assignToReference>
            <name>OpportunityRecord</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>error_message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>setting_ring_gongs</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
</Flow>
