unpackaged/main/default/flows/Opportunity_Retool_Workflow_Trigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Clear_error</name>
        <label>Clear error</label>
        <locationX>1300</locationX>
        <locationY>206</locationY>
        <assignmentItems>
            <assignToReference>$Record.Has_Automation_Error__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Automation_Error__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Flow_triggered_is</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_error_0</name>
        <label>Clear trigger</label>
        <locationX>2080</locationX>
        <locationY>215</locationY>
        <assignmentItems>
            <assignToReference>$Record.Trigger_Retool_Workflow__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opp</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Flow_triggered_is</name>
        <label>Workflow triggered is</label>
        <locationX>1473</locationX>
        <locationY>205</locationY>
        <defaultConnector>
            <targetReference>Clear_error_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>SQO_Analyzer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Trigger_Retool_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SQO Analyzer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_SQO_Analyzer</targetReference>
            </connector>
            <label>SQO Analyzer</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Opportunity: Retool Workflow Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity: Retool Workflow Trigger</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Opp</name>
        <label>Update Opp</label>
        <locationX>2287</locationX>
        <locationY>207</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>738</locationX>
        <locationY>112</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Trigger_Retool_Workflow__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Trigger_Retool_Workflow__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Clear_error</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Run_SQO_Analyzer</name>
        <label>Run SQO Analyzer</label>
        <locationX>1844</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Clear_error_0</targetReference>
        </connector>
        <flowName>Callout_Retool_Workflow</flowName>
        <inputAssignments>
            <name>apiKey</name>
            <value>
                <stringValue>retool_wk_560e192445d349adb46357371f2d2c39</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>flowDeveloperName</name>
            <value>
                <stringValue>Retool Workflow Trigger: SQO Analyzer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>flowInterviewId</name>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>opportunity_record</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>workflowId</name>
            <value>
                <stringValue>3fa83fdf-09f3-4e2c-a3f4-1573acfbe15f</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>result_code</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>result_description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
