unpackaged/main/default/flows/Opportunity_Next_Stage_Button.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Update_Screen</name>
        <label>Update Screen</label>
        <locationX>3505</locationX>
        <locationY>1211</locationY>
        <actionName>c:UpdateScreen</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:UpdateScreen</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Set_skip_variable</name>
        <label>Set skip variable</label>
        <locationX>2380</locationX>
        <locationY>137</locationY>
        <assignmentItems>
            <assignToReference>setting_skip_to_stage_5</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_stage_to_3_POC_Scoping</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_stage_to_3_POC_Scoping</name>
        <label>Set stage to (3) POC Scoping</label>
        <locationX>2385</locationX>
        <locationY>367</locationY>
        <assignmentItems>
            <assignToReference>recordId.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>(3) POC Scoping</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Test_Champion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Champion.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Competition__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>C_Competition</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.After_Scenarios__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>After_Scenarios</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Positive_Business_Outcomes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Positive_Business_Outcomes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Use_Cases__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Use_Cases</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Technical_Evaluation_Skip_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eval_no</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Differentiators__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Differentiators</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Skip_to_stage_5</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_stage_to_3_Proposal</name>
        <label>Set stage to (3) Proposal</label>
        <locationX>1937</locationX>
        <locationY>1287</locationY>
        <assignmentItems>
            <assignToReference>recordId.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>(3) Proposal</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_stage_definition</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_stage_to_4_Proof_of_Concept</name>
        <label>Set stage to (4) Proof of Concept</label>
        <locationX>2240</locationX>
        <locationY>590</locationY>
        <assignmentItems>
            <assignToReference>recordId.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>(4) Proof of Concept</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Economic_Buyer_E__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>economic_buyer.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Decision_process_D__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>D_Decision_Process</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Required_Capabilities__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Required_Capabilities</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Metrics__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Metrics</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Skip_to_stage_5_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_stage_to_5_Negotiation</name>
        <label>Set stage to (5) Negotiation</label>
        <locationX>1810</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>recordId.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>(5) Validating Business Case/Negotiating</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_stage_definition</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_stage_to_5_Negotiation_0</name>
        <label>Set stage to (5) Negotiation</label>
        <locationX>1882</locationX>
        <locationY>1123</locationY>
        <assignmentItems>
            <assignToReference>recordId.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>(5) Validating Business Case/Negotiating</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_stage_definition</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_stage_to_5_Validating_Business_Case_Negotiating</name>
        <label>Set stage to (5) Validating Business Case/Negotiating</label>
        <locationX>2158</locationX>
        <locationY>839</locationY>
        <assignmentItems>
            <assignToReference>recordId.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>(5) Validating Business Case/Negotiating</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Mutual_Action_Plan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>map_trimmed</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_stage_definition</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_stage_to_6_Signature</name>
        <label>Set stage to (6) Signature</label>
        <locationX>1824</locationX>
        <locationY>1559</locationY>
        <assignmentItems>
            <assignToReference>recordId.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>(6) Signature</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_stage_definition</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_stage_to_6_Signature_0_0</name>
        <label>Set stage to (6) Signature</label>
        <locationX>1795</locationX>
        <locationY>909</locationY>
        <assignmentItems>
            <assignToReference>recordId.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>(6) Signature</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Paper_Process__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>P_Paper_Process_ent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_stage_definition</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Updateopp</name>
        <label>Update opp</label>
        <locationX>2723</locationX>
        <locationY>1220</locationY>
        <assignmentItems>
            <assignToReference>recordId.Permission_Check__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_opportunity</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>eval_no</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <userInput>
            <isRequired>true</isRequired>
            <promptText>Please provide a reason why we are not running a technical evaluation:</promptText>
        </userInput>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>eval_yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Doing_tech_evalg</name>
        <label>Doing tech eval?</label>
        <locationX>1981</locationX>
        <locationY>221</locationY>
        <defaultConnector>
            <targetReference>Set_skip_variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>tech_eval_question</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>eval_yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_stage_to_3_POC_Scoping</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_tech_eval</name>
        <label>Has tech eval?</label>
        <locationX>1725</locationX>
        <locationY>406</locationY>
        <defaultConnector>
            <targetReference>Technical_Evaluation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_tech</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Look_for_open_tech_eval</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_stage_to_3_POC_Scoping</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_in_auto_close</name>
        <label>Is in auto close?</label>
        <locationX>1137</locationX>
        <locationY>1054</locationY>
        <defaultConnector>
            <targetReference>Stage_is_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_auto_close</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Auto_close__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_from_auto_close</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pipeline_updates_frozen</name>
        <label>Pipeline updates frozen?</label>
        <locationX>664</locationX>
        <locationY>1052</locationY>
        <defaultConnector>
            <targetReference>Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_pipe_frozen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_global_permission.Is_Enabled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Pipeline_Frozen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Type</name>
        <label>Record Type</label>
        <locationX>953</locationX>
        <locationY>1057</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Enterprise</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enterprise</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage_is</targetReference>
            </connector>
            <label>Enterprise</label>
        </rules>
        <rules>
            <name>Renewal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_in_auto_close</targetReference>
            </connector>
            <label>Renewal</label>
        </rules>
        <rules>
            <name>Professional_Services</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Professional Services</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage_is_0_0_0</targetReference>
            </connector>
            <label>Professional Services</label>
        </rules>
    </decisions>
    <decisions>
        <name>Skip_to_stage_5</name>
        <label>Skip to stage 5?</label>
        <locationX>2370</locationX>
        <locationY>546</locationY>
        <defaultConnector>
            <targetReference>Get_stage_definition</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_skip_to_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>setting_skip_to_stage_5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Move_to_stage_4</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Skip_to_stage_5_0</name>
        <label>Skip to stage 5?</label>
        <locationX>2293</locationX>
        <locationY>766</locationY>
        <defaultConnector>
            <targetReference>Get_stage_definition</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_skip_to_5_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>setting_skip_to_stage_5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Move_to_stage_6_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stage_is</name>
        <label>Stage is</label>
        <locationX>954</locationX>
        <locationY>603</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>X2_Discovery</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>(2) Discovery</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Move_to_stage_3</targetReference>
            </connector>
            <label>(2) Discovery</label>
        </rules>
        <rules>
            <name>X3_POC_Scoping</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>(3) POC Scoping</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Move_to_stage_4</targetReference>
            </connector>
            <label>(3) POC Scoping</label>
        </rules>
        <rules>
            <name>X4_Proof_of_Concept</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>(4) Proof of Concept</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Move_to_stage_6_0_0</targetReference>
            </connector>
            <label>(4) Proof of Concept</label>
        </rules>
        <rules>
            <name>X5_Validating_Business_Case_Negotiating</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>(5) Validating Business Case/Negotiating</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Move_to_stage_6</targetReference>
            </connector>
            <label>(5) Validating Business Case/Negotiating</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stage_is_0_0</name>
        <label>Stage is</label>
        <locationX>1582</locationX>
        <locationY>1057</locationY>
        <defaultConnector>
            <targetReference>Set_stage_to_5_Negotiation_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>X1_Onboarding</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>(1) Onboarding</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_stage_to_5_Negotiation_0</targetReference>
            </connector>
            <label>(1) Onboarding</label>
        </rules>
        <rules>
            <name>X2_Nurture</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>(2) Nurture</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_stage_to_5_Negotiation_0</targetReference>
            </connector>
            <label>(2) Nurture</label>
        </rules>
        <rules>
            <name>X5_Validating_Business_Case_Negotiating_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>(5) Validating Business Case/Negotiating</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Move_to_stage_6</targetReference>
            </connector>
            <label>(5) Validating Business Case/Negotiating</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stage_is_0_0_0</name>
        <label>Stage is</label>
        <locationX>955</locationX>
        <locationY>1442</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>X2_Discovery2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>(2) Discovery</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_stage_to_3_Proposal</targetReference>
            </connector>
            <label>(2) Discovery</label>
        </rules>
        <rules>
            <name>X3_Proposal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>(3) Proposal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_stage_to_5_Negotiation</targetReference>
            </connector>
            <label>(3) Proposal</label>
        </rules>
        <rules>
            <name>X5_Validating_Business_Case_Negotiating_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>(5) Validating Business Case/Negotiating</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_stage_to_6_Signature</targetReference>
            </connector>
            <label>(5) Validating Business Case/Negotiating</label>
        </rules>
    </decisions>
    <description>Removed Tech Evaluation creation at stage 2 --&gt; 3</description>
    <dynamicChoiceSets>
        <name>competition_choice_set</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Competition__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>differentiatiors_choice_set</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Differentiators__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>map_trimmed</name>
        <dataType>String</dataType>
        <expression>LEFT({!map_screen.value},255)</expression>
    </formulas>
    <interviewLabel>Opportunity - Next Stage Button {!$Flow.CurrentDateTime} {!recordId.Name} from stage {!recordId.StageName}</interviewLabel>
    <label>Opportunity - Next Stage Button</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_global_permission</name>
        <label>Get global permission</label>
        <locationX>451</locationX>
        <locationY>1030</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Pipeline_updates_frozen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Freeze_Pipeline_Updates</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Global_Permission__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_stage_definition</name>
        <label>Get stage definition</label>
        <locationX>2368</locationX>
        <locationY>1224</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Updateopp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Type_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.RecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.StageName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Stage_Definition__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Look_for_open_tech_eval</name>
        <label>Look for open tech eval</label>
        <locationX>1533</locationX>
        <locationY>402</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_tech_eval</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_Closed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Technical_Evaluation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_opportunity</name>
        <label>Update opportunity</label>
        <locationX>2952</locationX>
        <locationY>1239</locationY>
        <connector>
            <targetReference>Update_Forecast</targetReference>
        </connector>
        <inputReference>recordId</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Error_Pipeline_Frozen</name>
        <label>Error</label>
        <locationX>629</locationX>
        <locationY>825</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Error: &lt;/strong&gt;You cannot update the stage on this opportunity right now:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;em&gt;{!Get_global_permission.Reason__c}&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Move_to_stage_3</name>
        <label>Move to stage 3</label>
        <locationX>1371</locationX>
        <locationY>419</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Look_for_open_tech_eval</targetReference>
        </connector>
        <fields>
            <name>to_stage_3_ent</name>
            <fieldText>&lt;p&gt;To advance this opportunity to the next stage, please provide or confirm the following:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Move_to_stage_3_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Move_to_stage_3_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>cvo_s3</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Customer Value Framework:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Any pre-existing Retool product knowledge / customer experience / technical expertise&lt;/li&gt;&lt;li&gt;Top 1-3 &lt;strong&gt;Use Cases&lt;/strong&gt; that tie to core &lt;strong&gt;Positive Business Outcomes&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;Validated technical feasibility&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Champion&lt;/strong&gt;: Suspected or potential&amp;nbsp;&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Competition&lt;/strong&gt;: How they would solve the identified pain (or gain) without Retool (i.e. what is their alternative?)&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Differentiators:&lt;/strong&gt; How Retool is uniquely &amp;amp; comparatively positioned to win against the identified competitors&lt;/li&gt;&lt;/ul&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Move_to_stage_3_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Use_Cases</name>
                    <defaultValue>
                        <stringValue>{!recordId.Use_Cases__c}</stringValue>
                    </defaultValue>
                    <fieldText>Use Cases</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>After_Scenarios</name>
                    <defaultValue>
                        <stringValue>{!recordId.After_Scenarios__c}</stringValue>
                    </defaultValue>
                    <fieldText>After Scenarios</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Positive_Business_Outcomes</name>
                    <defaultValue>
                        <stringValue>{!recordId.Positive_Business_Outcomes__c}</stringValue>
                    </defaultValue>
                    <fieldText>Positive Business Outcomes</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>recordId.Coach__c</objectFieldReference>
                </fields>
                <fields>
                    <name>Champion</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Test_Champion__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>[C] Champion</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Opportunity</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>recordId.Test_Champion__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>C_Competition</name>
                    <choiceReferences>competition_choice_set</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recordId.Competition__c</elementReference>
                    </defaultValue>
                    <fieldText>[C] Competition</fieldText>
                    <fieldType>MultiSelectPicklist</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>competitor_footnote</name>
                    <fieldText>&lt;p&gt;&lt;em style=&quot;font-size: 10px;&quot;&gt;Hold ⌘ and click to select multiple competitors&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Differentiators</name>
                    <choiceReferences>differentiatiors_choice_set</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recordId.Differentiators__c</elementReference>
                    </defaultValue>
                    <fieldText>Differentiators</fieldText>
                    <fieldType>MultiSelectPicklist</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Move_to_stage_4</name>
        <label>Move to stage 4</label>
        <locationX>1901</locationX>
        <locationY>544</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_stage_to_4_Proof_of_Concept</targetReference>
        </connector>
        <fields>
            <name>to_stage_4_ent</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;To advance this opportunity to the next stage, please provide or confirm the following:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Move_to_stage_4_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Move_to_stage_4_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>cbo_s4</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Customer Verifiable Outcomes﻿&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong&gt;Decision Process&lt;/strong&gt;: Agreement on a specific validation approach to prove out use cases or required capabilities as well as supporting success metrics&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Economic Buyer&lt;/strong&gt; identified, path to engage with them, and preliminary understanding of their priorities and approach to quantify them&lt;/li&gt;&lt;li&gt;Validation the champion is a true champion&amp;nbsp;&lt;/li&gt;&lt;li&gt;Preliminary pricing discussed &amp;amp; deemed feasible&lt;/li&gt;&lt;li&gt;Understanding of competitive landscape and shape evaluation criteria&amp;nbsp;&lt;/li&gt;&lt;li&gt;Customer agrees to commit necessary resources (e.g., infrastructure or personnel) for technical validation&lt;/li&gt;&lt;/ul&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Move_to_stage_4_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>economic_buyer</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Economic_Buyer_E__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>[E] Economic Buyer</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Opportunity</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>recordId.Economic_Buyer_E__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>D_Decision_Process</name>
                    <defaultValue>
                        <stringValue>{!recordId.Decision_process_D__c}</stringValue>
                    </defaultValue>
                    <fieldText>[D] Decision Process</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Required_Capabilities</name>
                    <defaultValue>
                        <stringValue>{!recordId.Required_Capabilities__c}</stringValue>
                    </defaultValue>
                    <fieldText>Required Capabilities</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Metrics</name>
                    <defaultValue>
                        <stringValue>{!recordId.Metrics__c}</stringValue>
                    </defaultValue>
                    <fieldText>Metrics</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Move_to_stage_6</name>
        <label>Move to stage 6</label>
        <locationX>1574</locationX>
        <locationY>806</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_stage_to_6_Signature_0_0</targetReference>
        </connector>
        <fields>
            <name>to_stage_6_ent</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;To advance this opportunity to the next stage, please provide or confirm the following:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Move_to_stage_6_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Move_to_stage_6_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>cvo_3</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Customer Verifiable Outcomes:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Economic Buyer &amp;amp; Finance sign off on business case&lt;/li&gt;&lt;li&gt;Aligned on specific proposal (incl. pricing details)&lt;/li&gt;&lt;li&gt;Paper Process: Agreement on all key business, legal, and other deal requirements&amp;nbsp;&lt;/li&gt;&lt;li&gt;Agreement sent for signature&lt;/li&gt;&lt;/ul&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Move_to_stage_6_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>P_Paper_Process_ent</name>
                    <defaultValue>
                        <stringValue>{!recordId.Paper_Process__c}</stringValue>
                    </defaultValue>
                    <fieldText>[P] Paper Process</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Move_to_stage_6_0_0</name>
        <label>Move to stage 5</label>
        <locationX>1921</locationX>
        <locationY>723</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_stage_to_5_Validating_Business_Case_Negotiating</targetReference>
        </connector>
        <fields>
            <name>to_stage_6_ent_0_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;To advance this opportunity to the next stage, please provide or confirm the following:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Move_to_stage_6_0_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Move_to_stage_6_0_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>cvo_5</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Customer Verifiable Outcomes&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Validation from Economic Buyer  &amp;amp; Champion that we have won the technical evaluation&amp;nbsp;(if one was performed)&lt;/li&gt;&lt;li&gt;Commitment from the Champion to build a Mutual Action Plan (MAP) together&lt;/li&gt;&lt;li&gt;Draft business case reviewed with the Champion&lt;/li&gt;&lt;/ul&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Move_to_stage_6_0_0_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>map_screen</name>
                    <extensionName>flowruntime:url</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>recordId.Mutual_Action_Plan__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Mutual Action Plan (URL)</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Technical_Evaluation</name>
        <label>Technical Evaluation?</label>
        <locationX>1828</locationX>
        <locationY>213</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Doing_tech_evalg</targetReference>
        </connector>
        <fields>
            <name>tech_eval_header</name>
            <fieldText>&lt;p&gt;A &lt;strong&gt;technical evaluation&lt;/strong&gt; is an engagement where we partner with the customer to assess Retool&#39;s fit for their use cases and success criteria, and can take different forms (e.g. custom demo, workshop, POC).&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>tech_eval_question</name>
            <choiceReferences>eval_yes</choiceReferences>
            <choiceReferences>eval_no</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>eval_yes</defaultSelectedChoiceReference>
            <fieldText>As part of this deal, will the customer be performing a technical evaluation of Retool?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>1037</locationY>
        <connector>
            <targetReference>Get_global_permission</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Remove_from_auto_close</name>
        <label>Remove from auto close</label>
        <locationX>1379</locationX>
        <locationY>1128</locationY>
        <connector>
            <targetReference>Stage_is_0_0</targetReference>
        </connector>
        <flowName>Opportunity_Modify_Auto_Close</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Update_Forecast</name>
        <label>Update Forecast</label>
        <locationX>3274</locationX>
        <locationY>1231</locationY>
        <connector>
            <targetReference>Update_Screen</targetReference>
        </connector>
        <flowName>Opportunity_Update_Forecast</flowName>
        <inputAssignments>
            <name>probability_override</name>
            <value>
                <elementReference>Get_stage_definition.Default_Probability__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>setting_skip_to_stage_5</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
