unpackaged/main/default/flows/Partner_Lead_After_Save_Automations.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_Of_Existing_Opportunity</name>
        <label>Notify Of Existing Opportunity</label>
        <locationX>471</locationX>
        <locationY>2050</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_Partner_Lead</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>nick@retool.com, seanh@retool.com, adam.louie@retool.com, sstaples@retool.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Partner Lead (Existing Opp): {!$Record.Partner_Account__r.Name} + {!$Record.Prospect_Account__r.Name}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ExistingOpportunity</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Notify_Of_New_Opportunity</name>
        <label>Notify Of New Opportunity</label>
        <locationX>747</locationX>
        <locationY>2026</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_Partner_Lead</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>nick@retool.com, seanh@retool.com, adam.louie@retool.com, sstaples@retool.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Partner Lead (New Opp): {!$Record.Partner_Account__r.Name} + {!$Record.Prospect_Account__r.Name}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>NewOpportunity</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Add_New_Opportunity_to_Partner_Lead</name>
        <label>Add New Opportunity to Partner Lead</label>
        <locationX>669</locationX>
        <locationY>1853</locationY>
        <assignmentItems>
            <assignToReference>$Record.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Opportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notify_Of_New_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Opportunity_to_Partner_Lead</name>
        <label>Add Opportunity to Partner Lead</label>
        <locationX>488</locationX>
        <locationY>1741</locationY>
        <assignmentItems>
            <assignToReference>$Record.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Existing_Open_Opportunities.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notify_Of_Existing_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Account_on_Partner_Lead</name>
        <label>Set Account on Partner Lead</label>
        <locationX>690</locationX>
        <locationY>587</locationY>
        <assignmentItems>
            <assignToReference>$Record.Prospect_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Account</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Contact_Blank</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Contact_on_Partner_Lead</name>
        <label>Set Contact on Partner Lead</label>
        <locationX>601</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>$Record.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Contact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Run_triage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_triage</name>
        <label>Set triage</label>
        <locationX>1041</locationX>
        <locationY>1286</locationY>
        <assignmentItems>
            <assignToReference>$Record.Notify_for_Triage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Partner_Lead_is_Blank_and_No_Opportunity</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Account_Blank</name>
        <label>Is Account Blank?</label>
        <locationX>822</locationX>
        <locationY>371</locationY>
        <defaultConnector>
            <targetReference>Is_Contact_Blank</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Account is Populated</defaultConnectorLabel>
        <rules>
            <name>Account_is_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Prospect_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Contact_Blank</targetReference>
            </connector>
            <label>Account is Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Contact_Blank</name>
        <label>Is Contact Blank?</label>
        <locationX>822</locationX>
        <locationY>779</locationY>
        <defaultConnector>
            <targetReference>Run_triage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact is Populated</defaultConnectorLabel>
        <rules>
            <name>Source_is_from_Partner_Button</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Create_Method__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Opportunity - Partner Button</stringValue>
                </rightValue>
            </conditions>
            <label>Source is from Partner Button</label>
        </rules>
        <rules>
            <name>Contact_is_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact_Last_Name__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact_Email__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_triage</targetReference>
            </connector>
            <label>Contact is Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Partner_Lead_is_Blank_and_No_Opportunity</name>
        <label>Partner Lead is Blank and No Opportunity?</label>
        <locationX>821</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <targetReference>Update_Partner_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All Good</defaultConnectorLabel>
        <rules>
            <name>Create_or_Link_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Partner_Lead_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Partner_Lead</targetReference>
            </connector>
            <label>Create or Link Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Run_triage</name>
        <label>Run triage?</label>
        <locationX>815</locationX>
        <locationY>1198</locationY>
        <defaultConnector>
            <targetReference>Partner_Lead_is_Blank_and_No_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_run_triage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Partner_Lead_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Triage_MQ__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Referral</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_triage</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_an_Opportunity_Found</name>
        <label>Was an Opportunity Found?</label>
        <locationX>620</locationX>
        <locationY>1633</locationY>
        <defaultConnector>
            <targetReference>Create_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Existing Open Oppty</defaultConnectorLabel>
        <rules>
            <name>Existing_Opportunity_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Open_Opportunities.OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Opportunity_to_Partner_Lead</targetReference>
            </connector>
            <label>Existing Opportunity Found</label>
        </rules>
    </decisions>
    <description>Adding Partner Lead button off ramp</description>
    <environments>Default</environments>
    <formulas>
        <name>CloseDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()+60</expression>
    </formulas>
    <formulas>
        <name>sales_qual_by</name>
        <dataType>String</dataType>
        <expression>IF(
 {!$Record.Prospect_Account__r.Owner.Can_Qualify_Opportunities__c},
{!$Record.Prospect_Account__r.OwnerId},
  NULL
 )</expression>
    </formulas>
    <interviewLabel>Partner Lead - After Save Automations {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Partner Lead - After Save Automations</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Account</name>
        <label>Create Account</label>
        <locationX>690</locationX>
        <locationY>479</locationY>
        <connector>
            <targetReference>Set_Account_on_Partner_Lead</targetReference>
        </connector>
        <inputAssignments>
            <field>LinkedIn_Company_Page__c</field>
            <value>
                <elementReference>$Record.Company_LinkedIn__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Company_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0055A00000BExg9QAD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Website</field>
            <value>
                <elementReference>$Record.Company_Website__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>612</locationX>
        <locationY>887</locationY>
        <connector>
            <targetReference>Set_Contact_on_Partner_Lead</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Prospect_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Contact_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.Contact_First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.Contact_Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Prospect_Account__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>683</locationX>
        <locationY>1741</locationY>
        <connector>
            <targetReference>Add_New_Opportunity_to_Partner_Lead</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Prospect_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Create_Method__c</field>
            <value>
                <stringValue>Partner Lead After Save Flow - Approved Partner Lead</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Contact_Role__c</field>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Forecast_Method__c</field>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
        </inputAssignments>
        <inputAssignments>
            <field>NextStep</field>
            <value>
                <stringValue>Email intro from Nick</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Step_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>005Qo0000033xLB</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Owner_Role__c</field>
            <value>
                <stringValue>Partner Sales Lead</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Permission_Check__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0125A000001YaKtQAK</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Qualified_By__c</field>
            <value>
                <elementReference>sales_qual_by</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sourced_By_Role__c</field>
            <value>
                <stringValue>Partner Sales Lead</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sourced_By__c</field>
            <value>
                <stringValue>005Qo0000033xLB</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>(1) Qualification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subtype__c</field>
            <value>
                <stringValue>Unqualified - Sales</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Unqualified</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Existing_Open_Opportunities</name>
        <label>Get Existing Open Opportunities</label>
        <locationX>482</locationX>
        <locationY>1456</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_an_Opportunity_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Prospect_Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>CloseDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Partner_Lead</name>
        <label>Update Partner Lead</label>
        <locationX>817</locationX>
        <locationY>2306</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>696</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Is_Account_Blank</targetReference>
        </connector>
        <object>Partner_Lead__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ExistingOpportunity</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;A new Partner Lead has been accepted, which has been attached to an existing open opportunity&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://retool.lightning.force.com/lightning/r/Opportunity/{!$Record.Opportunity__c}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!$Record.Opportunity__r.Name}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;https://retool.lightning.force.com/lightning/r/Opportunity/&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.Opportunity__c}&lt;/span&gt;/view&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Current Opportunity Owner: {!$Record.Opportunity__r.Owner.Name}&lt;/p&gt;&lt;p&gt;Current Opportunity Email: {!$Record.Opportunity__r.Owner.Email}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;-- Text Email Template to facilitate an intro --&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(34, 34, 34); background-color: transparent;&quot;&gt;Subject:&lt;/strong&gt;&lt;span style=&quot;font-size: 12px; color: rgb(34, 34, 34); background-color: transparent;&quot;&gt; {!$Record.Partner_Account__r.Name} + {!$Record.Prospect_Account__r.Name} | Retool Co-sell Engagement Request&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Body: &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(34, 34, 34); background-color: transparent;&quot;&gt;{!$Record.Referred_by_Name__c},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(34, 34, 34);&quot;&gt;Thank you for registering the Company Name opportunity with Retool. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(34, 34, 34);&quot;&gt;You had requested co-sell support for this opportunity that covers the following topics:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&amp;lt;&amp;lt;Deal Support&amp;gt;&amp;gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(34, 34, 34);&quot;&gt;I’ve gone ahead and included members of our account team to this thread who can best support you:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(34, 34, 34); background-color: transparent;&quot;&gt;Account Executive: {!$Record.Opportunity__r.Owner.Name}, {!$Record.Opportunity__r.Owner.Email}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(34, 34, 34); background-color: transparent;&quot;&gt;Solutions Engineer: {!$Record.Opportunity__r.Sales_Engineer__r.Name}, {!$Record.Opportunity__r.Sales_Engineer__r.Email}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(34, 34, 34); background-color: transparent;&quot;&gt;Technical Account Manager: {!$Record.Opportunity__r.Technical_Account_Manager__r.Name}, {!$Record.Opportunity__r.Technical_Account_Manager__r.Email}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;As for next steps, please let us know your availability to set up an opportunity review meeting.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Inter, sans-serif; color: rgb(34, 34, 34); background-color: transparent;&quot;&gt;When responding to this thread, please utilize &lt;/span&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Inter, sans-serif; color: rgb(34, 34, 34); background-color: transparent;&quot;&gt;&amp;lt;Reply All&amp;gt;&lt;/strong&gt;&lt;span style=&quot;font-size: 11pt; font-family: Inter, sans-serif; color: rgb(34, 34, 34); background-color: transparent;&quot;&gt; to keep all members aware of next steps and to ensure proper coverage if something gets overlooked or someone is out of office.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;— &lt;strong style=&quot;font-size: 11pt; font-family: Inter, sans-serif; color: rgb(34, 34, 34); background-color: transparent;&quot;&gt;Lead Information&lt;/strong&gt;&lt;span style=&quot;font-size: 11pt; font-family: Inter, sans-serif; color: rgb(34, 34, 34); background-color: transparent;&quot;&gt; —&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Opportunity Type: &amp;lt;&amp;lt;Opportunity Type&amp;gt;&amp;gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &#39;Segoe UI&#39;, Roboto, Helvetica, Arial, sans-serif, &#39;Apple Color Emoji&#39;, &#39;Segoe UI Emoji&#39;, &#39;Segoe UI Symbol&#39;); font-size: var(--lwc-fontSize3,0.8125rem); color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68))); background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255)));&quot;&gt;Customer Existing Plan type: &lt;/span&gt;{!$Record.Customer_Existing_Plan_Type__c}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(34, 34, 34); background-color: transparent;&quot;&gt;Target Close Date: &amp;lt;&amp;lt;Target Close Date&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(34, 34, 34); background-color: transparent;&quot;&gt;Contact Name: {!$Record.Contact_Full_Name__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(34, 34, 34); background-color: transparent;&quot;&gt;Contact Email: {!$Record.Contact_Email__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(34, 34, 34); background-color: transparent;&quot;&gt;Contact Title: &amp;lt;&amp;lt;Contact Title&amp;gt;&amp;gt;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(34, 34, 34); background-color: transparent;&quot;&gt;Business Unit: {!$Record.Business_Unit__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(34, 34, 34); background-color: transparent;&quot;&gt;Company Website: {!$Record.Company_Website__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(34, 34, 34); background-color: transparent;&quot;&gt;Sales activity that has already occurred with customer: &amp;lt;&amp;lt;Partner Led Sales Activities&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(34, 34, 34); background-color: transparent;&quot;&gt;Opportunity Details -&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(34, 34, 34); background-color: transparent;&quot;&gt;Problem to Solve: {!$Record.Problem_to_Solve__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(34, 34, 34); background-color: transparent;&quot;&gt;Other Info: {!$Record.Other_Info__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Looking forward to your partnership on this opportunity!&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>NewOpportunity</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;A new Partner Lead has been accepted, and an opportunity has been created.&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://retool.lightning.force.com/lightning/r/Opportunity/{!$Record.Opportunity__c}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!$Record.Opportunity__r.Name}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Current Opportunity Owner: {!$Record.Opportunity__r.Owner.Name}&lt;/p&gt;&lt;p&gt;Current Opportunity Email: {!$Record.Opportunity__r.Owner.Email}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;-- Text Email Template to facilitate an intro --&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(34, 34, 34); background-color: transparent;&quot;&gt;Subject:&lt;/strong&gt;&lt;span style=&quot;font-size: 12px; color: rgb(34, 34, 34); background-color: transparent;&quot;&gt; {!$Record.Partner_Account__r.Name} + {!$Record.Prospect_Account__r.Name} | Retool Co-sell Engagement Request&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Body: &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(34, 34, 34); background-color: transparent;&quot;&gt;{!$Record.Referred_by_Name__c},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(34, 34, 34);&quot;&gt;Thank you for registering the Company Name opportunity with Retool. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(34, 34, 34);&quot;&gt;You had requested co-sell support for this opportunity that covers the following topics:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&amp;lt;&amp;lt;Deal Support&amp;gt;&amp;gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(34, 34, 34);&quot;&gt;I’ve gone ahead and included members of our account team to this thread who can best support you:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(34, 34, 34); background-color: transparent;&quot;&gt;Account Executive: {!$Record.Opportunity__r.Owner.Name}, {!$Record.Opportunity__r.Owner.Email}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(34, 34, 34); background-color: transparent;&quot;&gt;Solutions Engineer: {!$Record.Opportunity__r.Sales_Engineer__r.Name}, {!$Record.Opportunity__r.Sales_Engineer__r.Email}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(34, 34, 34); background-color: transparent;&quot;&gt;Technical Account Manager: {!$Record.Opportunity__r.Technical_Account_Manager__r.Name}, {!$Record.Opportunity__r.Technical_Account_Manager__r.Email}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;As for next steps, please let us know your availability to set up an opportunity review meeting.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Inter, sans-serif; color: rgb(34, 34, 34); background-color: transparent;&quot;&gt;When responding to this thread, please utilize &lt;/span&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Inter, sans-serif; color: rgb(34, 34, 34); background-color: transparent;&quot;&gt;&amp;lt;Reply All&amp;gt;&lt;/strong&gt;&lt;span style=&quot;font-size: 11pt; font-family: Inter, sans-serif; color: rgb(34, 34, 34); background-color: transparent;&quot;&gt; to keep all members aware of next steps and to ensure proper coverage if something gets overlooked or someone is out of office.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;— &lt;strong style=&quot;font-size: 11pt; font-family: Inter, sans-serif; color: rgb(34, 34, 34); background-color: transparent;&quot;&gt;Lead Information&lt;/strong&gt;&lt;span style=&quot;font-size: 11pt; font-family: Inter, sans-serif; color: rgb(34, 34, 34); background-color: transparent;&quot;&gt; —&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Opportunity Type: &amp;lt;&amp;lt;Opportunity Type&amp;gt;&amp;gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &#39;Segoe UI&#39;, Roboto, Helvetica, Arial, sans-serif, &#39;Apple Color Emoji&#39;, &#39;Segoe UI Emoji&#39;, &#39;Segoe UI Symbol&#39;); font-size: var(--lwc-fontSize3,0.8125rem); color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68))); background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255)));&quot;&gt;Customer Existing Plan type: &lt;/span&gt;{!$Record.Customer_Existing_Plan_Type__c}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(34, 34, 34); background-color: transparent;&quot;&gt;Target Close Date: &amp;lt;&amp;lt;Target Close Date&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(34, 34, 34); background-color: transparent;&quot;&gt;Contact Name: {!$Record.Contact_Full_Name__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(34, 34, 34); background-color: transparent;&quot;&gt;Contact Email: {!$Record.Contact_Email__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(34, 34, 34); background-color: transparent;&quot;&gt;Contact Title: &amp;lt;&amp;lt;Contact Title&amp;gt;&amp;gt;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(34, 34, 34); background-color: transparent;&quot;&gt;Business Unit: {!$Record.Business_Unit__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(34, 34, 34); background-color: transparent;&quot;&gt;Company Website: {!$Record.Company_Website__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(34, 34, 34); background-color: transparent;&quot;&gt;Sales activity that has already occurred with customer: &amp;lt;&amp;lt;Partner Led Sales Activities&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(34, 34, 34); background-color: transparent;&quot;&gt;Opportunity Details -&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(34, 34, 34); background-color: transparent;&quot;&gt;Problem to Solve: {!$Record.Problem_to_Solve__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(34, 34, 34); background-color: transparent;&quot;&gt;Other Info: {!$Record.Other_Info__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Looking forward to your partnership on this opportunity!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <triggerOrder>10</triggerOrder>
</Flow>
