unpackaged/main/default/flows/Partner_Lead_Approve_Button.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Notify_Journey_team</name>
        <label>Notify Journey team</label>
        <locationX>815</locationX>
        <locationY>5048</locationY>
        <actionName>Centro__SendMessageFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Send_check_emoji</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>channelId</name>
            <value>
                <stringValue>{!channel_id}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>InterviewGuid</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>&lt;p&gt;{!slack_open_journey_notify}&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pinMessage</name>
            <value>
                <stringValue>false</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>postReply</name>
            <value>
                <stringValue>true</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>replyMessageTs</name>
            <value>
                <elementReference>message_ts</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>startThread</name>
            <value>
                <stringValue>false</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>updateMessage</name>
            <value>
                <stringValue>false</stringValue>
            </value>
        </inputParameters>
        <nameSegment>Centro__SendMessageFlow</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Notify_of_rejection</name>
        <label>Notify of rejection</label>
        <locationX>1499</locationX>
        <locationY>5766</locationY>
        <actionName>Centro__SendMessageFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Send_reject_emoji</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>channelId</name>
            <value>
                <stringValue>{!channel_id}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>InterviewGuid</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>&lt;p&gt;{!slack_reject_lead}&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pinMessage</name>
            <value>
                <stringValue>false</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>postReply</name>
            <value>
                <stringValue>true</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>replyMessageTs</name>
            <value>
                <elementReference>message_ts</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>startThread</name>
            <value>
                <stringValue>false</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>updateMessage</name>
            <value>
                <stringValue>false</stringValue>
            </value>
        </inputParameters>
        <nameSegment>Centro__SendMessageFlow</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Notify_Opportunity_teamx</name>
        <label>Notify Opportunity team</label>
        <locationX>1138</locationX>
        <locationY>5796</locationY>
        <actionName>Centro__SendMessageFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Send_check_emoji</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>channelId</name>
            <value>
                <stringValue>{!channel_id}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>InterviewGuid</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>&lt;p&gt;{!slack_open_opp_notification}&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pinMessage</name>
            <value>
                <stringValue>false</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>postReply</name>
            <value>
                <stringValue>true</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>replyMessageTs</name>
            <value>
                <elementReference>message_ts</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>startThread</name>
            <value>
                <stringValue>false</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>updateMessage</name>
            <value>
                <stringValue>false</stringValue>
            </value>
        </inputParameters>
        <nameSegment>Centro__SendMessageFlow</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_check_emoji</name>
        <label>Send check emoji</label>
        <locationX>817</locationX>
        <locationY>5762</locationY>
        <actionName>Centro__AddReactionFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_partner_lead_x_0</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>channelId</name>
            <value>
                <elementReference>channel_id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emojiName</name>
            <value>
                <stringValue>white_check_mark</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messageTs</name>
            <value>
                <elementReference>message_ts</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Centro__AddReactionFlow</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_reject_emoji</name>
        <label>Send reject emoji</label>
        <locationX>1487</locationX>
        <locationY>5917</locationY>
        <actionName>Centro__AddReactionFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_partner_lead_x</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>channelId</name>
            <value>
                <elementReference>channel_id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emojiName</name>
            <value>
                <stringValue>no_entry_sign</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messageTs</name>
            <value>
                <elementReference>message_ts</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Centro__AddReactionFlow</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Add_Journey</name>
        <label>Add Journey</label>
        <locationX>822</locationX>
        <locationY>4649</locationY>
        <assignmentItems>
            <assignToReference>recordId.Journey__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Contact__r.Current_Open_Journey__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_moment.Journey__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Contact__r.Current_Open_Journey__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_moment.Journey_Relationship__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Joined</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notify_Journey_team</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Moment_to_Partner_Lead</name>
        <label>Add Moment to Partner Lead</label>
        <locationX>822</locationX>
        <locationY>4013</locationY>
        <assignmentItems>
            <assignToReference>recordId.Moment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>new_moment.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Found_open_opps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_moment</name>
        <label>Build moment</label>
        <locationX>656</locationX>
        <locationY>3726</locationY>
        <assignmentItems>
            <assignToReference>new_moment.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Prospect_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_moment.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_moment.Created_From__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Partner Referral</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_moment.Moment_Occurred_At__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Submitted_At__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_moment.Moment_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Partner Referral</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_moment.Partner_Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_moment.Journey__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Contact__r.Current_Open_Journey__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_moment.Account_Name_at_Moment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Prospect_Account__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_moment.Title_at_Moment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Contact__r.Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_moment.Email_at_Moment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Contact__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_moment.Name_at_Moment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Contact__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Moment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_new_contact</name>
        <label>Build new contact</label>
        <locationX>1103</locationX>
        <locationY>3049</locationY>
        <assignmentItems>
            <assignToReference>new_contact_record.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Prospect_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_contact_record.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>screen_contact_name.firstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_contact_record.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>screen_contact_name.lastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_contact_record.Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>screen_contact_title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_contact_record.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>screen_contact_email.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_new_journey</name>
        <label>Build new journey</label>
        <locationX>1075</locationX>
        <locationY>4613</locationY>
        <assignmentItems>
            <assignToReference>new_journey.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Prospect_Account__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_journey.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_journey.Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Converted</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_journey.Create_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Partner Referral - Triage Button</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_journey.Created_From_Moment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>new_moment.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_journey.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_journey.Meeting_Disposition__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Qualified</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_journey.Meeting_Booked_At__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>screen_qual_meeting_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_journey.Meeting_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>screen_qual_meeting_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_journey.Meeting_Booked_With__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_journey.Close_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Partner Triage Button</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_journey.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Prospect_Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Moment_Status_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_new_opp</name>
        <label>Build new opp</label>
        <locationX>1071</locationX>
        <locationY>5188</locationY>
        <assignmentItems>
            <assignToReference>new_opportunity.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Prospect_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_opportunity.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Prospect_Account__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_opportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>(1) Qualification</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_opportunity.Create_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved Partner Lead - Triage Button</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_opportunity.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unqualified</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_opportunity.Subtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unqualified - Sales</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_opportunity.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>default_close_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_opportunity.Pre_Qualification_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Other_Info__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_opportunity.Qualification_Journey__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>new_journey.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_opportunity.Next_Step_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_opportunity.NextStep</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Introduction from Partner team</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_opportunity.Sourced_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_opportunity.Sourced_By_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$UserRole.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_opportunity.Owner_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Prospect_Account__r.Owner.UserRole.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_opportunity.Permission_Check__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_opportunity.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0125A000001YaKtQAK</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_opportunity.Sales_Qualified_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Prospect_Account__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_opportunity.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>opp_name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_opportunity.Referral_Partner_Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_new_partner_account</name>
        <label>Build new partner account</label>
        <locationX>1050</locationX>
        <locationY>1169</locationY>
        <assignmentItems>
            <assignToReference>new_partner_account.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>new_partner_Account_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_partner_account.Website</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>new_partner_account_website.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_partner_account.NumberOfEmployees</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Number_of_Employees_from_LinkedIn</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_partner_account.LinkedIn_Company_Page__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>new_partner_account_LinkedIn_Company_Page</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_partner_account.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0055A00000BExg9QAD</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_partner_account.ShippingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Country.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_partner_account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_new_partner_relationshipf</name>
        <label>Build new partner relationship</label>
        <locationX>1235</locationX>
        <locationY>1548</locationY>
        <assignmentItems>
            <assignToReference>new_partner_relationship_referral.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Partner_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_partner_relationship_referral.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active - Not Authorized</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_partner_relationship_referral.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Partner_Relationship_Type.Record_Type_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_partner_relationship_referral.Partner_DBA_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Partner_Account__r.Account_Name_Compiled__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_partner_relationship_referral.Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Country.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_partner_relationship</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_prospect_account</name>
        <label>Build prospect account</label>
        <locationX>1081</locationX>
        <locationY>2058</locationY>
        <assignmentItems>
            <assignToReference>new_propsect_account.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>screen_account_name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_propsect_account.Website</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>screen_account_website.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_propsect_account.NumberOfEmployees</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>screen_account_num_employees</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_propsect_account.LinkedIn_Company_Page__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>screen_account_LinkedIn_URL</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_propsect_account.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0055A00000BExg9QAD</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_propsect_account.ShippingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>screen_Country_prospect_account.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_propsect_account.Trigger_Round_Robin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AE Only - Partner Lead</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_prospect_account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Moment_Status</name>
        <label>Moment Status</label>
        <locationX>607</locationX>
        <locationY>4332</locationY>
        <assignmentItems>
            <assignToReference>new_moment.Created_From_Detail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Partner Triage - Resting Journey</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reopen_Journey</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Moment_Status_0</name>
        <label>Moment Status</label>
        <locationX>819</locationX>
        <locationY>4502</locationY>
        <assignmentItems>
            <assignToReference>new_moment.Created_From_Detail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Partner Triage - Open Journey</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Journey</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Moment_Status_0_0</name>
        <label>Moment Status</label>
        <locationX>1065</locationX>
        <locationY>4780</locationY>
        <assignmentItems>
            <assignToReference>new_moment.Created_From_Detail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Partner Triage - New Journey</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Journey</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Moment_Status_0_0_0</name>
        <label>Moment Status</label>
        <locationX>1256</locationX>
        <locationY>4742</locationY>
        <assignmentItems>
            <assignToReference>new_moment.Created_From_Detail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Partner Triage - Stage 1 Opp</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_partner_lead_x_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Moment_Status_0_0_0_0</name>
        <label>Moment Status</label>
        <locationX>1552</locationX>
        <locationY>4897</locationY>
        <assignmentItems>
            <assignToReference>new_moment.Created_From_Detail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Partner Triage - Open Piped Opp</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Approve_or_Reject</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_partner_account_existing</name>
        <label>Set partner account (existing)</label>
        <locationX>1277</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>recordId.Partner_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>screen_partner_account.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_new_partner_relationshipf</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_partner_lead_account</name>
        <label>Set partner lead account</label>
        <locationX>1048</locationX>
        <locationY>1482</locationY>
        <assignmentItems>
            <assignToReference>recordId.Partner_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>new_partner_account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_new_partner_relationshipf</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_variable_equal_to_existing_moment</name>
        <label>Set variable equal to existing moment</label>
        <locationX>838</locationX>
        <locationY>3714</locationY>
        <assignmentItems>
            <assignToReference>new_moment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_existing_moment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_moment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_partner_lead</name>
        <label>Update partner lead</label>
        <locationX>1032</locationX>
        <locationY>1768</locationY>
        <assignmentItems>
            <assignToReference>recordId.Partner_Relationship__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>new_partner_relationship_referral.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Commit_Partner_Lead_Updates_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_partner_lead_0</name>
        <label>Update partner lead</label>
        <locationX>816</locationX>
        <locationY>1404</locationY>
        <assignmentItems>
            <assignToReference>recordId.Partner_Relationship__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>screen_Partner_Relationship.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Commit_Partner_Lead_Updates_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_partner_lead_2</name>
        <label>Update partner lead</label>
        <locationX>818</locationX>
        <locationY>2334</locationY>
        <assignmentItems>
            <assignToReference>recordId.Prospect_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>screen_account.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_is</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_partner_lead_2_0</name>
        <label>Update partner lead</label>
        <locationX>1082</locationX>
        <locationY>2700</locationY>
        <assignmentItems>
            <assignToReference>recordId.Prospect_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>new_propsect_account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Commit_Partner_Lead_Updates_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_partner_lead_2_0_0</name>
        <label>Update partner lead</label>
        <locationX>821</locationX>
        <locationY>3247</locationY>
        <assignmentItems>
            <assignToReference>recordId.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>screen_contact_lookup.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Commit_Partner_Lead_Updates_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_partner_lead_2_0_0_0</name>
        <label>Update partner lead</label>
        <locationX>1099</locationX>
        <locationY>3397</locationY>
        <assignmentItems>
            <assignToReference>recordId.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>new_contact_record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Commit_Partner_Lead_Updates_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_partner_lead_x</name>
        <label>Update partner lead</label>
        <locationX>1139</locationX>
        <locationY>5973</locationY>
        <assignmentItems>
            <assignToReference>recordId.Triaged_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Triaged_By_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$UserRole.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Triage_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Commit_Partner_Lead_Updates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_partner_lead_x_0</name>
        <label>Approve partner lead</label>
        <locationX>820</locationX>
        <locationY>5973</locationY>
        <assignmentItems>
            <assignToReference>recordId.Partner_Lead_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_partner_lead_x</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_partner_lead_x_0_0</name>
        <label>Reject partner lead</label>
        <locationX>1546</locationX>
        <locationY>5605</locationY>
        <assignmentItems>
            <assignToReference>recordId.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>screen_open_opps_table.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Partner_Lead_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Rejection_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>screen_Rejection_Reason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Rejection_Reason_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rejection_Reason_details</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notify_of_rejection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_partner_lead_x_0_0_0</name>
        <label>Add opp to partner lead</label>
        <locationX>1253</locationX>
        <locationY>5363</locationY>
        <assignmentItems>
            <assignToReference>recordId.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>screen_open_opps_table.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Rejection_Reason__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Rejection_Reason_Details__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Notify_Opportunity_teamx</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_partner_lead_x_0_0_0_0</name>
        <label>Add opp and journey to partner lead and moment</label>
        <locationX>1062</locationX>
        <locationY>5513</locationY>
        <assignmentItems>
            <assignToReference>recordId.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>new_opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Rejection_Reason__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Rejection_Reason_Details__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Journey__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>new_journey.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_moment.Journey__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>new_journey.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_moment.Journey_Relationship__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Created</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_journey.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>new_opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notify_Opportunity_teamx</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choice_apporved</name>
        <choiceText>Approved</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Approved</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_existing_account</name>
        <choiceText>Existing account</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>existing_account</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_existing_contact</name>
        <choiceText>Existing contact</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>existing_contact</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_existing_opp</name>
        <choiceText>We are already working an active deal with {!recordId.Prospect_Account__r.Account_Name_Compiled__c} (select below)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>existing_opp</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_existing_partner_account</name>
        <choiceText>&lt;strong&gt;Existing partner account&lt;/strong&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>existing_partner_account</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_new_account</name>
        <choiceText>New account</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>new_account</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_new_contact</name>
        <choiceText>New contact</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>new_contact</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_new_opp</name>
        <choiceText>None of the below opportunities represent the lead submitted by this partner (this will create a new opportunity and &lt;u&gt;approve&lt;/u&gt; the Partner Lead submission)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>new_opp</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_new_partner_account</name>
        <choiceText>&lt;strong&gt;New partner account&lt;/strong&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>new_partner_account</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_rejected</name>
        <choiceText>Rejected</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Rejected</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Account_is</name>
        <label>Account is</label>
        <locationX>810</locationX>
        <locationY>2543</locationY>
        <defaultConnector>
            <targetReference>Commit_Partner_Lead_Updates_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Owned</defaultConnectorLabel>
        <rules>
            <name>In_Account_Pool</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Prospect_Account__r.Owner.Is_Account_Pool__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Trigger_account_round_robin</targetReference>
            </connector>
            <label>In Account Pool</label>
        </rules>
    </decisions>
    <decisions>
        <name>Approve_or_Reject</name>
        <label>Approve or Reject</label>
        <locationX>1546</locationX>
        <locationY>5355</locationY>
        <defaultConnector>
            <targetReference>Update_partner_lead_x_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rejected</defaultConnectorLabel>
        <rules>
            <name>Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>screen_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_partner_lead_x_0_0_0</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact</name>
        <label>Contact has</label>
        <locationX>816</locationX>
        <locationY>4339</locationY>
        <defaultConnector>
            <targetReference>Qualification_Meeting_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No open Journey</defaultConnectorLabel>
        <rules>
            <name>Resting_Journeyf</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Contact__r.Current_Open_Journey__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Contact__r.Current_Open_Journey__r.Is_Resting__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Moment_Status</targetReference>
            </connector>
            <label>Resting Journey</label>
        </rules>
        <rules>
            <name>Open_Journey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Contact__r.Current_Open_Journey__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Moment_Status_0</targetReference>
            </connector>
            <label>Open Journey</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_is</name>
        <label>Contact is</label>
        <locationX>808</locationX>
        <locationY>3045</locationY>
        <defaultConnector>
            <targetReference>Update_partner_lead_2_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Exisitng</defaultConnectorLabel>
        <rules>
            <name>New_contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>screen_new_or_existing_contact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_new_contact</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Build_new_contact</targetReference>
            </connector>
            <label>New</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_open_opps</name>
        <label>Found open opps?</label>
        <locationX>817</locationX>
        <locationY>4165</locationY>
        <defaultConnector>
            <targetReference>Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Look_for_open_opportunities</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Open_Opportunities_Found</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Moment</name>
        <label>Has Moment?</label>
        <locationX>820</locationX>
        <locationY>3539</locationY>
        <defaultConnector>
            <targetReference>Build_moment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_has_moment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Moment__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_existing_moment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_MQ</name>
        <label>Has MQ?</label>
        <locationX>817</locationX>
        <locationY>202</locationY>
        <defaultConnector>
            <targetReference>Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Triage_MQ__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Partner_Relationship_Type</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opp_is</name>
        <label>Opp is</label>
        <locationX>1146</locationX>
        <locationY>4334</locationY>
        <defaultConnector>
            <targetReference>Selected_opp_is</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existing</defaultConnectorLabel>
        <rules>
            <name>New_c</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>screen_new_or_existing_opp</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_new_opp</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact</targetReference>
            </connector>
            <label>New</label>
        </rules>
    </decisions>
    <decisions>
        <name>Partner_Account</name>
        <label>Partner Account</label>
        <locationX>1160</locationX>
        <locationY>968</locationY>
        <defaultConnector>
            <targetReference>Set_partner_account_existing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existing</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>screen_new_or_existing_partner_account</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_new_partner_account</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Build_new_partner_account</targetReference>
            </connector>
            <label>New</label>
        </rules>
    </decisions>
    <decisions>
        <name>Partner_account_is</name>
        <label>Partner account is</label>
        <locationX>809</locationX>
        <locationY>2058</locationY>
        <defaultConnector>
            <targetReference>Update_partner_lead_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existing</defaultConnectorLabel>
        <rules>
            <name>New_account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>screen_new_or_existing_account</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_new_account</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Build_prospect_account</targetReference>
            </connector>
            <label>New</label>
        </rules>
    </decisions>
    <decisions>
        <name>Partner_Relationship_Selection</name>
        <label>Partner Relationship Selection</label>
        <locationX>813</locationX>
        <locationY>962</locationY>
        <defaultConnector>
            <targetReference>Update_partner_lead_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existing Partner Relationship</defaultConnectorLabel>
        <rules>
            <name>New_Referral_Partner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>screen_Partner_Relationship.selectedChoiceLabels</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>New Referral Partner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Partner_Account</targetReference>
            </connector>
            <label>New Referral Partner</label>
        </rules>
    </decisions>
    <decisions>
        <name>Selected_opp_is</name>
        <label>Selected opp is</label>
        <locationX>1358</locationX>
        <locationY>4343</locationY>
        <defaultConnector>
            <targetReference>Screen_Submission_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Stage_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>screen_open_opps_table.firstSelectedRow.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>(1) Qualification</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Moment_Status_0_0_0</targetReference>
            </connector>
            <label>Stage 1</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>choice_all_countries</name>
        <collectionReference>Get_all_country_definitions</collectionReference>
        <dataType>String</dataType>
        <displayField>Name_with_Status__c</displayField>
        <object>Country_Definition__c</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choice_country</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Country_Definition__c</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choice_lead_status</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Partner_Lead_Status__c</picklistField>
        <picklistObject>Partner_Lead__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choice_partner_relationships</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Partner_Relationship_Record_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Referral</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Disqualified</stringValue>
            </value>
        </filters>
        <filters>
            <field>Is_Triage_Fallback__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Partner_Relationship__c</object>
        <outputAssignments>
            <assignToReference>partner_relationship_account</assignToReference>
            <field>Account__c</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choice_rejection_reasons</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Rejection_Reason__c</picklistField>
        <picklistObject>Partner_Lead__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>default_close_date</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+30</expression>
    </formulas>
    <formulas>
        <name>domain_contact_email_with_prefix</name>
        <dataType>String</dataType>
        <expression>&quot;https://&quot;&amp;{!domain_from_contact_email}</expression>
    </formulas>
    <formulas>
        <name>domain_from_contact_email</name>
        <dataType>String</dataType>
        <expression>RIGHT({!recordId.Contact_Email__c}, LEN({!recordId.Contact_Email__c}) - FIND(&quot;@&quot;,{!recordId.Contact_Email__c}))</expression>
    </formulas>
    <formulas>
        <name>domain_from_referred_by_email</name>
        <dataType>String</dataType>
        <expression>&quot;https://&quot;&amp;RIGHT({!recordId.Referred_by_Email__c}, LEN({!recordId.Referred_by_Email__c}) - FIND(&quot;@&quot;,{!recordId.Referred_by_Email__c}))</expression>
    </formulas>
    <formulas>
        <name>linked_in_search_url</name>
        <dataType>String</dataType>
        <expression>&quot;https://www.linkedin.com/search/results/companies/?keywords=&quot;&amp;{!recordId.Company_Name__c}&amp;&quot;&amp;origin=SWITCH_SEARCH_VERTICAL&amp;sid=p5Q&quot;</expression>
    </formulas>
    <formulas>
        <name>opp_name</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!recordId.Prospect_Account__r.Account_Name_Short__c}),{!recordId.Name},{!recordId.Prospect_Account__r.Account_Name_Short__c}) &amp; &quot; - &quot; &amp;
&quot;Qualifying &quot; &amp;
TEXT(MONTH({!default_close_date}))&amp;&quot;/&quot;&amp;TEXT(YEAR({!default_close_date}))</expression>
    </formulas>
    <interviewLabel>Partner Lead - Approve Button {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Partner Lead - Triage Button</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_contact</name>
        <label>Create contact</label>
        <locationX>1096</locationX>
        <locationY>3257</locationY>
        <connector>
            <targetReference>Update_partner_lead_2_0_0_0</targetReference>
        </connector>
        <inputReference>new_contact_record</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Journey</name>
        <label>Create Journey</label>
        <locationX>1075</locationX>
        <locationY>4901</locationY>
        <connector>
            <targetReference>Build_new_opp</targetReference>
        </connector>
        <inputReference>new_journey</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Moment</name>
        <label>Create Moment</label>
        <locationX>673</locationX>
        <locationY>3903</locationY>
        <connector>
            <targetReference>Look_for_open_opportunities</targetReference>
        </connector>
        <inputReference>new_moment</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>1068</locationX>
        <locationY>5349</locationY>
        <connector>
            <targetReference>Update_partner_lead_x_0_0_0_0</targetReference>
        </connector>
        <inputReference>new_opportunity</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_partner_account</name>
        <label>Create partner account</label>
        <locationX>1048</locationX>
        <locationY>1323</locationY>
        <connector>
            <targetReference>Set_partner_lead_account</targetReference>
        </connector>
        <inputReference>new_partner_account</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_partner_relationship</name>
        <label>Create partner relationship</label>
        <locationX>1229</locationX>
        <locationY>1757</locationY>
        <connector>
            <targetReference>Update_partner_lead</targetReference>
        </connector>
        <inputReference>new_partner_relationship_referral</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_prospect_account</name>
        <label>Create prospect account</label>
        <locationX>1078</locationX>
        <locationY>2245</locationY>
        <connector>
            <targetReference>Update_partner_lead_2_0</targetReference>
        </connector>
        <inputReference>new_propsect_account</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_all_country_definitions</name>
        <label>Get all country definitions</label>
        <locationX>835</locationX>
        <locationY>590</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Up_Partner_Relationship</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Country_Definition__c</object>
        <sortField>Sort_Index__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_existing_moment</name>
        <label>Get existing moment</label>
        <locationX>1076</locationX>
        <locationY>3589</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_variable_equal_to_existing_moment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Moment__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Moment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Partner_Relationship_Type</name>
        <label>Get Partner Relationship Type</label>
        <locationX>834</locationX>
        <locationY>371</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_all_country_definitions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Referral</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Partner_Type_Setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Look_for_open_opportunities</name>
        <label>Look for open opportunities</label>
        <locationX>823</locationX>
        <locationY>3864</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Moment_to_Partner_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Prospect_Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity_Record_Type_Name__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Professional Services</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Non-Subscription</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>CloseDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Commit_Partner_Lead_Updates</name>
        <label>Commit Partner Lead Updates</label>
        <locationX>1147</locationX>
        <locationY>6257</locationY>
        <connector>
            <targetReference>Update_Moment</targetReference>
        </connector>
        <inputReference>recordId</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Commit_Partner_Lead_Updates_0</name>
        <label>Commit Partner Lead Updates</label>
        <locationX>825</locationX>
        <locationY>1681</locationY>
        <connector>
            <targetReference>Confirm_Lead_Detailsf</targetReference>
        </connector>
        <inputReference>recordId</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Commit_Partner_Lead_Updates_0_0</name>
        <label>Commit Partner Lead Updates</label>
        <locationX>816</locationX>
        <locationY>2730</locationY>
        <connector>
            <targetReference>Confirm_Contact_Details</targetReference>
        </connector>
        <inputReference>recordId</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Commit_Partner_Lead_Updates_0_0_0</name>
        <label>Commit Partner Lead Updates</label>
        <locationX>822</locationX>
        <locationY>3397</locationY>
        <connector>
            <targetReference>Has_Moment</targetReference>
        </connector>
        <inputReference>recordId</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Reopen_Journey</name>
        <label>Reopen Journey</label>
        <locationX>623</locationX>
        <locationY>4567</locationY>
        <connector>
            <targetReference>Add_Journey</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Contact__r.Current_Open_Journey__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Closed_At__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Ended_Reason_Details__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Ended_Reason__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Closed__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Resting__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Journey_Which_Triggered_End__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting_Booked_At__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Re_engage_Post_Rest__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rejected_Reason__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Rest_For_Days__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Rest_Until__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Resting_At__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Meeting Booked</stringValue>
            </value>
        </inputAssignments>
        <object>Journey__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Trigger_account_round_robin</name>
        <label>Trigger account round robin</label>
        <locationX>598</locationX>
        <locationY>2631</locationY>
        <connector>
            <targetReference>Commit_Partner_Lead_Updates_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Prospect_Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Trigger_Round_Robin__c</field>
            <value>
                <stringValue>AE Only - Partner Lead</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Journey</name>
        <label>Update Journey</label>
        <locationX>1152</locationX>
        <locationY>6622</locationY>
        <inputReference>new_journey</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Moment</name>
        <label>Update Moment</label>
        <locationX>1150</locationX>
        <locationY>6435</locationY>
        <connector>
            <targetReference>Update_Journey</targetReference>
        </connector>
        <inputReference>new_moment</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Confirm_Contact_Details</name>
        <label>Confirm Contact Details</label>
        <locationX>817</locationX>
        <locationY>2894</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Contact_is</targetReference>
        </connector>
        <fields>
            <name>Submitted_Lead_Information_contact</name>
            <fieldText>Submitted Lead Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Submitted_Lead_Information_contact_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>contact_deatsils</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Contact Submitted:&lt;/strong&gt; &lt;/p&gt;&lt;p&gt;{!recordId.Contact_First_Name__c} {!recordId.Contact_Last_Name__c} &lt;/p&gt;&lt;p&gt;{!recordId.Contact_Title__c}&lt;/p&gt;&lt;p&gt;{!recordId.Contact_Email__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Submitted_Lead_Information_contact_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>submission_info</name>
                    <fieldText>&lt;p&gt;{!recordId.Other_Info__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Confirm_Contact_Details_f</name>
            <fieldText>Confirm Customer / Prospect Contact Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Confirm_Contact_Details_f_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>screen_new_or_existing_contact</name>
                    <choiceReferences>choice_existing_contact</choiceReferences>
                    <choiceReferences>choice_new_contact</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>choice_existing_contact</defaultSelectedChoiceReference>
                    <fieldText>Associate this lead with:</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Confirm_Contact_Details_f_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>screen_contact_lookup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Contact__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Select contact:</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Partner_Lead__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>recordId.Contact__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>screen_new_or_existing_contact</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>choice_existing_contact</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>screen_contact_name</name>
                    <extensionName>flowruntime:name</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>firstName</name>
                        <value>
                            <elementReference>recordId.Contact_First_Name__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Contact Name</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>lastName</name>
                        <value>
                            <elementReference>recordId.Contact_Last_Name__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Name is required&lt;/p&gt;</errorMessage>
                        <formulaExpression>NOT(ISBLANK({!screen_contact_name.firstName})) &amp;&amp;
NOT(ISBLANK({!screen_contact_name.lastName}))</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>screen_new_or_existing_contact</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>choice_new_contact</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>screen_contact_email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>recordId.Contact_Email__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>screen_new_or_existing_contact</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>choice_new_contact</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>screen_contact_title</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recordId.Contact_Title__c</elementReference>
                    </defaultValue>
                    <fieldText>Title</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>screen_new_or_existing_contact</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>choice_new_contact</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirm_Lead_Detailsf</name>
        <label>Confirm Prospect Account Details</label>
        <locationX>822</locationX>
        <locationY>1891</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Partner_account_is</targetReference>
        </connector>
        <fields>
            <name>Submitted_Lead_Information</name>
            <fieldText>Submitted Lead Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Submitted_Lead_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>submit_lead_contact_info</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Company Name:&lt;/strong&gt; {!recordId.Company_Name__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>screenn_linkedIn</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;LinkedIn: &lt;/strong&gt;&lt;a href=&quot;{!recordId.Company_LinkedIn__c}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Click here to open&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>recordId.Company_LinkedIn__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>screen_no_linkedIn</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;LinkedIn: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Not provided. &lt;/span&gt;&lt;a href=&quot;{!linked_in_search_url}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255); color: rgb(166, 0, 255);&quot;&gt;&lt;u&gt;Click to search for {!recordId.Company_Name__c} on LinkedIn.com&lt;/u&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>recordId.Company_LinkedIn__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Submitted_Lead_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>submitted_info</name>
                    <fieldText>&lt;p&gt;{!recordId.Other_Info__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Customer_Prospect_Account</name>
            <fieldText>Confirm Customer / Prospect Account</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Customer_Prospect_Account_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>screen_new_or_existing_account</name>
                    <choiceReferences>choice_existing_account</choiceReferences>
                    <choiceReferences>choice_new_account</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>choice_existing_account</defaultSelectedChoiceReference>
                    <fieldText>Associate this lead with:</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>screen_account</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Prospect_Account__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Select customer / prospect account:</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Partner_Lead__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>recordId.Prospect_Account__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>screen_new_or_existing_account</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>choice_existing_account</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Customer_Prospect_Account_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>screen_account_name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recordId.Company_Name__c</elementReference>
                    </defaultValue>
                    <fieldText>Account Name:</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>screen_new_or_existing_account</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>choice_new_account</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>screen_account_LinkedIn_URL</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recordId.Company_LinkedIn__c</elementReference>
                    </defaultValue>
                    <fieldText>LinkedIn URL</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>screen_new_or_existing_account</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>choice_new_account</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>screen_account_num_employees</name>
                    <dataType>Number</dataType>
                    <fieldText>Number of Employees (from LinkedIn):</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Must be greater than 0&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!screen_account_num_employees}&gt;0</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>screen_new_or_existing_account</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>choice_new_account</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>screen_account_website</name>
                    <extensionName>flowruntime:url</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>domain_contact_email_with_prefix</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Company Website</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>screen_new_or_existing_account</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>choice_new_account</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>screen_Country_prospect_account</name>
                    <choiceReferences>choice_all_countries</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Country</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Select the country where this prospect is located....</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>screen_new_or_existing_account</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>choice_new_account</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>1155</locationX>
        <locationY>199</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_No_MQ</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Error:&lt;/strong&gt; No message queue found. Let Jon know if you see this.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Open_Opportunities_Found</name>
        <label>Open Opportunities Found</label>
        <locationX>1153</locationX>
        <locationY>4166</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Opp_is</targetReference>
        </connector>
        <fields>
            <name>opps_found_header</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Open opportunities were found on the account {!recordId.Prospect_Account__r.Account_Name_Compiled__c}&lt;/strong&gt;:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>screen_new_or_existing_opp</name>
            <choiceReferences>choice_existing_opp</choiceReferences>
            <choiceReferences>choice_new_opp</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>choice_existing_opp</defaultSelectedChoiceReference>
            <fieldText>Please review the below open opportunities and select one of the following:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>screen_open_opps_table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Opportunity</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select the open opportunity:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Look_for_open_opportunities</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Opportunity_Link__c&quot;,&quot;guid&quot;:&quot;column-11e1&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Opportunity&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Opportunity Link&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Sales_Qualified_At__c&quot;,&quot;guid&quot;:&quot;column-6613&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Sales Qualified At&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Sales Qualified At (S2)&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;StageName&quot;,&quot;guid&quot;:&quot;column-5d6f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Stage&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Stage&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Opportunity_Team__c&quot;,&quot;guid&quot;:&quot;column-c450&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Team&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Opportunity Team&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>screen_new_or_existing_opp</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_existing_opp</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>opp_selection_note</name>
            <fieldText>&lt;p&gt;Select a stage 1 deal and to &lt;u&gt;approve&lt;/u&gt; this Partner Lead submission. Otherwise, select the opportunity associated with this referral.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Qualification_Meeting_Details</name>
        <label>Qualification Meeting Details</label>
        <locationX>1079</locationX>
        <locationY>4456</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Build_new_journey</targetReference>
        </connector>
        <fields>
            <name>Qualification_Meeting_Details_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Qualification_Meeting_Details_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>screen_qual_meeting_date</name>
                    <dataType>Date</dataType>
                    <fieldText>On what date did we book the qualification meeting for this lead?</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Qualification_Meeting_Details_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>qual_meeting_approval</name>
                    <fieldText>&lt;p&gt;In order to approve a submitted Partner referral we need to book a qualification meeting.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Submission_Status</name>
        <label>Submission Status</label>
        <locationX>1569</locationX>
        <locationY>4421</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Moment_Status_0_0_0_0</targetReference>
        </connector>
        <fields>
            <name>status_header</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Selected Opportunity:&lt;/strong&gt; &lt;a href=&quot;https://retool.lightning.force.com/{!screen_open_opps_table.firstSelectedRow.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!screen_open_opps_table.firstSelectedRow.Name}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Stage:&lt;/strong&gt; {!screen_open_opps_table.firstSelectedRow.StageName}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>status_header_approve</name>
            <fieldText>Approve or reject this submission:</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>status_header_approve_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>screen_Status</name>
                    <choiceReferences>choice_apporved</choiceReferences>
                    <choiceReferences>choice_rejected</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>status_header_approve_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>screen_Rejection_Reason</name>
                    <choiceReferences>choice_rejection_reasons</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recordId.Rejection_Reason__c</elementReference>
                    </defaultValue>
                    <fieldText>Rejection Reason</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>screen_Status</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Rejected</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Rejection_Reason_details</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recordId.Rejection_Reason_Details__c</elementReference>
                    </defaultValue>
                    <fieldText>Rejection Reason Details</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Must be 255 characters or less&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Rejection_Reason_details})&lt;=255</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>screen_Status</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Rejected</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Set_Up_Partner_Relationship</name>
        <label>Set Up Partner Relationship</label>
        <locationX>827</locationX>
        <locationY>808</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Partner_Relationship_Selection</targetReference>
        </connector>
        <fields>
            <name>partner_referred_by</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Partner Lead Submitted By:&lt;/strong&gt; {!recordId.Referred_by_Email__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Partner</name>
            <fieldText>Confirm Referring Partner</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Partner_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>screen_Partner_Relationship</name>
                    <choiceReferences>choice_partner_relationships</choiceReferences>
                    <defaultValue>
                        <elementReference>recordId.Partner_Relationship__c</elementReference>
                    </defaultValue>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Select the partner that submitted this referral</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Partner_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>screen_new_or_existing_partner_account</name>
                    <choiceReferences>choice_existing_partner_account</choiceReferences>
                    <choiceReferences>choice_new_partner_account</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>choice_existing_partner_account</defaultSelectedChoiceReference>
                    <fieldText>Create new Partner Relationship on:</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>screen_Partner_Relationship.selectedChoiceLabels</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>New Referral Partner</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>screen_partner_account</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Partner_Account__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Select Partner Account:</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Partner_Lead__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>partner_relationship_account</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>screen_new_or_existing_partner_account</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>choice_existing_partner_account</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>new_partner_Account_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Partner Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Must be &amp;lt;= 27 characters&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!new_partner_Account_Name})&lt;=27</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>screen_new_or_existing_partner_account</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>choice_new_partner_account</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>new_partner_account_LinkedIn_Company_Page</name>
                    <dataType>String</dataType>
                    <fieldText>LinkedIn Company Page URL</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>screen_new_or_existing_partner_account</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>choice_new_partner_account</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Number_of_Employees_from_LinkedIn</name>
                    <dataType>Number</dataType>
                    <fieldText>Number of Employees (from LinkedIn):</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>screen_new_or_existing_partner_account</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>choice_new_partner_account</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>new_partner_account_website</name>
                    <extensionName>flowruntime:url</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Website</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>domain_from_referred_by_email</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>screen_new_or_existing_partner_account</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>choice_new_partner_account</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Country</name>
                    <choiceReferences>choice_all_countries</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Country</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Select the country where this partner is headquartered...</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>screen_new_or_existing_partner_account</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>choice_new_partner_account</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <stages>
        <name>Confirm_Contact_Details_stage</name>
        <isActive>true</isActive>
        <label>Confirm Contact Details</label>
        <stageOrder>3</stageOrder>
    </stages>
    <stages>
        <name>Route_to_Sales</name>
        <isActive>true</isActive>
        <label>Route to Sales</label>
        <stageOrder>4</stageOrder>
    </stages>
    <stages>
        <name>stage_Confirm_Lead_Details</name>
        <isActive>true</isActive>
        <label>Confirm Lead Details</label>
        <stageOrder>2</stageOrder>
    </stages>
    <stages>
        <name>stage_Confirm_Partner_Details</name>
        <isActive>true</isActive>
        <label>Confirm Partner Details</label>
        <stageOrder>1</stageOrder>
    </stages>
    <start>
        <locationX>703</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Has_MQ</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>slack_open_journey_notify</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;:handshake:&lt;strong&gt; New Approved Referral from &lt;/strong&gt;&lt;a href=&quot;https://retool.lightning.force.com/{!recordId.Partner_Relationship__c}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;{!recordId.Partner_Relationship__r.Partner_DBA_Name__c}&lt;/strong&gt;&lt;/a&gt;&lt;strong&gt; &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Triaged By: &lt;/strong&gt;{!$User.Slack_Mention_Handle_Only__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Account: &lt;/strong&gt;&lt;a href=&quot;https://retool.lightning.force.com/{!recordId.Prospect_Account__c}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!recordId.Prospect_Account__r.Account_Name_Compiled__c}&lt;/a&gt; ({!recordId.Prospect_Account__r.Segment__c})&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Account Owner:&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; {!recordId.Contact__r.Account.Owner.Slack_Mention_With_Role_Full_Name__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Contact:&lt;/strong&gt; &lt;a href=&quot;https://retool.lightning.force.com/{!recordId.Contact__c}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!recordId.Contact__r.FirstName} {!recordId.Contact__r.LastName} ({!recordId.Contact__r.Title})&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Open Journey: &lt;/strong&gt;&lt;a href=&quot;https://retool.lightning.force.com/{!recordId.Contact__r.Current_Open_Journey__c}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!recordId.Contact__r.Current_Open_Journey__r.Name}&lt;/a&gt; ({!recordId.Contact__r.Current_Open_Journey__r.Stage__c})&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Journey Owner:&lt;/strong&gt; {!recordId.Contact__r.Current_Open_Journey__r.Owner__r.Slack_Mention_With_Role_Full_Name__c}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>slack_open_opp_notification</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;:handshake:&lt;strong&gt; New Approved Referral from &lt;/strong&gt;&lt;a href=&quot;https://retool.lightning.force.com/%7B!recordId.Partner_Relationship__c%7D&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;{!recordId.Partner_Relationship__r.Partner_DBA_Name__c}&lt;/strong&gt;&lt;/a&gt;&lt;strong&gt; &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Triaged By: &lt;/strong&gt;{!$User.Slack_Mention_With_Role_Full_Name__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Account: &lt;/strong&gt;&lt;a href=&quot;https://retool.lightning.force.com/%7B!recordId.Prospect_Account__c%7D&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!recordId.Prospect_Account__r.Account_Name_Compiled__c}&lt;/a&gt; ({!recordId.Prospect_Account__r.Segment__c})&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Account Owner:&lt;/strong&gt; {!recordId.Prospect_Account__r.Owner.Slack_Mention_With_Role_Full_Name__c} &lt;/p&gt;&lt;p&gt;&lt;strong&gt;Contact:&lt;/strong&gt; &lt;a href=&quot;https://retool.lightning.force.com/%7B!recordId.Contact__c%7D&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!recordId.Contact__r.FirstName} {!recordId.Contact__r.LastName} ({!recordId.Contact__r.Title})&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Opportunity: &lt;/strong&gt;&lt;a href=&quot;https://retool.lightning.force.com/{!recordId.Opportunity__c}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!recordId.Opportunity__r.Name}&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>slack_reject_lead</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;:handshake:&lt;strong&gt; Referral from &lt;/strong&gt;&lt;a href=&quot;https://retool.lightning.force.com/%7B!recordId.Partner_Relationship__c%7D&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;{!recordId.Partner_Relationship__r.Partner_DBA_Name__c}&lt;/strong&gt;&lt;/a&gt;&lt;strong&gt; rejected&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Rejection Reason:&lt;/strong&gt; {!recordId.Rejection_Reason__c} [{!recordId.Rejection_Reason_Details__c}]&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Triaged By: &lt;/strong&gt;{!$User.Slack_Mention_With_Role_Full_Name__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Account: &lt;/strong&gt;&lt;a href=&quot;https://retool.lightning.force.com/%7B!recordId.Prospect_Account__c%7D&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!recordId.Prospect_Account__r.Account_Name_Compiled__c}&lt;/a&gt; ({!recordId.Prospect_Account__r.Segment__c})&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Contact:&lt;/strong&gt; &lt;a href=&quot;https://retool.lightning.force.com/%7B!recordId.Contact__c%7D&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!recordId.Contact__r.FirstName} {!recordId.Contact__r.LastName} ({!recordId.Contact__r.Title})&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Opportunity: &lt;/strong&gt;&lt;a href=&quot;https://retool.lightning.force.com/%7B!recordId.Opportunity__c%7D&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!recordId.Opportunity__r.Name}&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>channel_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>recordId.Triage_MQ__r.Centro__ChannelId__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>message_ts</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>recordId.Triage_MQ__r.Centro__Message_TS__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>new_contact_record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>new_journey</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Journey__c</objectType>
    </variables>
    <variables>
        <name>new_moment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Moment__c</objectType>
    </variables>
    <variables>
        <name>new_opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>new_partner_account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>new_partner_relationship_referral</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Partner_Relationship__c</objectType>
    </variables>
    <variables>
        <name>new_propsect_account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>partner_relationship_account</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Partner_Lead__c</objectType>
    </variables>
</Flow>
