unpackaged/main/default/flows/Partner_Relationship_New_Contract_Button.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Set_up_contract_0</name>
        <label>Set up contract</label>
        <locationX>343</locationX>
        <locationY>1067</locationY>
        <assignmentItems>
            <assignToReference>new_contract.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>reseller_Start_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_contract.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>reseller_End_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_contract.Reseller_Discount_Year_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reseller_Discount_Year_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_contract.Reseller_Discount_Year_2_plus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reseller_Discount_Year_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_contract.Payment_Terms__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>reseller_Payment_Terms</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_contract.CustomerSignedId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>reseller_signatory.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_contract.Effective_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>reseller_Effective_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_contract.Active_Until_Cancelled__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Active_Until_Cancelled</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_contract.Referral_Fee_Pct__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Referral_Fee_screen</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_contract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_up_contract_referral</name>
        <label>Set up contract (referral)</label>
        <locationX>246</locationX>
        <locationY>652</locationY>
        <assignmentItems>
            <assignToReference>new_contract.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>012Du0000004LflIAE</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Partner_Agreement_screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_up_contract_reseller</name>
        <label>Set up contract (reseller)</label>
        <locationX>425</locationX>
        <locationY>665</locationY>
        <assignmentItems>
            <assignToReference>new_contract.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>012Du0000004LfbIAE</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Partner_Agreement_screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_up_contrat_all</name>
        <label>Set up contract (all)</label>
        <locationX>427</locationX>
        <locationY>308</locationY>
        <assignmentItems>
            <assignToReference>new_contract.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_contract.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01s6e000004bU2cAAE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_contract.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0055A00000ApunnQAB</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_contract.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_contract.Partner_Relationship__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Partner_Relationship_type</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Partner_Relationship_type</name>
        <label>Partner Relationship type</label>
        <locationX>430</locationX>
        <locationY>469</locationY>
        <defaultConnector>
            <targetReference>Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Reseller</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reseller</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_up_contract_reseller</targetReference>
            </connector>
            <label>Reseller</label>
        </rules>
        <rules>
            <name>Service_Delivery</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service Delivery</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error</targetReference>
            </connector>
            <label>Service Delivery</label>
        </rules>
        <rules>
            <name>Referral</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Referral</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_up_contract_referral</targetReference>
            </connector>
            <label>Referral</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>choice_payment_terms</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Payment_Terms__c</picklistField>
        <picklistObject>Contract</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>payment_terms_choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>PaymentTerm</picklistField>
        <picklistObject>SalesforceContract</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Partner Relationship - New Contract Button {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Partner Relationship - New Contract Button</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_contract</name>
        <label>Create contract</label>
        <locationX>446</locationX>
        <locationY>1250</locationY>
        <connector>
            <targetReference>Upload_Partner_Agreement</targetReference>
        </connector>
        <inputReference>new_contract</inputReference>
    </recordCreates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>1065</locationX>
        <locationY>601</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_not</name>
            <fieldText>&lt;p&gt;Not supported&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Partner_Agreement_screen</name>
        <label>New Partner Agreement</label>
        <locationX>341</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_up_contract_0</targetReference>
        </connector>
        <fields>
            <name>Term</name>
            <fieldText>Term</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Term_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>reseller_Start_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>reseller_Effective_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Effective Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Term_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>reseller_End_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>End Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Active_Until_Cancelled</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Active_Until_Cancelled</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Active Until Cancelled?</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Select if the partner agreement is active in perpetuity unless cancelled as per the terms&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Reseller_Terms</name>
            <fieldText>Reseller Terms</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Reseller_Terms_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Reseller_Discount_Year_1</name>
                    <dataType>Number</dataType>
                    <fieldText>Reseller Discount % (Year 1)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Reseller_Terms_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Reseller_Discount_Year_2</name>
                    <dataType>Number</dataType>
                    <fieldText>Reseller Discount % (Year 2+)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>recordId.RecordType.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Reseller</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Referral_Terms</name>
            <fieldText>Referral Terms</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Referral_Terms_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Referral_Fee_screen</name>
                    <dataType>Number</dataType>
                    <fieldText>Referral Fee %</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Referral_Terms_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>recordId.RecordType.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Referral</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>reseller_Payment_Terms</name>
            <choiceReferences>choice_payment_terms</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Payment Terms</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Additional</name>
            <fieldText>Additional</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Additional_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>new_contract.ShippingAddress</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>new_contract.SpecialTerms</objectFieldReference>
        </fields>
        <fields>
            <name>Signature</name>
            <fieldText>Signature</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Signature_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>reseller_signatory</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>CustomerSignedId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Partner Signatory</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Contract</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Signature_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>new_contract.DocuSign_Envelope_ID__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Upload_Partner_Agreement</name>
        <label>Upload Partner Agreement</label>
        <locationX>446</locationX>
        <locationY>1411</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>upload_file</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Fully Executed PDF Agreement:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.pdf</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>new_contract.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>hover text</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>302</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Set_up_contrat_all</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>new_contract</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Partner_Relationship__c</objectType>
    </variables>
</Flow>
