unpackaged/main/default/flows/Partner_Relationship_Before_Save_Automations.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Clear_active_until_cancelled</name>
        <label>Clear active until cancelled</label>
        <locationX>1985</locationX>
        <locationY>270</locationY>
        <assignmentItems>
            <assignToReference>$Record.Active_Until_Cancelled__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Partner_Relationship_status_is</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_end_date</name>
        <label>Clear end date</label>
        <locationX>1714</locationX>
        <locationY>272</locationY>
        <assignmentItems>
            <assignToReference>$Record.Agreement_End_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>End_date_set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_defaults</name>
        <label>Set defaults</label>
        <locationX>159</locationX>
        <locationY>397</locationY>
        <assignmentItems>
            <assignToReference>$Record.Trigger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>standard_name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Type_is</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_defaults_referral</name>
        <label>Set defaults</label>
        <locationX>821</locationX>
        <locationY>262</locationY>
        <assignmentItems>
            <assignToReference>$Record.Referral_First_Submit_Effective_Days__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>referral_default_first_submit_time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Referral_Resubmit_Effective_Days__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>referral_defaults_resubmit_time</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contract_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_status_to_Active_Authorized</name>
        <label>Set status to Active - Authorized</label>
        <locationX>2424</locationX>
        <locationY>216</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active - Authorized</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_status_to_Active_Not_Authorized</name>
        <label>Set status to Active - Not Authorized</label>
        <locationX>2582</locationX>
        <locationY>304</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active - Not Authorized</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_from_contract</name>
        <label>Update from contract</label>
        <locationX>1370</locationX>
        <locationY>273</locationY>
        <assignmentItems>
            <assignToReference>$Record.Agreement_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contract__r.StartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Payment_Terms__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contract__r.Payment_Terms__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Reseller_Discount_Year_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contract__r.Reseller_Discount_Year_1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Reseller_Discount_Year_2_plus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contract__r.Reseller_Discount_Year_2_plus__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Street_Line_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contract__r.ShippingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contract__r.ShippingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contract__r.ShippingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Postal_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contract__r.ShippingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contract__r.ShippingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Active_Until_Cancelled__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contract__r.Active_Until_Cancelled__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Agreement_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contract__r.EndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Referral_Fee_Pct__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contract__r.Referral_Fee_Pct__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Active_until_cancelled</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Active_until_cancelled</name>
        <label>Active until cancelled?</label>
        <locationX>1541</locationX>
        <locationY>406</locationY>
        <defaultConnector>
            <targetReference>End_date_set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_evergreen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Active_Until_Cancelled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_end_date</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contract_changed</name>
        <label>Contract changed?</label>
        <locationX>1049</locationX>
        <locationY>401</locationY>
        <defaultConnector>
            <targetReference>Active_until_cancelled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_contract_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contract__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_from_contract</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>End_date_set</name>
        <label>End date set?</label>
        <locationX>1849</locationX>
        <locationY>415</locationY>
        <defaultConnector>
            <targetReference>Partner_Relationship_status_is</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_end_date_set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Agreement_End_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Agreement_End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_active_until_cancelled</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Partner_Relationship_status_is</name>
        <label>Partner Relationship status is</label>
        <locationX>2163</locationX>
        <locationY>418</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Active_Authorized</name>
            <conditionLogic>1 AND (2 OR (3 AND 4))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contract__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Active_Until_Cancelled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Agreement_End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Agreement_Start_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_status_to_Active_Authorized</targetReference>
            </connector>
            <label>Active - Authorized</label>
        </rules>
        <rules>
            <name>Active_Not_Authorized</name>
            <conditionLogic>1 OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Active_Until_Cancelled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Agreement_End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Agreement_Start_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_status_to_Active_Not_Authorized</targetReference>
            </connector>
            <label>Active - Not Authorized</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_is</name>
        <label>Type is</label>
        <locationX>509</locationX>
        <locationY>400</locationY>
        <defaultConnector>
            <targetReference>Contract_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Referral</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Referral</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_defaults_referral</targetReference>
            </connector>
            <label>Referral (New or changed to)</label>
        </rules>
    </decisions>
    <description>Renamed Agreement date fields</description>
    <environments>Default</environments>
    <formulas>
        <name>referral_default_first_submit_time</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!$Record.Referral_First_Submit_Effective_Days__c}),90,{!$Record.Referral_First_Submit_Effective_Days__c})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>referral_defaults_resubmit_time</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!$Record.Referral_Resubmit_Effective_Days__c}),90,{!$Record.Referral_Resubmit_Effective_Days__c})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>standard_name</name>
        <dataType>String</dataType>
        <expression>{!$Record.Partner_DBA_Name__c}&amp;&quot; (&quot;&amp;{!$Record.RecordType.Name}&amp;&quot;)&quot;</expression>
    </formulas>
    <interviewLabel>Partner Relationship - Before Save Automations {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Partner Relationship - Before Save Automations</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>35</locationY>
        <connector>
            <targetReference>Set_defaults</targetReference>
        </connector>
        <object>Partner_Relationship__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
