unpackaged/main/default/flows/Partner_Relationship_Submit_New_for_Review.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_to_setup_channel</name>
        <label>Post to setup channel</label>
        <locationX>894</locationX>
        <locationY>878</locationY>
        <actionName>Centro__SendMessageFlow</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>channelId</name>
            <value>
                <stringValue>{!setup_channel_Id}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>InterviewGuid</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>&lt;p&gt;{!new_partner_relationship_slack}&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pinMessage</name>
            <value>
                <stringValue>false</stringValue>
            </value>
        </inputParameters>
        <nameSegment>Centro__SendMessageFlow</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Build_partner_relationship</name>
        <label>Build partner relationship</label>
        <locationX>885</locationX>
        <locationY>454</locationY>
        <assignmentItems>
            <assignToReference>draft_partner_relationship.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>012Du0000004IGZIA2</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>draft_partner_relationship.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0016e00002asz8xAAA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>draft_partner_relationship.Partner_DBA_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Partner_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>draft_partner_relationship.Services_Website__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>partner_website.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>draft_partner_relationship.Submitted_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>draft_partner_relationship.Submitted_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>draft_partner_relationship.Submitted_By_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$UserRole.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>draft_partner_relationship.Submission_Additional_Context__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>additional_context</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>draft_partner_relationship.Submission_Source_of_Partner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>How_did_you_become_aware_of_this_partner</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>draft_partner_relationship.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>To Be Reviewed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_new_partner_relationship</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Partner Relationship - Submit New for Review {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Partner Relationship - Submit New for Review</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_new_partner_relationship</name>
        <label>Create new partner relationship</label>
        <locationX>890</locationX>
        <locationY>672</locationY>
        <connector>
            <targetReference>Post_to_setup_channel</targetReference>
        </connector>
        <inputReference>draft_partner_relationship</inputReference>
    </recordCreates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Submit_New_Partner</name>
        <label>Submit New Partner</label>
        <locationX>891</locationX>
        <locationY>254</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Build_partner_relationship</targetReference>
        </connector>
        <fields>
            <name>new_partner_Header</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Please provide the following information. This will be reviewed by the Partner Team to set up a new partner in our system:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Submit_New_Partner_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Submit_New_Partner_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Partner_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Partner Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Must be less than or equal to 60 characters&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Partner_Name})&lt;=60</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Submit_New_Partner_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>partner_website</name>
                    <extensionName>flowruntime:url</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Website</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>How_did_you_become_aware_of_this_partner</name>
            <dataType>String</dataType>
            <fieldText>How did you become aware of this partner?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Must be less than 255 characters&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!How_did_you_become_aware_of_this_partner})&lt;=255</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>additional_context</name>
            <fieldText>Please provide the Partner Team with any other helpful context:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>763</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Submit_New_Partner</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>new_partner_relationship_slack</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;:handshake: New Cosell Partner Submitted for Review: &lt;/strong&gt;&lt;a href=&quot;https://retool.lightning.force.com/{!draft_partner_relationship.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;{!Partner_Name}&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Submitted By: &lt;/strong&gt;{!draft_partner_relationship.Submitted_By__r.Slack_Mention_With_Role_Full_Name__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Source: &lt;/strong&gt;{!draft_partner_relationship.Submission_Source_of_Partner__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Additional Context: &lt;/strong&gt;{!draft_partner_relationship.Submission_Additional_Context__c}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>draft_partner_relationship</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Partner_Relationship__c</objectType>
    </variables>
    <variables>
        <name>setup_channel_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>C020994JXPB</stringValue>
        </value>
    </variables>
</Flow>
