unpackaged/main/default/flows/Process_Data_Erasure_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Found_leads</name>
        <label>Found leads?</label>
        <locationX>497</locationX>
        <locationY>594</locationY>
        <defaultConnector>
            <targetReference>Update_contacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_all_matching_leads</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_leads</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>- Removing `Secondary Email` Contact field references.</description>
    <environments>Default</environments>
    <formulas>
        <name>replacement_email</name>
        <dataType>String</dataType>
        <expression>&quot;deleted&quot;&amp;LEFT({!$Flow.InterviewGuid},6)&amp;&quot;@deleted.com&quot;</expression>
    </formulas>
    <interviewLabel>Data Erasure Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Process Data Erasure Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>Delete_leads</name>
        <label>Delete leads</label>
        <locationX>637</locationX>
        <locationY>487</locationY>
        <connector>
            <targetReference>Update_contacts</targetReference>
        </connector>
        <inputReference>Get_all_matching_leads</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_all_matching_leads</name>
        <label>Get all matching leads</label>
        <locationX>341</locationX>
        <locationY>588</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_leads</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email_search</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_contacts</name>
        <label>Update contacts</label>
        <locationX>789</locationX>
        <locationY>595</locationY>
        <connector>
            <targetReference>Update_contract_billing_email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email_search</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AssistantPhone</field>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>replacement_email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <stringValue>Deleted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HasOptedOutOfEmail</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HomePhone</field>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <stringValue>Deleted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
        </inputAssignments>
        <inputAssignments>
            <field>OtherPhone</field>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_contract_billing_email</name>
        <label>Update contract billing email</label>
        <locationX>973</locationX>
        <locationY>584</locationY>
        <connector>
            <targetReference>complete_header</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Billing_Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email_search</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Billing_Email__c</field>
            <value>
                <elementReference>replacement_email</elementReference>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>complete_header</name>
        <label>complete</label>
        <locationX>1161</locationX>
        <locationY>533</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Complete</name>
            <fieldText>&lt;p&gt;The operation is complete.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Process_Delete_Request</name>
        <label>Process Delete Request</label>
        <locationX>302</locationX>
        <locationY>410</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_all_matching_leads</targetReference>
        </connector>
        <fields>
            <name>Email_search</name>
            <dataType>String</dataType>
            <fieldText>Enter the email address</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>test</name>
            <fieldText>&lt;p&gt;Upon submission the following actions will take place:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;All Lead records with an email matching the above will be deleted&lt;/li&gt;&lt;li&gt;All Contact records with an email matching the above will have their first name, last name and all phone number fields cleared. The email will be replaced with {!replacement_email}&lt;/li&gt;&lt;li&gt;The Billing Email field on all Contract records containing the above email will be replaced with &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!replacement_email}&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Are you sure you would like to proceed? This operation cannot be undone.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>175</locationX>
        <locationY>221</locationY>
        <connector>
            <targetReference>Process_Delete_Request</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>contact_count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>contract_count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>lead_count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
