unpackaged/main/default/flows/Product_Update_Stripe_IDs_Button.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Update_stripe_IDs</name>
        <label>Update stripe IDs</label>
        <locationX>826</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Get_pricebook_entry.Stripe_Price_ID_Annual__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stripe_Price_ID_Annual</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_pricebook_entry.Stripe_Price_ID_Semi_annual__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stripe_Price_ID_Semi_Annual</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_pricebook_entry.Stripe_Price_ID_Quarterly__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stripe_Price_ID_Quarterly</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_price_book_entry</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Found_price_book_entry</name>
        <label>Found price book entry?</label>
        <locationX>808</locationX>
        <locationY>340</locationY>
        <defaultConnector>
            <targetReference>Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_pricebook_entry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Edit_Price_Book_Entry</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Product - Update Stripe IDs Button {!$Flow.CurrentDateTime} {!recordId.Name}</interviewLabel>
    <label>Product - Update Stripe IDs Button</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_pricebook_entry</name>
        <label>Get pricebook entry</label>
        <locationX>817</locationX>
        <locationY>189</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_price_book_entry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01s6e000004bU2cAAE</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_price_book_entry</name>
        <label>Update price book entry</label>
        <locationX>823</locationX>
        <locationY>903</locationY>
        <inputReference>Get_pricebook_entry</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Edit_Price_Book_Entry</name>
        <label>Edit Price Book Entry</label>
        <locationX>823</locationX>
        <locationY>558</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_stripe_IDs</targetReference>
        </connector>
        <fields>
            <name>header_name</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;{!recordId.Name}&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Stripe_Price_ID_Quarterly</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_pricebook_entry.Stripe_Price_ID_Quarterly__c</elementReference>
            </defaultValue>
            <fieldText>Stripe Price ID (Quarterly)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Stripe_Price_ID_Semi_Annual</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_pricebook_entry.Stripe_Price_ID_Semi_annual__c</elementReference>
            </defaultValue>
            <fieldText>Stripe Price ID (Semi-Annual)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Stripe_Price_ID_Annual</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_pricebook_entry.Stripe_Price_ID_Annual__c</elementReference>
            </defaultValue>
            <fieldText>Stripe Price ID (Annual)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>1027</locationX>
        <locationY>338</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>error_not_found</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Error:&lt;/strong&gt; Price book entry not found. Contact Revenue Operations.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>691</locationX>
        <locationY>30</locationY>
        <connector>
            <targetReference>Get_pricebook_entry</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
</Flow>
