unpackaged/main/default/flows/Retool_User_Before_Save_Automations.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Set_contact_0</name>
        <label>Set contact</label>
        <locationX>270</locationX>
        <locationY>1619</locationY>
        <assignmentItems>
            <assignToReference>$Record.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_contact_by_email.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Record_is</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_defaults</name>
        <label>Set defaults</label>
        <locationX>248</locationX>
        <locationY>287</locationY>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>standard_name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Trigger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_Address_to_Suppression</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_domain_type</name>
        <label>Set domain type</label>
        <locationX>50</locationX>
        <locationY>803</locationY>
        <assignmentItems>
            <assignToReference>$Record.Email_Domain_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Email_Domain_Map__r.Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Record_has_contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_domain_type_0</name>
        <label>Set domain type</label>
        <locationX>314</locationX>
        <locationY>1019</locationY>
        <assignmentItems>
            <assignToReference>$Record.Email_Domain_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_domain_map.Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Email_Domain_Map__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_domain_map.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Record_has_contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Suppress_Record</name>
        <label>Suppress Record</label>
        <locationX>116</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.OPS_Suppress_from_Flows__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_domain_map</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Email_Address_to_Suppression</name>
        <label>Email Address to Suppression</label>
        <locationX>248</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Has_domain_map</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Suppressed</defaultConnectorLabel>
        <rules>
            <name>Suppress</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email__c</leftValueReference>
                <operator>EndsWith</operator>
                <rightValue>
                    <stringValue>+archived</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>/</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>\</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue> </stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>bugcrowdninja.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>-archived</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Suppress_Record</targetReference>
            </connector>
            <label>Suppress</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_contact_by_email_0</name>
        <label>Found contact by email?</label>
        <locationX>402</locationX>
        <locationY>1511</locationY>
        <defaultConnector>
            <targetReference>Record_is</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_found_by_email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_contact_by_email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_contact_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_domain_map</name>
        <label>Found domain map?</label>
        <locationX>446</locationX>
        <locationY>911</locationY>
        <defaultConnector>
            <targetReference>Record_has_contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_found_domain_map</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_domain_map</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_domain_type_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_domain_map</name>
        <label>Has domain map?</label>
        <locationX>248</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Get_domain_map</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email_Domain_Map__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_domain_type</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_has_contact</name>
        <label>Record has contact</label>
        <locationX>248</locationX>
        <locationY>1295</locationY>
        <defaultConnector>
            <targetReference>Get_contact_by_email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Record_is</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_is</name>
        <label>Record is</label>
        <locationX>248</locationX>
        <locationY>1895</locationY>
        <defaultConnectorLabel>Updated</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>New</label>
        </rules>
    </decisions>
    <description>- Removing `Get contact by user SID` and related checks to populate missing Contacts on Retool User records.
- Suppression for common errors in email including &#39;-archived&#39;.</description>
    <environments>Default</environments>
    <formulas>
        <name>standard_name</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.First_Name__c},20)&amp;&quot; &quot;&amp;LEFT({!$Record.Last_Name__c},20)&amp;&quot; (&quot;&amp;LEFT({!$Record.Email__c},30)&amp;&quot;)&quot;</expression>
    </formulas>
    <interviewLabel>Retool User {!$Flow.CurrentDateTime} {!$Record.First_Name__c}{!$Record.Last_Name__c} ({!$Record.Email__c}) ({!$Record.User_SID__c})</interviewLabel>
    <label>Retool User - Before Save Automations</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_contact_by_email</name>
        <label>Get contact by email</label>
        <locationX>402</locationX>
        <locationY>1403</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_contact_by_email_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_domain_map</name>
        <label>Get domain map</label>
        <locationX>446</locationX>
        <locationY>803</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_domain_map</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email_Clean_Domain__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Domain_Map__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_defaults</targetReference>
        </connector>
        <object>Retool_User__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
