unpackaged/main/default/flows/Retool_Org_Automations.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Check_needs_reparenting</name>
        <label>Check needs reparenting</label>
        <locationX>2705</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>$Record.Needs_Account_Reparenting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_org_name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Creator_Email_Domain_Map</name>
        <label>Clear Creator Email Domain Map</label>
        <locationX>2177</locationX>
        <locationY>386</locationY>
        <assignmentItems>
            <assignToReference>$Record.Creator_Email_Domain_Type__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Creator_Email_Domain_Map__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Creator_Email_Domain_Map_Matched_Account__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Org_mapped_to</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Route_org_to_account</name>
        <label>Route org to account</label>
        <locationX>2437</locationX>
        <locationY>177</locationY>
        <assignmentItems>
            <assignToReference>$Record.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_domain_map.Matched_Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Org_mapped_to</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_account_to_orphan_orgs</name>
        <label>Set account to orphan orgs</label>
        <locationX>1212</locationX>
        <locationY>656</locationY>
        <assignmentItems>
            <assignToReference>$Record.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0016e00002asz8xAAA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Needs_Account_Reparenting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Status_is</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_creator_email_Domain_Map</name>
        <label>Set Creator Email Domain Map</label>
        <locationX>2182</locationX>
        <locationY>219</locationY>
        <assignmentItems>
            <assignToReference>$Record.Creator_Email_Domain_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_domain_map.Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Creator_Email_Domain_Map__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_domain_map.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Creator_Email_Domain_Map_Matched_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_domain_map.Matched_Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Route_to_domain_map_account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_org_name</name>
        <label>Set org name</label>
        <locationX>2946</locationX>
        <locationY>479</locationY>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Org_name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Moved_out_of_orphan_orgs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_parent_timestamp</name>
        <label>Set parent timestamp</label>
        <locationX>3268</locationX>
        <locationY>341</locationY>
        <assignmentItems>
            <assignToReference>$Record.First_Account_Assigned_At__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Needs_Account_Reparenting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_to_Customer</name>
        <label>Set to Customer</label>
        <locationX>1501</locationX>
        <locationY>640</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Customer</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Updated_creator_email_type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_to_internal</name>
        <label>Set to internal</label>
        <locationX>1503</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>$Record.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0015A00002NSnxVQAT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Business_Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Partner_Relationship__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Updated_creator_email_type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Uncheck_needs_reparenting</name>
        <label>Uncheck needs reparenting</label>
        <locationX>3578</locationX>
        <locationY>472</locationY>
        <assignmentItems>
            <assignToReference>$Record.Needs_Account_Reparenting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Uncheck_trigger</name>
        <label>Uncheck trigger</label>
        <locationX>866</locationX>
        <locationY>479</locationY>
        <assignmentItems>
            <assignToReference>$Record.Trigger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Org_is</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_org_account</name>
        <label>Update org account / BU</label>
        <locationX>2706</locationX>
        <locationY>538</locationY>
        <assignmentItems>
            <assignToReference>$Record.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Retool_License__r.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Business_Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Retool_License__r.Business_Unit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Partner_Relationship__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Retool_License__r.Partner_Relationship__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Retool_License__r.Status__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_org_name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_org_account_0</name>
        <label>Update org account</label>
        <locationX>2706</locationX>
        <locationY>658</locationY>
        <assignmentItems>
            <assignToReference>$Record.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Business_Unit__r.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Customer</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Partner_Relationship__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Set_org_name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_org_account_0_0</name>
        <label>Update org account</label>
        <locationX>2707</locationX>
        <locationY>343</locationY>
        <assignmentItems>
            <assignToReference>$Record.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity__r.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Business_Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity__r.Business_Unit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Customer</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Partner_Relationship__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Set_org_name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_org_account_0_0_0</name>
        <label>Update org account</label>
        <locationX>2706</locationX>
        <locationY>953</locationY>
        <assignmentItems>
            <assignToReference>$Record.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Partner_Relationship__r.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Partner</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Business_Unit__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Opportunity__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Set_org_name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_org_account_and_BU_0</name>
        <label>Update org account and BU from parent</label>
        <locationX>2711</locationX>
        <locationY>1161</locationY>
        <assignmentItems>
            <assignToReference>$Record.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Parent_Org__r.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Business_Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Parent_Org__r.Business_Unit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Parent_Org__r.Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Partner_Relationship__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Parent_Org__r.Partner_Relationship__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Parent_Org__r.Status__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_org_name</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_changed</name>
        <label>Account changed?</label>
        <locationX>3409</locationX>
        <locationY>476</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_chg</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Uncheck_needs_reparenting</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_domain_map</name>
        <label>Found domain map?</label>
        <locationX>2002</locationX>
        <locationY>328</locationY>
        <defaultConnector>
            <targetReference>Clear_Creator_Email_Domain_Map</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_found_map</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_domain_map</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_creator_email_Domain_Map</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Moved_out_of_orphan_orgs</name>
        <label>Moved out of orphan orgs</label>
        <locationX>3113</locationX>
        <locationY>476</locationY>
        <defaultConnector>
            <targetReference>Account_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_moved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0016e00002asz8xAAA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0016e00002asz8xAAA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_parent_timestamp</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Org_is</name>
        <label>Org is</label>
        <locationX>1046</locationX>
        <locationY>481</locationY>
        <defaultConnector>
            <targetReference>Status_is</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_account_to_orphan_orgs</targetReference>
            </connector>
            <label>New and no account ID</label>
        </rules>
    </decisions>
    <decisions>
        <name>Org_mapped_to</name>
        <label>Org mapped to</label>
        <locationX>2429</locationX>
        <locationY>483</locationY>
        <defaultConnector>
            <targetReference>Set_org_name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Parent_Org</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent_Org__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_org_account_and_BU_0</targetReference>
            </connector>
            <label>Parent Org</label>
        </rules>
        <rules>
            <name>Yes_with_opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Retool_License__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Retool_License__r.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_org_account</targetReference>
            </connector>
            <label>License</label>
        </rules>
        <rules>
            <name>Directly_to_opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_org_account_0_0</targetReference>
            </connector>
            <label>Directly to opp</label>
        </rules>
        <rules>
            <name>Directly_to_BU</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Unit__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_org_account_0</targetReference>
            </connector>
            <label>Directly to BU</label>
        </rules>
        <rules>
            <name>Partner_Relationship</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Partner_Relationship__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_org_account_0_0_0</targetReference>
            </connector>
            <label>Partner Relationship</label>
        </rules>
        <rules>
            <name>Orphan_account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__r.Is_Orphan_Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_needs_reparenting</targetReference>
            </connector>
            <label>Orphan account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Route_to_domain_map_account</name>
        <label>Route to domain map account?</label>
        <locationX>2298</locationX>
        <locationY>221</locationY>
        <defaultConnector>
            <targetReference>Org_mapped_to</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_orphan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__r.Is_Orphan_Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_domain_map.Matched_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Route_org_to_account</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_is</name>
        <label>Status is</label>
        <locationX>1352</locationX>
        <locationY>484</locationY>
        <defaultConnector>
            <targetReference>Updated_creator_email_type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_to_Customer</targetReference>
            </connector>
            <label>Blank</label>
        </rules>
        <rules>
            <name>Internal</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Internal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__r.Is_Retool_Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_to_internal</targetReference>
            </connector>
            <label>Internal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Updated_creator_email_type</name>
        <label>Updated creator email type</label>
        <locationX>1672</locationX>
        <locationY>483</locationY>
        <defaultConnector>
            <targetReference>Org_mapped_to</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_update_domain_type</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Creator_Email_Domain_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Creator_Email_Domain_Clean__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Creator_Email_Domain_Map_Matched_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Creator_Email_Domain_Map__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_domain_map</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Update standard name for spaces</description>
    <environments>Default</environments>
    <formulas>
        <name>Org_name</name>
        <dataType>String</dataType>
        <expression>LEFT(IF(ISBLANK({!$Record.Account__r.Account_Name_Short__c}),{!$Record.Account__r.Name},{!$Record.Account__r.Account_Name_Short__c}),40) &amp; 
&quot; - &quot;&amp;TEXT({!$Record.Hosting_Style__c})&amp;&quot; &quot;
&amp;IF(
 {!$Record.Space_Type__c} = &quot;child&quot;,
 TEXT(MONTH(DATEVALUE({!$Record.Parent_Org__r.Created_At__c})))&amp;&quot;/&quot;&amp;TEXT(YEAR(DATEVALUE({!$Record.Parent_Org__r.Created_At__c})))&amp;&quot; [C]&quot;,
 TEXT(MONTH(DATEVALUE({!$Record.Created_At__c})))&amp;&quot;/&quot;&amp;TEXT(YEAR(DATEVALUE({!$Record.Created_At__c})))
)
&amp;IF({!$Record.Is_archived__c},&quot; [A]&quot;,NULL)</expression>
    </formulas>
    <interviewLabel>Retool Org - Automations {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Retool Org - Before Save Automations</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_domain_map</name>
        <label>Get domain map</label>
        <locationX>1861</locationX>
        <locationY>399</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_domain_map</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Creator_Email_Domain_Clean__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Domain_Map__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>502</locationX>
        <locationY>407</locationY>
        <connector>
            <targetReference>Uncheck_trigger</targetReference>
        </connector>
        <object>Retool_Org__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
