unpackaged/main/default/flows/Retool_Org_Update_After_Save_Automations.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Orphaned_license_key</name>
        <label>Orphaned license key?</label>
        <locationX>909</locationX>
        <locationY>800</locationY>
        <defaultConnector>
            <targetReference>Previous_Account_Orphan_Orgs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_c</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Retool_License__r.Account__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_license_key_account</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Orphan Orgs = 0016e00002asz8xAAA</description>
        <name>Previous_Account_Orphan_Orgs</name>
        <label>Previous Account Orphan Orgs?</label>
        <locationX>1303</locationX>
        <locationY>798</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Orphan_Orgs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0016e00002asz8xAAA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0016e00002asz8xAAA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Users_of_Org</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_child_orgs</name>
        <label>Update child orgs?</label>
        <locationX>531</locationX>
        <locationY>790</locationY>
        <defaultConnector>
            <targetReference>Orphaned_license_key</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>(1 OR 2 OR 4) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Unit__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Space_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>admin</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Partner_Relationship__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_child_orgsf</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Were_users_found</name>
        <label>Were users found?</label>
        <locationX>1622</locationX>
        <locationY>587</locationY>
        <defaultConnector>
            <targetReference>Update_contacts_of_Users</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Users Found</defaultConnectorLabel>
        <rules>
            <name>No_Users_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Users_of_Org</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No Users Found</label>
        </rules>
    </decisions>
    <description>Added routing for SSOP</description>
    <environments>Default</environments>
    <interviewLabel>Retool Org - Update After Save Automations {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Retool Org - Update After Save Automations</label>
    <loops>
        <name>Update_contacts_of_Users</name>
        <label>Update contacts of Users</label>
        <locationX>1633</locationX>
        <locationY>802</locationY>
        <collectionReference>Get_Users_of_Org</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Contacts_of_the_Org_s_New_Account</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Users_of_Org</name>
        <label>Get Users of Org</label>
        <locationX>1453</locationX>
        <locationY>589</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Were_users_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Retool_Org__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Retool_User__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_child_orgsf</name>
        <label>Update child orgs</label>
        <locationX>725</locationX>
        <locationY>658</locationY>
        <connector>
            <targetReference>Orphaned_license_key</targetReference>
        </connector>
        <inputAssignments>
            <field>Trigger__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Child_Orgs__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contacts_of_the_Org_s_New_Account</name>
        <label>Update Contacts of the Org&#39;s New Account</label>
        <locationX>1886</locationX>
        <locationY>803</locationY>
        <connector>
            <targetReference>Update_contacts_of_Users</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Update_contacts_of_Users.Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0016e00002asz8xAAA</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_license_key_account</name>
        <label>Update license key account</label>
        <locationX>1037</locationX>
        <locationY>660</locationY>
        <connector>
            <targetReference>Previous_Account_Orphan_Orgs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Retool_License__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <object>Retool_License__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>683</locationY>
        <connector>
            <targetReference>Update_child_orgs</targetReference>
        </connector>
        <filterFormula>ISCHANGED({!$Record.Account__c}) || 
ISCHANGED({!$Record.Business_Unit__c}) || 
(
  NOT(ISBLANK({!$Record.Retool_License__c})) &amp;&amp; ISBLANK({!$Record.Retool_License__r.Account__c})
)</filterFormula>
        <object>Retool_Org__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
