unpackaged/main/default/flows/Retool_Org_Reparent_Button.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <choices>
        <name>choice_customer</name>
        <choiceText>&lt;strong&gt;Customer&lt;/strong&gt; (used by a current Retool customer)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Customer</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_internal</name>
        <choiceText>&lt;strong&gt;Internal&lt;/strong&gt; (used solely by Retool employees for internal or testing purposes)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Internal</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_partner</name>
        <choiceText>&lt;strong&gt;Partner&lt;/strong&gt; (used by a Retool partner)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Partner</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_for</name>
        <label>Check for</label>
        <locationX>613</locationX>
        <locationY>975</locationY>
        <defaultConnector>
            <targetReference>Or_gis</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Pass</defaultConnectorLabel>
        <rules>
            <name>Churned_Business_Unit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_business_unit.BU_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Churned</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>warning_churned_BU</targetReference>
            </connector>
            <label>Churned Business Unit</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_0</name>
        <label>Check for</label>
        <locationX>1052</locationX>
        <locationY>1441</locationY>
        <defaultConnector>
            <targetReference>Status_choice_is_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Pass</defaultConnectorLabel>
        <rules>
            <name>Missing_Retool_License</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Retool_License__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Invalid_Org_Data_0</targetReference>
            </connector>
            <label>Missing Retool License</label>
        </rules>
    </decisions>
    <decisions>
        <name>Or_gis</name>
        <label>Org is</label>
        <locationX>747</locationX>
        <locationY>1587</locationY>
        <defaultConnector>
            <targetReference>Error_Invalid_Org_Data</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Cloud</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Hosting_Style__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cloud</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_choice_is</targetReference>
            </connector>
            <label>Cloud</label>
        </rules>
        <rules>
            <name>Self_hosted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Hosting_Style__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Premise</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_0</targetReference>
            </connector>
            <label>Self-hosted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_choice_is</name>
        <label>Status choice is</label>
        <locationX>260</locationX>
        <locationY>1581</locationY>
        <defaultConnector>
            <targetReference>Error_Invalid_Org_Data</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Internal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>screen_select_status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_internal</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Orgs_cloud_internal</targetReference>
            </connector>
            <label>Internal</label>
        </rules>
        <rules>
            <name>Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>screen_select_status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_customer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Orgs_cloud_customer</targetReference>
            </connector>
            <label>Customer</label>
        </rules>
        <rules>
            <name>Partner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>screen_select_status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_partner</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Orgs_cloud_partner</targetReference>
            </connector>
            <label>Partner</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_choice_is_0</name>
        <label>Status choice is</label>
        <locationX>745</locationX>
        <locationY>549</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Internal_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>screen_select_status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_internal</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Retool_Account</targetReference>
            </connector>
            <label>Internal</label>
        </rules>
        <rules>
            <name>Customer_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>screen_select_status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_customer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_business_unit</targetReference>
            </connector>
            <label>Customer</label>
        </rules>
        <rules>
            <name>Partner_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>screen_select_status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_partner</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Partner_Relationship</targetReference>
            </connector>
            <label>Partner</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_choice_is_0_0</name>
        <label>Status choice is</label>
        <locationX>1144</locationX>
        <locationY>1588</locationY>
        <defaultConnector>
            <targetReference>Error_Invalid_Org_Data</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Internal_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>screen_select_status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_internal</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_license_key_internal</targetReference>
            </connector>
            <label>Internal</label>
        </rules>
        <rules>
            <name>Customer_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>screen_select_status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_customer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_license_key_customer</targetReference>
            </connector>
            <label>Customer</label>
        </rules>
        <rules>
            <name>Partner_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>screen_select_status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_partner</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_license_key_partner</targetReference>
            </connector>
            <label>Partner</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Retool Org - Reparent Button {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Retool Org - Reparent Button</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_business_unit</name>
        <label>Get business unit</label>
        <locationX>619</locationX>
        <locationY>753</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>choice_business_unit.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Business_Unit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Partner_Relationship</name>
        <label>Get Partner Relationship</label>
        <locationX>906</locationX>
        <locationY>753</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Or_gis</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>choice_partner_relationship.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Partner_Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Retool_Account</name>
        <label>Get Retool Account</label>
        <locationX>756</locationX>
        <locationY>771</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Or_gis</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_Retool_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_license_key_customer</name>
        <label>Update license key (customer)</label>
        <locationX>1158</locationX>
        <locationY>1907</locationY>
        <connector>
            <targetReference>Update_Orgs_cloud_customer_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Retool_License__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_business_unit.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Unit__c</field>
            <value>
                <elementReference>Get_business_unit.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_Relationship__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Customer</stringValue>
            </value>
        </inputAssignments>
        <object>Retool_License__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_license_key_internal</name>
        <label>Update license key (internal)</label>
        <locationX>990</locationX>
        <locationY>1902</locationY>
        <connector>
            <targetReference>Update_Orgs_cloud_internal_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Retool_License__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Retool_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Unit__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_Relationship__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </inputAssignments>
        <object>Retool_License__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_license_key_partner</name>
        <label>Update license key (partner)</label>
        <locationX>1341</locationX>
        <locationY>1894</locationY>
        <connector>
            <targetReference>Update_Orgs_cloud_partner_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Retool_License__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Partner_Relationship.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Unit__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_Relationship__c</field>
            <value>
                <elementReference>Get_Partner_Relationship.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Partner</stringValue>
            </value>
        </inputAssignments>
        <object>Retool_License__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Orgs_cloud_customer</name>
        <label>Update Orgs (cloud - customer)</label>
        <locationX>276</locationX>
        <locationY>1931</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Hierarchy_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Hierarchy_ID__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_business_unit.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Unit__c</field>
            <value>
                <elementReference>Get_business_unit.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_Relationship__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Customer</stringValue>
            </value>
        </inputAssignments>
        <object>Retool_Org__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Orgs_cloud_customer_0</name>
        <label>Update Orgs (cloud - customer)</label>
        <locationX>1160</locationX>
        <locationY>2105</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Retool_License__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Retool_License__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_business_unit.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Unit__c</field>
            <value>
                <elementReference>Get_business_unit.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_Relationship__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Customer</stringValue>
            </value>
        </inputAssignments>
        <object>Retool_Org__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Orgs_cloud_internal</name>
        <label>Update Orgs (cloud - internal)</label>
        <locationX>101</locationX>
        <locationY>1933</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Hierarchy_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Hierarchy_ID__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Retool_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Unit__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_Relationship__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </inputAssignments>
        <object>Retool_Org__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Orgs_cloud_internal_0</name>
        <label>Update Orgs (cloud - internal)</label>
        <locationX>988</locationX>
        <locationY>2107</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Retool_License__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Retool_License__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Retool_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Unit__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_Relationship__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </inputAssignments>
        <object>Retool_Org__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Orgs_cloud_partner</name>
        <label>Update Orgs (cloud - partner)</label>
        <locationX>438</locationX>
        <locationY>1935</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Hierarchy_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Hierarchy_ID__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Partner_Relationship.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Unit__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_Relationship__c</field>
            <value>
                <elementReference>Get_Partner_Relationship.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Partner</stringValue>
            </value>
        </inputAssignments>
        <object>Retool_Org__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Orgs_cloud_partner_0</name>
        <label>Update Orgs (cloud - partner)</label>
        <locationX>1346</locationX>
        <locationY>2107</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Retool_License__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Retool_License__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Partner_Relationship.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Unit__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_Relationship__c</field>
            <value>
                <elementReference>Get_Partner_Relationship.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Partner</stringValue>
            </value>
        </inputAssignments>
        <object>Retool_Org__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Error_Invalid_Org_Data</name>
        <label>Error: Invalid Org Data</label>
        <locationX>751</locationX>
        <locationY>1779</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <backButtonLabel>Go back</backButtonLabel>
        <fields>
            <name>warning_churn_0</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Error: &lt;/strong&gt;Invalid Org Data. Tell Jon you got this&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Confirm</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Invalid_Org_Data_0</name>
        <label>Error: Invalid Org Data</label>
        <locationX>1419</locationX>
        <locationY>1399</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <backButtonLabel>Go back</backButtonLabel>
        <fields>
            <name>warning_churn_0_0</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Error:&lt;/strong&gt; Self hosted org missing Retool License.  Tell Jon you got this&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Confirm</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Reparent_Retool_Orgs</name>
        <label>Reparent Retool Orgs</label>
        <locationX>757</locationX>
        <locationY>381</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Status_choice_is_0</targetReference>
        </connector>
        <fields>
            <name>screen_select_status</name>
            <choiceReferences>choice_internal</choiceReferences>
            <choiceReferences>choice_customer</choiceReferences>
            <choiceReferences>choice_partner</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>recordId.Status__c</elementReference>
            </defaultValue>
            <fieldText>Select a category that most applies to this Retool Org:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Configure_Mappiong_customer</name>
            <fieldText>Configure Customer Mapping:</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Configure_Mappiong_customer_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>choice_business_unit</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Business_Unit__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Select a Business Unit:</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Retool_Org__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>recordId.Business_Unit__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>screen_select_status</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_customer</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Configure_Partner_Mapping</name>
            <fieldText>Configure Partner Mapping</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Configure_Partner_Mapping_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>choice_partner_relationship</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Partner_Relationship__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Select a Partner Relationship:</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Retool_Org__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>recordId.Partner_Relationship__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>screen_select_status</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_partner</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>warning_churned_BU</name>
        <label>Warning: Churned BU</label>
        <locationX>356</locationX>
        <locationY>982</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <backButtonLabel>Go back</backButtonLabel>
        <fields>
            <name>warning_churn</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;WARNING: &lt;/strong&gt;You are attempting to reparent this Retool Org to a churned Business Unit. Are you sure?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Confirm</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>633</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Reparent_Retool_Orgs</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Retool_Org__c</objectType>
    </variables>
</Flow>
