unpackaged/main/default/flows/Role_Ramp_Push_to_Goals.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Add_to_collection</name>
        <label>Add to collection</label>
        <locationX>803</locationX>
        <locationY>1156</locationY>
        <assignmentItems>
            <assignToReference>goals_to_Update</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_goals_to_update</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_goals_to_update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_ramp_automation</name>
        <label>Update ramp automation</label>
        <locationX>823</locationX>
        <locationY>930</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_goals_to_update.Ramp_Automation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Found_goals</name>
        <label>Found goals?</label>
        <locationX>497</locationX>
        <locationY>634</locationY>
        <defaultConnector>
            <targetReference>No_Goals_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_applicable_goals</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Review_Found_Goals</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>choice_ramp_automations</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Ramp_Automation__c</picklistField>
        <picklistObject>Goal__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Role Ramp - Push to Goals {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Role Ramp - Push to Goals</label>
    <loops>
        <name>Loop_through_goals_to_update</name>
        <label>Loop through goals to update</label>
        <locationX>489</locationX>
        <locationY>1075</locationY>
        <collectionReference>filtered_goals</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_ramp_automation</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_goals</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_applicable_goals</name>
        <label>Get applicable goals</label>
        <locationX>510</locationX>
        <locationY>426</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_goals</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Individual</stringValue>
            </value>
        </filters>
        <filters>
            <field>Assignee_Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.User_Role__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Period_Start__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>recordId.Start_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Period_End__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>recordId.End_Date__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Goal__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_goals</name>
        <label>Update goals</label>
        <locationX>491</locationX>
        <locationY>1301</locationY>
        <inputReference>goals_to_Update</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>No_Goals_Found</name>
        <label>No Goals Found</label>
        <locationX>775</locationX>
        <locationY>634</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_none_found</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Error:&lt;/strong&gt; No goals found for users in role {!recordId.User_Role__c} between&lt;/p&gt;&lt;p&gt;{!recordId.Start_Date__c} and {!recordId.End_Date__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Review_Found_Goals</name>
        <label>Review Found Goals</label>
        <locationX>500</locationX>
        <locationY>896</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_through_goals_to_update</targetReference>
        </connector>
        <fields>
            <name>Review_Found_Goals_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Review_Found_Goals_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>header</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Ramp Type: &lt;/strong&gt;{!recordId.Type__c}&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Role Name:&lt;/strong&gt; {!recordId.User_Role__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Review_Found_Goals_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Found_Goal_Table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Goal__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Matching Goals Found:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_applicable_goals</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Assignee_Name__c&quot;,&quot;guid&quot;:&quot;column-460e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Assignee Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Period_Start__c&quot;,&quot;guid&quot;:&quot;column-33e0&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Month&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Period Start&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;Month_Index_All_Roles__c&quot;,&quot;guid&quot;:&quot;column-8cba&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Index (All)&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Month Index (All Roles)&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Month_Index_Current_Role__c&quot;,&quot;guid&quot;:&quot;column-797d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Index (Current)&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Month Index (Current Role)&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;SQO_Goal__c&quot;,&quot;guid&quot;:&quot;column-0e8f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;SQO Goal&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;SQO Goal&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;New_Annualized_Revenue_Goal__c&quot;,&quot;guid&quot;:&quot;column-0481&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;New AR Goal&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;New Annualized Revenue Goal&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Renewal_Rate_Goal_QTD__c&quot;,&quot;guid&quot;:&quot;column-fb1a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;RR Goal&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:6,&quot;label&quot;:&quot;Renewal Rate Goal (QTD)&quot;,&quot;type&quot;:&quot;customPercent&quot;},{&quot;apiName&quot;:&quot;Expansion_Rate_Goal_QTD__c&quot;,&quot;guid&quot;:&quot;column-b51e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Exp Goal&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:7,&quot;label&quot;:&quot;Expansion Rate Goal (QTD)&quot;,&quot;type&quot;:&quot;customPercent&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>filtered_goals</assignToReference>
                <name>selectedRows</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>383</locationX>
        <locationY>214</locationY>
        <connector>
            <targetReference>Get_applicable_goals</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>filtered_goals</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Goal__c</objectType>
    </variables>
    <variables>
        <name>goals_to_Update</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Goal__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Role_Ramp__c</objectType>
    </variables>
</Flow>
