unpackaged/main/default/flows/Scheduled_Weekly_Rep_Quarterly_Call.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Is_notification_globally_enabled</name>
        <label>Is notification globally enabled?</label>
        <locationX>995</locationX>
        <locationY>234</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_notification_setting.Is_Enabled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_all_AE_current_goals</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_sandbox</name>
        <label>Is sandbox?</label>
        <locationX>625</locationX>
        <locationY>223</locationY>
        <defaultConnector>
            <targetReference>Get_notification_setting</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Production</defaultConnectorLabel>
        <rules>
            <name>Sandbox</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_organization.IsSandbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Sandbox</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_notification</name>
        <label>Send notification?</label>
        <locationX>1861</locationX>
        <locationY>133</locationY>
        <defaultConnector>
            <targetReference>Loop_through_AE_goals</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_send</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_AE_goals.Assignee__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_AE_goals.Assignee__r.Slack_Notifications_Pipeline__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>All</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_notification_to_rep</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Scheduled: Weekly Rep Quarterly Call {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Scheduled: Weekly Rep Quarterly Call</label>
    <loops>
        <name>Loop_through_AE_goals</name>
        <label>Loop through AE goals</label>
        <locationX>1564</locationX>
        <locationY>233</locationY>
        <collectionReference>Get_all_AE_current_goals</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Send_notification</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_all_AE_current_goals</name>
        <label>Get all AE current goals</label>
        <locationX>1333</locationX>
        <locationY>233</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_AE_goals</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Team__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account Executives</stringValue>
            </value>
        </filters>
        <filters>
            <field>Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IC</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Individual</stringValue>
            </value>
        </filters>
        <filters>
            <field>Is_Current_Month_Goal__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Goal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_notification_setting</name>
        <label>Get notification setting</label>
        <locationX>850</locationX>
        <locationY>221</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_notification_globally_enabled</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rep_Weekly_Quarter_Call</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Notification_Setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_organization</name>
        <label>Get organization</label>
        <locationX>489</locationX>
        <locationY>221</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_sandbox</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Organization</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>75</locationX>
        <locationY>161</locationY>
        <connector>
            <targetReference>Get_organization</targetReference>
        </connector>
        <object>Organization</object>
        <schedule>
            <frequency>Weekly</frequency>
            <startDate>2022-12-12</startDate>
            <startTime>04:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Send_notification_to_rep</name>
        <label>Send notification to rep</label>
        <locationX>2066</locationX>
        <locationY>238</locationY>
        <connector>
            <targetReference>Loop_through_AE_goals</targetReference>
        </connector>
        <flowName>Notification_Weekly_Rep_Quarterly_Call</flowName>
        <inputAssignments>
            <name>notification_setting</name>
            <value>
                <elementReference>Get_notification_setting</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>slack_destination_id</name>
            <value>
                <elementReference>Loop_through_AE_goals.Assignee__r.Slack_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>target_user_goal</name>
            <value>
                <elementReference>Loop_through_AE_goals</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
