unpackaged/main/default/flows/Scheduled_Rep_Forecast_Calls.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_Best_Case_Rollups</name>
        <label>Assign Best Case Rollups</label>
        <locationX>440</locationX>
        <locationY>2508</locationY>
        <assignmentItems>
            <assignToReference>BestCase</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Best_Case.Forecast_New_AR__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Best_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Commit_Rollups</name>
        <label>Assign Commit Rollups</label>
        <locationX>440</locationX>
        <locationY>1908</locationY>
        <assignmentItems>
            <assignToReference>Commit</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Commits.Forecast_New_AR__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Commits</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Users_To_Collection</name>
        <label>Assign Users To Collection</label>
        <locationX>264</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>UserIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Forecast_Calls.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Forecast_Calls</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Won_Rollups</name>
        <label>Assign Won Rollups</label>
        <locationX>440</locationX>
        <locationY>1308</locationY>
        <assignmentItems>
            <assignToReference>WonAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Won.Forecast_New_AR__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Won</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Best_Case</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Best Case</label>
        <locationX>460</locationX>
        <locationY>2184</locationY>
        <assignNextValueToReference>currentItem_Filter_Commits</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Opportunities</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Commits.Forecast_Category_Plus__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Best Case</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Commits.Forecast_New_AR__c</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Found_Best_Case</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Commits</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Commits</label>
        <locationX>460</locationX>
        <locationY>1584</locationY>
        <assignNextValueToReference>currentItem_Filter_Commits</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Opportunities</collectionReference>
        <conditionLogic>(1 OR 2) AND 3</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Commits.Forecast_Category_Plus__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Call</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Commits.Forecast_Category_Plus__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Commit</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Commits.Forecast_New_AR__c</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Found_Commits</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Won</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Won</label>
        <locationX>460</locationX>
        <locationY>984</locationY>
        <assignNextValueToReference>currentItem_Filter_Won</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Opportunities</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Won.Forecast_Category_Plus__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Closed</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Found_Won</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Call_Found</name>
        <label>Call Found?</label>
        <locationX>460</locationX>
        <locationY>3000</locationY>
        <defaultConnector>
            <targetReference>Create_Forecast_Call</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Previous_Week_Forecast_Calls</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_Last_Week_s_Forecast_Call</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Best_Case</name>
        <label>Found Best Case?</label>
        <locationX>460</locationX>
        <locationY>2292</locationY>
        <defaultConnector>
            <targetReference>Wait_For_1_Min</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Best Case Found</defaultConnectorLabel>
        <rules>
            <name>Best_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Filter_Best_Case</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Best_Case</targetReference>
            </connector>
            <label>Best Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Commits</name>
        <label>Found Commits?</label>
        <locationX>460</locationX>
        <locationY>1692</locationY>
        <defaultConnector>
            <targetReference>Filter_Best_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Commits Found</defaultConnectorLabel>
        <rules>
            <name>Commits</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Filter_Commits</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Commits</targetReference>
            </connector>
            <label>Commits</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Won</name>
        <label>Found Won?</label>
        <locationX>460</locationX>
        <locationY>1092</locationY>
        <defaultConnector>
            <targetReference>Filter_Commits</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Won Found</defaultConnectorLabel>
        <rules>
            <name>Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Filter_Won</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Won</targetReference>
            </connector>
            <label>Won</label>
        </rules>
    </decisions>
    <description>test</description>
    <environments>Default</environments>
    <formulas>
        <name>BestCasePlug</name>
        <dataType>Currency</dataType>
        <expression>{!Get_Previous_Week_Forecast_Calls.New_Annualized_Revenue_Best_Case__c}-({!BestCase}+{!Commit}+{!WonAmount})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CallPlug</name>
        <dataType>Currency</dataType>
        <expression>{!Get_Previous_Week_Forecast_Calls.New_Annualized_Revenue_Call__c}-{!Commit}+{!WonAmount})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>LastWeekStart</name>
        <dataType>Date</dataType>
        <expression>TODAY() - CASE(MOD(WEEKDAY(TODAY()) - 1, 7),
0, 0,
1, 1,
2, 2,
3, 3,
4, 4,
5, 5,
6, 6,
NULL
) - 7</expression>
    </formulas>
    <formulas>
        <name>NewARBestCase</name>
        <dataType>Currency</dataType>
        <expression>{!BestCase}+{!Commit}+{!WonAmount}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>NewARCall</name>
        <dataType>Currency</dataType>
        <expression>{!Commit}+{!WonAmount}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ThisQuarterEnd</name>
        <dataType>Date</dataType>
        <expression>DATE(
    YEAR(TODAY()),
    CASE(
        FLOOR((MONTH(TODAY()) - 1) / 3) + 1,
        1, 3,
        2, 6,
        3, 9,
        4, 12,
        12
    ),
    CASE(
        FLOOR((MONTH(TODAY()) - 1) / 3) + 1,
        1, 31,
        2, 30,
        3, 30,
        4, 31,
        31
    )
)</expression>
    </formulas>
    <formulas>
        <name>ThisQuarterStart</name>
        <dataType>Date</dataType>
        <expression>DATE(
    YEAR(TODAY()),
    CASE(
        FLOOR((MONTH(TODAY()) - 1) / 3) + 1,
        1, 1,
        2, 4,
        3, 7,
        4, 10,
        1
    ),
    1
)</expression>
    </formulas>
    <formulas>
        <name>ThisWeekStart</name>
        <dataType>Date</dataType>
        <expression>TODAY() - CASE(MOD(WEEKDAY(TODAY()) - 1, 7),
0, 0,
1, 1,
2, 2,
3, 3,
4, 4,
5, 5,
6, 6,
NULL
)</expression>
    </formulas>
    <interviewLabel>Scheduled - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Scheduled: Rep Forecast Calls</label>
    <loops>
        <name>Loop_Through_Best_Case</name>
        <label>Loop Through Best Case</label>
        <locationX>352</locationX>
        <locationY>2400</locationY>
        <collectionReference>Filter_Best_Case</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Best_Case_Rollups</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Wait_For_1_Min</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Commits</name>
        <label>Loop Through Commits</label>
        <locationX>352</locationX>
        <locationY>1800</locationY>
        <collectionReference>Filter_Commits</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Commit_Rollups</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Filter_Best_Case</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Forecast_Calls</name>
        <label>Loop Through Forecast Calls</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <collectionReference>Get_Forecast_Calls</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Users_To_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_User_IDs_By_Missing_Calls</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_User_IDs</name>
        <label>Loop Through User IDs</label>
        <locationX>176</locationX>
        <locationY>768</locationY>
        <collectionReference>Get_User_IDs_By_Missing_Calls</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Opportunities</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_Through_Won</name>
        <label>Loop Through Won</label>
        <locationX>352</locationX>
        <locationY>1200</locationY>
        <collectionReference>Filter_Won</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Won_Rollups</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Filter_Commits</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_Last_Week_s_Forecast_Call</name>
        <label>Copy Last Week&#39;s Forecast Call</label>
        <locationX>328</locationX>
        <locationY>3108</locationY>
        <connector>
            <targetReference>Loop_Through_User_IDs</targetReference>
        </connector>
        <inputAssignments>
            <field>Best_Case_Notes__c</field>
            <value>
                <stringValue>[Missing Call - Automatically Created By RevOps]</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Call_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Forecast_Period__c</field>
            <value>
                <elementReference>ThisQuarterStart</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Annualized_Revenue_Best_Case__c</field>
            <value>
                <elementReference>Get_Previous_Week_Forecast_Calls.New_Annualized_Revenue_Best_Case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Annualized_Revenue_Call__c</field>
            <value>
                <elementReference>Get_Previous_Week_Forecast_Calls.New_Annualized_Revenue_Call__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <stringValue>[Missing Call - Automatically Created By RevOps]</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Loop_Through_User_IDs.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Plug_Best_Case__c</field>
            <value>
                <elementReference>BestCasePlug</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Plug_Call__c</field>
            <value>
                <elementReference>CallPlug</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Quarter</stringValue>
            </value>
        </inputAssignments>
        <object>Forecast_Call__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Forecast_Call</name>
        <label>Create Forecast Call</label>
        <locationX>592</locationX>
        <locationY>3108</locationY>
        <connector>
            <targetReference>Loop_Through_User_IDs</targetReference>
        </connector>
        <inputAssignments>
            <field>Best_Case_Notes__c</field>
            <value>
                <stringValue>[Missing Call - Automatically Created By RevOps]</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Call_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Forecast_Period__c</field>
            <value>
                <elementReference>ThisQuarterStart</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Annualized_Revenue_Best_Case__c</field>
            <value>
                <elementReference>BestCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Annualized_Revenue_Call__c</field>
            <value>
                <elementReference>NewARCall</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <stringValue>[Missing Call - Automatically Created By RevOps]</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Loop_Through_User_IDs.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Plug_Best_Case__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Plug_Call__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Quarter</stringValue>
            </value>
        </inputAssignments>
        <object>Forecast_Call__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Forecast_Calls</name>
        <label>Get Forecast Calls</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Forecast_Calls</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3) AND 4</filterLogic>
        <filters>
            <field>Call_Date_Week_Start__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ThisWeekStart</elementReference>
            </value>
        </filters>
        <filters>
            <field>Team__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account Executives</stringValue>
            </value>
        </filters>
        <filters>
            <field>Team__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sales Account Management</stringValue>
            </value>
        </filters>
        <filters>
            <field>Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IC</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Forecast_Call__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunities</name>
        <label>Get Opportunities</label>
        <locationX>460</locationX>
        <locationY>876</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_Won</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND 4 AND 5 AND 6 AND 7</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Through_User_IDs.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Booking_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>ThisQuarterStart</elementReference>
            </value>
        </filters>
        <filters>
            <field>Booking_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>ThisQuarterEnd</elementReference>
            </value>
        </filters>
        <filters>
            <field>Booking_Channel_Annualized_Revenue__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Pilot</stringValue>
            </value>
        </filters>
        <filters>
            <field>Booking_Channel_Annualized_Revenue__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Partner</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>0016e00002i7Mf8AAE</stringValue>
            </value>
        </filters>
        <filters>
            <field>Rep_Attainment_Ignore__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Forecast_New_AR__c</queriedFields>
        <queriedFields>Forecast_Category_Plus__c</queriedFields>
        <queriedFields>StageName</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Sales_Manager__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Booking_Date__c</queriedFields>
        <queriedFields>CloseDate</queriedFields>
        <queriedFields>Booking_Channel_Annualized_Revenue__c</queriedFields>
        <queriedFields>Probability</queriedFields>
        <queriedFields>Expected_Forecast_New_AR__c</queriedFields>
        <queriedFields>Amount</queriedFields>
        <queriedFields>Renewal_Baseline_ARR__c</queriedFields>
        <queriedFields>Renewal_Target_Close_Date__c</queriedFields>
        <queriedFields>Total_Logos__c</queriedFields>
        <queriedFields>Expected_Logos__c</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>Subtype__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Previous_Week_Forecast_Calls</name>
        <label>Get Previous Week Forecast Calls</label>
        <locationX>460</locationX>
        <locationY>2892</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Call_Found</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3) AND 4 AND 5</filterLogic>
        <filters>
            <field>Call_Date_Week_Start__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LastWeekStart</elementReference>
            </value>
        </filters>
        <filters>
            <field>Team__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account Executives</stringValue>
            </value>
        </filters>
        <filters>
            <field>Team__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sales Account Management</stringValue>
            </value>
        </filters>
        <filters>
            <field>Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IC</stringValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Through_User_IDs.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Forecast_Call__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_IDs_By_Missing_Calls</name>
        <label>Get User IDs By Missing Calls</label>
        <locationX>176</locationX>
        <locationY>660</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_User_IDs</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3) AND 4 AND 5 AND 6</filterLogic>
        <filters>
            <field>Department__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sales</stringValue>
            </value>
        </filters>
        <filters>
            <field>Team__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account Executives</stringValue>
            </value>
        </filters>
        <filters>
            <field>Team__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sales Account Management</stringValue>
            </value>
        </filters>
        <filters>
            <field>Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IC</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>UserIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Forecast_Calls</targetReference>
        </connector>
        <schedule>
            <frequency>Weekly</frequency>
            <startDate>2024-05-21</startDate>
            <startTime>23:45:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>InvalidDraft</status>
    <variables>
        <name>BestCase</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Commit</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>currentItem_Collection_Filter_1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Forecast_Call__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Commits</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Won</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>MissingCallUserIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WonAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <waits>
        <name>Wait_For_1_Min</name>
        <elementSubtype>WaitDuration</elementSubtype>
        <label>Wait For 1 Min</label>
        <locationX>460</locationX>
        <locationY>2784</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Get_Previous_Week_Forecast_Calls</targetReference>
            </connector>
            <label>el_0</label>
            <offset>1</offset>
            <offsetUnit>Minutes</offsetUnit>
        </waitEvents>
    </waits>
</Flow>
