unpackaged/main/default/flows/Sequence_Definition_Before_Save_Automations.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Clear_assignee_attribution</name>
        <label>Clear assignee attribution</label>
        <locationX>1072</locationX>
        <locationY>540</locationY>
        <assignmentItems>
            <assignToReference>$Record.Assignee_Role__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Assignee_Department__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Assignee_Team__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Assignee_Subteam__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Assignee_Level__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Assignee_Sourcing_Category__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Assignee_Territory__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Assignee_Segment__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Manual_sequence_name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_assignee_attribution</name>
        <label>Set assignee attribution</label>
        <locationX>1057</locationX>
        <locationY>298</locationY>
        <assignmentItems>
            <assignToReference>$Record.Assignee_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Assignee__r.UserRole.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Assignee_Department__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Assignee__r.Department__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Assignee_Team__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Assignee__r.Team__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Assignee_Subteam__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Assignee__r.Subteam__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Assignee_Level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Assignee__r.Level__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Assignee_Sourcing_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Assignee__r.Sourcing_Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Assignee_Territory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Assignee__r.Territory__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Team__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Assignee__r.Team__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Subteam__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Assignee__r.Subteam__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Territory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Assignee__r.Territory__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Assignee_Segment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Assignee__r.Opportunity_Segment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Department__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Assignee__r.Department__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Manual_sequence_name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_defaults</name>
        <label>Set defaults</label>
        <locationX>587</locationX>
        <locationY>406</locationY>
        <assignmentItems>
            <assignToReference>$Record.Trigger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignee_attribution</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_long_name</name>
        <label>Set long name</label>
        <locationX>1426</locationX>
        <locationY>426</locationY>
        <assignmentItems>
            <assignToReference>$Record.Sequence_Long_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sequence_name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_record_name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_record_name</name>
        <label>Set record name</label>
        <locationX>1624</locationX>
        <locationY>417</locationY>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>record_name</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Assignee_attribution</name>
        <label>Assignee attribution</label>
        <locationX>820</locationX>
        <locationY>426</locationY>
        <defaultConnector>
            <targetReference>Manual_sequence_name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do nothing</defaultConnectorLabel>
        <rules>
            <name>Clear</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Assignee__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_assignee_attribution</targetReference>
            </connector>
            <label>Clear</label>
        </rules>
        <rules>
            <name>Update</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Assignee__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Assignee__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_assignee_attribution</targetReference>
            </connector>
            <label>Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Manual_sequence_name</name>
        <label>Manual sequence name?</label>
        <locationX>1240</locationX>
        <locationY>414</locationY>
        <defaultConnector>
            <targetReference>Set_long_name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Manual_Sequence_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>account_short_name</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.Target_Account__r.Account_Name_Short__c}),LEFT({!$Record.Target_Account__r.Name},20),{!$Record.Target_Account__r.Account_Name_Short__c})</expression>
    </formulas>
    <formulas>
        <name>record_name</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.Sequence_Long_Name__c},80)</expression>
    </formulas>
    <formulas>
        <name>sequence_name</name>
        <dataType>String</dataType>
        <expression>{!$Record.Sequence_Number__c}&amp;&quot;[&quot;&amp;{!$Record.Short_Name__c}&amp;&quot;]&quot;&amp;
&quot;[&quot;&amp;IF(ISBLANK({!$Record.Assignee__c}),NULL,{!$Record.Assignee__r.Alias}&amp;&quot;]-&quot;)&amp;
IF(ISBLANK({!$Record.Experiment_Name__c}),NULL,&quot;EX[&quot;&amp;{!$Record.Experiment_Name__c}&amp;&quot;:&quot;&amp;TEXT({!$Record.Experiment_Treatment__c})&amp;&quot;]-&quot;)&amp;
TEXT({!$Record.Sourcing_Category__c})&amp;&quot;[&quot;&amp;{!team_tag}&amp;&quot;]-&quot;&amp;
IF(ISPICKVAL({!$Record.Industry__c},&quot;&quot;),NULL,&quot;IN[&quot;&amp;TEXT({!$Record.Industry__c})&amp;&quot;]-&quot;)&amp;
IF(ISPICKVAL({!$Record.Competitor__c},&quot;&quot;),NULL,&quot;C[&quot;&amp;TEXT({!$Record.Competitor__c})&amp;&quot;]-&quot;)&amp;
IF(ISBLANK({!$Record.Target_Account__c}),NULL,&quot;A[&quot;&amp;{!account_short_name}&amp;&quot;]-&quot;)&amp;
&quot;P[&quot;&amp;TEXT({!$Record.Target_Persona_Function__c})&amp;&quot;:&quot;&amp;
TEXT({!$Record.Target_Persona_Level__c})&amp;&quot;]&quot;</expression>
    </formulas>
    <formulas>
        <name>team_tag</name>
        <dataType>String</dataType>
        <expression>CASE({!$Record.Team__c},
 &quot;Account Executives&quot;,&quot;AE:&quot;,
 &quot;Sales Development&quot;,&quot;SD:&quot;,
 &quot;Customer Success&quot;,&quot;CS:&quot;,
 &quot;Marketing Demand Gen&quot;,&quot;MK:&quot;,
 &quot;Deployed Engineering&quot;,&quot;DE:&quot;,
 &quot;Renewal Management&quot;,&quot;RM:&quot;,
 NULL
) &amp;
IF(ISPICKVAL({!$Record.Subteam__c},&quot;&quot;),NULL,TEXT({!$Record.Subteam__c})&amp;&quot;:&quot;)&amp;
IF(ISPICKVAL({!$Record.Segment__c},&quot;&quot;),NULL,TEXT({!$Record.Segment__c})&amp;&quot;:&quot;) &amp;
IF(ISPICKVAL({!$Record.Territory__c},&quot;&quot;),NULL,TEXT({!$Record.Territory__c}))</expression>
    </formulas>
    <interviewLabel>Sequence Definition - Before Save Automations {!$Flow.CurrentDateTime} {!$Record.Name}</interviewLabel>
    <label>Sequence Definition - Before Save Automations</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>520</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>Set_defaults</targetReference>
        </connector>
        <object>Sequence_Definition__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
