unpackaged/main/default/flows/Services_Project_Assign_New_Partner.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Build_new_assignment</name>
        <label>Build new assignment</label>
        <locationX>694</locationX>
        <locationY>811</locationY>
        <assignmentItems>
            <assignToReference>new_assignment.Services_Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_assignment.Delivery_Partner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>services_partner_table.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_assignment.Hourly_Bill_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Hourly_Rate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_assignment.Num_Billed_Hours_Planned__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billed_Hours_Planned</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_assignment.Partner_SOW_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SOW_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_assignment.Airbase_PO_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PO_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_assignment.SOW_URL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SOW_URL.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_new_assignmente</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Services Project - Assign New Partner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Services Project - Assign New Partner</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_new_assignmente</name>
        <label>Create new assignment</label>
        <locationX>701</locationX>
        <locationY>1041</locationY>
        <inputReference>new_assignment</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Services_Delivery_Partners</name>
        <label>Get Services Delivery Partners</label>
        <locationX>738</locationX>
        <locationY>241</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_New_Assignment</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Partner_Relationship_Record_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Service Delivery</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active - Authorized</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active - Not Authorized</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Partner_Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Configure_Assignment</name>
        <label>Configure Assignment</label>
        <locationX>713</locationX>
        <locationY>618</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Build_new_assignment</targetReference>
        </connector>
        <fields>
            <name>header_partner</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Selected Partner: &lt;/strong&gt;{!services_partner_table.firstSelectedRow.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Configure_Assignments</name>
            <fieldText>Configure Assignment:</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Configure_Assignments_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Billed_Hours_Planned</name>
                    <dataType>Number</dataType>
                    <fieldText># Billed Hours (Planned)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Hourly_Rate</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>services_partner_table.firstSelectedRow.Default_Hourly_Cost_Rate__c</elementReference>
                    </defaultValue>
                    <fieldText>Hourly Rate</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>SOW_URL</name>
                    <extensionName>flowruntime:url</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>SOW URL</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Configure_Assignments_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PO_Number</name>
                    <dataType>String</dataType>
                    <fieldText>Airbase PO Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>SOW_Number</name>
                    <dataType>Number</dataType>
                    <fieldText>Partner SOW Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_New_Assignment</name>
        <label>Assign New Delivery Partner</label>
        <locationX>737</locationX>
        <locationY>447</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Configure_Assignment</targetReference>
        </connector>
        <fields>
            <name>services_partner_table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Partner_Relationship__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Choose a Service Delivery partner to assign:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Services_Delivery_Partners</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-5718&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Partner Relationship Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Default_Hourly_Cost_Rate__c&quot;,&quot;guid&quot;:&quot;column-5e72&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Defaults Hourly Rate&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Default Hourly Cost Rate&quot;,&quot;type&quot;:&quot;currency&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>610</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Services_Delivery_Partners</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>new_assignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Services_Project_Partner_Assignment__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Services_Project__c</objectType>
    </variables>
</Flow>
