unpackaged/main/default/flows/Services_Project_Before_Save_Automations.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Clear_push_trigger</name>
        <label>Clear push trigger</label>
        <locationX>760</locationX>
        <locationY>1130</locationY>
        <assignmentItems>
            <assignToReference>$Record.Push_to_Rocketlane__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_defaults</name>
        <label>Set defaults</label>
        <locationX>757</locationX>
        <locationY>787</locationY>
        <assignmentItems>
            <assignToReference>$Record.Trigger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Project_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>project_id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>default_name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_project_URL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_lookups_from_opportunity</name>
        <label>Set lookups from opportunity</label>
        <locationX>759</locationX>
        <locationY>617</locationY>
        <assignmentItems>
            <assignToReference>$Record.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity__r.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Business_Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity__r.Business_Unit__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_defaults</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_opportunity</name>
        <label>Set opportunity</label>
        <locationX>971</locationX>
        <locationY>509</locationY>
        <assignmentItems>
            <assignToReference>$Record.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity_Product__r.OpportunityId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_lookups_from_opportunity</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_opportunity_product</name>
        <label>Has opportunity product?</label>
        <locationX>752</locationX>
        <locationY>428</locationY>
        <defaultConnector>
            <targetReference>Set_lookups_from_opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity_Product__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_opportunity</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_project_URL</name>
        <label>Has project URL?</label>
        <locationX>751</locationX>
        <locationY>951</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_project_url</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Project_URL__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_push_trigger</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>default_name</name>
        <dataType>String</dataType>
        <expression>LEFT({!opportunity_name_entity_prefix},47)&amp;&quot; (&quot;&amp;IF(ISBLANK({!$Record.Name_Override__c}),{!$Record.Opportunity_Product__r.Product2.Services_Project_Short_Name__c},{!$Record.Name_Override__c})&amp;&quot;) - &quot;&amp;TEXT(MONTH({!$Record.Opportunity__r.CloseDate}))&amp;&quot;/&quot;&amp;TEXT(YEAR({!$Record.Opportunity__r.CloseDate}))</expression>
    </formulas>
    <formulas>
        <name>opportunity_name_entity_prefix</name>
        <dataType>String</dataType>
        <expression>LEFT(IF(
ISBLANK({!$Record.Account__r.Account_Name_Short__c}),
{!$Record.Account__r.Name},
{!$Record.Account__r.Account_Name_Short__c}
),48)
&amp;IF(ISBLANK({!$Record.Opportunity__r.BU_Name__c}),NULL,&quot; (&quot;&amp;{!$Record.Opportunity__r.BU_Name__c}&amp;&quot;)&quot;)</expression>
    </formulas>
    <formulas>
        <name>project_id</name>
        <dataType>String</dataType>
        <expression>IF(
 ISBLANK({!$Record.Project_URL__c}),
 NULL,
MID({!$Record.Project_URL__c},  FIND(&quot;/projects/&quot;,{!$Record.Project_URL__c})+10,6)
)</expression>
    </formulas>
    <interviewLabel>Services Project - Before Save Automations {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Services Project - Before Save Automations</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>617</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Has_opportunity_product</targetReference>
        </connector>
        <object>Services_Project__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
