unpackaged/main/default/flows/Technical_Evaluation_Before_Save_Automations.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Clear_requested_by_attribution</name>
        <label>Clear requested by attribution</label>
        <locationX>2785</locationX>
        <locationY>476</locationY>
        <assignmentItems>
            <assignToReference>$Record.Requested_By_Role__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Requested_By_Department__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Requested_By_Team__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Requested_By_Subteam__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Requested_By_Level__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Requested_By_Region__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Requested_By_Territory__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Record_type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_triaged_by_role_0</name>
        <label>Clear triaged by role</label>
        <locationX>2338</locationX>
        <locationY>509</locationY>
        <assignmentItems>
            <assignToReference>$Record.Triaged_By_Role__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Requested_By_is</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_archived_fields</name>
        <label>Set archived fields</label>
        <locationX>1057</locationX>
        <locationY>764</locationY>
        <assignmentItems>
            <assignToReference>$Record.Is_Closed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Is_Won__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Is_Lost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Stage_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_stage_definition.Order_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Forecast__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Record_is</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_attribution_0</name>
        <label>Set attribution from user</label>
        <locationX>1832</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>$Record.Owner_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Owner:User.UserRole.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Owner_Department__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Owner:User.Department__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Owner_Team__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Owner:User.Team__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Owner_Subteam__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Owner:User.Subteam__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Owner_Level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Owner:User.Level__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Owner_Territory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Owner:User.Territory__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_defaults</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_attribution_0_0</name>
        <label>Set attribution from goal</label>
        <locationX>1725</locationX>
        <locationY>544</locationY>
        <assignmentItems>
            <assignToReference>$Record.Owner_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_owner_goal.Assignee_Role__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Owner_Department__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_owner_goal.Department__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Owner_Team__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_owner_goal.Team__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Owner_Subteam__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_owner_goal.Subteam__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Owner_Level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_owner_goal.Level__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Owner_Territory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_owner_goal.Territory__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_defaults</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_close_date</name>
        <label>Set close date</label>
        <locationX>3833</locationX>
        <locationY>117</locationY>
        <assignmentItems>
            <assignToReference>$Record.Close_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_defaults</name>
        <label>Set defaults</label>
        <locationX>1977</locationX>
        <locationY>399</locationY>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>standard_name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Trigger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity__r.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Business_Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity__r.Business_Unit__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Triaged_By_is</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Discovery_start_date</name>
        <label>Set Discovery start date</label>
        <locationX>3935</locationX>
        <locationY>246</locationY>
        <assignmentItems>
            <assignToReference>$Record.Discovery_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Scoping_Start_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Evaluation_Start_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Evaluation_start_date</name>
        <label>Set Evaluation start date</label>
        <locationX>3850</locationX>
        <locationY>482</locationY>
        <assignmentItems>
            <assignToReference>$Record.Evaluation_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_lost_fields</name>
        <label>Set lost fields</label>
        <locationX>1067</locationX>
        <locationY>28</locationY>
        <assignmentItems>
            <assignToReference>$Record.Is_Closed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Is_Won__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Is_Lost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Stage_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_stage_definition.Order_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Forecast__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Record_is</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_new_record_defaults</name>
        <label>Set new record defaults</label>
        <locationX>1861</locationX>
        <locationY>112</locationY>
        <assignmentItems>
            <assignToReference>$Record.Close_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>default_close_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Forecast__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_defaults</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_open_fields</name>
        <label>Set open fields</label>
        <locationX>1057</locationX>
        <locationY>485</locationY>
        <assignmentItems>
            <assignToReference>$Record.Is_Closed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Is_Won__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Is_Lost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Stage_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_stage_definition.Order_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Record_is</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_owner_attribution_from_user</name>
        <label>Set owner attribution from user</label>
        <locationX>1460</locationX>
        <locationY>201</locationY>
        <assignmentItems>
            <assignToReference>$Record.Owner_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Owner:User.UserRole.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Owner_Department__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Owner:User.Department__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Owner_Team__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Owner:User.Team__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Owner_Subteam__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Owner:User.Subteam__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Owner_Level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Owner:User.Level__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Owner_Territory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Owner:User.Territory__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_or_updated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_prior_stage</name>
        <label>Set prior stage</label>
        <locationX>3335</locationX>
        <locationY>143</locationY>
        <assignmentItems>
            <assignToReference>$Record.Prior_Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Stage__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Stage_is</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_requested_by_attribution</name>
        <label>Set requested by attribution</label>
        <locationX>2727</locationX>
        <locationY>257</locationY>
        <assignmentItems>
            <assignToReference>$Record.Requested_By_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Requested_By__r.UserRole.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Requested_By_Department__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Requested_By__r.Department</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Requested_By_Team__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Requested_By__r.Team__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Requested_By_Subteam__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Requested_By__r.Subteam__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Requested_By_Level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Requested_By__r.Level__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Requested_By_Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Requested_By__r.Region__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Requested_By_Territory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Requested_By__r.Territory__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Record_type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Requested_start_date</name>
        <label>Set Requested start date</label>
        <locationX>3677</locationX>
        <locationY>645</locationY>
        <assignmentItems>
            <assignToReference>$Record.Discovery_Start_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Scoping_Start_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Evaluation_Start_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Request_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_scoping_start_date</name>
        <label>Set scoping start date</label>
        <locationX>3920</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>$Record.Scoping_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Evaluation_Start_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_triaged_by_role</name>
        <label>Set triaged by role</label>
        <locationX>2351</locationX>
        <locationY>265</locationY>
        <assignmentItems>
            <assignToReference>$Record.Triaged_By_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Triaged_By__r.UserRole.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Requested_By_is</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_won_fields</name>
        <label>Set won fields</label>
        <locationX>1062</locationX>
        <locationY>252</locationY>
        <assignmentItems>
            <assignToReference>$Record.Is_Closed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Is_Won__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Is_Lost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Stage_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_stage_definition.Order_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Forecast__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Record_is</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Found_owner_goal</name>
        <label>Found owner goal?</label>
        <locationX>1613</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Set_attribution_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_found_goal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_owner_goal</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_attribution_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_or_updated</name>
        <label>New or updated</label>
        <locationX>1601</locationX>
        <locationY>202</locationY>
        <defaultConnector>
            <targetReference>Set_defaults</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Updated</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_new_record_defaults</targetReference>
            </connector>
            <label>New</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_is</name>
        <label>Record is</label>
        <locationX>1267</locationX>
        <locationY>377</locationY>
        <defaultConnector>
            <targetReference>Set_attribution_dec</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Closed</defaultConnectorLabel>
        <rules>
            <name>Open_stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Is_Closed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_owner_attribution_from_user</targetReference>
            </connector>
            <label>Open</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_type</name>
        <label>Record type</label>
        <locationX>2978</locationX>
        <locationY>383</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>POC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>POC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage_changed_or_new</targetReference>
            </connector>
            <label>POC</label>
        </rules>
        <rules>
            <name>Evaluation_Stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Evaluation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage_changed_or_new</targetReference>
            </connector>
            <label>Evaluation</label>
        </rules>
        <rules>
            <name>Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage_changed_or_new</targetReference>
            </connector>
            <label>Request</label>
        </rules>
    </decisions>
    <decisions>
        <name>Requested_By_is</name>
        <label>Requested By is</label>
        <locationX>2529</locationX>
        <locationY>387</locationY>
        <defaultConnector>
            <targetReference>Record_type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Blank_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Requested_By__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_requested_by_attribution</targetReference>
            </connector>
            <label>Blank</label>
        </rules>
        <rules>
            <name>Changed_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Requested_By__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_requested_by_attribution</targetReference>
            </connector>
            <label>Changed / New</label>
        </rules>
    </decisions>
    <decisions>
        <name>Set_attribution_dec</name>
        <label>Set attribution?</label>
        <locationX>1568</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Set_defaults</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Owner_Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_owner_goal</targetReference>
            </connector>
            <label>Owner Updated</label>
        </rules>
        <rules>
            <name>Moved_to_Closeed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Is_Closed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Is_Closed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_owner_goal</targetReference>
            </connector>
            <label>Moved to Closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stage_changed_or_new</name>
        <label>Stage changed or new</label>
        <locationX>3210</locationX>
        <locationY>381</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>New_Record</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage_is</targetReference>
            </connector>
            <label>New Record</label>
        </rules>
        <rules>
            <name>Stage_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_prior_stage</targetReference>
            </connector>
            <label>Stage Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stage_is</name>
        <label>Stage is</label>
        <locationX>3551</locationX>
        <locationY>293</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Discovery</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discovery</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Discovery_start_date</targetReference>
            </connector>
            <label>Discovery</label>
        </rules>
        <rules>
            <name>Scoping</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scoping</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_scoping_start_date</targetReference>
            </connector>
            <label>Scoping</label>
        </rules>
        <rules>
            <name>Evaluation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Evaluation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Evaluation_start_date</targetReference>
            </connector>
            <label>Evaluation</label>
        </rules>
        <rules>
            <name>Lost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_close_date</targetReference>
            </connector>
            <label>Lost</label>
        </rules>
        <rules>
            <name>Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Permission_Check__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_close_date</targetReference>
            </connector>
            <label>Won</label>
        </rules>
        <rules>
            <name>Incomplete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Incomplete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_close_date</targetReference>
            </connector>
            <label>Incomplete</label>
        </rules>
        <rules>
            <name>Archived</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Archived</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_close_date</targetReference>
            </connector>
            <label>Archived</label>
        </rules>
        <rules>
            <name>Requested</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Requested</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Requested_start_date</targetReference>
            </connector>
            <label>Requested</label>
        </rules>
        <rules>
            <name>Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_close_date</targetReference>
            </connector>
            <label>Rejected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stage_Type</name>
        <label>Stage Type</label>
        <locationX>833</locationX>
        <locationY>373</locationY>
        <defaultConnector>
            <targetReference>Record_is</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Open</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_stage_definition.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_open_fields</targetReference>
            </connector>
            <label>Open</label>
        </rules>
        <rules>
            <name>Closed_Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_stage_definition.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed/Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_won_fields</targetReference>
            </connector>
            <label>Closed/Won</label>
        </rules>
        <rules>
            <name>Closed_Lost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_stage_definition.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed/Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_lost_fields</targetReference>
            </connector>
            <label>Closed/Lost</label>
        </rules>
        <rules>
            <name>Closed_Admin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_stage_definition.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed/Admin</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_archived_fields</targetReference>
            </connector>
            <label>Closed/Admin</label>
        </rules>
    </decisions>
    <decisions>
        <name>Triaged_By_is</name>
        <label>Triaged By is</label>
        <locationX>2128</locationX>
        <locationY>375</locationY>
        <defaultConnector>
            <targetReference>Requested_By_is</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Blank</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Triaged_By__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_triaged_by_role_0</targetReference>
            </connector>
            <label>Blank</label>
        </rules>
        <rules>
            <name>Changed_New</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Triaged_By__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_triaged_by_role</targetReference>
            </connector>
            <label>Changed / New</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>default_close_date</name>
        <dataType>Date</dataType>
        <expression>IF(ISBLANK({!$Record.Close_Date__c}),TODAY()+30,{!$Record.Close_Date__c})</expression>
    </formulas>
    <formulas>
        <name>name_entity_prefix</name>
        <dataType>String</dataType>
        <expression>LEFT(IF(
ISBLANK({!$Record.Opportunity__r.Account.Account_Name_Short__c}),
{!$Record.Opportunity__r.Account.Name},
{!$Record.Opportunity__r.Account.Account_Name_Short__c}
),40) &amp; 
IF(ISBLANK({!$Record.Opportunity__r.BU_Name__c}),NULL,&quot; (&quot;&amp;{!$Record.Opportunity__r.BU_Name__c}&amp;&quot;)&quot;)</expression>
    </formulas>
    <formulas>
        <name>standard_name</name>
        <dataType>String</dataType>
        <expression>{!$Record.RecordType.Name}&amp;&quot; - &quot;&amp;{!name_entity_prefix}&amp;&quot; - &quot;&amp;TEXT({!$Record.Stage__c})&amp;&quot; &quot;&amp;
IF(
 ISBLANK({!$Record.Close_Date__c}),
 NULL,
 TEXT(MONTH({!$Record.Close_Date__c}))&amp;&quot;/&quot;&amp;TEXT(YEAR({!$Record.Close_Date__c}))
)</expression>
    </formulas>
    <interviewLabel>Technical Evaluation - Before Save Automations {!$Flow.CurrentDateTime} {!$Record.Name}</interviewLabel>
    <label>Technical Evaluation - Before Save Automations</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_owner_goal</name>
        <label>Get owner goal</label>
        <locationX>1468</locationX>
        <locationY>704</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_owner_goal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Assignee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Individual</stringValue>
            </value>
        </filters>
        <filters>
            <field>Period_Start__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Close_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Period_End__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Close_Date__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Goal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_stage_definition</name>
        <label>Get stage definition</label>
        <locationX>689</locationX>
        <locationY>371</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Stage_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Object_API_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Technical_Evaluation__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordType.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Stage__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Stage_Definition__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>235</locationX>
        <locationY>300</locationY>
        <connector>
            <targetReference>Get_stage_definition</targetReference>
        </connector>
        <object>Technical_Evaluation__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
