unpackaged/main/default/flows/Technical_Evaluation_Approve_Button.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>React_with_check_mark</name>
        <label>React with check mark</label>
        <locationX>858</locationX>
        <locationY>2253</locationY>
        <actionName>Centro__AddReactionFlow</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>channelId</name>
            <value>
                <elementReference>recordId.Request_MQ__r.Centro__ChannelId__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emojiName</name>
            <value>
                <stringValue>check</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messageTs</name>
            <value>
                <elementReference>recordId.Request_MQ__r.Centro__Message_TS__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Centro__AddReactionFlow</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Reply_to_message_thread</name>
        <label>Reply to message thread</label>
        <locationX>858</locationX>
        <locationY>2022</locationY>
        <actionName>Centro__SendMessageFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>React_with_check_mark</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>channelId</name>
            <value>
                <stringValue>{!slack_channel}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>InterviewGuid</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>{!approval_reply}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pinMessage</name>
            <value>
                <stringValue>false</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>postReply</name>
            <value>
                <stringValue>true</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>replyMessageTs</name>
            <value>
                <elementReference>reply_ts</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>startThread</name>
            <value>
                <stringValue>false</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>updateMessage</name>
            <value>
                <stringValue>false</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>usePlainText</name>
            <value>
                <stringValue>false</stringValue>
            </value>
        </inputParameters>
        <nameSegment>Centro__SendMessageFlow</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Update_tech_eval</name>
        <label>Update tech eval</label>
        <locationX>854</locationX>
        <locationY>1303</locationY>
        <assignmentItems>
            <assignToReference>recordId.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>se_selection.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Triaged_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Discovery</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>012Qo000009JJplIAG</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Forecast__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Manager_Forecast__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Permission_Check__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Close_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Opportunity__r.CloseDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>pdate_tech_eval</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_slack_message</name>
        <label>Has slack message?</label>
        <locationX>844</locationX>
        <locationY>1787</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>slack_channel</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>reply_ts</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reply_to_message_thread</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stage_is</name>
        <label>Stage is</label>
        <locationX>826</locationX>
        <locationY>460</locationY>
        <defaultConnector>
            <targetReference>Error_Invalid_Stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Requested</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Requested</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_active_SEs</targetReference>
            </connector>
            <label>Requested</label>
        </rules>
        <rules>
            <name>Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_active_SEs</targetReference>
            </connector>
            <label>Rejected</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_SE_assignment_permission_is</name>
        <label>User SE assignment permission is</label>
        <locationX>813</locationX>
        <locationY>238</locationY>
        <defaultConnector>
            <targetReference>Error_Invalid_Stage_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.SE_Assignment_Method__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage_is</targetReference>
            </connector>
            <label>Manager</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>additional_context_slack</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!additional_context}),NULL,&quot;&lt;strong&gt;Additional Context:&lt;/strong&gt;&lt;/p&gt;&quot;&amp;{!additional_context})</expression>
    </formulas>
    <interviewLabel>Technical Evaluation - Approve Button {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Technical Evaluation - Approve Button</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_active_SEs</name>
        <label>Get active SEs</label>
        <locationX>841</locationX>
        <locationY>825</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Route_to_SE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Team__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sales Engineering</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IC</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <sortField>Subteam__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>pdate_tech_eval</name>
        <label>Update tech eval</label>
        <locationX>856</locationX>
        <locationY>1472</locationY>
        <connector>
            <targetReference>Update_opp_SE</targetReference>
        </connector>
        <inputReference>recordId</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_opp_SE</name>
        <label>Update opp SE</label>
        <locationX>864</locationX>
        <locationY>1628</locationY>
        <connector>
            <targetReference>Has_slack_message</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Sales_Engineer__c</field>
            <value>
                <elementReference>recordId.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Error_Invalid_Stage</name>
        <label>Error: Invalid Stage</label>
        <locationX>1109</locationX>
        <locationY>367</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_1</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Error:&lt;/strong&gt; Cannot approve a Technical Evaluation that is in stage {!recordId.Stage__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Invalid_Stage_0</name>
        <label>Error: Invalid Permission</label>
        <locationX>1165</locationX>
        <locationY>232</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_1_0</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Error:&lt;/strong&gt; Your assigned role ({!$UserRole.Name}) may not approve or route Technical Evaluations&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Route_to_SE</name>
        <label>Route to SE</label>
        <locationX>850</locationX>
        <locationY>1123</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_tech_eval</targetReference>
        </connector>
        <fields>
            <name>warning</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;&lt;em&gt;WARNING:&lt;/em&gt;&lt;/strong&gt;&lt;em&gt; This request was already rejected by {!recordId.Triaged_By__r.Full_Name_with_Role__c} on {!recordId.Close_Date__c}. Proceeding will re-open this Technical Evaluation.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>recordId.Stage__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Rejected</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Route_to_SE_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Route_to_SE_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>deal_link</name>
                    <fieldText>&lt;p&gt;&lt;a href=&quot;https://retool.lightning.force.com/{!recordId.Opportunity__r.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!recordId.Opportunity__r.Name}&lt;/a&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>display_team</name>
                    <fieldText>&lt;p&gt;&lt;u&gt;Opportunity Team&lt;/u&gt;:&lt;/p&gt;&lt;p&gt;{!recordId.Opportunity__r.Opportunity_Team__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Route_to_SE_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>report_link</name>
                    <fieldText>&lt;p&gt;&lt;u&gt;ARR&lt;/u&gt;: ${!recordId.Opportunity__r.Total_ARR__c}&lt;/p&gt;&lt;p&gt;&lt;u&gt;Stage&lt;/u&gt;: {!recordId.Opportunity__r.StageName}&lt;/p&gt;&lt;p&gt;&lt;u&gt;Industry&lt;/u&gt;: {!recordId.Opportunity__r.Account.Industry}&lt;/p&gt;&lt;p&gt;&lt;u&gt;Segment&lt;/u&gt;: {!recordId.Account__r.Segment__c}&lt;/p&gt;&lt;p&gt;&lt;u&gt;Country&lt;/u&gt;: {!recordId.Account__r.ShippingCountry}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>report_links</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;a href=&quot;https://retool.lightning.force.com/lightning/r/Report/00OQo000005A62rMAC/view?queryScope=userFolders&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Click here to see the SE team open Technical Evaluations&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>se_selection</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>User</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select an SE to assign to this deal:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_active_SEs</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-82a7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Full Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Role_Name__c&quot;,&quot;guid&quot;:&quot;column-5af4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Role&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Role Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Subteam__c&quot;,&quot;guid&quot;:&quot;column-a193&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Subteam&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Subteam&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Region__c&quot;,&quot;guid&quot;:&quot;column-8bef&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Region&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Region&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>additional_context</name>
            <dataType>String</dataType>
            <fieldText>[Optional] Additional approval context (sent with Slack approval notification):</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Approve and notify account team</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>707</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>User_SE_assignment_permission_is</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>approval_reply</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;:check: &lt;strong&gt;SE Request Approved &lt;/strong&gt;{!recordId.Requested_By__r.Slack_Mention_Handle_Only__c}﻿&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Assigned SE:&lt;/strong&gt; {!recordId.Owner:User.Slack_Mention_With_Role_Full_Name__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Approved By: &lt;/strong&gt;{!recordId.Triaged_By__r.Slack_Mention_With_Role_Full_Name__c}&lt;/p&gt;&lt;p&gt;{!additional_context_slack}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Technical_Evaluation__c</objectType>
    </variables>
    <variables>
        <name>reply_ts</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>recordId.Request_MQ__r.Centro__Message_TS__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>slack_channel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>recordId.Request_MQ__r.Centro__ChannelId__c</elementReference>
        </value>
    </variables>
</Flow>
