unpackaged/main/default/flows/Technical_Evaluation_Next_Stage_Button.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Open_record</name>
        <label>Open record</label>
        <locationX>2655</locationX>
        <locationY>688</locationY>
        <actionName>c:OpenURL</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>url</name>
            <value>
                <elementReference>eval_url</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:OpenURL</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Set_record_to_found_eval</name>
        <label>Set record to found eval</label>
        <locationX>896</locationX>
        <locationY>475</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_tech_eval</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Stage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_record_Evaluation</name>
        <label>Update record (Evaluation)</label>
        <locationX>1426</locationX>
        <locationY>592</locationY>
        <assignmentItems>
            <assignToReference>recordId.Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Evaluation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Evaluation_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Evaluation_Plan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eval_plan_link.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Evaluation_Risks__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Evaluation_Risks</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Permission_Check__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Evaluation_Hosting_Styles__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Hosting_Styles_Evaluated</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Products_Evaluated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Products_Evaluated</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Evaluation_Summary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Evaluation_Summary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Evaluation_Plan_Missing_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eval_plan_no</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Skill_Level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>skill_level_eval</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Skill_Level_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Skill_Level_Details_eval</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Technical_Stakeholders__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Technical_Stakeholders_eval</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Production_Hosting_Provider__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Production_Hosting_Provider_eval</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Hosting_Provider_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Hosting_Provider_Details_eval</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Technical_Evaluation_Forecast</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_record_Forecast</name>
        <label>Update record (Forecast)</label>
        <locationX>1765</locationX>
        <locationY>511</locationY>
        <assignmentItems>
            <assignToReference>recordId.Close_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>screen_Close_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Forecast_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>screen_Forecast_Details</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Forecast__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Forecast</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Forecast_Risks__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>screen_Risks</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Next_Step__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Next_Step</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Next_Step_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Next_Step_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_record_Scoping</name>
        <label>Update record (Scoping)</label>
        <locationX>1291</locationX>
        <locationY>471</locationY>
        <assignmentItems>
            <assignToReference>recordId.Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Scoping</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Permission_Check__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Scoping_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Technical_Evaluation_Forecast</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_record_Won</name>
        <label>Update record (Won)</label>
        <locationX>1359</locationX>
        <locationY>796</locationY>
        <assignmentItems>
            <assignToReference>recordId.Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Won</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Close_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Production_Hosting_Style__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>production_hosting_style.topValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Production_Hosting_Provider__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>production_hosting_style.middleValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Skill_Level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Skill_Level</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Skill_Level_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Skill_Level_Details</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Production_Risks__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Production_Risks</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Close_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>close_date2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Permission_Check__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Close_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Tech Eval Next Stage Button</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Identified_Use_Cases__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Identified_Use_Cases</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Use_Case_Complexity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Use_Case_Complexity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Deployment_Progress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Deployment_Progress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Use_Case_Progress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Use_Case_Progress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Evaluation_Types__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Evaluation_Types</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Forecast__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Evaluation_Hosting_Styles__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Evaluation_Hosting_Styles_CW</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Products_Evaluated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Products_Evaluated_cw</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Production_Hosting_Provider__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Production_Hosting_Provider_cw</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Hosting_Provider_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Hosting_Provider_Details_cw</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choice_at_risk</name>
        <choiceText>At Risk</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>At Risk</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_blocked</name>
        <choiceText>Blocked</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Blocked</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_on_track</name>
        <choiceText>On Track</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>On Track</stringValue>
        </value>
    </choices>
    <choices>
        <name>eval_plan_no</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <userInput>
            <isRequired>true</isRequired>
            <promptText>Please provide a reason why you are proceeding without a written plan</promptText>
        </userInput>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>eval_plan_yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check</name>
        <label>Check</label>
        <locationX>1582</locationX>
        <locationY>802</locationY>
        <defaultConnector>
            <targetReference>Update_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Pass</defaultConnectorLabel>
        <rules>
            <name>Hosting_Provider_Fail</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Evaluation_Hosting_Styles__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Self-hosted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Evaluation_Hosting_Styles__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Air-gapped</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Production_Hosting_Provider__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Hosting_Provider_Missing</targetReference>
            </connector>
            <label>Hosting Provider Fail</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stage</name>
        <label>Stage</label>
        <locationX>759</locationX>
        <locationY>617</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Scoping</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scoping</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Move_to_Evaluation</targetReference>
            </connector>
            <label>Scoping</label>
        </rules>
        <rules>
            <name>Evaluation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Evaluation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Move_to_Won</targetReference>
            </connector>
            <label>Evaluation</label>
        </rules>
        <rules>
            <name>Discovery</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discovery</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_record_Scoping</targetReference>
            </connector>
            <label>Discovery</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tech_eval_ID_provided</name>
        <label>Tech eval ID provided?</label>
        <locationX>761</locationX>
        <locationY>364</locationY>
        <defaultConnector>
            <targetReference>Stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>tech_eval_id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_tech_eval</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tech_eval_ID_provided_0</name>
        <label>Tech eval ID provided?</label>
        <locationX>2461</locationX>
        <locationY>694</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>tech_eval_id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Open_record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Adding hosting provider</description>
    <dynamicChoiceSets>
        <name>choice_forecast_risks</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Forecast_Risks__c</picklistField>
        <picklistObject>Technical_Evaluation__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choice_hosting_providers</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Production_Hosting_Provider__c</picklistField>
        <picklistObject>Technical_Evaluation__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>eval_types_choice</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Evaluation_Types__c</picklistField>
        <picklistObject>Technical_Evaluation__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>hosting_style_choices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Production_Hosting_Style__c</picklistField>
        <picklistObject>Technical_Evaluation__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>hosting_styles_eval_choice</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Evaluation_Hosting_Styles__c</picklistField>
        <picklistObject>Technical_Evaluation__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>products_eval_choice</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Products_Evaluated__c</picklistField>
        <picklistObject>Technical_Evaluation__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>skill_level_choices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Skill_Level__c</picklistField>
        <picklistObject>Technical_Evaluation__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>eval_url</name>
        <dataType>String</dataType>
        <expression>&quot;https://retool.lightning.force.com/lightning/r/Technical_Evaluation__c/&quot;&amp;{!tech_eval_id}&amp;&quot;/view&quot;</expression>
    </formulas>
    <formulas>
        <name>evaluation_plan_required</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!Evaluation_Types_screen}, &quot;Workshop&quot;) ||
CONTAINS({!Evaluation_Types_screen}, &quot;Low-Touch POC&quot;) ||
CONTAINS({!Evaluation_Types_screen}, &quot;High-Touch POC&quot;)</expression>
    </formulas>
    <interviewLabel>Tech {!$Flow.CurrentDateTime} {!recordId.Name}</interviewLabel>
    <label>Technical Evaluation - Next Stage Button</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_tech_eval</name>
        <label>Get tech eval</label>
        <locationX>970</locationX>
        <locationY>263</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_record_to_found_eval</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>tech_eval_id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Technical_Evaluation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_record</name>
        <label>Update record</label>
        <locationX>1836</locationX>
        <locationY>706</locationY>
        <connector>
            <targetReference>Confirmation</targetReference>
        </connector>
        <inputReference>recordId</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Confirmation</name>
        <label>Confirmation</label>
        <locationX>2068</locationX>
        <locationY>711</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Add_Technical_Asset</targetReference>
        </connector>
        <fields>
            <name>confirm_header</name>
            <fieldText>&lt;p&gt;&lt;a href=&quot;https://retool.lightning.force.com/{!recordId.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!recordId.Name}&lt;/a&gt; has been successfully moved to {!recordId.Stage__c}.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Please add any relevant Technical Assets (i.e. custom demos, prototypes / apps, presentations, etc.) using the &lt;u&gt;Add Technical Asset&lt;/u&gt; button&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Additionally, please file any Product Feature Requests (PFRs) via the &lt;a href=&quot;https://admin.retool.dev/apps/2bd5478c-ba96-11ec-a092-8b3fc062814a/Product/Product%20Feedback%20Requests&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;PFR app&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If you have already added all Technical Assets to this evaluation, you may close this modal.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Add Technical Asset</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Hosting_Provider_Missing</name>
        <label>Error: Hosting Provider Missing</label>
        <locationX>1589</locationX>
        <locationY>994</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Go back and revise</backButtonLabel>
        <fields>
            <name>error_hosting_provider</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Error:&lt;/strong&gt; Production Hosting Provider is required when evaluation includes Self-hosted or Air-gapped.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Move_to_Evaluation</name>
        <label>Move to Evaluation</label>
        <locationX>1198</locationX>
        <locationY>623</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_record_Evaluation</targetReference>
        </connector>
        <fields>
            <name>header_to_eval</name>
            <fieldText>&lt;p&gt;To advance &lt;strong&gt;{!recordId.Name}&lt;/strong&gt; to the &lt;strong&gt;Evaluation&lt;/strong&gt; stage, please review or complete the following:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Evaluation_Overview</name>
            <fieldText>Evaluation Overview</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Evaluation_Overview_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Evaluation_Summary</name>
                    <defaultValue>
                        <stringValue>{!recordId.Evaluation_Summary__c}</stringValue>
                    </defaultValue>
                    <fieldText>Evaluation Summary</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Inter, sans-serif; font-size: 10pt;&quot;&gt;A brief summary of the evaluation and any key deal highlights&lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Please input at most 1024 characters&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Evaluation_Summary})&lt;=1024</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Evaluation_Risks</name>
                    <defaultValue>
                        <stringValue>{!recordId.Evaluation_Risks__c}</stringValue>
                    </defaultValue>
                    <fieldText>Evaluation Risks</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <helpText>&lt;p&gt;Any identified deal risks (e.g. no executive alignment, limited urgency, APIs not yet built out, low skill builders, etc.)&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Must be &amp;lt;= 4000 characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Evaluation_Risks})&lt;=4000</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Technical_Stakeholders_eval</name>
                    <defaultValue>
                        <stringValue>{!recordId.Technical_Stakeholders__c}</stringValue>
                    </defaultValue>
                    <fieldText>Technical Stakeholders</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <helpText>&lt;p&gt;&lt;em&gt;Include Name and Role of key technical stakeholders&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Must be &amp;lt;= 1024 characters&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Technical_Stakeholders_eval})&lt;=1024</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>eval_plan_link</name>
                    <extensionName>flowruntime:url</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Evaluation Plan (Link)</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>recordId.Evaluation_Plan__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <elementReference>evaluation_plan_required</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Evaluation_Overview_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Evaluation_Types_screen</name>
                    <choiceReferences>eval_types_choice</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recordId.Evaluation_Types__c</elementReference>
                    </defaultValue>
                    <fieldText>Evaluation Types</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>eval_types_help_a</name>
                    <fieldText>&lt;p&gt;&lt;a href=&quot;https://docs.google.com/presentation/d/1pl5NeD5gcwFzeKjQMxTjYVWmjh0RyoAGPtjqXj6MUho/edit#slide=id.g22e7b10d3b7_0_0&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px;&quot;&gt;Evaluation Types&lt;/a&gt;:&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Comprehensive Demo&lt;/strong&gt;: Stage 4 demo using pre-built assets&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Custom Demo&lt;/strong&gt;: Stage 4 demo using a prototype built for the customer&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Low-Touch POC&lt;/strong&gt;: 1-2 week POC with 2-3 check-ins&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Workshop&lt;/strong&gt;: 1-2 day, 3-4 hour sprint validation session(s)&lt;/p&gt;&lt;p&gt;&lt;strong&gt;High-Touch POC&lt;/strong&gt;: 2-4 week POC with numerous check-ins&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Self-led&lt;/strong&gt;: Customer-led evaluation with asynchronous Retool support&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Evaluation_Details_Section</name>
            <fieldText>Evaluation Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Evaluation_Details_Section_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>skill_level_eval</name>
                    <choiceReferences>skill_level_choices</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recordId.Skill_Level__c</elementReference>
                    </defaultValue>
                    <fieldText>Skill Level</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;&lt;strong style=&quot;background-color: transparent; font-size: 12px;&quot;&gt;Low&lt;/strong&gt;&lt;span style=&quot;background-color: transparent; font-size: 12px;&quot;&gt;: Builders did not build in Retool and do not have technical proficiency to build on Retool&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: transparent; font-size: 12px;&quot;&gt;Medium&lt;/strong&gt;&lt;span style=&quot;background-color: transparent; font-size: 12px;&quot;&gt;: Builders did not build in Retool but have the skillset to build in Retool (JS/SQL/APIs) or they have built in Retool but proficiency is still lacking (ex. not regularly using JS or need help with code gen)&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;High&lt;/strong&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;: Builders built in Retool pre-sale or from a previous job. They are familiar with building in Retool and are proficient in front-end building due to their role (SWE, Developer, etc)&lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Hosting_Styles_Evaluated</name>
                    <choiceReferences>hosting_styles_eval_choice</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recordId.Evaluation_Hosting_Styles__c</elementReference>
                    </defaultValue>
                    <fieldText>Evaluation Hosting Styles</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Production_Hosting_Provider_eval</name>
                    <choiceReferences>choice_hosting_providers</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recordId.Production_Hosting_Provider__c</elementReference>
                    </defaultValue>
                    <fieldText>Production Hosting Provider</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Hosting_Provider_Details_eval</name>
                    <defaultValue>
                        <stringValue>{!recordId.Hosting_Provider_Details__c}</stringValue>
                    </defaultValue>
                    <fieldText>Hosting Provider Details</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Must be &amp;lt;= 1024 characters&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Hosting_Provider_Details_eval})&lt;=1024</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Evaluation_Details_Section_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Skill_Level_Details_eval</name>
                    <defaultValue>
                        <stringValue>{!recordId.Skill_Level_Details__c}</stringValue>
                    </defaultValue>
                    <fieldText>Skill Level Details</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Context on the skill level of the people managing and building in Retool, e.g. discrepancy in deployment vs. app building skill level or in different team skill level, where teams need help, etc.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Products_Evaluated</name>
                    <choiceReferences>products_eval_choice</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recordId.Products_Evaluated__c</elementReference>
                    </defaultValue>
                    <fieldText>Products Evaluated</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Move_to_Won</name>
        <label>Move to Won</label>
        <locationX>1212</locationX>
        <locationY>794</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_record_Won</targetReference>
        </connector>
        <fields>
            <name>header_to_eval_0</name>
            <fieldText>&lt;p&gt;To advance &lt;strong&gt;{!recordId.Name}&lt;/strong&gt; to the &lt;strong&gt;Won&lt;/strong&gt; stage, please review the following:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>close_date2</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Close Date: On what date did the technical evaluation conclude?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Date must be on or after the start of Evaluation ({!recordId.Evaluation_Start_Date__c}) and on or before today.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!close_date2} &gt;={!recordId.Evaluation_Start_Date__c} &amp;&amp; {!close_date2} &lt;= {!$Flow.CurrentDate}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Move_to_Won_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Move_to_Won_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Evaluation_Types</name>
                    <choiceReferences>eval_types_choice</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recordId.Evaluation_Types__c</elementReference>
                    </defaultValue>
                    <fieldText>Evaluation Types</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <helpText>&lt;p&gt;List any evaluation types leveraged. More information about each can be found in the &lt;a href=&quot;https://docs.google.com/presentation/d/1pl5NeD5gcwFzeKjQMxTjYVWmjh0RyoAGPtjqXj6MUho/edit#slide=id.g22e7b10d3b7_0_0&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Evaluation Playbook&lt;/a&gt;.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Move_to_Won_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>eval_types_help</name>
                    <fieldText>&lt;p&gt;&lt;a href=&quot;https://docs.google.com/presentation/d/1pl5NeD5gcwFzeKjQMxTjYVWmjh0RyoAGPtjqXj6MUho/edit#slide=id.g22e7b10d3b7_0_0&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px;&quot;&gt;Evaluation Types&lt;/a&gt;:&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Comprehensive Demo&lt;/strong&gt;: Stage 4 demo using pre-built assets&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Custom Demo&lt;/strong&gt;: Stage 4 demo using a prototype built for the customer&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Low-Touch POC&lt;/strong&gt;: 1-2 week POC with 2-3 check-ins&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Workshop&lt;/strong&gt;: 1-2 day, 3-4 hour sprint validation session(s)&lt;/p&gt;&lt;p&gt;&lt;strong&gt;High-Touch POC&lt;/strong&gt;: 2-4 week POC with numerous check-ins&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Self-led&lt;/strong&gt;: Customer evaluation without Retool guidance&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Evaluation_Details</name>
            <fieldText>Evaluation Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Evaluation_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Evaluation_Hosting_Styles_CW</name>
                    <choiceReferences>hosting_styles_eval_choice</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recordId.Evaluation_Hosting_Styles__c</elementReference>
                    </defaultValue>
                    <fieldText>Evaluation Hosting Styles</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Production_Hosting_Provider_cw</name>
                    <choiceReferences>choice_hosting_providers</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recordId.Production_Hosting_Provider__c</elementReference>
                    </defaultValue>
                    <fieldText>Production Hosting Provider</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Hosting_Provider_Details_cw</name>
                    <defaultValue>
                        <stringValue>{!recordId.Hosting_Provider_Details__c}</stringValue>
                    </defaultValue>
                    <fieldText>Hosting Provider Details</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Must be &amp;lt;= 1024 characters&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Hosting_Provider_Details_cw})&lt;=1024</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Evaluation_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Products_Evaluated_cw</name>
                    <choiceReferences>products_eval_choice</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recordId.Products_Evaluated__c</elementReference>
                    </defaultValue>
                    <fieldText>Products Evaluated</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Identified_Use_Cases</name>
                    <defaultValue>
                        <stringValue>{!recordId.Identified_Use_Cases__c}</stringValue>
                    </defaultValue>
                    <fieldText>Identified Use Cases</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <helpText>&lt;p&gt;The use cases/apps the team is planning to roll out, and their priority, primary builders, teams, and end user details. Include links to relevant Gong calls or app specs/details.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Use_Case_Details</name>
            <fieldText>Production Use Cases</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Use_Case_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Use_Case_Complexity</name>
                    <defaultValue>
                        <stringValue>{!recordId.Use_Case_Complexity__c}</stringValue>
                    </defaultValue>
                    <fieldText>Use Case Complexity</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <helpText>&lt;p&gt;Details on any use case complexity, e.g. migration from an existing tool, complex workflow, APIs need to be built out, etc.&amp;nbsp;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Use_Case_Progress</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recordId.Use_Case_Progress__c</elementReference>
                    </defaultValue>
                    <fieldText>Use Case Progress</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(40, 40, 40); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;Indicate the work completed on the Identified Use Cases during the evaluation, and what was built by the customer vs. Retool. &lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>recordId.Id</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Hide</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Production_Details</name>
            <fieldText>Production Details (Success &amp; Deployment)</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Production_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>recordId.Deployment_POC__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Production_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Deployment_Progress</name>
                    <defaultValue>
                        <stringValue>{!recordId.Deployment_Progress__c}</stringValue>
                    </defaultValue>
                    <fieldText>Deployment Progress</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <helpText>&lt;p&gt;How much of the deployment - including SSO/source control, externalized storage DB, and resource setup - is completed,  which steps must be done post-sale, and if the customer is deploying differently in production than they did during the evaluation.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>production_hosting_style</name>
                    <extensionName>flowruntime:dependentPicklists</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>dependencyWrapperApiName</name>
                        <value>
                            <stringValue>Technical_Evaluation__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topPicklistApiName</name>
                        <value>
                            <stringValue>Production_Hosting_Style__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middlePicklistApiName</name>
                        <value>
                            <stringValue>Production_Hosting_Provider__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topValue</name>
                        <value>
                            <elementReference>recordId.Production_Hosting_Style__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleValue</name>
                        <value>
                            <elementReference>recordId.Production_Hosting_Provider__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>recordId.Id</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Hide</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Production_Details_a</name>
            <fieldText>Production Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Production_Details_a_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Skill_Level</name>
                    <choiceReferences>skill_level_choices</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recordId.Skill_Level__c</elementReference>
                    </defaultValue>
                    <fieldText>Skill Level</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px; background-color: transparent;&quot;&gt;Low&lt;/strong&gt;&lt;span style=&quot;font-size: 12px; background-color: transparent;&quot;&gt;: Builders did not build in Retool and do not have technical proficiency to build on Retool&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px; background-color: transparent;&quot;&gt;Medium&lt;/strong&gt;&lt;span style=&quot;font-size: 12px; background-color: transparent;&quot;&gt;: Builders did not build in Retool but have the skillset to build in Retool (JS/SQL/APIs) or they have built in Retool but proficiency is still lacking (ex. not regularly using JS or need help with code gen)&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;High&lt;/strong&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;: Builders built in Retool pre-sale or from a previous job. They are familiar with building in Retool and are proficient in front-end building due to their role (SWE, Developer, etc)&lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Production_Details_a_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Skill_Level_Details</name>
                    <defaultValue>
                        <stringValue>{!recordId.Skill_Level_Details__c}</stringValue>
                    </defaultValue>
                    <fieldText>Skill Level Details</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <helpText>&lt;p&gt;Context on the skill level of the people managing and building in Retool, e.g. discrepancy in deployment vs. app building skill level or in different team skill level, where teams need help, etc.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Production_Risks</name>
                    <defaultValue>
                        <stringValue>{!recordId.Production_Risks__c}</stringValue>
                    </defaultValue>
                    <fieldText>Production Risks</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <helpText>&lt;p&gt;Any blockers or risks to productionized deployment and use case implementation, (e.g. no direct access to IT team, migration to new idP, complex resource auth or connection issues, low skill builders, etc.)&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_Technical_Evaluation_Forecast</name>
        <label>Update Technical Evaluation Forecast</label>
        <locationX>1587</locationX>
        <locationY>487</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_record_Forecast</targetReference>
        </connector>
        <fields>
            <name>forecast_header</name>
            <fieldText>&lt;p&gt;To advance to the next stage, please update this Technical Evaluation&#39;s forecast:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Forecast_section</name>
            <fieldText>Forecast</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Forecast_section_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Forecast</name>
                    <choiceReferences>choice_on_track</choiceReferences>
                    <choiceReferences>choice_at_risk</choiceReferences>
                    <choiceReferences>choice_blocked</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recordId.Forecast__c</elementReference>
                    </defaultValue>
                    <fieldText>Forecast</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>screen_Close_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>recordId.Close_Date__c</elementReference>
                    </defaultValue>
                    <fieldText>Close Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Close date must be today or in the future&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!screen_Close_Date}&gt;=TODAY()</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Forecast_section_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>screen_Forecast_Details</name>
                    <defaultValue>
                        <stringValue>{!recordId.Forecast_Details__c}</stringValue>
                    </defaultValue>
                    <fieldText>Forecast Details</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Inter, sans-serif; font-size: 10pt;&quot;&gt;Date &amp;amp; brief overview of evaluation status and any forecast risks&lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>screen_Risks</name>
                    <choiceReferences>choice_forecast_risks</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recordId.Forecast_Risks__c</elementReference>
                    </defaultValue>
                    <fieldText>Risks</fieldText>
                    <fieldType>MultiSelectPicklist</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Next_Step_section</name>
            <fieldText>Next Step</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Next_Step_section_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Next_Step_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>recordId.Next_Step_Date__c</elementReference>
                    </defaultValue>
                    <fieldText>Next Step Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Next step date must be today or in the future&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Next_Step_Date}&gt;=TODAY()</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Next_Step_section_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Next_Step</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recordId.Next_Step__c</elementReference>
                    </defaultValue>
                    <fieldText>Next Step</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>644</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Tech_eval_ID_provided</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Add_Technical_Asset</name>
        <label>Add Technical Asset</label>
        <locationX>2216</locationX>
        <locationY>538</locationY>
        <connector>
            <targetReference>Tech_eval_ID_provided_0</targetReference>
        </connector>
        <flowName>Technical_Evaluation_New_Asset_Button</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Technical_Evaluation__c</objectType>
    </variables>
    <variables>
        <name>tech_eval_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
