unpackaged/main/default/flows/Technical_Evaluation_Close_Lost_Button.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Open_record</name>
        <label>Open tech eval record</label>
        <locationX>1862</locationX>
        <locationY>1417</locationY>
        <actionName>c:OpenURL</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>url</name>
            <value>
                <elementReference>tech_eval_Url</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:OpenURL</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Set_equal_to_recordId</name>
        <label>Set equal to recordId</label>
        <locationX>966</locationX>
        <locationY>568</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_tech_eval</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_open</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_technical_evaluation</name>
        <label>Update technical evaluation</label>
        <locationX>958</locationX>
        <locationY>1473</locationY>
        <assignmentItems>
            <assignToReference>recordId.Lost_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lost_Reason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Lost_Reason_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lost_Reason_Details</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Close_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Lost</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Close_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>close_method</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Permission_Check__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Forecast__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Manager_Forecast__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Blockers__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>screen_blockers</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Blocker_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>screen_blocker_Details</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_tech_eval</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Found_tech_eval</name>
        <label>Found tech eval?</label>
        <locationX>960</locationX>
        <locationY>377</locationY>
        <defaultConnector>
            <targetReference>Error_Invalid_ID_Provided</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_tech_eval_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_tech_eval</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_equal_to_recordId</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_open</name>
        <label>Is open?</label>
        <locationX>833</locationX>
        <locationY>789</locationY>
        <defaultConnector>
            <targetReference>Error_Evaluation_not_open</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Is_Closed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_is_on_opp_team</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tech_eval_ID_provided</name>
        <label>Tech eval ID provided?</label>
        <locationX>828</locationX>
        <locationY>197</locationY>
        <defaultConnector>
            <targetReference>Is_open</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_id_provided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>tech_eval_id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_tech_eval</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Triggered_via_tech_eval_id</name>
        <label>Triggered via tech_eval_id?</label>
        <locationX>1571</locationX>
        <locationY>1436</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_triggered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>tech_eval_id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Open_record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_is_on_opp_team</name>
        <label>User is on opp team?</label>
        <locationX>834</locationX>
        <locationY>1008</locationY>
        <defaultConnector>
            <targetReference>Error_Not_on_opportunity_team</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$User.Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales Engineering</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Sales_Operations__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Opportunity__r.Opportunity_I_am_Owner__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Opportunity__r.I_am_Sales_Engineer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>lost_screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>choice_blockers</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Blockers__c</picklistField>
        <picklistObject>Technical_Evaluation__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>lost_reasons</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Lost_Reason__c</picklistField>
        <picklistObject>Technical_Evaluation__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>close_method</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!tech_eval_id}),&quot;Close Lost Button Flow (SF UI)&quot;,&quot;Close Lost Button Flow (URL)&quot;)</expression>
    </formulas>
    <formulas>
        <name>tech_eval_Url</name>
        <dataType>String</dataType>
        <expression>&quot;https://retool.lightning.force.com/lightning/r/Technical_Evaluation__c/&quot;&amp;{!recordId.Id}&amp;&quot;/view&quot;</expression>
    </formulas>
    <interviewLabel>Technical Evaluation - Close Lost Button {!$Flow.CurrentDateTime} {!recordId.Name}</interviewLabel>
    <label>Technical Evaluation - Close Lost Button</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_tech_eval</name>
        <label>Get tech eval</label>
        <locationX>1001</locationX>
        <locationY>195</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_tech_eval</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>tech_eval_id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Technical_Evaluation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_tech_eval</name>
        <label>Update tech eval</label>
        <locationX>1186</locationX>
        <locationY>1428</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <inputReference>recordId</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Error_Evaluation_not_open</name>
        <label>Error - Evaluation not open</label>
        <locationX>1085</locationX>
        <locationY>783</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>error_not_open</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Error:&lt;/strong&gt; You cannot close this technical evaluation because it is already closed.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Invalid_ID_Provided</name>
        <label>Error - Invalid ID Provided</label>
        <locationX>1174</locationX>
        <locationY>373</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>error_not_open_0_0</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Error:&lt;/strong&gt; Provided technical evaluation ID invalid or not found&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Not_on_opportunity_team</name>
        <label>Error: Not on opportunity team</label>
        <locationX>1077</locationX>
        <locationY>1006</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>error_not_open_0</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Error:&lt;/strong&gt; You cannot close this technical evaluation because you are not the opportunity owner or assigned sales engineer&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>lost_screen</name>
        <label>Close Lost Technical Evaluation</label>
        <locationX>842</locationX>
        <locationY>1227</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_technical_evaluation</targetReference>
        </connector>
        <fields>
            <name>lost_screen_header</name>
            <fieldText>&lt;p&gt;To indicate that Retool has lost  &lt;strong&gt;{!recordId.Name}&lt;/strong&gt; please provide a reason and any supporting details:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Why_We_Losst</name>
            <fieldText>Why We Lost</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Why_We_Losst_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Lost_Reason</name>
                    <choiceReferences>lost_reasons</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recordId.Lost_Reason__c</elementReference>
                    </defaultValue>
                    <fieldText>What is the primary reason why we lost the evaluation?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Why_We_Losst_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Lost_Reason_Details</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recordId.Lost_Reason_Details__c</elementReference>
                    </defaultValue>
                    <fieldText>Provide any additional context regarding why we lost:</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>cl_note</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Note&lt;/strong&gt;: If the evaluation was abandoned because the deal was lost (e.g. due to commercial misalignment), please select &lt;u&gt;Incomplete Evaluation&lt;/u&gt; for the Lost Reason.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Blockers</name>
            <fieldText>Blockers</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Blockers_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>screen_blockers</name>
                    <choiceReferences>choice_blockers</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recordId.Blockers__c</elementReference>
                    </defaultValue>
                    <fieldText>Blocker(s)</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Blockers_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>screen_blocker_Details</name>
                    <defaultValue>
                        <stringValue>{!recordId.Blocker_Details__c}</stringValue>
                    </defaultValue>
                    <fieldText>Details</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Must be less than 2048 characters&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!screen_blocker_Details})&lt;=2048</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>1391</locationX>
        <locationY>1448</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Triggered_via_tech_eval_id</targetReference>
        </connector>
        <fields>
            <name>sucess_header</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;{!recordId.Name} has been successfully Closed Lost.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;&lt;u&gt;Please remember to: &lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Add any relevant Technical Assets (i.e. custom demos, prototypes / apps, presentations, etc.) using the &lt;u&gt;New Asset&lt;/u&gt; button&lt;/li&gt;&lt;li&gt;File any Product Feature Requests (PFRs) via the &lt;a href=&quot;https://admin.retool.dev/apps/2bd5478c-ba96-11ec-a092-8b3fc062814a/Product/Product%20Feedback%20Requests&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;PFR app&lt;/a&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>703</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Tech_eval_ID_provided</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Technical_Evaluation__c</objectType>
    </variables>
    <variables>
        <name>tech_eval_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
