unpackaged/main/default/flows/User_Before_Save_Automations.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Clear_level</name>
        <label>Clear level</label>
        <locationX>4662</locationX>
        <locationY>490</locationY>
        <assignmentItems>
            <assignToReference>$Record.Employee_Level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Clear_sync_trigger</name>
        <label>Clear sync trigger</label>
        <locationX>2306</locationX>
        <locationY>263</locationY>
        <assignmentItems>
            <assignToReference>$Record.Sync_to_ROE_Rule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_User_Role_ROE_rule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_attrib</name>
        <label>Remove_attribution</label>
        <locationX>2881</locationX>
        <locationY>244</locationY>
        <assignmentItems>
            <assignToReference>$Record.Department</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Team__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Subteam__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Sourcing_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Opportunity_Segment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Territory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.User_Role_Short_Name__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Department__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Role_Name__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Subregion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remove_ROE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_ROE</name>
        <label>Remove ROE</label>
        <locationX>2947</locationX>
        <locationY>389</locationY>
        <assignmentItems>
            <assignToReference>$Record.Account_Max_Hold_Time_Days__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Account_Max_Owned_Total_Num__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Account_Min_Hold_Time_Days__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Account_Min_Time_Before_Reclaim_Days__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Account_Max_Num_Holds__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Gong_Activity_Capture_Level__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Gong_Permission_Profile__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Can_make_RevOps_agreements__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Can_Override_Sourced_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CP_Standard_Queues__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Goal_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Geo_Countries_Allowed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Geo_Countries_Disallowed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Variable_Incentive_Plan__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CP_Licenses__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.LinkedIn_SN_License__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Can_Create_Opportunities__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Account_Owner_Team_Role__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Account_Max_Days_Without_Activity__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Account_Claim_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Disabled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Account_Team_Primary_Role__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ProvenWorks_License_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Licensed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DriveConnect_License_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Licensed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Can_Qualify_Opportunities__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Slack_Notifications_GTM_Tickets__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Slack_Notifications_Pipeline__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Sort_Order__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SE_Assignment_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Attributable_Region_Subteams__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Slack_Notifications_GTM_Tickets__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Slack_Notifications_Pipeline__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.UserPermissionsMarketingUser</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.UserPermissionsSupportUser</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Support_Case_Limit__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Eligible_Queues__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Set_defaults</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_attribution</name>
        <label>Set attribution</label>
        <locationX>3020</locationX>
        <locationY>99</locationY>
        <assignmentItems>
            <assignToReference>$Record.Department__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_Role_ROE_rule.Department__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Team__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_Role_ROE_rule.Team__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Subteam__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_Role_ROE_rule.Subteam__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_Role_ROE_rule.Level__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Sourcing_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_Role_ROE_rule.Sourcing_Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Opportunity_Segment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_Role_ROE_rule.Opportunity_Segment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Account_Max_Hold_Time_Days__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_Role_ROE_rule.Account_Max_Hold_Time_Days__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Account_Max_Owned_Total_Num__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_Role_ROE_rule.Account_Max_Owned_Total_Num__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Account_Min_Hold_Time_Days__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_Role_ROE_rule.Account_Min_Hold_Time_Days__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Account_Min_Time_Before_Reclaim_Days__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_Role_ROE_rule.Account_Min_Time_Before_Reclaim_Days__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Account_Max_Num_Holds__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_Role_ROE_rule.Account_Max_Number_of_Holds__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Gong_Activity_Capture_Level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_Role_ROE_rule.Gong_Activity_Capture_Level__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Gong_Permission_Profile__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_Role_ROE_rule.Gong_Permission_Profile__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Can_make_RevOps_agreements__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_Role_ROE_rule.Can_Make_RevOps_Agreements__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Can_Override_Sourced_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_Role_ROE_rule.Can_Override_Sourced_By__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Can_Own_Accounts__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_Role_ROE_rule.Can_Own_Accounts__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Can_Qualify_Opportunities__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_Role_ROE_rule.Can_Qualify_Opportunities__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CP_Standard_Queues__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_Role_ROE_rule.CP_Standard_Queues__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Goal_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_Role_ROE_rule.Goal_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Geo_Countries_Allowed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_Role_ROE_rule.Geo_Countries_Allowed__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Geo_Countries_Disallowed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_Role_ROE_rule.Geo_Countries_Disallowed__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Variable_Incentive_Plan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_Role_ROE_rule.Variable_Incentive_Plan__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CP_Licenses__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_Role_ROE_rule.CP_Licenses__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.LinkedIn_SN_License__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_Role_ROE_rule.LinkedIn_SN_License__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Can_Create_Opportunities__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_Role_ROE_rule.Can_Create_Opportunities__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Territory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_Role_ROE_rule.Territory__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Account_Owner_Team_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_Role_ROE_rule.Account_Owner_Team_Role__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Account_Max_Days_Without_Activity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_Role_ROE_rule.Account_Max_Days_Without_Activity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Account_Claim_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_Role_ROE_rule.Account_Claim_Method__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_Role_ROE_rule.User_Role__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Account_Team_Primary_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_Role_ROE_rule.Account_Team_Primary_Role__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.User_Role_Short_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_Role_ROE_rule.User_Role_Short_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DriveConnect_License_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_Role_ROE_rule.DriveConnect_License_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ProvenWorks_License_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_Role_ROE_rule.ProvenWorks_License_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Department</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_Role_ROE_rule.Department__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Role_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_Role_ROE_rule.User_Role__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_Role_ROE_rule.Region__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Subregion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_Role_ROE_rule.Subregion__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SE_Assignment_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_Role_ROE_rule.SE_Assignment_Method__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Attributable_Region_Subteams__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_Role_ROE_rule.Attributable_Region_Subteams__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Slack_Notifications_GTM_Tickets__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_Role_ROE_rule.Slack_Notifications_GTM_Tickets__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Slack_Notifications_Pipeline__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_Role_ROE_rule.Slack_Notifications_Pipeline__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.UserPermissionsSupportUser</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_Role_ROE_rule.Service_Cloud_User__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.UserPermissionsMarketingUser</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_Role_ROE_rule.Marketing_User__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Support_Case_Limit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_Role_ROE_rule.Support_Case_Limit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Eligible_Queues__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_Role_ROE_rule.Eligible_Queues__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_defaults</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_defaults</name>
        <label>Set defaults</label>
        <locationX>3100</locationX>
        <locationY>478</locationY>
        <assignmentItems>
            <assignToReference>$Record.Trigger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Department</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Department__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Centro__Slack_UserId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Slack_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_manager</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_inactive_defaults</name>
        <label>Set inactive defaults</label>
        <locationX>2671</locationX>
        <locationY>364</locationY>
        <assignmentItems>
            <assignToReference>$Record.Mapped_BDR__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Mapped_Renewal_Manager__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Mapped_Sales_Engineer__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.UserRoleId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Remove_ROE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_London</name>
        <label>Set London</label>
        <locationX>1091</locationX>
        <locationY>697</locationY>
        <assignmentItems>
            <assignToReference>$Record.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>221 Pentonville Road</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>London</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.State</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>N1 9UZ</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>United Kingdom</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.TimeZoneSidKey</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Europe/London</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>User_is_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_manager_from_goal</name>
        <label>Set manager from goal</label>
        <locationX>3561</locationX>
        <locationY>360</locationY>
        <assignmentItems>
            <assignToReference>$Record.ManagerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Look_for_goal.Manager__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_user_role</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_manager_from_goal_0</name>
        <label>Set manager from rippling manager user</label>
        <locationX>3911</locationX>
        <locationY>125</locationY>
        <assignmentItems>
            <assignToReference>$Record.ManagerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Look_for_manager_by_Rippling_ID.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_user_role</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_York</name>
        <label>Set New York</label>
        <locationX>1096</locationX>
        <locationY>389</locationY>
        <assignmentItems>
            <assignToReference>$Record.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>915 Broadway, 6th Floor</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New York</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New York</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>10010</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>United States</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.TimeZoneSidKey</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>America/New_York</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>User_is_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_San_Francisco</name>
        <label>Set San Francisco</label>
        <locationX>1095</locationX>
        <locationY>253</locationY>
        <assignmentItems>
            <assignToReference>$Record.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1550 Bryant St., 9th Floor</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>San Francisco</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>California</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>94103</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>United States</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.TimeZoneSidKey</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>America/Los_Angeles</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>User_is_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_SLC</name>
        <label>Set SLC</label>
        <locationX>1086</locationX>
        <locationY>563</locationY>
        <assignmentItems>
            <assignToReference>$Record.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>460 W 50 N</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Salt Lake City</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Utah</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>84101</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>United States</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.TimeZoneSidKey</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>America/Denver</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>User_is_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_tag</name>
        <label>Set tag</label>
        <locationX>2103</locationX>
        <locationY>102</locationY>
        <assignmentItems>
            <assignToReference>$Record.Ops_Tag__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>role_change_tag</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_User_Role_ROE_rule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_time_zone_attributes</name>
        <label>Set time zone attributes</label>
        <locationX>1915</locationX>
        <locationY>237</locationY>
        <assignmentItems>
            <assignToReference>$Record.Time_Zone_Abbreviation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_time_zone.pw_ccpro__Abbreviation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Time_Zone_UTC_Offset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_time_zone.pw_ccpro__UtcOffset__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Time_Zone_UTC_Offset_Midyear__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_time_zone.pw_ccpro__UtcOffsetMidYear__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Role_is</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_title</name>
        <label>Set title</label>
        <locationX>4139</locationX>
        <locationY>304</locationY>
        <assignmentItems>
            <assignToReference>$Record.Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.UserRole.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Retain_or_clear_levels</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_title_0</name>
        <label>Set title</label>
        <locationX>4148</locationX>
        <locationY>604</locationY>
        <assignmentItems>
            <assignToReference>$Record.Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Rippling_Title__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Retain_or_clear_levels</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_manager</name>
        <label>Check for manager?</label>
        <locationX>3275</locationX>
        <locationY>468</locationY>
        <defaultConnector>
            <targetReference>Has_user_role</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_check_manager</name>
            <conditionLogic>1 AND (2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ManagerId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Rippling_Manager_ID__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Rippling_Manager_ID__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Look_for_goal</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_goal</name>
        <label>Found goal?</label>
        <locationX>3389</locationX>
        <locationY>291</locationY>
        <defaultConnector>
            <targetReference>Look_for_manager_by_Rippling_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_foundf</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Look_for_goal</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_manager_from_goal</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_manager_by_Rippling_ID</name>
        <label>Found manager by Rippling ID?</label>
        <locationX>3719</locationX>
        <locationY>190</locationY>
        <defaultConnector>
            <targetReference>Has_user_role</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_rippling</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Look_for_manager_by_Rippling_ID</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_manager_from_goal_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_ROE_rule</name>
        <label>Found ROE rule?</label>
        <locationX>2666</locationX>
        <locationY>182</locationY>
        <defaultConnector>
            <targetReference>Remove_attrib</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_Role_ROE_rule</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_attribution</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_time_zone</name>
        <label>Found time zone?</label>
        <locationX>1675</locationX>
        <locationY>309</locationY>
        <defaultConnector>
            <targetReference>Role_is</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_found_tz</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_time_zone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_time_zone_attributes</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_user_role</name>
        <label>User has</label>
        <locationX>3894</locationX>
        <locationY>476</locationY>
        <defaultConnector>
            <targetReference>Retain_or_clear_levels</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Neither</defaultConnectorLabel>
        <rules>
            <name>Rippling_Title</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Rippling_Title__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_title_0</targetReference>
            </connector>
            <label>Rippling Title</label>
        </rules>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.UserRoleId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_title</targetReference>
            </connector>
            <label>User Role</label>
        </rules>
    </decisions>
    <decisions>
        <name>Retain_or_clear_levels</name>
        <label>Retain or clear levels</label>
        <locationX>4382</locationX>
        <locationY>485</locationY>
        <defaultConnector>
            <targetReference>Clear_level</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Clear</defaultConnectorLabel>
        <rules>
            <name>Retain</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Department__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Department__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Success</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Department__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.UserRoleId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Retain</label>
        </rules>
    </decisions>
    <decisions>
        <name>Role_is</name>
        <label>User</label>
        <locationX>2013</locationX>
        <locationY>459</locationY>
        <defaultConnector>
            <targetReference>Set_defaults</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>User_inactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_inactive_defaults</targetReference>
            </connector>
            <label>Inactive</label>
        </rules>
        <rules>
            <name>Set_or_changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.UserRoleId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Trigger__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_tag</targetReference>
            </connector>
            <label>Role set or changed</label>
        </rules>
        <rules>
            <name>Sync_to_ROE_rule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sync_to_ROE_Rule__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_sync_trigger</targetReference>
            </connector>
            <label>Sync to ROE rule?</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_is</name>
        <label>User is</label>
        <locationX>472</locationX>
        <locationY>474</locationY>
        <defaultConnector>
            <targetReference>User_Rippling_Work_Location</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Updated</defaultConnectorLabel>
        <rules>
            <name>Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_Rippling_Work_Location</targetReference>
            </connector>
            <label>Created</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_is_0</name>
        <label>User is</label>
        <locationX>1546</locationX>
        <locationY>478</locationY>
        <defaultConnector>
            <targetReference>Role_is</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Created_user</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_time_zone</targetReference>
            </connector>
            <label>Created</label>
        </rules>
        <rules>
            <name>Time_Zone_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TimeZoneSidKey</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_time_zone</targetReference>
            </connector>
            <label>Time Zone Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_Rippling_Work_Location</name>
        <label>User Rippling Work Location</label>
        <locationX>752</locationX>
        <locationY>478</locationY>
        <defaultConnector>
            <targetReference>User_is_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other / Blank</defaultConnectorLabel>
        <rules>
            <name>Rippling_Work_Location</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Rippling_Work_Location__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>San Francisco</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_San_Francisco</targetReference>
            </connector>
            <label>San Francisco</label>
        </rules>
        <rules>
            <name>New_York</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Rippling_Work_Location__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New York</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_New_York</targetReference>
            </connector>
            <label>New York</label>
        </rules>
        <rules>
            <name>Salt_Lake_City</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Rippling_Work_Location__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Salt Lake City</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_SLC</targetReference>
            </connector>
            <label>Salt Lake City</label>
        </rules>
        <rules>
            <name>London</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Rippling_Work_Location__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>London</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_London</targetReference>
            </connector>
            <label>London</label>
        </rules>
        <rules>
            <name>Remote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Rippling_Work_Location__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Remote</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_is_0</targetReference>
            </connector>
            <label>Remote</label>
        </rules>
    </decisions>
    <description>Added case rules from ROE rule</description>
    <environments>Default</environments>
    <formulas>
        <name>calc_end_date</name>
        <dataType>Date</dataType>
        <expression>IF(ISBLANK({!$Record.End_Date__c}),{!$Flow.CurrentDate},{!$Record.End_Date__c})</expression>
    </formulas>
    <formulas>
        <name>current_goal_start_period</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!$Flow.CurrentDate}),MONTH({!$Flow.CurrentDate}),1)</expression>
    </formulas>
    <formulas>
        <name>role_change_tag</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName}&amp;&quot; &quot;&amp;{!$User.LastName}&amp;&quot; [&quot;&amp;TEXT({!$Flow.CurrentDateTime})&amp;&quot;]&quot;</expression>
    </formulas>
    <interviewLabel>User - Before Save Automations {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User - Before Save Automations</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_time_zone</name>
        <label>Get time zone</label>
        <locationX>1557</locationX>
        <locationY>299</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_time_zone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.TimeZoneSidKey</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>pw_ccpro__TimeZone__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Role_ROE_rule</name>
        <label>Get User Role ROE rule</label>
        <locationX>2506</locationX>
        <locationY>110</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_ROE_rule</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User_Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.UserRole.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ROE_Rule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Look_for_goal</name>
        <label>Look for goal</label>
        <locationX>3277</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_goal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Assignee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Individual</stringValue>
            </value>
        </filters>
        <filters>
            <field>Period_Start__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>current_goal_start_period</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Goal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Look_for_manager_by_Rippling_ID</name>
        <label>Look for manager by Rippling ID</label>
        <locationX>3577</locationX>
        <locationY>181</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_manager_by_Rippling_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Rippling_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Rippling_Manager_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>404</locationY>
        <connector>
            <targetReference>User_is</targetReference>
        </connector>
        <object>User</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
