unpackaged/main/default/flows/User_Extension_Before_Save_Automations.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Clear_current_ROE_rule</name>
        <label>Clear current ROE rule</label>
        <locationX>1146</locationX>
        <locationY>621</locationY>
        <assignmentItems>
            <assignToReference>$Record.Current_User_Role__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Trigger_new_to_current</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_current_ROE_rule</name>
        <label>Set current ROE rule</label>
        <locationX>1532</locationX>
        <locationY>358</locationY>
        <assignmentItems>
            <assignToReference>$Record.Current_User_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_ROE_Rule.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Trigger_new_to_current</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_new_role</name>
        <label>Set new role</label>
        <locationX>1999</locationX>
        <locationY>418</locationY>
        <assignmentItems>
            <assignToReference>$Record.New_User_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Current_User_Role__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Trigger_Match_New_to_Current__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_defaults</name>
        <label>Update defaults</label>
        <locationX>449</locationX>
        <locationY>399</locationY>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>default_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Trigger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0055A00000ApunnQAB</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>User_has_role</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Trigger_new_to_current</name>
        <label>Trigger: new to current?</label>
        <locationX>1746</locationX>
        <locationY>503</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_trigger</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Trigger_Match_New_to_Current__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_new_role</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_has_role</name>
        <label>User has role?</label>
        <locationX>1022</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Clear_current_ROE_rule</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.User__r.UserRoleId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_ROE_Rule</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>default_Name</name>
        <dataType>String</dataType>
        <expression>IF(
 NOT(ISPICKVAL({!$Record.TBH_Index__c},&quot;&quot;)),
 TEXT({!$Record.TBH_Index__c})&amp;&quot; &quot;&amp;{!$Record.TBH_Name__c}&amp;&quot; (&quot;&amp;{!$Record.New_User_Role__r.User_Role_Short_Name__c}&amp;&quot;-&quot;&amp;TEXT({!$Record.New_User_Role__r.Subteam__c})&amp;&quot;)&quot;,
 IF(
  NOT(ISBLANK({!$Record.New_User_Role__c})),
  {!$Record.User__r.FirstName}&amp;&quot; &quot;&amp;{!$Record.User__r.LastName}&amp;&quot; (&quot;&amp;{!$Record.New_User_Role__r.User_Role_Short_Name__c}&amp;&quot;-&quot;&amp;TEXT({!$Record.New_User_Role__r.Subteam__c})&amp;&quot;)&quot;, 
  {!$Record.User__r.FirstName}&amp;&quot; &quot;&amp;{!$Record.User__r.LastName}&amp;&quot; (&quot;&amp;{!$Record.User__r.User_Role_Short_Name__c}&amp;&quot;-&quot;&amp;TEXT({!$Record.User__r.Subteam__c})&amp;&quot;)&quot;
 )
)</expression>
    </formulas>
    <interviewLabel>User Extension - Before Save Automations {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User Extension - Before Save Automations</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_ROE_Rule</name>
        <label>Get ROE Rule</label>
        <locationX>1239</locationX>
        <locationY>331</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_current_ROE_rule</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User_Role_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.User__r.UserRole.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ROE_Rule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>328</locationY>
        <connector>
            <targetReference>Update_defaults</targetReference>
        </connector>
        <object>User_Extension__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
