unpackaged/main/default/flows/User_After_Create_Automations.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_user_extension_ID_to_profile_0</name>
        <label>Add user extension ID to profile</label>
        <locationX>1138</locationX>
        <locationY>269</locationY>
        <assignmentItems>
            <assignToReference>$Record.User_Extension_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_user_extension</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_user_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_user_extension_ID_to_profile_0_0</name>
        <label>Add user extension ID to profile</label>
        <locationX>899</locationX>
        <locationY>65</locationY>
        <assignmentItems>
            <assignToReference>$Record.User_Extension_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Look_for_existing_user_extension.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_user_extention</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_profile_to_Retool_User</name>
        <label>Update profile to Retool User</label>
        <locationX>1281</locationX>
        <locationY>531</locationY>
        <assignmentItems>
            <assignToReference>$Record.ProfileId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00e5A0000020y1FQAQ</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_user_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_user_extention</name>
        <label>Update user extention</label>
        <locationX>1113</locationX>
        <locationY>64</locationY>
        <assignmentItems>
            <assignToReference>Look_for_existing_user_extension.User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Look_for_existing_user_extension.Notify_of_New_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Commit_user_extension</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Found_user_extension</name>
        <label>Found user extension?</label>
        <locationX>767</locationX>
        <locationY>273</locationY>
        <defaultConnector>
            <targetReference>Create_user_extension</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Look_for_existing_user_extension</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_user_extension_ID_to_profile_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Profile_is</name>
        <label>Profile is</label>
        <locationX>1021</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>Update_user_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Standard_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Standard User</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_profile_to_Retool_User</targetReference>
            </connector>
            <label>Standard User</label>
        </rules>
    </decisions>
    <description>Removed work location stuff; moved to Before Save</description>
    <environments>Default</environments>
    <formulas>
        <name>Current_Month</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!$Flow.CurrentDate}),MONTH({!$Flow.CurrentDate}),1)</expression>
    </formulas>
    <formulas>
        <name>email_subject</name>
        <dataType>String</dataType>
        <expression>&quot;New Salesforce User: &quot;&amp;{!$Record.FirstName}&amp;&quot; &quot;&amp;{!$Record.LastName}</expression>
    </formulas>
    <formulas>
        <name>user_full_name</name>
        <dataType>String</dataType>
        <expression>{!$Record.FirstName}&amp;&quot; &quot;&amp;{!$Record.LastName}</expression>
    </formulas>
    <interviewLabel>User - After Create Automations {!$Flow.CurrentDateTime}: {!$Record.FirstName} {!$Record.LastName}</interviewLabel>
    <label>User - After Create Automations</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Add_All_Users_permission_set_group_assignment</name>
        <label>Add All_Users permission set group assignment</label>
        <locationX>410</locationX>
        <locationY>72</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0PG5A000000PAvCWAW</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetGroupId</field>
            <value>
                <stringValue>0PG5A000000PAvCWAW</stringValue>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
        <operationMultMatchingRecords>None</operationMultMatchingRecords>
        <operationOneMatchingRecord>None</operationOneMatchingRecord>
        <operationZeroMatchingRecords>AddRecord</operationZeroMatchingRecords>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_user_extension</name>
        <label>Create user extension</label>
        <locationX>962</locationX>
        <locationY>270</locationY>
        <connector>
            <targetReference>Add_user_extension_ID_to_profile_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Notify_of_New_User__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0055A00000ApunnQAB</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>User_Extension__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Look_for_existing_user_extension</name>
        <label>Look for existing user extension</label>
        <locationX>620</locationX>
        <locationY>271</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_user_extension</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TBH_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>user_full_name</elementReference>
            </value>
        </filters>
        <filters>
            <field>User__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User_Extension__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Commit_user_extension</name>
        <label>Commit user extension</label>
        <locationX>1341</locationX>
        <locationY>64</locationY>
        <connector>
            <targetReference>Update_user_0</targetReference>
        </connector>
        <inputReference>Look_for_existing_user_extension</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_user_0</name>
        <label>Update user</label>
        <locationX>1341</locationX>
        <locationY>270</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_user_0_0</name>
        <label>Update user</label>
        <locationX>1679</locationX>
        <locationY>609</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>452</locationY>
        <connector>
            <targetReference>Profile_is</targetReference>
        </connector>
        <object>User</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Look_for_existing_user_extension</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <scheduledPaths>
            <name>X1_Min_later</name>
            <connector>
                <targetReference>Add_All_Users_permission_set_group_assignment</targetReference>
            </connector>
            <label>1 Min later</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>Current_Date_Time__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>email_recipients</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
