unpackaged/main/default/flows/User_Rippling_Title_or_Manager_Change_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_notification_to_gtm_user_setup</name>
        <label>Send notification to #gtm-user-setup</label>
        <locationX>779</locationX>
        <locationY>789</locationY>
        <actionName>Centro__SendMessageFlow</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>channelId</name>
            <value>
                <stringValue>{!channel_id}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>InterviewGuid</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>&lt;p&gt;{!slack_notification}&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pinMessage</name>
            <value>
                <stringValue>false</stringValue>
            </value>
        </inputParameters>
        <nameSegment>Centro__SendMessageFlow</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <decisions>
        <name>User_created</name>
        <label>User created</label>
        <locationX>559</locationX>
        <locationY>440</locationY>
        <defaultConnector>
            <targetReference>Send_notification_to_gtm_user_setup</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Today</defaultConnectorLabel>
        <rules>
            <name>Today</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>created_date</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <label>Today</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>created_date</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!$Record.CreatedDate})</expression>
    </formulas>
    <interviewLabel>User - Rippling Title or Manager Change Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User - Rippling Title or Manager Change Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>654</locationX>
        <locationY>48</locationY>
        <filterLogic>((1 AND 2) OR (3 AND 4)) AND 5 AND 6 AND 7</filterLogic>
        <filters>
            <field>Rippling_Manager_ID__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Rippling_Manager_ID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Rippling_Title__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Rippling_Title__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Employee_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ACTIVE</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>NotEqualTo</operator>
        </filters>
        <object>User</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>User_created</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>slack_notification</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;:arrow_forward: &lt;a href=&quot;https://retool.lightning.force.com/{!$Record.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;{!$Record.FirstName} {!$Record.LastName}&lt;/strong&gt;&lt;/a&gt;&lt;strong&gt; updated in Rippling &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;:arrow_forward:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Rippling Title: &lt;/strong&gt;{!$Record.Rippling_Title__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Rippling Manager: &lt;/strong&gt;{!$Record.Rippling_Manager_Name__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Salesforce Role: &lt;/strong&gt;{!$Record.UserRole.Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Salesforce Manager: &lt;/strong&gt;{!$Record.Manager.FirstName} &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.Manager.LastName} ({!$Record.Manager.UserRole.Name})&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://retool.lightning.force.com/flow/Flow_Update_User_Role_and_Manager&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Click here to update this user in Salesforce&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>channel_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>C07NLS12K5Y</stringValue>
        </value>
    </variables>
</Flow>
