unpackaged/main/default/flows/User_Extension_New_User_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_new_user_notification</name>
        <label>Send new user notification</label>
        <locationX>1299</locationX>
        <locationY>932</locationY>
        <actionName>Centro__SendMessageFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_message_queue</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>channelId</name>
            <value>
                <stringValue>{!new_user_channel}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>InterviewGuid</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>{!new_user_slack}
&lt;!subteam^S087C9T4BDZ&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pinMessage</name>
            <value>
                <stringValue>false</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>usePlainText</name>
            <value>
                <stringValue>true</stringValue>
            </value>
        </inputParameters>
        <nameSegment>Centro__SendMessageFlow</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>message_queue</assignToReference>
            <name>messageQueue</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Set_message_queue</name>
        <label>Set message queue</label>
        <locationX>1179</locationX>
        <locationY>1121</locationY>
        <assignmentItems>
            <assignToReference>$Record.New_User_Notification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>message_queue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_user_extension</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Uncheck_trigger</name>
        <label>Uncheck trigger</label>
        <locationX>1047</locationX>
        <locationY>739</locationY>
        <assignmentItems>
            <assignToReference>$Record.Notify_of_New_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_message_queue</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_message_queue</name>
        <label>Has message queue?</label>
        <locationX>1043</locationX>
        <locationY>915</locationY>
        <defaultConnector>
            <targetReference>Send_new_user_notification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_f</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.New_User_Notification__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_user_extension</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_is</name>
        <label>User is</label>
        <locationX>817</locationX>
        <locationY>565</locationY>
        <defaultConnector>
            <targetReference>Uncheck_trigger</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Standard User</defaultConnectorLabel>
        <rules>
            <name>Service_Account</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.User__r.Is_integration_user__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Service Account</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>manager_null_safe</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.User__r.ManagerId}),&quot;Unknown&quot;,{!$Record.User__r.Manager.FirstName}&amp;&quot; &quot;&amp;{!$Record.User__r.Manager.LastName})</expression>
    </formulas>
    <formulas>
        <name>setup_new_user_url</name>
        <dataType>String</dataType>
        <expression>&quot;https://retool.lightning.force.com/flow/Flow_Create_New_User_Goals?assignee_id=&quot;&amp;{!$Record.User__c}&amp;&quot;&amp;retURL=&quot;&amp;{!$Record.User__c}</expression>
    </formulas>
    <interviewLabel>User Extension - New User Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User Extension - New User Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_user_extension</name>
        <label>Update user extension</label>
        <locationX>1048</locationX>
        <locationY>1237</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>684</locationX>
        <locationY>50</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Notify_of_New_User__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User_Extension__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>User_is</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>new_user_slack</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;:bust_in_silhouette: New User: &lt;/strong&gt;&lt;a href=&quot;https://retool.lightning.force.com/{!$Record.User__c}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&lt;strong&gt;{!$Record.User__r.FirstName} {!$Record.User__r.LastName}&lt;/strong&gt;&lt;/a&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; :bust_in_silhouette:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Created By:&lt;/strong&gt; {!$Record.User__r.CreatedBy.Slack_Mention_Handle_Only__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Division:&lt;/strong&gt; {!$Record.User__r.Division}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Title:&lt;/strong&gt; {!$Record.User__r.Title}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Email: &lt;/strong&gt;{!$Record.User__r.Email}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Manager: &lt;/strong&gt;{!manager_null_safe}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;{!setup_new_user_url}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Click here to set up {!$Record.User__r.FirstName} {!$Record.User__r.LastName}&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>message_queue</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Centro__Message_Queue__c</objectType>
    </variables>
    <variables>
        <name>new_user_channel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>C07NLS12K5Y</stringValue>
        </value>
    </variables>
</Flow>
