unpackaged/main/default/flows/Util_Trigger_Related_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Util - Trigger Related Records {!$Flow.CurrentDateTime} Acct[{!accountId.Name}]</interviewLabel>
    <label>Util - Trigger Related Records</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Trigger_Business_Units</name>
        <label>Trigger Business Units</label>
        <locationX>1180</locationX>
        <locationY>774</locationY>
        <connector>
            <targetReference>Trigger_customer_milestones</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Trigger__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Business_Unit__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Trigger_customer_milestones</name>
        <label>Trigger customer milestones</label>
        <locationX>1439</locationX>
        <locationY>786</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Trigger__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Customer_Milestone__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Trigger_Implementations</name>
        <label>Trigger Implementations</label>
        <locationX>819</locationX>
        <locationY>649</locationY>
        <connector>
            <targetReference>Trigger_Orgs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Trigger__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Implementation__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Trigger_Opportunities</name>
        <label>Trigger Opportunities</label>
        <locationX>817</locationX>
        <locationY>489</locationY>
        <connector>
            <targetReference>Trigger_Implementations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Trigger__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Trigger_Orgs</name>
        <label>Trigger Orgs</label>
        <locationX>989</locationX>
        <locationY>754</locationY>
        <connector>
            <targetReference>Trigger_Business_Units</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Trigger__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Retool_Org__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>701</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Trigger_Opportunities</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accountId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
